.bmf {
  --kolibri-background-color: white;
  --kolibri-background-color-modal: rgba(0, 0, 0, 0.5);
  --kolibri-border-color: #bec5c9;
  --kolibri-border-radius: 0.25rem;
  --kolibri-border-width: 2px;
  --kolibri-color: #202020;
  --kolibri-color-undefined: #fb00d2;
  --kolibri-color-accent: #004b76;
  --kolibri-color-active: #004b76;
  --kolibri-color-hover: #0077b6;
  --kolibri-color-focus: #0077b6;
  --kolibri-color-danger: #ad0e0b;
  /* --kolibri-color-dark: #576164; */
  --kolibri-color-error: #c0003c;
  --kolibri-color-ghost: #333333;
  --kolibri-color-info: #28568a;
  /* --kolibri-color-light: #f2f3f4; */
  --kolibri-color-normal: #e4eaee;
  --kolibri-color-outline: #0077b6;
  --kolibri-color-primary: #80cdec;
  --kolibri-color-secondary: #004b76;
  --kolibri-color-spin-1: #000000;
  --kolibri-color-spin-2: #ff0000;
  --kolibri-color-spin-3: #ffcc00;
  --kolibri-color-success: #23614e;
  --kolibri-color-warning: #de7b02;
  --kolibri-font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
  --kolibri-hyphens: auto;
  --kolibri-line-height: 1.5em;
  --kolibri-shadow-color: black;
  --kolibri-spacing: 0.25em;
}

@font-face {
  font-family: BundesSans Web;
  font-weight: bold;
  src: url(../bund/font/bundessansweb-bold-woff-data.woff);
}
