.bzst {
  --kolibri-background-color: white;
  --kolibri-background-color-modal: rgba(0, 0, 0, 0.5);
  --kolibri-border-color: #bec5c9;
  --kolibri-border-radius: 0.25rem;
  --kolibri-border-width: 2px;
  --kolibri-color: #202020;
  --kolibri-color-undefined: #fb00d2;
  --kolibri-color-accent: #08e61b;
  --kolibri-color-active: white;
  --kolibri-color-hover: #00b627;
  --kolibri-color-focus: #00b627;
  --kolibri-color-danger: #ad0e0b;
  /* --kolibri-color-dark: #576164; */
  --kolibri-color-error: #c0003c;
  --kolibri-color-ghost: #333333;
  --kolibri-color-info: #28568a;
  /* --kolibri-color-light: #f2f3f4; */
  --kolibri-color-normal: #e4eaee;
  --kolibri-color-outline: #1200b6;
  --kolibri-color-primary: #ff0055;
  --kolibri-color-secondary: #004b76;
  --kolibri-color-spin-1: #000000;
  --kolibri-color-spin-2: #ff0000;
  --kolibri-color-spin-3: #ffcc00;
  --kolibri-color-success: #09581d;
  --kolibri-color-warning: #de7b02;
  --kolibri-font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
  --kolibri-hyphens: auto;
  --kolibri-line-height: 1.5em;
  --kolibri-shadow-color: black;
  --kolibri-spacing: 0.25em;
}

@font-face {
  font-family: BundesSans Web;
  font-weight: bold;
  src: url(../bund/font/bundessansweb-bold-woff-data.woff);
}

/* LINK */
.bzst kol-breadcrumb::part(link),
.bzst kol-link::part(link),
.bzst kol-link-group::part(link),
/* .bzst kol-nav::part(link), */
.bzst kol-skip-nav::part(link) {
  color: var(--kolibri-color-secondary);
}
.bzst kol-breadcrumb::part(link):focus,
.bzst kol-breadcrumb::part(link):hover,
.bzst kol-link::part(link):focus,
.bzst kol-link::part(link):hover,
.bzst kol-link-group::part(link):focus,
.bzst kol-link-group::part(link):hover,
/* .bzst kol-nav::part(link):focus, */
/* .bzst kol-nav::part(link):hover, */
.bzst kol-skip-nav::part(link):focus,
.bzst kol-skip-nav::part(link):hover {
  background-color: var(--kolibri-color-focus);
  color: white;
  /* color: var(--kolibri-color-focus); */
}
.bzst kol-breadcrumb::part(link):active,
.bzst kol-link::part(link):active,
.bzst kol-link-group::part(link):active,
/* .bzst kol-nav::part(link):active, */
.bzst kol-skip-nav::part(link):active {
  background-color: var(--kolibri-color-active);
  color: white;
  /* color: var(--kolibri-color-active); */
}

/* NAV */
.bzst kol-nav::part(nav) {
  background-color: white;
}
.bzst kol-nav::part(icon) {
  font-size: 150%;
}
.bzst kol-nav::part(li) {
  padding: 0.15em;
}
.bzst kol-nav::part(link) {
  border-radius: 2em;
  color: #576164;
  grid: flex;
  line-height: 2em;
  padding: 0.25em 1em;
  height: 100%;
}
.bzst kol-nav::part(link):focus,
.bzst kol-nav::part(link):hover {
  background-color: var(--kolibri-color-focus);
  box-shadow: 0 1px 2px #bbb;
  color: white;
}
.bzst kol-nav::part(link):active {
  background-color: var(--kolibri-color-active);
  box-shadow: 0 1px 2px #bbb;
}
.bzst kol-nav::part(link selected) {
  background-color: var(--kolibri-color-primary);
  box-shadow: 0 1px 2px #bbb;
  color: var(--kolibri-color-active);
}
.bzst kol-nav::part(span) {
  padding: 0.5em 0;
  font-weight: bold;
}

.bzst kol-accordion::part(accordion),
.bzst kol-card::part(card) {
  border-color: var(--kolibri-border-color);
  border-color: #bec5c9;
  border-style: solid;
  border-width: 1px;
  border-radius: unset;
}
.bzst kol-accordion::part(accordion open) {
  background-color: #f2f3f4;
}

.bzst kol-accordion::part(icon) {
  display: inline-block;
  width: 2.5rem;
  text-align: center;
}

.bzst kol-accordion::part(content),
.bzst kol-accordion::part(header) {
  padding-left: 2.5rem;
}

/* https://icofont.com/icons */
/* https://fontawesome.com/v4.7/icon/chevron-right */
.bzst kol-accordion::part(icon close)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\ea6e';
  color: var(--kolibri-color-active);
}
.bzst kol-accordion::part(icon open)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\ea6b';
  color: var(--kolibri-color-active);
}

.bzst kol-button::part(button),
.bzst kol-modal::part(button),
.bzst kol-table::part(button) {
  text-transform: uppercase;
}
.bzst kol-button::part(button):focus,
.bzst kol-button::part(button):hover,
.bzst kol-modal::part(button):focus,
.bzst kol-modal::part(button):hover,
.bzst kol-table::part(button):focus,
.bzst kol-table::part(button):hover {
  background-color: var(--kolibri-color-focus);
  border-color: var(--kolibri-color-focus);
  box-shadow: 0 0 0.15rem #333;
  color: white;
  transition-duration: 0.2s;
}
.bzst kol-button::part(button):active,
.bzst kol-modal::part(button):active,
.bzst kol-table::part(button):active {
  background-color: var(--kolibri-color-active);
  border-color: var(--kolibri-color-active);
  color: white;
}

.bzst kol-button::part(primary),
.bzst kol-modal::part(primary),
.bzst kol-table::part(primary) {
  background-color: var(--kolibri-color-primary);
  border-color: var(--kolibri-color-primary);
  color: var(--kolibri-color-active);
}
.bzst kol-button::part(secondary),
.bzst kol-modal::part(secondary),
.bzst kol-table::part(secondary) {
  background-color: var(--kolibri-color-secondary);
  border-color: var(--kolibri-color-active);
  color: var(--kolibri-color-active);
}
.bzst kol-button::part(normal),
.bzst kol-modal::part(normal),
.bzst kol-table::part(normal) {
  background-color: var(--kolibri-color-normal);
  border-color: var(--kolibri-color-normal);
  color: black;
}
.bzst kol-button::part(danger),
.bzst kol-modal::part(danger),
.bzst kol-table::part(danger) {
  background-color: var(--kolibri-color-danger);
  border-color: var(--kolibri-color-danger);
  color: white;
}
.bzst kol-button::part(ghost),
.bzst kol-modal::part(ghost),
.bzst kol-table::part(ghost) {
  background-color: transparent;
  border-color: transparent;
  color: black;
}
.bzst kol-button::part(ghost):focus,
.bzst kol-modal::part(ghost):focus,
.bzst kol-table::part(ghost):hover {
  background-color: transparent;
  border-color: var(--kolibri-color-focus);
  color: var(--kolibri-color-active);
}
.bzst kol-button::part(ghost):active,
.bzst kol-modal::part(ghost):active,
.bzst kol-table::part(ghost):active {
  background-color: transparent;
  border-color: var(--kolibri-color-active);
  color: var(--kolibri-color-active);
}

.bzst kol-button::part(button-disabled),
.bzst kol-modal::part(button-disabled),
.bzst kol-table::part(button-disabled) {
  background-color: #f2f3f4;
  border-color: #f2f3f4;
  color: #555a5c;
  text-transform: uppercase;
}
.bzst kol-button::part(button-disabled):disabled,
.bzst kol-button::part(button-disabled):focus,
.bzst kol-button::part(button-disabled):hover,
.bzst kol-modal::part(button-disabled):disabled,
.bzst kol-modal::part(button-disabled):focus,
.bzst kol-modal::part(button-disabled):hover,
.bzst kol-table::part(button-disabled):disabled,
.bzst kol-table::part(button-disabled):focus,
.bzst kol-table::part(button-disabled):hover {
  background-color: #f2f3f4;
  border-color: #f2f3f4;
  box-shadow: 0 0 0.15rem #999;
  color: #555a5c;
}
