.itzbund {
  --kolibri-background-color: white;
  --kolibri-background-color-modal: rgba(0, 0, 0, 0.5);
  --kolibri-border-color: #bec5c9;
  --kolibri-border-radius: 0.25rem;
  --kolibri-border-width: 2px;
  --kolibri-color: #202020;
  --kolibri-color-undefined: #fb00d2;
  --kolibri-color-accent: #08e61b;
  --kolibri-color-active: #007a89;
  --kolibri-color-hover: #0b4d59;
  --kolibri-color-focus: #0b4d59;
  --kolibri-color-danger: #ad0e0b;
  /* --kolibri-color-dark: #576164; */
  --kolibri-color-error: #c0003c;
  --kolibri-color-ghost: #333333;
  --kolibri-color-info: #28568a;
  /* --kolibri-color-light: #f2f3f4; */
  --kolibri-color-normal: #ccc;
  --kolibri-color-outline: var(--kolibri-color-focus);
  --kolibri-color-primary: #007a89;
  --kolibri-color-secondary: #00305b;
  --kolibri-color-spin-1: #000000;
  --kolibri-color-spin-2: #ff0000;
  --kolibri-color-spin-3: #ffcc00;
  --kolibri-color-success: #09581d;
  --kolibri-color-warning: #de7b02;
  --kolibri-font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
  --kolibri-hyphens: auto;
  --kolibri-line-height: 1.5em;
  --kolibri-shadow-color: black;
  --kolibri-spacing: 0.25em;
}

@font-face {
  font-family: BundesSans Web;
  font-weight: bold;
  src: url(../bund/font/bundessansweb-bold-woff-data.woff);
}

/* LINK */
.itzbund kol-breadcrumb::part(link),
.itzbund kol-link::part(link),
.itzbund kol-link-group::part(link),
/* .itzbund kol-nav::part(link), */
.itzbund kol-skip-nav::part(link) {
  color: var(--kolibri-color-primary);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.itzbund kol-breadcrumb::part(link):focus,
.itzbund kol-breadcrumb::part(link):hover,
.itzbund kol-link::part(link):focus,
.itzbund kol-link::part(link):hover,
.itzbund kol-link-group::part(link):focus,
.itzbund kol-link-group::part(link):hover,
/* .itzbund kol-nav::part(link):focus, */
/* .itzbund kol-nav::part(link):hover, */
.itzbund kol-skip-nav::part(link):focus,
.itzbund kol-skip-nav::part(link):hover {
  text-decoration: underline;
  color: #333;
}
.itzbund kol-breadcrumb::part(link):active,
.itzbund kol-link::part(link):active,
.itzbund kol-link-group::part(link):active,
/* .itzbund kol-nav::part(link):active, */
.itzbund kol-skip-nav::part(link):active {
}

/* NAV */
.itzbund kol-nav::part(nav) {
  background-color: white;
}
.itzbund kol-nav::part(icon) {
  font-size: 150%;
}
.itzbund kol-nav::part(li) {
  padding: 0.15em;
}
.itzbund kol-nav::part(link) {
  border-radius: 2em;
  color: #576164;
  grid: flex;
  line-height: 2em;
  padding: 0.25em 1em;
  height: 100%;
}
.itzbund kol-nav::part(link):focus,
.itzbund kol-nav::part(link):hover {
  background-color: var(--kolibri-color-focus);
  box-shadow: 0 1px 2px #bbb;
  color: white;
}
.itzbund kol-nav::part(link):active {
  background-color: var(--kolibri-color-active);
  box-shadow: 0 1px 2px #bbb;
}
.itzbund kol-nav::part(link selected) {
  background-color: var(--kolibri-color-primary);
  box-shadow: 0 1px 2px #bbb;
  color: var(--kolibri-color-active);
}
.itzbund kol-nav::part(span) {
  padding: 0.5em 0;
  font-weight: bold;
}

.itzbund kol-accordion::part(accordion),
.itzbund kol-card::part(card) {
  border-color: var(--kolibri-border-color);
  border-color: #bec5c9;
  border-style: solid;
  border-width: 1px;
  border-radius: unset;
}
.itzbund kol-accordion::part(accordion open) {
  background-color: #f2f3f4;
}

.itzbund kol-accordion::part(icon) {
  display: inline-block;
  width: 2.5rem;
  text-align: center;
}

.itzbund kol-accordion::part(content),
.itzbund kol-accordion::part(header) {
  padding-left: 2.5rem;
}

/* https://icofont.com/icons */
/* https://fontawesome.com/v4.7/icon/chevron-right */
.itzbund kol-accordion::part(icon close)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\ea6e';
  color: var(--kolibri-color-active);
}
.itzbund kol-accordion::part(icon open)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\ea6b';
  color: var(--kolibri-color-active);
}

/* BUTTON */
.itzbund kol-button::part(button),
.itzbund kol-modal::part(button),
.itzbund kol-nav::part(button),
.itzbund kol-table::part(button) {
  border-radius: 2em;
  border-width: var(--kolibri-border-width);
  color: white;
  text-transform: uppercase;
}
.itzbund kol-button::part(button):focus,
.itzbund kol-button::part(button):hover,
.itzbund kol-modal::part(button):focus,
.itzbund kol-modal::part(button):hover,
.itzbund kol-nav::part(button):focus,
.itzbund kol-nav::part(button):hover,
.itzbund kol-table::part(button):focus,
.itzbund kol-table::part(button):hover {
  background-color: var(--kolibri-color-focus);
  border-color: var(--kolibri-color-focus);
  box-shadow: 0 0 0.15rem #333;
  color: white;
  transition-duration: 0.2s;
}
.itzbund kol-button::part(button):active,
.itzbund kol-modal::part(button):active,
.itzbund kol-nav::part(button):active,
.itzbund kol-table::part(button):active {
  background-color: white;
  border-color: var(--kolibri-color-focus);
  color: var(--kolibri-color-focus);
  box-shadow: none;
}

.itzbund kol-button::part(primary),
.itzbund kol-modal::part(primary),
.itzbund kol-nav::part(primary),
.itzbund kol-table::part(primary) {
  background-color: var(--kolibri-color-primary);
  border-color: var(--kolibri-color-primary);
}
.itzbund kol-button::part(secondary),
.itzbund kol-modal::part(secondary),
.itzbund kol-nav::part(secondary),
.itzbund kol-table::part(secondary) {
  background-color: var(--kolibri-color-secondary);
  border-color: var(--kolibri-color-secondary);
}
.itzbund kol-button::part(normal),
.itzbund kol-modal::part(normal),
.itzbund kol-nav::part(normal),
.itzbund kol-table::part(normal) {
  background-color: var(--kolibri-color-normal);
  border-color: var(--kolibri-color-normal);
  color: #333;
}
.itzbund kol-button::part(danger),
.itzbund kol-modal::part(danger),
.itzbund kol-nav::part(danger),
.itzbund kol-table::part(danger) {
  background-color: var(--kolibri-color-danger);
  border-color: var(--kolibri-color-danger);
}
.itzbund kol-button::part(ghost),
.itzbund kol-modal::part(ghost),
.itzbund kol-nav::part(ghost),
.itzbund kol-table::part(ghost) {
  background-color: transparent;
  border-color: var(--kolibri-color-primary);
  color: var(--kolibri-color-primary);
}

.itzbund kol-button::part(button-disabled),
.itzbund kol-modal::part(button-disabled),
.itzbund kol-nav::part(button-disabled),
.itzbund kol-table::part(button-disabled) {
  background-color: #f2f3f4;
  border-color: #f2f3f4;
  border-radius: 2em;
  color: #555a5c;
  text-transform: uppercase;
}
.itzbund kol-button::part(button-disabled):disabled,
.itzbund kol-button::part(button-disabled):focus,
.itzbund kol-button::part(button-disabled):hover,
.itzbund kol-modal::part(button-disabled):disabled,
.itzbund kol-modal::part(button-disabled):focus,
.itzbund kol-modal::part(button-disabled):hover,
.itzbund kol-nav::part(button-disabled):disabled,
.itzbund kol-nav::part(button-disabled):focus,
.itzbund kol-nav::part(button-disabled):hover,
.itzbund kol-table::part(button-disabled):disabled,
.itzbund kol-table::part(button-disabled):focus,
.itzbund kol-table::part(button-disabled):hover {
  background-color: #f2f3f4;
  border-color: #f2f3f4;
  box-shadow: 0 0 0.15rem #999;
  color: #555a5c;
}

/* INPUT, SELECT, TEXTAREA */
.itzbund *::part(input),
.itzbund kol-select::part(select),
.itzbund kol-textarea::part(textarea) {
  border-color: var(--kolibri-color-normal);
  border-radius: 0;
  background-color: #e8edf2 !important;
  padding: 0.75em;
}
.itzbund *::part(label) {
  font-weight: bold;
}
