.mapz {
  --kolibri-background-color: white;
  --kolibri-background-color-modal: rgba(0, 0, 0, 0.5);
  --kolibri-border-color: #aaaaaa;
  --kolibri-border-radius: 0.25rem;
  --kolibri-border-width: 2px;
  --kolibri-color: black;
  --kolibri-color-undefined: #fb00d2;
  --kolibri-color-accent: #ef9e48;
  --kolibri-color-active: #1e538f;
  --kolibri-color-hover: #1e538f;
  --kolibri-color-focus: #1e538f;
  --kolibri-color-danger: #ad0e0b;
  /* --kolibri-color-dark: #222222; */
  --kolibri-color-error: #ad0e0b;
  --kolibri-color-ghost: #333333;
  --kolibri-color-info: #28568a;
  /* --kolibri-color-light: #f2f2f2; */
  --kolibri-color-normal: #326cae;
  --kolibri-color-outline: #000;
  --kolibri-color-primary: #1e538f;
  --kolibri-color-secondary: #444444;
  --kolibri-color-spin-1: #000000;
  --kolibri-color-spin-2: #ff0000;
  --kolibri-color-spin-3: #ffcc00;
  --kolibri-color-success: #12632f;
  --kolibri-color-warning: #854000;
  --kolibri-font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
  --kolibri-hyphens: auto;
  --kolibri-line-height: 1.5em;
  --kolibri-shadow-color: black;
  --kolibri-spacing: 0.25em;
}

@font-face {
  font-family: BundesSans Web;
  font-weight: bold;
  src: url(../bund/font/bundessansweb-bold-woff-data.woff);
}
