.mapz {
  --kolibri-background-color: white;
  --kolibri-background-color-modal: rgba(0, 0, 0, 0.5);
  --kolibri-border-color: #aaaaaa;
  --kolibri-border-radius: 0.25rem;
  --kolibri-border-width: 2px;
  --kolibri-color: black;
  --kolibri-color-undefined: #fb00d2;
  --kolibri-color-accent: #ef9e48;
  --kolibri-color-active: #1e538f;
  --kolibri-color-hover: #1e538f;
  --kolibri-color-focus: #1e538f;
  --kolibri-color-danger: #ad0e0b;
  /* --kolibri-color-dark: #222222; */
  --kolibri-color-error: #ad0e0b;
  --kolibri-color-ghost: #333333;
  --kolibri-color-info: #28568a;
  /* --kolibri-color-light: #f2f2f2; */
  --kolibri-color-normal: #326cae;
  --kolibri-color-outline: #000;
  --kolibri-color-primary: #1e538f;
  --kolibri-color-secondary: #444444;
  --kolibri-color-spin-1: #000000;
  --kolibri-color-spin-2: #ff0000;
  --kolibri-color-spin-3: #ffcc00;
  --kolibri-color-success: #12632f;
  --kolibri-color-warning: #854000;
  --kolibri-font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
  --kolibri-hyphens: auto;
  --kolibri-line-height: 1.5em;
  --kolibri-shadow-color: black;
  --kolibri-spacing: 0.25em;
}

@font-face {
  font-family: BundesSans Web;
  font-weight: bold;
  src: url(../bund/font/bundessansweb-bold-woff-data.woff);
}

/* LINK */
.mapz kol-breadcrumb::part(link),
.mapz kol-link::part(link),
.mapz kol-link-group::part(link),
/* .mapz kol-nav::part(link), */
.mapz kol-skip-nav::part(link) {
  color: var(--kolibri-color-normal);
}
.mapz kol-breadcrumb::part(link):focus,
.mapz kol-breadcrumb::part(link):hover,
.mapz kol-link::part(link):focus,
.mapz kol-link::part(link):hover,
.mapz kol-link-group::part(link):focus,
.mapz kol-link-group::part(link):hover,
/* .mapz kol-nav::part(link):focus, */
/* .mapz kol-nav::part(link):hover, */
.mapz kol-skip-nav::part(link):focus,
.mapz kol-skip-nav::part(link):hover {
  color: var(--kolibri-color-focus);
}
.mapz kol-breadcrumb::part(link):active,
.mapz kol-link::part(link):active,
.mapz kol-link-group::part(link):active,
/* .mapz kol-nav::part(link):active, */
.mapz kol-skip-nav::part(link):active {
  color: var(--kolibri-color-active);
}

/* NAV */
.mapz kol-nav::part(nav) {
  border-radius: var(--kolibri-border-radius);
  background-color: var(--kolibri-color-normal);
}
.mapz kol-nav::part(icon) {
  font-size: 150%;
}
.mapz kol-nav::part(link) {
  background-color: var(--kolibri-color-normal);
  border-color: transparent;
  border-radius: var(--kolibri-border-radius);
  border-width: 1px;
  grid: flex;
  line-height: 2em;
  padding: 0.25em;
  color: white;
  height: 100%;
}
.mapz kol-nav::part(link):focus,
.mapz kol-nav::part(link):hover {
  border-color: white;
  background-color: var(--kolibri-color-focus);
}
.mapz kol-nav::part(link):active {
  background-color: var(--kolibri-color-active);
}
.mapz kol-nav::part(selected) {
  background-color: var(--kolibri-color-active);
}
/* .mapz kol-nav::part(span) {
  padding: 0.5em 0;
} */
.mapz kol-nav::part(li) {
  padding: 0.1em;
}
.mapz kol-nav::part(li horizontal) {
  border-right: 1px dotted white;
}
.mapz kol-nav::part(li horizontal selected) {
  border-bottom-color: var(--kolibri-color-accent);
  border-bottom-width: 6px;
}
.mapz kol-nav::part(li horizontal last) {
  border-right: 0;
}
.mapz kol-nav::part(li vertical) {
  border-radius: var(--kolibri-border-radius);
  border-bottom: 1px dotted white;
}
.mapz kol-nav::part(li vertical selected) {
  border-right-color: var(--kolibri-color-accent);
  border-right-width: 6px;
}
.mapz kol-nav::part(li vertical last) {
  border-bottom: 0;
}

/* ACCORDION, CARD */
.mapz kol-accordion::part(accordion),
.mapz kol-card::part(card) {
  border-color: var(--kolibri-border-color);
  border-color: #bec5c9;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--kolibri-border-radius);
}
.mapz kol-accordion::part(accordion open) {
  background-color: #f2f3f4;
}

.mapz kol-accordion::part(icon) {
  display: inline-block;
  width: 2.5rem;
  text-align: center;
}

.mapz kol-accordion::part(content),
.mapz kol-accordion::part(header) {
  padding-left: 2.5rem;
}

/* https://icofont.com/icons */
/* https://fontawesome.com/v4.7/icon/chevron-right */
.mapz kol-accordion::part(icon close)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\ef9a';
  color: var(--kolibri-color-active);
}
.mapz kol-accordion::part(icon open)::before {
  font-family: 'Icofont';
  font-style: normal;
  content: '\efc2';
  color: var(--kolibri-color-active);
}

/* BUTTON */
.mapz kol-button::part(button):focus,
.mapz kol-button::part(button):hover,
.mapz kol-modal::part(button):focus,
.mapz kol-modal::part(button):hover,
.mapz kol-nav::part(button):focus,
.mapz kol-nav::part(button):hover,
.mapz kol-table::part(button):focus,
.mapz kol-table::part(button):hover,
.mapz kol-tabs::part(button):focus,
.mapz kol-tabs::part(button):hover {
  background-color: white;
  box-shadow: 0 0 0.15rem #333;
  transition-duration: 0.2s;
}
.mapz kol-button::part(ghost),
.mapz kol-modal::part(ghost),
.mapz kol-nav::part(ghost),
.mapz kol-table::part(ghost),
.mapz kol-tabs::part(ghost) {
  background-color: white;
  border-color: var(--kolibri-color-ghost);
  color: var(--kolibri-color-ghost);
}
.mapz kol-button::part(ghost):focus,
.mapz kol-button::part(ghost):hover,
.mapz kol-modal::part(ghost):focus,
.mapz kol-modal::part(ghost):hover,
.mapz kol-nav::part(ghost):focus,
.mapz kol-nav::part(ghost):hover,
.mapz kol-table::part(ghost):focus,
.mapz kol-table::part(ghost):hover,
.mapz kol-tabs::part(ghost):focus,
.mapz kol-tabs::part(ghost):hover {
  background-color: var(--kolibri-color-ghost);
  color: white;
}
.mapz kol-button::part(button-disabled):disabled,
.mapz kol-button::part(button-disabled):focus,
.mapz kol-button::part(button-disabled):hover,
.mapz kol-modal::part(button-disabled):disabled,
.mapz kol-modal::part(button-disabled):focus,
.mapz kol-modal::part(button-disabled):hover,
.mapz kol-nav::part(button-disabled):disabled,
.mapz kol-nav::part(button-disabled):focus,
.mapz kol-nav::part(button-disabled):hover,
.mapz kol-table::part(button-disabled):disabled,
.mapz kol-table::part(button-disabled):focus,
.mapz kol-table::part(button-disabled):hover,
.mapz kol-tabs::part(button-disabled):disabled,
.mapz kol-tabs::part(button-disabled):focus,
.mapz kol-tabs::part(button-disabled):hover {
  box-shadow: 0 0 0.15rem #999;
}
