@import '../@shared/mixins';
@import '../../styles/global';

@layer kol-component {
	.kol-progress {
		font-size: rem(16);

		&__bar {
			width: rem(150);
		}

		&__bar-border {
			fill: transparent;
			stroke: black;
		}

		&__bar-background {
			fill: lightgray;
			stroke: white;
		}

		&__bar-progress {
			fill: #0075ff;
			stroke: transparent;

			@media (prefers-reduced-motion: no-preference) {
				transition: 250ms ease-in-out 50ms;
			}
		}

		&__cycle-background {
			fill: transparent;
			stroke: lightgray;
		}

		&__cycle-border {
			fill: transparent;
			stroke: black;
		}

		&__cycle-whitespace {
			fill: transparent;
			stroke: white;
		}

		&__cycle-progress {
			fill: transparent;
			stroke: #0075ff;
			transform-origin: 50% 50%;
			transform: rotate(-90deg);

			@media (prefers-reduced-motion: no-preference) {
				transition: 250ms ease-in-out 50ms;
			}
		}
	}
}
