@import url(../style.css);
progress,
span {
	display: block;
	height: 0;
	overflow: hidden;
	width: 0;
}
.bar,
.cycle {
	transition: 0.5s ease-in-out 0.25s;
}
.cycle {
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}
