@import url(../style.css);
progress {
	display: block;
	height: 0;
	overflow: hidden;
	width: 0;
}
.progress {
	transition: 250ms ease-in-out 50ms;
}
@media (prefers-reduced-motion) {
	.progress {
		transition-duration: 0s;
		transition-delay: 0s;
	}
}
.cycle .progress {
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}
