@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		align-items: center;
		display: grid;
		font-size: rem(16);
		gap: rem(16);
		grid-template-columns: 1fr auto;
		position: relative;
	}

	.navigation-list {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0.5em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.separator:before {
		content: '•••';
	}

	.dropdown-menu {
		position: fixed;
		display: block;
		list-style-type: none;

		& li {
			padding: rem(8);
			cursor: pointer;
		}
	}
}
