@import '../style';

@layer kol-component {
	:host {
		align-items: center;
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr auto;
	}

	.navigation-list {
		align-items: center;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0.5em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.separator:before {
		content: '•••';
	}
}
