@use '../@shared/mixins' as *;
@use '../style' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host {
		display: grid;
		gap: to-rem(16);
		align-items: center;
		grid-template-columns: 1fr auto;
	}

	.navigation-list {
		display: inline-flex;
		margin: 0;
		padding: 0;
		gap: 0.5em;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
	}

	.separator:before {
		content: '•••';
	}

	.page-size {
		display: flex;
		gap: 0.5em;
		align-items: center;
	}
}
