@import '../style.css';

:host {
	display: inline-block;
}
:host > div {
	background-color: white;
	border-color: var(--kolibri-border-color);
	border-radius: var(--kolibri-border-radius);
	border-style: solid;
	border-width: calc(2 * var(--kolibri-border-width));
	display: inline-block;
	overflow: hidden;
	width: 100%;
}
:host > div > .heading {
	display: flex;
	gap: calc(2 * var(--kolibri-spacing));
	place-items: center;
}
:host > div > .heading > div {
	display: grid;
	gap: var(--kolibri-spacing);
}
:host > div > .heading .heading-icon {
	display: inline-flex;
	color: white;
	padding: calc(2 * var(--kolibri-spacing));
}
:host > .card > .heading .heading-icon {
	border-radius: 0 0 var(--kolibri-border-radius) 0;
}
:host > div > .heading .close button {
	min-width: 44px;
	min-height: 44px;
}
:host > .card > .content {
	padding: var(--kolibri-spacing);
}
:host > .default {
	border-color: var(--kolibri-color-normal);
}
:host > .default .heading-icon {
	background-color: var(--kolibri-color-normal);
}
:host > .error {
	border-color: var(--kolibri-color-error);
}
:host > .error .heading-icon {
	background-color: var(--kolibri-color-error);
}
:host > .info {
	border-color: var(--kolibri-color-info);
}
:host > .info .heading-icon {
	background-color: var(--kolibri-color-info);
}
:host > .success {
	border-color: var(--kolibri-color-success);
}
:host > .success .heading-icon {
	background-color: var(--kolibri-color-success);
}
:host > .warning {
	border-color: var(--kolibri-color-warning);
}
:host > .warning .heading-icon {
	background-color: var(--kolibri-color-warning);
}
