@import '../input-line.css';

input[type='range'] {
	appearance: none;
	background-color: lightgrey;
	border: 0;
	display: inline-block;
	height: 0.5rem;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
}
input[type='range']::-webkit-slider-thumb {
	box-sizing: border-box;
	background-color: black;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
	box-sizing: border-box;
	background-color: black;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-moz-appearance: none;
}
