@import '../input-line';

.inputs-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
}

input[type='number'] {
	min-height: var(--a11y-min-size);
	min-width: var(--a11y-min-size);
	width: var(--kolibri-input-range--input-number--width);
}

/*
 * For Chrome and Firefox is it needed to use redundant style definitions with separate selectors. The reason is unknown.
 */
input[type='range'] {
	appearance: none;
	background-color: #d3d3d3;
	border: 1px solid #000;
	display: inline-block;
	flex-grow: 1;
	height: 0.5rem;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	/* Design-Hack - related with flex-grow */
	width: 0;
}

input[type='range']::-webkit-slider-thumb {
	box-sizing: border-box;
	background-color: #000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
	box-sizing: border-box;
	background-color: #000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-moz-appearance: none;
}

/* Fix missing outline in Chromium-based browsers on Windows in high contrast mode. */
@media (prefers-contrast: more) {
	::-webkit-slider-thumb {
		outline: 1px solid currentColor;
	}
}