@import url(../input-line.css);
.inputs-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.number-wrapper {
	display: flex;
	min-height: var(--a11y-min-size);
}
input[type='number'] {
	width: 4em;
	height: unset;
	margin: auto;
}
/*
 * For Chrome and Firefox is it needed to use redundant style definitions with separate selectors. The reason is unknown.
 */
input[type='range'] {
	appearance: none;
	background-color: #d3d3d3;
	border: 1px solid #000;
	display: inline-block;
	flex-grow: 1;
	height: 0.5rem;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
}
input[type='range']::-webkit-slider-thumb {
	box-sizing: border-box;
	background-color: #000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
	box-sizing: border-box;
	background-color: #000;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
	-moz-appearance: none;
}
