@import url(../style.css);
@import url(../host-display-block.css);
.kol-alert-wc {
	display: grid;
}
.kol-alert-wc .heading {
	display: flex;
	place-items: center;
}
.kol-alert-wc .heading > div {
	flex-grow: 1;
}
