@import '../style.css';
@import '../host-display-block.css';

:host > div {
	display: grid;
	place-items: stretch;
	overflow: hidden;
}

.heading {
	display: grid;
	grid-template-columns: auto 1fr auto;
	place-items: center;
}
.heading > div {
	display: grid;
	justify-self: start;
}
.heading .heading-icon {
	align-items: center;
	align-self: stretch;
	display: inline-flex;
}
