.mainlayout {
	min-height: calc(100vh - 32px);
	width: 100%;
	display: grid;
	column-gap: 16px;
	grid-template-columns: 400px calc(100% - 460px);
	grid-template-rows: 1fr;
	grid-template-areas: 'nav content';

	& > .nav-area {
		grid-area: nav;
	}

	& > .content {
		grid-area: content;
	}
}
