@use '../../mixins/to-rem' as *;
@use './icon' as *;
@use './button' as *;

@mixin alert {
	.kol-alert {
		@include icon();
		@include button('kol-button');

		align-items: center;

		&--variant-msg {
			color: var(--alert-accent-color);

			.kol-alert__icon {
				margin-right: var(--ecl-spacing-2xs);

				font-size: to-rem(20);
				line-height: to-rem(20);
			}

			.kol-alert__content {
				font-size: var(--ecl-font-size-s);
				line-height: var(--ecl-line-height-s);
			}
		}

		&--variant-card {
			background-color: var(--ecl-color-neutral-20);
			padding: var(--ecl-spacing-m) var(--ecl-spacing-m) var(--ecl-spacing-m) var(--ecl-spacing-s);
			border: solid 1px var(--ecl-color-neutral);
			border-inline-start: 4px solid var(--alert-accent-color);

			.kol-alert__icon {
				align-self: flex-start;
				margin-right: var(--ecl-spacing-xs);

				font-size: to-rem(32);
			}
		}

		&:not(:has(.kol-alert__heading)) {
			grid-template-areas: 'icon content close';
			grid-template-rows: min-content;
		}

		&--type-default {
			--alert-accent-color: var(--ecl-color-dark);
		}

		&--type-error {
			--alert-accent-color: var(--ecl-color-error);
		}

		&--type-info {
			--alert-accent-color: var(--ecl-color-info);
		}

		&--type-success {
			--alert-accent-color: var(--ecl-color-success);
		}

		&--type-warning {
			--alert-accent-color: var(--ecl-color-warning);
		}

		&__icon {
			color: var(--alert-accent-color);
		}

		&__heading {
			font-size: var(--ecl-font-size-l);
			line-height: var(--ecl-line-height-l);
		}

		&__closer {
			.kol-button {
				height: var(--a11y-min-size);

				.kol-icon {
					font-size: to-rem(24);
				}
			}
		}
	}
}
