@use '../../mixins/to-rem' as *;

@mixin button($block-classname) {
	.#{$block-classname} {
		--button-border-width: 2px;
		--button-focus-outline-color: var(--ecl-color-dark);
		--button-focus-outline-offset: -3px;
		--button-focus-outline-width: 1px;

		&:focus {
			outline: var(--button-focus-outline-color) solid var(--button-focus-outline-width);
			outline-offset: var(--button-focus-outline-offset);
		}

		&--primary {
			--button-background-color: var(--ecl-color-primary);
			--button-border-color: var(--ecl-color-primary);
			--button-text-color: var(--ecl-color-white);

			&:focus {
				--button-focus-outline-color: var(--ecl-color-white);
			}

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-primary-140);
				--button-border-color: var(--ecl-color-primary-140);
			}
		}

		&--secondary {
			--button-background-color: var(--ecl-color-white);
			--button-border-color: var(--ecl-color-primary);
			--button-text-color: var(--ecl-color-primary);

			&:focus {
				--button-focus-outline-color: var(--ecl-color-white);
				--button-background-color: var(--ecl-color-primary-140);
				--button-border-color: var(--ecl-color-primary-140);
				--button-text-color: var(--ecl-color-white);
			}

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-primary-140);
				--button-border-color: var(--ecl-color-primary-140);
				--button-text-color: var(--ecl-color-white);
			}
		}

		&--tertiary {
			--button-background-color: var(--ecl-color-white);
			--button-text-color: var(--ecl-color-dark);
			--button-border-color: transparent;
			--button-border-width: 1px;

			&:focus {
				--button-focus-outline-color: var(--ecl-color-primary);
				--button-focus-outline-offset: 0;
				--button-focus-outline-width: 2px;
			}

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-primary-20);
				--button-border-color: var(--ecl-color-dark-80);
			}
		}

		&--normal {
			--button-background-color: var(--ecl-color-secondary);
			--button-border-color: var(--ecl-color-secondary);
			--button-text-color: var(--ecl-color-dark);

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-secondary-120);
				--button-border-color: var(--ecl-color-secondary-120);
			}
		}

		&--danger {
			--button-background-color: var(--ecl-color-error);
			--button-border-color: var(--ecl-color-error);
			--button-text-color: var(--ecl-color-white);

			&:focus {
				--button-focus-outline-color: var(--ecl-color-white);
			}

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-error);
				--button-border-color: var(--ecl-color-dark);
			}
		}

		&--ghost {
			--button-background-color: transparent;
			--button-border-color: transparent;
			--button-border-width: 1px;
			--button-text-color: var(--ecl-color-primary);

			&:focus {
				--button-focus-outline-color: var(--ecl-color-primary);
				--button-focus-outline-offset: 0;
				--button-focus-outline-width: 2px;
			}

			&:not(:disabled):hover {
				--button-background-color: var(--ecl-color-primary-20);
				--button-border-color: var(--ecl-color-dark-80);
				--button-text-color: var(--ecl-color-dark);
			}
		}

		&__text {
			color: var(--button-text-color);
			background-color: var(--button-background-color);
			border-color: var(--button-border-color);
			border-style: solid;
			border-width: var(--button-border-width);

			border-radius: 2px;
			min-width: var(--a11y-min-size);
			min-height: var(--a11y-min-size);
			padding: var(--ecl-spacing-xs) var(--ecl-spacing-m);

			font-weight: var(--font-weight-bold);
			line-height: 1.2;
		}
	}
}
