@use '../../mixins/rem' as *;

@mixin kol-custom-suggestions-toggle-theme {
	.kol-custom-suggestions-toggle {
		display: grid;
		place-items: center;
		padding-left: 1em;
		padding-right: 1em;

		&:focus {
			outline: 0;
		}
	}
}
