@use '../../mixins/to-rem' as *;
@use '../mixins/alert' as *;

@mixin form-field {
	.kol-form-field {
		gap: var(--ecl-spacing-xs);

		&__label {
			order: 1;

			&-text::after {
				color: var(--ecl-color-error);
				font-size: var(--ecl-font-size-s);
				line-height: var(--ecl-font-size-s);
				margin-left: var(--ecl-spacing-2xs);
				vertical-align: text-bottom;
			}

			&__read-only {
				display: none;
			}
		}

		&__hint {
			order: 2;
			font-size: var(--ecl-font-size-s);
			line-height: var(--ecl-font-size-s);
			margin-top: to-rem(-4);
		}

		&__msg {
			order: 4;
		}

		&__input {
			order: 3;
		}

		&__counter--exceeded {
			color: var(--ecl-color-error);
		}
	}
}
