@use '../../mixins/to-rem' as *;
@use './alert' as *;
@use './popover-button' as *;

@mixin form-field {
	.kol-form-field {
		gap: var(--ecl-spacing-xs);

		&__label {
			@include popover-button;

			display: flex;
			gap: to-rem(4);
			order: 1;

			&-text::after {
				color: var(--ecl-color-error);
				margin-left: var(--ecl-spacing-2xs);
				vertical-align: text-bottom;

				font-size: var(--ecl-font-size-s);
				line-height: var(--ecl-font-size-s);
			}

			&__read-only {
				display: none;
			}
		}

		&__hint {
			margin-top: to-rem(-4);
			order: 2;

			font-size: var(--ecl-font-size-s);
			line-height: var(--ecl-font-size-s);
		}

		&__msg {
			order: 4;
		}

		&__input {
			order: 3;
		}

		&__counter--exceeded {
			color: var(--ecl-color-error);
		}
	}
}
