@mixin link($block-classname) {
	.#{$block-classname} {
		color: var(--ecl-color-primary);

		.kol-span__label {
			text-decoration-thickness: from-font;
			text-underline-offset: clamp(3px, 0.245em, 10px);
		}

		&:hover {
			color: var(--ecl-color-primary-140);
		}

		&:focus {
			border-radius: 1px;
			outline: 2px solid var(--ecl-color-primary);
			outline-offset: 2px;
		}
	}
}
