@use '../../mixins/to-rem' as *;
@use './button' as *;

@mixin pagination {
	.kol-pagination {
		@include button('kol-button');

		gap: var(--ecl-spacing-m);

		&__navigation-list {
			gap: var(--ecl-spacing-m);
		}

		.kol-button {
			@include ghost-button;
		}

		&__button--selected .kol-button {
			--button-background-color: var(--ecl-color-primary);
			--button-border-color: var(--ecl-color-primary);
			--button-border-width: 1px;
			--button-text-color: var(--ecl-color-white);
		}
	}
}
