@use '../@shared/mixins' as *;
@use '../@shared/global' as *;
@use '../@shared/button.mixin' as *;

@layer kol-component {
	@include kol-button-styles('kol-link');

	.kol-link__anchor {
		display: flex;
		flex: 1;

		&:focus {
			outline: none;
		}
	}

	.kol-link--disabled {
		pointer-events: none;
	}
}
