@use '../style' as *;
@use '../button' as *;

@layer kol-component {
	.kol-popover-button {
		&__button {
			display: inline-block; // critical for floating UI to work correctly
		}

		&__popover {
			margin: 0;
			padding: 0;
			border: 1px solid #000;
		}
	}
}
