* {
	font-family: BundesSans Web;
	hyphens: auto;
	word-break: break-word;
}

:root {
	font-size: 16px;
}

.slidev-vclick-target {
	transition: all 1000ms ease 50ms;
}

.slidev-layout h1 {
	margin-bottom: 1em;
}

.slidev-layout h1 + p {
	opacity: 1;
}

small.underline {
	color: #666;
	display: block;
	margin-top: -3em;
	font-family: monospace;
	font-size: 0.75em;
	font-style: italic;
	text-decoration: none !important;
}
small.underline::before {
	content: '// ';
}

.grey kol-button {
	--color-red: #777;
	--color-midnight: #555;
}

:host a,
:host kol-span-wc,
:host kol-span-wc > span {
	gap: 0.5em;
}
