@import '../style.css';
@import '../host-display-block.css';

kol-button-group-wc {
	display: inline-flex;
	flex-wrap: wrap;
}
kol-button-group-wc button {
	border: 0;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	display: block;
}

div[role='tabpanel'] {
	height: 100%;
}
div.grid {
	height: 100%;
}

:host > .tabs-align-right {
	display: grid;
	grid-template-columns: 1fr auto;
}
:host > .tabs-align-right kol-button-group-wc {
	display: grid;
	order: 2;
}

:host > .tabs-align-left {
	display: grid;
	grid-template-columns: auto 1fr;
}
:host > .tabs-align-left kol-button-group-wc {
	display: grid;
	order: 0;
}

:host > .tabs-align-bottom {
	display: grid;
	grid-template-rows: 1fr auto;
}
:host > .tabs-align-bottom kol-button-group-wc {
	order: 2;
}
:host > .tabs-align-bottom kol-button-group-wc > div {
	display: flex;
}
:host > .tabs-align-bottom > kol-button-group-wc > div > div:first-child {
	margin: 0px 1em 0px 0px;
}
:host > .tabs-align-bottom > kol-button-group-wc > div > div {
	margin: 0px 1em;
}

:host > .tabs-align-top {
	display: grid;
	grid-template-rows: auto 1fr;
}
:host > .tabs-align-top kol-button-group-wc {
	order: 0;
}
:host > .tabs-align-top kol-button-group-wc > div {
	display: flex;
}
:host > .tabs-align-top > kol-button-group-wc > div > div:first-child {
	margin: 0px 1em 0px 0px;
}
:host > .tabs-align-top > kol-button-group-wc > div > div {
	margin: 0px 1em;
}

:host > div {
	display: grid;
}

:host > .tabs-align-left kol-button-group-wc,
:host > .tabs-align-top kol-button-group-wc {
	order: 0;
}
:host > .tabs-align-bottom kol-button-group-wc,
:host > .tabs-align-right kol-button-group-wc {
	order: 1;
}
:host > div.tabs-align-left kol-button-group-wc > div,
:host > div.tabs-align-left kol-button-group-wc > div > div,
:host > div.tabs-align-right kol-button-group-wc > div,
:host > div.tabs-align-right kol-button-group-wc > div > div {
	display: grid;
}
:host > div.tabs-align-left kol-button-group-wc > div > div kol-button-wc,
:host > div.tabs-align-right kol-button-group-wc > div > div kol-button-wc {
	width: 100%;
}
:host > div.tabs-align-bottom kol-button-group-wc div,
:host > div.tabs-align-top kol-button-group-wc div {
	display: flex;
	flex-wrap: wrap;
}
