@import '../@shared/mixins';
@import '../style';
@import '../host-display-block';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	:host > div {
		display: grid;
	}

	.tabs-content {
		overflow: auto;
	}

	.tabs-button-group {
		display: flex;
		flex-wrap: wrap;

		button {
			border-bottom-color: transparent;
			border-bottom-style: solid;
			display: block;
		}
	}

	div.grid,
	div[role='tabpanel'] {
		height: 100%;
	}

	:host > .tabs-align-right {
		display: grid;
		grid-template-columns: 1fr auto;

		.tabs-button-group {
			flex-direction: column;
			order: 2;

			.kol-button-wc {
				width: 100%;
			}
		}
	}

	:host > .tabs-align-left {
		display: grid;
		grid-template-columns: auto 1fr;

		.tabs-button-group {
			flex-direction: column;
			order: 0;

			.kol-button-wc {
				width: 100%;
			}
		}
	}

	:host > .tabs-align-bottom {
		display: grid;
		grid-template-rows: 1fr auto;

		.tabs-button-group {
			order: 2;

			& > div {
				display: flex;

				& > div {
					&:first-child {
						margin: 0 1em 0 0;
					}
				}

				margin: 0 1em;
			}
		}
	}

	:host > .tabs-align-top {
		display: grid;
		grid-template-rows: auto 1fr;

		.tabs-button-group {
			order: 0;

			& > div {
				display: flex;

				& > div {
					&:first-child {
						margin: 0 1em 0 0;
					}

					margin: 0 1em;
				}
			}
		}
	}
}
