.button label {
	cursor: pointer;
	display: inline-flex;
	width: auto;
}

.button label > span > span {
	display: inline-flex;
	gap: calc(2 * var(--kolibri-spacing));
	place-items: center;
}

.button input {
	display: none;
}
