:host .checkbox input[type='checkbox'] {
	/* border-radius: 0.25em; */
	height: calc(6 * var(--kolibri-spacing));
	min-width: calc(6 * var(--kolibri-spacing));
	width: calc(6 * var(--kolibri-spacing));
}
:host .checkbox input[type='checkbox']:before {
	/* border-radius: 0.25em; */
	background-color: transparent;
	display: block;
	height: calc(6 * var(--kolibri-spacing));
	position: relative;
	width: calc(6 * var(--kolibri-spacing));
}
:host .checkbox input[type='checkbox']:checked:before {
	border-right-width: 3px;
	border-bottom-width: 3px;
	left: calc(1.5 * var(--kolibri-spacing) - 2px);
	top: calc(2.85 * var(--kolibri-spacing) - 2px);
	transform: rotate(40deg) translate(-50%, -50%);
	background-color: transparent;
	border-width: 0px 3px 3px 0px;
	border-color: white;
	border-radius: 1px;
	border-style: solid;
	height: calc(3 * var(--kolibri-spacing));
	width: calc(1.5 * var(--kolibri-spacing));
}
:host .checkbox input[type='checkbox']:indeterminate:before {
	background-color: var(--kolibri-color-normal);
	height: 0.375rem;
	top: 0.45rem;
	left: 0.15rem;
	width: calc(4 * var(--kolibri-spacing));
}
