@use './label' as *;
@use './kol-alert-wc' as *;
@use './kol-required' as *;

@use '../mixins/alert-wc' as *;
@use '../mixins/typography' as *;
@use '../mixins/input-base' as *;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	input {
		@include kol-typography-body;
		@include kol-input-base;

		cursor: pointer;
		width: 100%;
		overflow: hidden;
	}

	.error input {
		@include kol-input-error;
	}
}
