@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		display: inline-block;
		font-size: rem(16);
	}

	text {
		font-size: 16px;
		letter-spacing: normal;
		word-spacing: normal;
	}

	svg {
		max-height: 100%;
	}
}
