@layer kol-theme-component {
  @font-face {
    font-family: "d-you-icons";
    src: url("d-you-icons.woff2?t=1790119737862") format("woff2"),
    url("d-you-icons.woff?t=1790119737862") format("woff"),
    url('d-you-icons.ttf?t=1790119737862') format('truetype');
  }

  [class^="kolicon-"], [class*=" kolicon-"] {
    font-family: 'd-you-icons';
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
  }

  .kolicon-alert-error::before { content: "\ea01"; }
.kolicon-alert-info::before { content: "\ea02"; }
.kolicon-alert-success::before { content: "\ea03"; }
.kolicon-alert-warning::before { content: "\ea04"; }
.kolicon-check::before { content: "\ea05"; }
.kolicon-chevron-double-left::before { content: "\ea06"; }
.kolicon-chevron-double-right::before { content: "\ea07"; }
.kolicon-chevron-down::before { content: "\ea08"; }
.kolicon-chevron-left::before { content: "\ea09"; }
.kolicon-chevron-right::before { content: "\ea0a"; }
.kolicon-chevron-up::before { content: "\ea0b"; }
.kolicon-cogwheel::before { content: "\ea0c"; }
.kolicon-cross::before { content: "\ea0d"; }
.kolicon-eye-closed::before { content: "\ea0e"; }
.kolicon-eye::before { content: "\ea0f"; }
.kolicon-house::before { content: "\ea10"; }
.kolicon-link-external::before { content: "\ea11"; }
.kolicon-link::before { content: "\ea12"; }
.kolicon-minus::before { content: "\ea13"; }
.kolicon-pin-pinned::before { content: "\ea14"; }
.kolicon-pin-unpinned::before { content: "\ea15"; }
.kolicon-plus::before { content: "\ea16"; }
.kolicon-settings::before { content: "\ea17"; }
.kolicon-sort-asc::before { content: "\ea18"; }
.kolicon-sort-desc::before { content: "\ea19"; }
.kolicon-sort-neutral::before { content: "\ea1a"; }
.kolicon-up::before { content: "\ea1b"; }
.kolicon-version::before { content: "\ea1c"; }

}
