@use 'mixins' as *;
@use '../host-display-block' as *;
@use '../tooltip/style' as *;
@use 'button.mixin' as *;

@mixin kol-alert {
	.kol-alert {
		@include kol-button-styles('kol-button');
		display: grid;
		grid-template-areas:
			'icon heading close'
			'icon content close';
		grid-template-columns: min-content 1fr min-content;
		grid-template-rows: min-content min-content;

		&__icon {
			grid-area: icon;
		}

		&__heading {
			grid-area: heading;
		}

		&__closer {
			/* Visible with forced colors */
			outline: transparent solid to-rem(1);
			grid-area: close;
		}

		&__content {
			grid-area: content;
		}
	}
}
