@use 'mixins' as *;
@use '../tooltip/style' as *;
@use 'icon.mixin' as *;

@mixin kol-button-styles($block-classname) {
	@include kol-icon-styles();

	:host {
		//Needed for custom width
		display: inline-block;
	}

	.#{$block-classname} {
		display: flex;
		height: 100%;
		min-height: var(--a11y-min-size);
		font-style: to-rem(16);
		text-decoration-line: none;

		&::before {
			/* Render zero-width character as first element to set the baseline correctly. */
			content: '\200B';
		}

		&__text {
			flex: 1 0 100%;
		}

		&--external-link > .kolicon-link-external::before {
			content: none;
		}
	}
}
