@use 'mixins' as *;
@use './popover-button.mixin' as *;

@mixin kol-form-field {
	.kol-form-field {
		@include kol-popover-button-styles;

		display: grid;

		&:not(&--disabled) &__label {
			cursor: pointer;
		}

		&--required & {
			&__label-text:has(.kol-span__slot[hidden])::after,
			.kol-tooltip__content .kol-span__label::after {
				content: '*' / '';
			}
		}
	}
}
