@use 'mixins' as *;

@mixin kol-form-field {
	.kol-form-field {
		$root: &;

		display: grid;

		&__label {
			#{$root}:not(#{$root}--disabled) & {
				cursor: pointer;
			}

			&-text {
				flex-flow: row;
				align-items: flex-start;
				justify-content: flex-start;
			}

			#{$root}--disabled & {
				opacity: 0.5;
			}
		}

		&--required .kol-span__label::after {
			content: '*' / '';
		}

		&__hint {
			#{$root}--disabled & {
				opacity: 0.5;
			}
		}
	}
}
