@use 'mixins' as *;

@mixin kol-form-field {
	.kol-form-field {
		display: grid;

		&:not(&--disabled) &__label {
			cursor: pointer;
		}

		&__label-text {
			flex-flow: row;
			align-items: flex-start;
			justify-content: flex-start;
		}

		&--required & {
			&__label-text:has(.kol-span__slot[hidden])::after,
			.kol-tooltip__content .kol-span__label::after {
				content: '*' / '';
			}
		}
	}
}
