@use 'mixins' as *;

@mixin kol-pagination-styles {
	@layer kol-component {
		.kol-pagination {
			display: grid;
			align-items: center;
			gap: to-rem(16);
			grid-template-columns: 1fr auto;

			&__navigation-list {
				display: inline-flex;
				flex-wrap: wrap;
				align-items: center;
				margin: 0;
				padding: 0;
				gap: 0.5em;
				list-style: none;
			}

			&__separator:before {
				content: '•••';
			}
		}
	}
}
