@use './mixins' as *;

@mixin kol-table-settings-styles {
	@layer kol-component {
		.kol-table-settings {
			background: #fff;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;

			&__columns-container {
				max-height: to-rem(200);
				margin-top: to-rem(16);
				overflow: auto;
			}

			&__columns {
				display: grid;
				overflow: hidden;
				gap: to-rem(8);
				align-items: center;
				grid-auto-rows: min-content;
				grid-template-columns: min-content 1fr to-rem(100) auto auto;
			}

			&__column {
				display: contents;
			}
		}
	}
}
