@use 'mixins' as *;

@mixin kol-pagination-styles {
	@layer kol-component {
		:host {
			display: flex;
			gap: to-rem(16);
			flex-wrap: wrap;
			align-items: center;
		}

		.kol-pagination__range-text {
			order: var(--kol-pagination-range-order, 0);
			flex: 0 0 auto;
		}

		.kol-pagination__navigation {
			min-width: 0;
			order: var(--kol-pagination-controls-order, 1);
			flex: 1 1 auto;
		}

		.kol-pagination__page-size {
			order: var(--kol-pagination-page-size-order, 2);
			flex: 0 0 auto;
		}

		.kol-pagination__navigation-list {
			display: inline-flex;
			margin: 0;
			padding: 0;
			gap: 0.5em;
			flex-wrap: wrap;
			align-items: center;
			list-style: none;
		}

		.kol-pagination__separator:before {
			content: '•••';
		}
	}
}
