@import '../style';
@import '../host-display-block';

@mixin kol-table-stateless-styles {
	@layer kol-component {
		:host,
		.kol-table-stateless-wc {
			display: block;
			font-size: rem(16);
		}

		.table {
			max-width: 100%;
			overflow-x: auto;
			overflow-y: hidden;
		}

		table {
			width: 100%;
		}

		caption {
			text-align: start;
		}

		.focus-element {
			font-size: 0;
		}

		.focus-element:focus {
			outline: 0 !important;
		}

		.table:has(.focus-element:focus) {
			/* @see https://remysharp.com/til/css/focus-ring-default-styles */
			outline: 5px auto Highlight;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: 2px;
		}

		.table-sort-button .button {
			color: inherit;
		}

		// headings in table body default to text-align left, unless defined otherwise.
		tbody th,
		th.align-left {
			text-align: left;

			& .table-sort-button .button-inner {
				justify-items: start;
			}
		}

		th.align-center {
			text-align: center;

			& .table-sort-button .button-inner {
				justify-items: center;
			}
		}

		th.align-right {
			text-align: right;

			& .table-sort-button .button-inner {
				justify-items: end;
			}
		}

		.selection-header-cell {
			width: 0;
		}

		.selection-cell {
			width: var(--a11y-min-size);
			height: var(--a11y-min-size);
			white-space: nowrap;
		}

		.input {
			label {
				align-items: center;
				display: flex;
				height: var(--a11y-min-size);
				justify-content: center;
				position: relative;
				width: var(--a11y-min-size);
			}

			.icon {
				display: block;
				inset: auto;
				position: absolute;
				z-index: 1;
			}

			input {
				appearance: none;
				margin: 0;
				border-style: solid;
				cursor: pointer;
			}

			input:before {
				content: '';
			}

			input[type='checkbox'] {
				position: relative;
				display: flex;
				height: calc(var(--a11y-min-size) / 2);
				width: calc(var(--a11y-min-size) / 2);
				align-items: center;
				justify-content: center;
				background-color: rgb(255, 255, 255);
				border-width: 2px;
				line-height: 24px;
				transition: all 0.5s ease 0s;
			}

			input[type='checkbox']:before {
				cursor: pointer;
			}

			input[type='radio'] {
				border-width: 2px;
				border-radius: 100%;
				height: 1.5em;
				min-height: 1.5em;
				min-width: 1.5em;
				padding: 0;
				width: 1.5em;
			}

			input[type='radio']:before {
				border-radius: 100%;
				margin: auto;
				height: calc(1.5em / 2);
				width: calc(1.5em / 2);
			}

			input[type='radio']:checked:before {
				background-color: #000;
			}

			@media (forced-colors: active) {
				input[type='radio']:checked:before {
					/* Give it a visible background in forced colors mode */
					background: selectedItem !important;
				}
			}
		}
	}
}
