@use './mixins' as *;
@use '../host-display-block' as *;
@use '../tooltip/style.scss' as *;

@mixin kol-alert-styles {
	@layer kol-component {
		.kol-alert-wc {
			display: grid;
		}

		.kol-alert-wc .heading {
			display: flex;
			place-items: center;
			overflow: hidden; // Avoid issues in high contrast mode. @see https://github.com/public-ui/kolibri/pull/7563#issuecomment-2801297809
		}

		.kol-alert-wc .heading > div {
			flex-grow: 1;
		}

		.close {
			/* Visible with forced colors */
			outline: transparent solid rem(1);
		}
	}
}
