@use 'mixins' as *;
@use '../tooltip/style' as *;
@use 'icon.mixin' as *;

@mixin kol-link-styles($block-classname) {
	@include kol-icon-styles();
	:host {
		// Causing linebreak, when removed
		display: inline-block;
	}

	.#{$block-classname} {
		$root: &;
		display: inline-flex;
		max-width: fit-content;

		align-items: baseline;
		place-items: center;
		text-align: left;
		text-decoration-line: none;

		&--standalone {
			min-width: var(--a11y-min-size);
			min-height: var(--a11y-min-size);
			align-items: stretch;

			.#{$block-classname}__text {
				display: inline-flex;
				flex: 1 1 100%;
				place-items: center;
			}
		}

		.kol-span__label {
			text-decoration-line: underline;
		}

		&:focus:not([aria-disabled], [disabled]),
		&:hover:not([aria-disabled], [disabled]) {
			.kol-span__label {
				text-decoration-thickness: 0.2em;
			}
		}

		&__icon {
			display: inline-flex;
			margin-left: to-rem(8);
		}
	}
}
