@use 'mixins' as *;

@mixin kol-popover-button-styles {
	.kol-popover-button {
		&__popover {
			margin: 0;
			padding: 0;
			border: 0;
		}

		&--open {
			.kol-button__tooltip {
				display: none;
			}
		}

		&--inline {
			display: inline-block;

			&__button {
				display: inline;
			}

			.kol-button {
				min-width: 0;
				min-height: 1em;
			}
		}
	}

	.kol-popover {
		opacity: 0;
		transition: 0.2s ease-out opacity;
	}

	.kol-popover-button--open + .kol-popover {
		opacity: 1;
	}
}
