@use 'mixins' as *;

@mixin kol-table-settings-styles {
	.kol-table-settings {
		background: white;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;

		.kol-popover-button__popover {
			background: white;
			box-shadow:
				0 10px 15px -3px rgb(0 0 0 / 0.1),
				0 4px 6px -2px rgb(0 0 0 / 0.05);
			border-radius: to-rem(8);
			border: 1px solid black;
		}

		&__columns-container {
			max-height: to-rem(200);
			overflow: auto;
		}

		&__columns {
			display: grid;
			align-items: center;
			grid-auto-rows: min-content;
			grid-template-columns: min-content minmax(max-content, 1fr) to-rem(140) auto auto;
		}

		&__column {
			display: contents;
		}
	}
}
