@mixin kol-menu-styles {
	.menu {
		&__listbox {
			width: 100%;
			padding: 0;
			box-sizing: border-box;
			display: grid;
			list-style: none;
			margin: 0;
			overflow-y: auto;
			overflow-x: hidden;
			background-color: white;
			max-height: rem(250);
		}
	}
}
