@mixin kol-indented-theme {
	.kol-indented-text {
		font-family: var(--font-family);
		-webkit-border-start: 8px solid #0e47cb;
		-webkit-padding-start: 1.5rem;
		border-end-start-radius: 4px;
		border-inline-start: 8px solid #0e47cb;
		border-start-start-radius: 4px;
		display: inline-block;
		padding-bottom: 1rem;
		padding-inline-start: 1.5rem;
		padding-top: 1rem;
	}
}
