@use '../components/@shared/mixins' as *;

@mixin kol-form-field {
	.kol-form-field {
		$root: &;

		display: grid;

		&__label {
			#{$root}:not(#{$root}--disabled) & {
				cursor: pointer;
			}

			#{$root}--disabled & {
				opacity: 0.5;
			}
		}

		&__label-text::after {
			#{$root}--required & {
				content: '*';
			}
		}

		&__hint {
			#{$root}--disabled & {
				opacity: 0.5;
			}
		}

		&__tooltip .span-label::after {
			#{$root}--required & {
				content: '*';
			}
		}
	}
}
