@use '../components/@shared/mixins' as *;
@use '../components/host-display-block' as *;
@use '../components/tooltip/style' as *;
@use '../components/@shared/kol-button-mixin' as *;

@mixin kol-alert {
	@include kol-button-styles('kol-button');

	.kol-alert {
		display: grid;

		&__container {
			display: flex;
			place-items: center;
		}

		&__container-content {
			flex-grow: 1;
		}

		&__closer {
			/* Visible with forced colors */
			outline: transparent solid to-rem(1);
		}
	}
}
