@mixin kol-custom-suggestions-toggle {
	.kol-custom-suggestions-toggle {
		display: flex;
		width: var(--a11y-min-size);
		height: var(--a11y-min-size);
		align-items: center;

		&:not(:disabled) {
			cursor: pointer;
		}
	}
}
