@mixin kol-custom-suggestions-toggle {
	@layer kol-component {
		.kol-custom-suggestions-toggle {
			display: flex;
			align-items: center;
			width: var(--a11y-min-size);
			height: var(--a11y-min-size);

			&:not(:disabled) {
				cursor: pointer;
			}
		}
	}
}
