@use '../components/@shared/mixins' as *;

@mixin kol-input {
	@layer kol-component {
		.kol-input {
			font-size: rem(16);
			// height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}
}
