@use '../components/@shared/mixins' as *;

@mixin kol-card {
	.kol-card {
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);
		position: relative;
		height: 100%;

		&__close-button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
