@use '../components/@shared/mixins' as *;

@mixin kol-card {
	.kol-card {
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);

		display: grid;
		grid-template-areas:
      "header  close"
      "content content";
		grid-template-columns: 1fr max-content;
		grid-template-rows: auto 1fr;
		gap: to-rem(8);
		height: 100%;
		overflow: visible;

		&__header {
			grid-area: header;
			align-self: start;
		}

		&__content {
			grid-area: content;
			align-self: stretch;
			min-width: 0;
			min-height: 0;
		}

		&__close-button {
			grid-area: close;
			justify-self: end;
			align-self: start;
		}
	}
}
