@mixin kol-custom-suggestions-option {
	.kol-custom-suggestions-option {
		line-height: 1.5;
		white-space: normal;
		cursor: pointer;
		overflow-wrap: break-word;

		.kol-custom-suggestions-options-group--cursor-hidden & {
			cursor: none !important;
		}

		&--disabled:focus,
		&--disabled:focus * {
			cursor: not-allowed;
		}
	}
}
