@use '../components/@shared/mixins' as *;

@mixin kol-card {
	.kol-card {
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);

		display: grid;
		height: 100%;
		overflow: visible;
		gap: to-rem(8);

		grid-template-areas:
			'header  close'
			'content content'
			'footer  footer';
		grid-template-columns: 1fr max-content;
		grid-template-rows: auto 1fr auto;

		&__header {
			align-self: start;
			grid-area: header;
		}

		&__content {
			min-width: 0;
			min-height: 0;
			align-self: stretch;
			grid-area: content;
		}

		&__close-button {
			align-self: start;
			justify-self: end;
			grid-area: close;
		}

		&__footer {
			align-self: end;
			grid-area: footer;
		}
	}
}
