/.idea/
/.nx/
/license-reports/*.html
/packages/**/pnpm-lock.yaml

# in all sub folders
.DS_Store/
dist/
node_modules/
*.log
*.tgz

/packages/components/src/components/**/readme.md
# Diese Readme's wurden nicht in die Doku übernommen.
!/packages/components/src/components/@else/**/readme.md

node-compile-cache/
