/.idea/
/.nx/
/license-reports/*.html
/packages/**/pnpm-lock.yaml

# in all sub folders
.DS_Store/
dist/
node_modules/
*.log
*.tgz

/packages/components/src/components/*/readme.md
# Diese Readme's wurde nicht in die Doku übernommen.
!/packages/components/src/components/logo/readme.md
!/packages/components/src/components/symbol/readme.md
