@import '../@shared/mixins';

@layer kol-component {
	:host {
		display: flex;
		flex-direction: column;
		font-size: rem(16);
		position: fixed;
		z-index: 200;
	}

	.close-all {
		align-self: flex-end;
	}
}
