@use '../style' as *;
@use '../@shared/kol-alert-mixin' as *;

@include kol-alert-styles;

@layer kol-component {
	:host {
		display: flex;
		position: fixed;
		z-index: 200;
		max-width: 90vw;
		flex-direction: column;
	}

	.close-all {
		align-self: flex-end;
	}
}
