@layer kol-theme-global {
	/* Design Tokens */
	:host {
		--border-radius: 5px;
		--color-midnight: #004b76;
		--color-ocean: #0077b6;
		--color-sky: #99c9e2;
		--color-ice: #cce4f0;
		--color-crystal: #f0f7fb;
		--color-crimson: #780f2d;
		--color-red: #c0003c;
		--color-pink: #f2ccd8;
		--color-blossom: #fbf0f3;
		--color-olive: #004d38;
		--color-green: #005c45;
		--color-jungle: #00854a;
		--color-lime: #c1ca31;
		--color-mint: #ccdeda;
		--color-haze: #f0f5f4;
		--color-fire: #7a2e1f;
		--color-orange: #c44931;
		--color-coral: #f5dcd7;
		--color-peach: #fdf6f5;
		--color-bronze: #6a4a06;
		--color-yellow: #f9e03a;
		--color-ivory: #fdf3b0;
		--color-wine: #3f1d4a;
		--color-purple: #6b4479;
		--color-lavender: #dfd6de;
		--color-black: #202020;
		--color-metal: #454d4f;
		--color-grey: #576164;
		--color-granite: #bec5c9;
		--color-silver: #e5e8e9;
		--color-smoke: #f2f3f4;
		--color-cloud: #f6f7f7;
		--color-white: #ffffff;
		--font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
		--font-size: 16px;
		--spacing: 0.25em;
	}

	:host {
		background-color: transparent;
		/* Reset global background-color defined by components */
	}

	* {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-family);
		font-size: var(--font-size);
		margin: 0;
		padding: 0;
	}

	*[tabindex]:focus,
	.kol-input:not(.checkbox, .radio) .input:focus-within,
	.kol-input:is(.checkbox, .radio) input:focus,
	summary:focus {
		cursor: pointer;
		outline-color: var(--color-ocean);
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 3px;
		transition: outline-offset 0.2s linear;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.kol-heading-wc {
		font-weight: 700;
	}

	.kol-tooltip-wc .tooltip-floating {
		border: 1px solid var(--color-metal);
		border-radius: var(--border-radius);
	}

	.kol-tooltip-wc .tooltip-arrow {
		border: 1px solid var(--color-metal);
	}

	.kol-tooltip-wc .tooltip-area {
		background-color: var(--color-white);
		color: var(--color-black);
	}

	.kol-tooltip-wc .tooltip-content {
		border-radius: var(--border-radius);
		line-height: 1.5em;
		padding: 0.5rem 0.75rem;
	}

	.kol-span-wc,
	.kol-span-wc > span {
		gap: 0.5em;
	}
}
