@import ../style

:host
	display: inline-block

	&> kol-button-wc,
	&> kol-link-wc
		width: inherit

		a,
		button
			border: 0
			cursor: pointer
			display: inline-block
			min-height: 44px
			min-width: 44px
			text-align: center
			padding: 0
			transition-duration: 0.5s
			transition-property: background-color, color, border-color
			width: inherit

			> kol-span-wc
				display: grid
				justify-content: center
				justify-items: center
				align-items: center

				> span
					display: flex
					gap: 0.25em
					align-items: center
					justify-content: center

			&:active
				outline: 0 !important
				box-shadow: none !important

			&:disabled
				box-shadow: none
				cursor: not-allowed
				opacity: 0.5

			&.icon-only

				> kol-span-wc

					> span

						> span
							display: none
