@import url(../style.css);
@import url(../host-display-block.css);

/* What is this targeting? */
.accordion kol-heading-wc kol-button-wc button kol-span-wc {
	justify-items: start;
}

.wrapper {
	overflow: hidden;
	position: relative;
}
.transition {
	transition: height 300ms ease-in-out;
}
.content {
	inset: 0 0 auto 0;
	position: absolute;
	width: 100%;
}
