.font-80 {
	font-size: 80%;
}
.font-60 {
	font-size: 60%;
}

* {
	font-family: var(--font-family);
}

kol-icon.homepage,
kol-icon-font-awesome.homepage,
kol-icon-icofont.homepage {
	font-size: 200%;
	margin-top: 0.25em;
	margin-left: 0.25em;
}

p {
	font-size: 1.1rem !important;
	text-align: justify;
	-ms-hyphens: var(--kolibri-hyphens);
	-webkit-hyphens: var(--kolibri-hyphens);
	hyphens: var(--kolibri-hyphens);
	line-height: var(--kolibri-line-height);
	word-break: break-word;
}
