@import url(../style.css);
@import url(../host-display-block.css);
:host > div {
	background-color: #fff;
	/* needed for overlay situations */
	height: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}
:host > div > .kol-alert {
	display: block;
	margin: auto;
	max-width: 750px;
}
:host > div > .kol-button-wc {
	display: block;
	margin: auto;
	position: relative;
	top: 0;
	width: 1em;
}
