@use '~@public-ui/components/index' as *;
@use './typography.mixin' as *;

@mixin kol-alert {
	.kol-alert {
		position: relative;
		flex-direction: column;
		--alert-background-color: var(--kern-color-layout-background-default);

		/* Type modifiers with icons */
		&--type-info &__icon {
			color: var(--kern-color-feedback-info);

			&::before {
				content: '\e910';
			}
		}

		&--type-error &__icon {
			color: var(--kern-color-feedback-danger);

			&::before {
				content: '\e919';
			}
		}

		&--type-success &__icon {
			color: var(--kern-color-feedback-success);

			&::before {
				content: '\e906';
			}
		}

		&--type-warning &__icon {
			color: var(--kern-color-feedback-warning);

			&::before {
				content: '\e903';
			}
		}

		/* Variant card base */
		&--variant-card {
			border-radius: var(--kern-metric-border-radius-default);
			border: var(--kern-metric-border-width-default) solid transparent;
		}

		&--variant-card.kol-alert--type-default {
			border-color: var(--kern-color-form-input-border);
		}

		&--variant-card.kol-alert--type-error {
			border-color: var(--kern-color-feedback-danger);
		}

		&--variant-card.kol-alert--type-info {
			border-color: var(--kern-color-feedback-info);
		}

		&--variant-card.kol-alert--type-success {
			border-color: var(--kern-color-feedback-success);
		}

		&--variant-card.kol-alert--type-warning {
			border-color: var(--kern-color-feedback-warning);
		}

		&--variant-card .kol-alert__closer {
			top: var(--kern-metric-space-default);
		}

		/* Variant msg */
		&--variant-msg {
			color: var(--alert-msg-text-color);
		}

		/* Type variants */
		&--type-default {
			--alert-accent-color: var(--kern-color-form-input-background);
			--alert-msg-text-color: var(--kern-color-form-input-border);
		}

		&--type-info {
			--alert-accent-color: var(--kern-color-feedback-info-background);
			--alert-msg-text-color: var(--kern-color-feedback-info,);
		}

		&--type-error {
			--alert-accent-color: var(--kern-color-feedback-danger-background);
			--alert-msg-text-color: var(--kern-color-feedback-danger);
		}

		&--type-warning {
			--alert-accent-color: var(--kern-color-feedback-warning-background);
			--alert-msg-text-color: var(--kern-color-feedback-warning);
		}

		&--type-success {
			--alert-accent-color: var(--kern-color-feedback-success-background);
			--alert-msg-text-color: var(--kern-color-feedback-success);
		}

		/* Elements */
		&--variant-card &__content {
			background: var(--kern-color-layout-background-default, #fff);
			display: flex;
			padding: var(--kern-metric-space-default) var(--kern-metric-space-large) var(--kern-metric-space-default) var(--kern-metric-space-large);
			gap: var(--kern-metric-space-small);
			flex-direction: column;
		}

		&__container {
			display: flex;
			gap: to-rem(8);
			align-items: center;
		}

		&--variant-card &__container {
			background-color: var(--alert-accent-color);
			padding: var(--kern-metric-space-default);
		}

		&--variant-msg &__container {
			gap: to-rem(4);
		}

		&__container-content {
			display: grid;
			gap: calc(4rem / var(--kolibri-root-font-size));
		}

		&__closer {
			border-radius: var(--kern-metric-border-radius-default);

			&:hover {
				background: var(--kern-color-action-state-indicator-tint-hover-opacity);
			}

			.kol-icon {
				color: var(--kern-color-action-default);

				font-size: to-rem(24);
			}
		}

		&__heading {
			@include kern-title;

			&::after {
				content: '\00A0'; /* nbsp */
				white-space: pre; /* ensure space renders */
			}
		}

		&--variant-card &__heading {
			padding: var(--kern-metric-space-small) 0;
		}

		&--variant-card &__icon {
			font-size: to-rem(40);
		}

		&--variant-msg &__icon {
			font-size: to-rem(20);
		}
	}
}
