@use '~@public-ui/components/index' as *;
@use '../mixins/button.mixin' as *;

@mixin card {
	@include button('kol-button');

	.kol-card {
		background: var(--kern-color-layout-background-default);
		box-shadow: var(--kol-card-box-shadow);
		border-radius: var(--kol-card-border-radius);
		padding: var(--kern-metric-space-small) var(--kern-metric-space-small) var(--kern-metric-space-large) var(--kern-metric-space-large);
		gap: var(--kern-metric-space-default);
		border: var(--kern-metric-border-width-light, 1px) solid var(--layout-border);

		&__header {
			padding: var(--kern-metric-space-default) 0 0;
		}

		&__content {
			padding-right: var(--kern-metric-space-default);
		}

		&__close-button {
			line-height: to-rem(16);
			@include ghostButton('kol-button');
			.kol-icon {
				font-size: to-rem(24);
			}
		}
	}
}
