@use '~@public-ui/components/index' as *;

@mixin kol-custom-suggestions-options-group-theme($option-height, $visible-options) {
	.kol-custom-suggestions-options-group {
		background: var(--kern-color-form-input-background);
		box-shadow:
			0 4px 8px rgb(0, 0, 0, 0.1),
			0 1px 2px rgb(0, 0, 0, 0.1);
		right: to-rem(-1);
		left: to-rem(-8);
		max-height: calc($option-height * $visible-options + to-rem(2));
		margin-top: to-rem(4);
		padding: to-rem(4) 0;
		overflow-x: hidden;
		overflow-y: auto;
		border: 1px solid var(--kern-color-layout-border);
	}
}
