@use '~@public-ui/components/index' as *;
@use './popover-button' as *;

@mixin kol-form-field {
	.kol-form-field {
		padding: var(--kern-metric-space-none);
		gap: var(--kern-metric-space-small);
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;

		font-family: var(--kern-typography-font-family-default);

		&__label {
			@include popover-button;

			color: var(--kern-color-layout-text-default);

			display: flex;
			padding: var(--kern-metric-baseline-label-default-padding-top) var(--kern-metric-space-none) var(--kern-metric-baseline-label-default-padding-bottom)
				var(--kern-metric-space-none);
			order: 1;
			align-items: flex-end;

			font-size: var(--kern-typography-font-size-static-medium);
			font-weight: var(--kern-typography-font-weight-medium);
			line-height: var(--kern-typography-line-height-static-medium);
			letter-spacing: var(--kern-metric-space-none);

			&--legend {
				// legends are strange and need float to actually behave in a grid like everyone else
				float: left;
			}

			&__read-only {
				display: none;
			}
		}

		&__msg {
			order: 4;
			.kol-alert__icon {
				font-size: to-rem(24);
			}
		}

		&__hint {
			color: var(--kern-color-layout-text-default);
			color: var(--kern-color-layout-text-muted, #404565);
			padding: var(--kern-metric-baseline-body-default-padding-top) var(--kern-metric-space-none) var(--kern-metric-baseline-body-default-padding-bottom)
				var(--kern-metric-space-none);
			order: 2;

			font-size: var(--kern-typography-font-size-static-medium);
			font-weight: var(--kern-typography-font-weight-regular);
			line-height: var(--kern-typography-line-height-static-medium);
			letter-spacing: var(--kern-metric-space-none);
			font-style: normal;
		}

		&__input {
			order: 3;
		}

		&__counter {
			color: var(--kern-color-feedback-loader);
			margin-top: to-rem(4);

			font-size: to-rem(14.4);
			font-weight: 400;
			line-height: 1.25;
		}

		&--required & {
			&__label-text {
				&::after {
					padding-left: 0.125em;
				}
			}

			&__tooltip {
				.span-label::after {
					padding-left: 0.125em;
				}
			}
		}

		&--disabled & {
			&__label {
				opacity: var(--action-state-opacity-disabled, 0.4);
			}
		}

		&--error {
			padding-left: var(--kern-metric-space-default);
			border-left: var(--kern-metric-border-width-bold) solid var(--kern-color-feedback-danger);
		}
	}
}
