@use '~@public-ui/components/index' as *;
@use './button.mixin' as *;
@use './select.mixin' as *;

@mixin pagination {
	.kol-pagination {
		@include button('kol-button');
		@include kol-select();

		display: flex;
		gap: to-rem(16);

		&__navigation-list {
			gap: to-rem(8);
		}

		&__button--selected.kol-button {
			@include primaryButton();
			opacity: 0.4;
		}

		&__separator {
			color: var(--kern-color-action-default);
		}

		.kol-form-field {
			align-items: center;
		}
	}
}
