@use '~@public-ui/components/index' as *;

@mixin radio($block-classname: 'kol-input') {
	.#{$block-classname}[type='radio'] {
		color: var(--kol-input-radio-color);
		background: var(--kol-input-radio-background-color);
		border-radius: 100%;
		border-color: var(--kol-input-radio-color);
		display: flex;
		width: var(--kern-metric-dimension-large);
		height: var(--kern-metric-dimension-large);

		&::before {
			border-radius: 100%;
			margin: auto;

			content: '';
		}

		&:checked {
			&::before {
				background-color: var(--kol-input-radio-color);
				width: var(--kern-12, 12px);
				height: var(--kern-12, 12px);
			}
		}

		&:hover:not(:disabled) {
			--border-width: var(--kern-metric-border-width-bold);
		}

		&:focus:not(:disabled) {
			outline: var(--kern-metric-border-width-bold) solid var(--kol-input-radio-color);
			border: 0;
			outline-offset: 0;
		}
	}

	.#{$block-classname}--disabled[type='radio'] {
		opacity: var(--kern-color-action-state-opacity-disabled);
	}

	.kol-input-radio {
		justify-content: flex-start;
	}
}
