@use '~@public-ui/components/index' as *;
@use './input-core.mixin' as *;

@mixin kol-select {
	@include input-core;
	.kol-select {
		color: var(--kern-color-layout-text-default);
		background-color: transparent;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		padding: var(--kern-metric-baseline-body-default-padding-top) 0 var(--kern-metric-baseline-body-default-padding-bottom);

		font-family: var(--kern-typography-font-family-default);
		font-size: var(--kern-typography-font-size-static-medium);
		font-weight: var(--kern-typography-font-weight-regular);
		line-height: var(--kern-typography-line-height-static-medium);
		letter-spacing: var(--kern-metric-space-none);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		font-style: normal;
		text-overflow: ellipsis;

		&--error {
			background: var(--kern-color-feedback-danger-background);
		}

		&:not([multiple]) {
			padding-right: calc(var(--a11y-min-size) + #{to-rem(7)});
			padding-left: to-rem(7);
		}

		&--error[multiple] &__option {
			background: var(--kern-color-feedback-danger-background);
		}

		&__option {
			background: var(--kern-color-form-input-background);

			&:checked:not(:disabled) {
				color: var(--kern-color-layout-text-default);
				background-color: rgb(from var(--kern-color-action-default) r g b / var(--kern-color-action-state-opacity-selected));
			}

			&:hover:not(:disabled) {
				background-color: rgb(from var(--kern-color-action-default) r g b / var(--kern-color-action-state-opacity-hover));
			}

			&:focus:not(:disabled),
			&:focus-visible:not(:disabled) {
				background-color: rgb(from var(--kern-color-action-default) r g b / var(--kern-color-action-state-opacity-focus));
				outline: 0;
			}

			&:active:not(:disabled) {
				background-color: rgb(from var(--kern-color-action-default) r g b / var(--kern-color-action-state-opacity-active));
			}
		}

		&[multiple] &__option {
			padding: 0 to-rem(8);

			&::before {
				margin-right: to-rem(8);
			}
		}
	}

	.kol-form-field {
		&--disabled {
			opacity: var(--kern-color-action-state-opacity-disabled);
		}
	}

	.kol-input-container {
		height: auto;
		min-height: var(--kern-metric-dimension-x-large);
		padding: 0;
		gap: var(--kern-metric-space-none);

		&__adornment--end {
			padding: 0 var(--kern-metric-space-default) 0 0;
		}

		&__adornment--start {
			padding: 0 0 0 var(--kern-metric-space-default);
		}

		&__container:not(:has(select[multiple])) {
			&::after {
				transform: translateY(-50%);
				color: var(--kern-color-action-default);
				display: inline-block;
				position: absolute;
				position: absolute;
				top: var(--kern-metric-dimension-default);
				right: var(--kern-metric-dimension-x-small);
				width: var(--kern-metric-dimension-default);
				height: var(--kern-metric-dimension-default);

				content: '\e925';
				font-family: material-symbols-subset;
				font-size: var(--kern-metric-dimension-default);
				pointer-events: none;
			}
		}
	}
}
