@mixin badge-text-hint($bg-color, $text-color) {
	.badge-text-hint {
		color: $text-color;
		background-color: $bg-color;
		border-radius: var(--kern-metric-border-radius-default);
		padding: 0 0.3em;

		.kol-span & {
			// kol-span is a flex-element without white space between elements
			margin-left: 0.25em;
		}
	}
}
