@use '~@public-ui/components/index' as *;
@use '~@kern-ux/native/src/scss/core/utilities/mixins' as *;

@mixin kol-input-container {
	.kol-input-container {
		$root: &;

		@include body-default;
		background: var(--kern-color-form-input-background);

		border-radius: var(--kern-metric-border-radius-small);
		height: var(--kern-metric-dimension-x-large);
		padding: var(--kern-metric-space-none) var(--kern-metric-space-default);
		padding-bottom: var(--kern-metric-border-width-default);
		align-items: center;
		align-self: stretch;
		border: none;
		border-bottom: var(--kern-metric-border-width-default) solid var(--kol-input-border-color);

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		text-overflow: ellipsis;

		--kol-input-border-color: var(--kern-color-form-input-border);

		&:has(&__smart-button) {
			padding-right: 0;
		}

		&:hover {
			box-shadow: 0 calc(-1 * var(--kern-metric-border-width-default)) 0 0 var(--kol-input-border-color) inset;

			.kol-input-container__adornment {
				// we have to capture the height here so the adornments aren't higher than the input
				min-height: 100%;
			}
		}

		&:focus-within {
			outline: var(--kern-metric-border-width-bold) solid var(--kol-input-border-color);
			border-radius: var(--kern-metric-border-radius-small);
			padding-bottom: calc(var(--kern-metric-border-width-bold) - var(--kern-metric-border-width-default));
			border: none;

			&:hover {
				box-shadow: none;
			}
		}

		&:has(.kol-input--readonly) {
			background: inherit;
			border-radius: var(--kern-metric-border-radius-none);
			border-bottom: var(--kern-metric-border-width-light) solid var(--kern-color-layout-border) !important;

			.kol-input--readonly {
				cursor: not-allowed;
			}

			&:hover {
				padding-top: var(--kern-metric-space-none);
			}

			&:focus-within {
				border-radius: var(--kern-metric-border-radius-small);
				padding-top: var(--kern-metric-border-width-light);
				border-width: var(--kern-metric-border-width-none);
			}
		}

		&--disabled {
			opacity: var(--kern-color-action-state-opacity-disabled);
			cursor: not-allowed;

			&:hover {
				padding-top: var(--kern-metric-space-none);
				border-width: var(--kern-metric-border-width-default);
			}
		}

		&--error {
			--kol-input-border-color: var(--kern-color-feedback-danger);
			background: var(--kern-color-feedback-danger-background);
		}

		&__smart-button .kol-button {
			color: var(--kern-color-feedback-info,);

			font-size: to-rem(24);
			border-left: 1px solid var(--border-color);
			transition: all 80ms cubic-bezier(0.65, 0, 0.35, 1);

			&:disabled {
				opacity: var(--kern-color-action-state-opacity-disabled);
			}

			&:not(:disabled):hover {
				background: var(--kern-color-action-state-indicator-tint-hover-opacity);
				border-radius: var(--kern-metric-border-radius-default);
			}

			&:focus {
				color: var(--kern-color-layout-background-default);
				background-color: var(--kern-color-form-input-border);
				outline: var(--kern-color-form-input-border) solid 2px;
				border: 1 solid var(--kern-color-form-input-border);
				outline-offset: 2px;
			}
		}

		&__adornment {
			padding-right: to-rem(8);
			padding-left: to-rem(8);

			.kol-icon {
				font-size: var(--kern-metric-dimension-default);
			}
		}
	}
}
