@use '~@public-ui/components/index' as *;
@use './button' as *;
@use './focus-outline' as *;

@mixin kol-table-settings-theme {
	.kol-table-settings {
		background: var(--kern-color-layout-background-default);
		@include button('kol-button');

		.kol-popover-button__button {
			@include ghostButton('kol-button');
		}

		&__content {
			border-radius: var(--kern-metric-border-radius-default);
			padding: var(--kern-metric-space-default);

			border: var(--kern-metric-border-width-light, 1px) solid var(--layout-border);
		}

		&__error-message {
			display: block;
			margin-top: var(--kern-metric-space-default);
		}

		&__columns {
			padding: var(--kern-metric-space-small);
		}

		&__actions {
			display: flex;
			margin-top: var(--kern-metric-space-small);
			padding-top: var(--kern-metric-space-default);
			gap: var(--kern-metric-space-default);
			justify-content: flex-end;
			border-top: var(--kern-metric-border-width-light, 1px) solid var(--layout-border);
		}
	}

	.kol-button:focus {
		@include focus-outline;
	}
}
