@use '~@public-ui/components/index' as *;
@use './button' as *;
@use './select' as *;

@mixin pagination($block-classname) {
	.#{$block-classname} {
		display: flex;
		@include button('kol-button');
		@include kol-select();

		&__button--selected .kol-button--normal:disabled {
			--button-text-background-color: var(--kern-color-action-default);
			--button-text-border-color: var(--kern-color-action-default);
			--button-text-color: var(--kern-color-action-on-default);
			--button-badge-color: var(--button-text-background-color);

			opacity: 1;
		}

		&__separator {
			color: var(--kern-color-action-default);
		}
	}
}
