@import ../style

$spin-size: 1rem
$spin-speed: 2s

.spin
  display: inline-block
  height: $spin-size
  position: relative
  width: #{3 * $spin-size}

  span
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
    border: #{0.1 * $spin-size} solid #fff
    border-radius: 50%
    height: #{0.8 * $spin-size}
    width: #{0.8 * $spin-size}
    top: #{0.1 * $spin-size}
    position: absolute

    &:nth-child(1)
      z-index: 0
      animation: spin1 $spin-speed infinite
      left: #{0.1* $spin-size}

    &:nth-child(2)
      z-index: 1
      animation: spin2 $spin-speed infinite
      left: #{0.1 * $spin-size}

    &:nth-child(3)
      z-index: 1
      animation: spin2 $spin-speed infinite
      left: #{1 * $spin-size + 0.1 * $spin-size}

    &:nth-child(4)
      z-index: 0
      animation: spin3 $spin-speed infinite
      left: #{2 * $spin-size + 0.1 * $spin-size}

@keyframes spin1
  0%
    transform: scale(0)

  100%
    transform: scale(1)

@keyframes spin2
  0%
    transform: translate(0, 0)

  100%
    transform: translate(#{1 * $spin-size}, 0)

@keyframes spin3
  0%
    transform: scale(1)

  100%
    transform: scale(0)
