@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;

@layer kol-component {
	.kol-avatar {
		/*theme?*/
		width: to-rem(100);
		height: to-rem(100);
		border-radius: 50%;
		overflow: hidden;
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);

		&__image {
			width: 100%;
			height: 100%;
		}

		&__initials {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			/*theme?*/
			background-color: #d3d3d3;
			font-size: to-rem(40);
		}
	}
}
