@use '../@shared/mixins' as *;
@use '../style' as *;
@use '../host-display-block' as *;

@layer kol-component {
	.container,
	.image,
	.initials {
		border-radius: 50%;
	}

	.image,
	.initials {
		width: 100%;
		height: 100%;
	}

	.container {
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);
		width: to-rem(100);
		height: to-rem(100);
	}

	.initials {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #d3d3d3;
		font-size: to-rem(40);
	}
}
