@import '../@shared/mixins';
@import '../style';
@import '../host-display-block';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.container {
		border-radius: 50%;
		overflow: hidden;
		/* Visible with forced colors  */
		outline: transparent solid 1px;
		/*theme?*/
		width: 100px;
		height: 100px;
	}

	.image {
		width: 100%;
		height: 100%;
	}

	.initials {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		/*theme?*/
		background: #d3d3d3;
		font-size: rem(32);
	}
}
