* {
	font-family: var(--font-family);
}

p {
	margin: 0;
}

kol-kolibri.logo {
	display: block;
	margin: 0 auto;
	width: 100px;
}

kol-spin {
	padding: 0 0.5em;
}

kol-link::after,
kol-link::before {
	content: ' ';
}

kol-link-group.fehlerliste {
	display: block;
	margin: 1em 0 0 0;
	padding: 0.5em;
	border: 1px solid var(--kolibri-color-error);
	border-radius: var(--kolibri-border-radius);
}
