@use '~@public-ui/components/index' as *;
@use '../mixins/card.mixin' as *;
@use '../mixins/typography.mixin' as *;
@use '../mixins/headline' as *;

@layer kol-theme-component {
	@include headline;
	@include card;

	.kol-dialog {
		&__card {
			--kol-card-border-radius: var(--kern-metric-border-radius-large);
			--kol-card-box-shadow: 0 to-rem(24) to-rem(60) rgb(0, 0, 0, 0.3), 0 to-rem(8) to-rem(16) 0 rgb(0, 0, 0, 0.1);

			background: transparent;

			&::backdrop {
				background-color: rgb(0, 0, 0, 0.3);
			}
		}
	}
}
