@use '../mixins/alert.mixin' as *;
@use '../mixins/link.mixin' as *;

@layer kol-theme-component {
	@include kol-alert;
	@include kol-link('kol-link');

	.kol-form__mandatory-fields-hint {
		color: var(--kern-color-feedback-info);
		padding-left: var(--kern-metric-space-default);
		border-left: var(--kern-metric-border-width-bold) solid var(--kern-color-feedback-info);
	}
}
