@use '~@public-ui/components/index' as *;
@use '../mixins/alert.mixin' as *;
@use '../mixins/field-control.mixin' as *;
@use '../mixins/radio.mixin' as *;
@use '../mixins/form-field.mixin' as *;

@layer kol-theme-component {
	@include kol-alert;
	@include kol-field-control-theme;
	@include kol-form-field;
	@include radio;

	.kol-form-field {
		gap: var(--kern-metric-space-small);
		flex-wrap: wrap;
		align-items: flex-start;
		border: 0;

		--kol-input-radio-color: var(--kern-color-form-input-border);
		--kol-input-radio-background-color: transparent;
		--border-width: var(--kern-metric-border-width-default);

		&--error {
			--kol-input-radio-color: var(--kern-color-feedback-danger);
			--kol-input-radio-background-color: var(--kern-color-feedback-danger-background);
			padding-left: var(--kern-metric-space-default);

			border-left: var(--kern-metric-border-width-bold) solid var(--kol-input-radio-color);
		}

		&__input {
			gap: var(--kern-metric-space-default);
		}
	}
}
