@use '../mixins/input-core' as *;

@layer kol-theme-component {
	@include input-core;
	input[type='number'] {
		-moz-appearance: textfield;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}
