@use '../mixins/input-core.mixin' as *;

@layer kol-theme-component {
	@include input-core;
	.kol-input-container {
		padding: 0;
		border: 0;

		&:hover,
		&:focus-within {
			box-shadow: none !important;
		}

		&__adornment {
			padding: 0 var(--kern-metric-space-default);

			& + .kol-input-container__container .kol-input-range__inputs-wrapper {
				padding-left: 0;
			}
		}

		&:focus-within .kol-input-range__input--number {
			border-color: transparent;
		}
	}

	.kol-input-range {
		&__inputs-wrapper {
			display: flex;
			height: 100%;
			padding-left: var(--kern-metric-space-default);
			gap: var(--kern-metric-space-default);
			align-items: center;
		}

		&__input--range {
			background-color: var(--kol-input-border-color);
			height: var(--kern-metric-border-width-default);
			border: none;

			&:not(:disabled):hover {
				height: var(--kern-metric-border-width-bold);
			}
		}

		&__input--number {
			background-color: transparent;
			align-self: stretch;
			border: none;
			border-bottom: var(--kol-input-border-color) solid var(--kern-metric-border-width-default);

			&:not(:disabled):hover {
				box-shadow: 0 calc(-1 * var(--kern-metric-border-width-default)) 0 0 var(--kol-input-border-color) inset;
			}
		}
	}
}
