@use '~@public-ui/components/index' as *;
@use '../mixins/link.mixin' as *;

@layer kol-theme-component {
	@include kol-link('kol-link');
	@include kol-link('kol-button', $anchor-scoped: false, $interactive-suffix: 'button');

	.kol-nav {
		padding: var(--kern-metric-space-small);

		--kol-nav-list-item-padding: var(--kern-metric-space-small);

		--kol-nav-item-padding-left: 0;

		.kol-button,
		.kol-link {
			border-radius: var(--kern-metric-border-radius-default);
			width: 100%;
			min-width: var(--a11y-min-size);
			min-height: var(--a11y-min-size);
			padding: 0;
			padding-right: var(--kol-nav-list-item-padding);
			padding-left: to-rem(var(--kol-nav-item-padding-left));
			align-items: center;

			&:hover {
				background-color: var(--kern-color-action-state-indicator-tint-hover-opacity);
			}
		}

		&--is-compact {
			--kol-nav-list-item-padding: 0 #{to-rem(10)};
		}

		&__list {
			gap: var(--kern-metric-space-small);

			// with this two properties we build a dynamic padding where each nested list has 8 + 8 = 16px more padding at its links/buttons
			--kol-nav-nested-padding-left: calc(var(--kol-nav-item-padding-left) + 8);

			&-item {
				--kol-nav-item-padding-left: calc(var(--kol-nav-nested-padding-left) + 8);
			}

			&--horizontal {
				column-gap: var(--kern-metric-space-small);
			}

			&-item {
				&--active > .kol-nav__entry-wrapper {
					.kol-button,
					.kol-link {
						font-weight: var(--kern-typography-font-weight-semi-bold);
					}
				}
			}

			&--nested {
				margin-top: var(--kern-metric-space-small);
			}
		}

		&__toggle-button {
			.kol-button {
				padding: 0 to-rem(10);
			}
		}

		&__entry-wrapper {
			background: var(--kern-color-layout-background-hued);
		}
	}
}
