body,
* {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.container {
	display: grid;
	gap: 1.5rem;
	margin-inline: auto;
	padding-inline: 2rem;
}

.font-80 {
	font-size: 80%;
}
.font-60 {
	font-size: 60%;
}

.gap {
	gap: 0.5rem;
}

.grid {
	display: grid;
}

.kol-accordion p,
.kol-card p {
	padding: 0;
	text-align: justify;
	margin: 0;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-y-reverse: 0;
	border: 0;
	border-style: solid;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.kol-accordion div[slot='content'],
.kol-accordion div[slot='header'] {
	padding: 0.5rem;
}

.kol-logo {
	width: 18%;
}

.kol-badge[_icon='ui-rating'],
.kol-badge[_label='Und ich!'] {
	font-weight: 600;
}

.kol-button.min-width {
	display: inline-block;
	margin-bottom: 0.1rem;
	margin-right: 0.1rem;
	width: 8rem;
}

.kol-logo {
	display: block;
	width: 175px;
}

.bordered {
	border: 1px solid var(--kolibri-border-color);
	border-radius: var(--kolibri-border-radius);
}

.bg-black {
	background-color: black;
}
.bg-blueviolet {
	background-color: blueviolet;
}

.p-b {
	padding-block: 0.5rem;
}
.p-i {
	padding-inline: 1rem;
}

.row {
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #eee;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
}

.col-12 {
	overflow: hidden;
	padding-block: 0.25rem;
}

hr {
	background-color: #850550;
	margin: 0;
}
div.hr {
	text-align: center;
	font-weight: 600;
	color: white;
	margin: 0;
	padding: 0.5rem;
	background-color: #850550;
}

.kol-card[_level='5'],
.kol-card[_level='6'] {
	display: block;
}

.kol-icon[_icon='codicon codicon-home'],
.kol-icon[_icon='fa-solid fa-house'],
.kol-icon[_icon='icofont-home'],
.kol-icon[_icon='ti ti-home'] {
	color: #00646b;
	font-size: 500%;
}

.kol-logo {
	margin: 0.25rem;
}

.kol-nav.max-width {
	display: block;
	max-width: 20em;
}
