@use '../mixins/to-rem' as *;

@layer kol-theme-global {
	.kol-tooltip {
		&__arrow {
			background-color: #626262;
		}

		&__content {
			background-color: #f2f2f2;
			border-radius: 2px;
			padding: to-rem(4) to-rem(8);

			font-size: to-rem(14);
			line-height: 1.2;
			border: 1px solid #626262;
		}
	}

	:host {
		--ecl-color-primary: var(--ecl-color-primary-100);
		--ecl-color-primary-180: #051036;
		--ecl-color-primary-160: #0a1f6c;
		--ecl-color-primary-140: #0f2fa2;
		--ecl-color-primary-120: #143fd9;
		--ecl-color-primary-100: #3860ed;
		--ecl-color-primary-80: #5577f0;
		--ecl-color-primary-60: #89a1f4;
		--ecl-color-primary-40: #b1c0f8;
		--ecl-color-primary-20: #d8e0fb;
		--ecl-color-secondary: var(--ecl-color-secondary-100);
		--ecl-color-secondary-180: #8f5600;
		--ecl-color-secondary-160: #e08700;
		--ecl-color-secondary-140: #ff9d0a;
		--ecl-color-secondary-120: #ffad33;
		--ecl-color-secondary-100: #ffbe5c;
		--ecl-color-secondary-80: #ffcb7c;
		--ecl-color-secondary-60: #ffd89d;
		--ecl-color-secondary-40: #ffe5be;
		--ecl-color-secondary-20: #fff2de;
		--ecl-color-dark: var(--ecl-color-dark-100);
		--ecl-color-dark-100: #26324b;
		--ecl-color-dark-80: #546fa6;
		--ecl-color-dark-60: #9ac;
		--ecl-color-dark-06-o: rgb(38, 50, 75, 0.06);
		--ecl-color-dark-05-o: rgb(38, 50, 75, 0.05);
		--ecl-color-info: var(--ecl-color-primary-100);
		--ecl-color-success: #24a148;
		--ecl-color-error: #da1e28;
		--ecl-color-warning: #f39811;
		--ecl-color-background: #fcfcfc;
		--ecl-color-branding: #004494;
		--ecl-color-stroke: color-mix(in srgb, var(--ecl-color-primary) 50%, transparent);
		--ecl-color-overlay-light: color-mix(in srgb, var(--ecl-color-dark) 70%, transparent);
		--ecl-color-overlay-dark: color-mix(in srgb, var(--ecl-color-dark) 90%, transparent);
		--ecl-color-white: #fff;
		--ecl-color-neutral: var(--ecl-color-neutral-100);
		--ecl-color-neutral-180: #6c85d1;
		--ecl-color-neutral-160: #7f95d7;
		--ecl-color-neutral-140: #92a5dd;
		--ecl-color-neutral-120: #a6b5e3;
		--ecl-color-neutral-100: #b9c5e9;
		--ecl-color-neutral-80: #cdd5ef;
		--ecl-color-neutral-60: #e0e5f5;
		--ecl-color-neutral-40: #f3f5fb;
		--ecl-color-neutral-20: #f8f9fd;
		--ecl-color-accent: var(--ecl-color-accent-100);
		--ecl-color-accent-160: #887de8;
		--ecl-color-accent-140: #978cf2;
		--ecl-color-accent-120: #a89efa;
		--ecl-color-accent-100: #bbb3ff;
		--ecl-color-accent-80: #bfb2ff;
		--ecl-color-accent-60: #d1ccff;
		--ecl-color-accent-40: #fafaff;

		--ecl-font-family-default: arial, sans-serif;
		--ecl-font-size: #{to-rem(16)};
		--ecl-font-weight: 400;
		--ecl-font-weight-bold: 700;
		--line-height-regular: 1.5;

		--ecl-spacing-2xs: #{to-rem(4)};
		--ecl-spacing-xs: #{to-rem(8)};
		--ecl-spacing-s: #{to-rem(12)};
		--ecl-spacing-m: #{to-rem(16)};
		--ecl-spacing-l: #{to-rem(20)};
		--ecl-spacing-xl: #{to-rem(24)};
		--ecl-spacing-2xl: #{to-rem(32)};
		--ecl-spacing-3xl: #{to-rem(40)};
		--ecl-spacing-4xl: #{to-rem(48)};
		--ecl-spacing-5xl: #{to-rem(56)};
		--ecl-spacing-6xl: #{to-rem(64)};
		--ecl-shadow-1:
			0 0 1px var(--ecl-color-dark-06-o), 2px 2px 2px var(--ecl-color-dark-05-o), 4px 4px 6px var(--ecl-color-dark-05-o),
			0 1px 0 var(--ecl-color-neutral-60) inset;
		--ecl-shadow-6:
			0 0 6px var(--ecl-color-dark-06-o), 12px 12px 12px var(--ecl-color-dark-05-o), 24px 24px 36px var(--ecl-color-dark-05-o),
			0 1px 0 var(--ecl-color-neutral-60) inset;
		--ecl-shadow-12:
			0 0 12px var(--ecl-color-dark-06-o), 24px 24px 24px var(--ecl-color-dark-05-o), 48px 48px 72px var(--ecl-color-dark-05-o),
			0 1px 0 var(--ecl-color-neutral-60) inset;
		--ecl-shadow-16:
			0 0 16px var(--ecl-color-dark-06-o), 32px 32px 32px var(--ecl-color-dark-05-o), 64px 64px 96px var(--ecl-color-dark-05-o),
			0 1px 0 var(--ecl-color-neutral-60) inset;
		--ecl-max-width: 80ch;

		--ecl-font-size-xs: #{to-rem(12)};
		--ecl-font-size-s: #{to-rem(14)};
		--ecl-font-size-m: #{to-rem(16)};
		--ecl-font-size-l: #{to-rem(20)};
		--ecl-font-size-xl: #{to-rem(24)};
		--ecl-font-size-2xl: #{to-rem(28)};
		--ecl-font-size-3xl: #{to-rem(40)};
		--ecl-font-size-4xl: #{to-rem(52)};

		--ecl-line-height-xs: #{to-rem(18)};
		--ecl-line-height-s: #{to-rem(18)};
		--ecl-line-height-m: #{to-rem(24)};
		--ecl-line-height-l: #{to-rem(28)};
		--ecl-line-height-xl: #{to-rem(36)};
		--ecl-line-height-2xl: #{to-rem(36)};
		--ecl-line-height-3xl: #{to-rem(44)};
		--ecl-line-height-4xl: #{to-rem(54)};
	}

	:host {
		color: var(--ecl-color-dark);

		font-family: var(--ecl-font-family-default);
		font-size: var(--ecl-font-size-m);
		font-weight: var(--ecl-font-weight);
		line-height: var(--ecl-line-height-m);
	}

	a,
	button {
		outline: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
	}

	.badge-text-hint {
		border-radius: 3px;
		padding: 0 0.3em;
	}
}
