@import '../@shared/mixins';

.spin.cycle {
	width: rem(48);
	height: rem(48);
}
.spin.cycle > .loader {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	animation: 2s linear infinite rotate;
}
.spin.cycle > .loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #333;
	animation: 3s linear infinite prixClipFix;
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes prixClipFix {
	0% {
		border-color: #fff;
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		border-color: #666;
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		border-color: #fc0;
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		border-color: red;
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		border-color: #000;
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
} /* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#toning_down_the_animation_scaling */
@media (prefers-reduced-motion) {
	.spin.cycle > .loader {
		animation-duration: 4s;
	}
	.spin.cycle > .loader::before {
		animation-duration: 6s;
	}
}
