@use '../@shared/mixins' as *;

@layer kol-component {
	@keyframes spin1 {
		0% {
			transform: scale(0);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes spin2 {
		0% {
			transform: translate(0, 0);
		}

		100% {
			transform: translate(to-rem(var(--kol-spin-size, 13)), 0);
		}
	}

	@keyframes spin3 {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(0);
		}
	}

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#toning_down_the_animation_scaling */
	@media (prefers-reduced-motion) {
		.kol-spin__spinner-element {
			animation-duration: 2s !important;
		}
	}
	.kol-spin {
		&__spinner--dot {
			--kol-spin-border-width: calc(var(--kol-spin-size, 13) / 10);

			width: to-rem(calc((var(--kol-spin-size, 13) * 3) + 2));
			height: to-rem(calc(var(--kol-spin-size, 13) + (var(--kol-spin-border-width) * 2)));

			&__element {
				border-radius: 50%;
				position: absolute;
				top: 1px;
				width: to-rem(var(--kol-spin-size, 13));
				height: to-rem(var(--kol-spin-size, 13));
				animation-timing-function: cubic-bezier(0, 1, 1, 0);
				background-color: var(--kol-spin-color, var(--kol-theme-spin-color, #000));
				border: to-rem(var(--kol-spin-border-width)) solid #fff;

				&--1 {
					left: to-rem(var(--kol-spin-border-width));
					z-index: 0;
					animation: 1s infinite spin1;
				}

				&--2 {
					left: to-rem(var(--kol-spin-border-width));
					z-index: 1;
					animation: 1s infinite spin2;
				}

				&--3 {
					left: to-rem(calc(var(--kol-spin-size, 13) + var(--kol-spin-border-width)));
					z-index: 1;
					animation: 1s infinite spin2;
				}

				&--4 {
					opacity: 0.6;
					left: to-rem(calc((var(--kol-spin-size, 13) * 2) + var(--kol-spin-border-width)));
					z-index: 0;
					animation: 1s infinite spin3;
				}
			}
		}
	}
}
