@import '../style.css';

.spin {
	display: inline-block;
	height: 1rem;
	position: relative;
	width: 3rem;
}
.spin span {
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
	border-color: #fff;
	border-radius: 50%;
	border-style: solid;
	border-width: 0.1rem;
	height: 0.8rem;
	position: absolute;
	top: 0.1rem;
	width: 0.8rem;
}
.spin span:nth-child(1) {
	background-color: #fc0;
	z-index: 0;
	animation: spin1 2s infinite;
	left: 0.1rem;
}
.spin span:nth-child(2) {
	background-color: #f00;
	z-index: 1;
	animation: spin2 2s infinite;
	left: 0.1rem;
}
.spin span:nth-child(3) {
	background-color: #000;
	z-index: 1;
	animation: spin2 2s infinite;
	left: 1.1rem;
}
.spin span:nth-child(4) {
	background-color: #666;
	z-index: 0;
	animation: spin3 2s infinite;
	left: 2.1rem;
}

@keyframes spin1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes spin2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(1rem, 0);
	}
}

@keyframes spin3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
