@import '../@shared/mixins';
@import '../style';
@import 'cycle';
@import 'dot';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.spin {
		display: block;
		padding: rem(2);
		position: relative;
	}
}
