@font-face {
	font-family: 'kol-icons';
	src:
		url('./kol-icons.woff?t=1765358146459') format('woff'),
		url('./kol-icons.ttf?t=1765358146459') format('truetype'),
		url('./kol-icons.svg?t=1765358146459') format('svg');
}

[class^='kol-'],
[class*=' kol-'] {
	font-family: 'kol-icons';
	font-size: undefined;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kol-alert-error::before {
	content: '\ea01';
}
.kol-alert-info::before {
	content: '\ea02';
}
.kol-alert-success::before {
	content: '\ea03';
}
.kol-alert-warning::before {
	content: '\ea04';
}
.kol-check::before {
	content: '\ea05';
}
.kol-chevron-double::before {
	content: '\ea06';
}
.kol-chevron::before {
	content: '\ea07';
}
.kol-cogwheel::before {
	content: '\ea08';
}
.kol-cross::before {
	content: '\ea09';
}
.kol-eye-closed::before {
	content: '\ea0a';
}
.kol-eye::before {
	content: '\ea0b';
}
.kol-link-external::before {
	content: '\ea0c';
}
.kol-link::before {
	content: '\ea0d';
}
.kol-logo::before {
	content: '\ea0e';
}
.kol-minus::before {
	content: '\ea0f';
}
.kol-plus::before {
	content: '\ea10';
}
.kol-sort-asc::before {
	content: '\ea11';
}
.kol-sort-desc::before {
	content: '\ea12';
}
.kol-sort-neutral::before {
	content: '\ea13';
}
.kol-version::before {
	content: '\ea14';
}
