@import '../functions';

@mixin button($element-selector) {
	:host {
		display: inline-block;
	}

	#{$element-selector} {
		color: inherit;
		outline: none;

		&::before {
			/* Render zero-width character as first element to set the baseline correctly. */
			content: '\200B';
		}
	}

	#{$element-selector} > kol-span-wc {
		border: 1px solid;
		font-size: rem(18);
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: rem(8) rem(14);
		text-align: center;
		text-transform: uppercase;
	}

	#{$element-selector}:hover:not(:disabled) .span-label {
		text-decoration: underline;
	}

	#{$element-selector}:focus > kol-span-wc {
		outline: var(--color-blue) solid 2px;
		outline-offset: 2px;
	}

	.primary #{$element-selector} > kol-span-wc {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
		color: var(--color-white);
	}

	.secondary #{$element-selector} > kol-span-wc {
		background-color: var(--color-white);
		border-color: var(--color-primary-60);
	}

	.secondary #{$element-selector}:hover > kol-span-wc {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
		color: var(--color-white);
	}

	.ghost #{$element-selector} > kol-span-wc {
		background-color: transparent;
		border-color: transparent;
		color: var(--color-primary);
		text-transform: unset;
	}

	:is(.primary, .secondary, .ghost) #{$element-selector}:disabled > kol-span-wc {
		color: var(--color-speedwell);
	}
	:is(.primary, .secondary) #{$element-selector}:disabled > kol-span-wc {
		background: var(--color-secondary-40);
		border-color: var(--color-speedwell);
	}
}
