@layer kol-component {
	.default {
		& label[slot='input'] {
			align-items: center;
			display: flex;
			height: var(--a11y-min-size);
			justify-content: center;
			width: var(--a11y-min-size);
		}

		& .icon {
			align-items: center;
			border: 1px solid;
			display: flex;
			height: 22px;
			justify-content: center;
			width: 22px;
		}

		&:has(input[type='checkbox']:not(:checked):not(:indeterminate)) .icon::part(icon) {
			display: none;
		}
	}
}
