@use '../@shared/mixins' as *;

@layer kol-component {
	.default {
		& .checkbox-container {
			display: flex;
			position: relative;
			width: var(--a11y-min-size);
			height: var(--a11y-min-size);
			align-items: center;
			justify-content: center;
		}

		& .icon {
			display: block;
			position: absolute;
			inset: auto;
			z-index: 1;
		}

		&:not(.checked, .indeterminate) .icon::part(icon) {
			display: none;
		}

		& .checkbox-input-element {
			width: to-rem(22);
			height: to-rem(22);
		}
	}
}
