.checkbox input[type='checkbox'] {
	height: 1.5em;
	width: 1.5em;
}
.checkbox input[type='checkbox']:before {
	display: block;
	height: 1.5em;
	position: relative;
	width: 1.5em;
}
.checkbox input[type='checkbox']:checked:before {
	border-bottom-width: 3px;
	border-radius: 1px;
	border-right-width: 3px;
	border-style: solid;
	border-width: 0px 3px 3px 0px;
	height: 0.75em;
	left: calc(0.375em - 2px);
	transform: rotate(40deg) translate(-50%, -50%);
	top: calc(0.7125em - 2px);
	width: 0.375em;
}
.checkbox input[type='checkbox']:indeterminate:before {
	background-color: black;
	height: 0.2em;
	left: 0.24em;
	top: 0.575em;
	width: 0.8em;
}
