label {
	cursor: pointer;
}
kol-input {
	align-items: center;
	display: grid;
	justify-items: left;
}
kol-input.default,
kol-input.switch {
	grid-template-columns: auto 1fr;
}
kol-input .input {
	align-items: center;
	display: grid;
	order: 1;
}
kol-input .input div {
	display: inline-flex;
}
kol-input .input input {
	margin: 0;
}
kol-input label {
	order: 2;
}
kol-input .hint,
kol-input.error > kol-alert {
	grid-column: span 2;
}
kol-input kol-alert.error {
	order: 3;
}
kol-input .hint {
	order: 4;
}

input {
	border-style: solid;
	border-width: 2px;
	line-height: 24px;
}
input[type='checkbox'] {
	appearance: none;
	background-color: #fff;
	cursor: pointer;
	transition: 0.5s;
}
input[type='checkbox'].kol-disabled:before {
	cursor: not-allowed;
}
input[type='checkbox']:before {
	content: '';
	cursor: pointer;
}
kol-input.required .tooltip-content .span-label::after {
	content: '*';
}
