@import '../@shared/mixins';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	label {
		cursor: pointer;
	}

	.kol-input {
		align-items: center;
		display: grid;
		justify-items: left;
	}

	.kol-input.default,
	.kol-input.switch {
		grid-template-areas: 'input label';
		grid-template-columns: auto 1fr;
	}

	.kol-input.default[data-label-align='left']:not(.hide-label),
	.kol-input.switch[data-label-align='left']:not(.hide-label) {
		grid-template-areas: 'label input';
		grid-template-columns: 1fr auto;
	}

	.kol-input .input {
		grid-area: input;
		align-items: center;
		display: grid;
	}

	.kol-input .input div {
		display: inline-flex;
	}

	.kol-input .input input {
		margin: 0;
	}

	.kol-input label {
		grid-area: label;
	}

	.kol-input .hint,
	.kol-input.error > .kol-alert {
		grid-column: span 2;
	}

	.kol-input .kol-alert.error {
		order: 3;
	}

	.kol-input .hint {
		order: 4;
	}

	input {
		border-style: solid;
		border-width: 2px;
		line-height: 24px;
	}

	input[type='checkbox'] {
		appearance: none;
		background-color: #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	input[type='checkbox']:before {
		content: '';
		cursor: pointer;
	}

	input[type='checkbox']:disabled:before {
		cursor: not-allowed;
	}

	.kol-input.required .tooltip-content .span-label::after {
		content: '*';
	}
}
