label {
	cursor: pointer;
}
.kol-input-wc {
	align-items: center;
	display: grid;
	justify-items: left;
}
.kol-input-wc.default,
.kol-input-wc.switch {
	grid-template-columns: auto 1fr;
}
.kol-input-wc .input {
	align-items: center;
	display: grid;
	order: 1;
}
.kol-input-wc .input div {
	display: inline-flex;
}
.kol-input-wc .input input {
	margin: 0;
}
.kol-input-wc label {
	order: 2;
}
.kol-input-wc .hint,
.kol-input-wc.error > .kol-alert {
	grid-column: span 2;
}
.kol-input-wc .kol-alert.error {
	order: 3;
}
.kol-input-wc .hint {
	order: 4;
}

input {
	border-style: solid;
	border-width: 2px;
	line-height: 24px;
}
input[type='checkbox'] {
	appearance: none;
	background-color: #fff;
	cursor: pointer;
	transition: 0.5s;
}
input[type='checkbox'].kol-disabled:before {
	cursor: not-allowed;
}
input[type='checkbox']:before {
	content: '';
	cursor: pointer;
}
.kol-input-wc.required .tooltip-content .span-label::after {
	content: '*';
}
