.switch input[type='checkbox'] {
	display: inline-block;
	height: 1.7em;
	min-width: 3.2em;
	position: relative;
	width: 3.2em;
}
.switch input[type='checkbox']:before {
	background-color: #000;
	height: 1.2em;
	left: calc(0.25em - 2px);
	top: calc(0.25em - 2px);
	position: absolute;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	width: 1.2em;
}
.switch input[type='checkbox']:checked:before {
	-webkit-transform: translateX(1.5em);
	-moz-transform: translateX(1.5em);
	-ms-transform: translateX(1.5em);
	transform: translateX(1.5em);
}
.switch input[type='checkbox']:indeterminate:before {
	transform: translateX(0.75em);
}
