@layer kol-component {
	.switch .input {
		position: relative;
	}

	.switch input[type='checkbox'] {
		display: inline-block;
		height: 1.7em;
		min-width: 3.2em;
		position: relative;
		width: 3.2em;
	}

	.switch input[type='checkbox']::before {
		background-color: #000;
		height: 1.2em;
		left: calc(0.25em - 2px);
		top: calc(0.25em - 2px);
		position: absolute;
		transition: 0.5s;
		width: 1.2em;
	}

	.switch input[type='checkbox']:checked::before {
		transform: translateX(1.5em);
	}

	.switch input[type='checkbox']:indeterminate::before {
		transform: translateX(0.75em);
	}

	.switch .icon {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.2em;
		height: 1.2em;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 4px;
		transform: translate(0, -50%);
		transition: 0.5s;
		color: #000;
	}

	.switch.checked .icon {
		transform: translate(1.5em, -50%);
	}

	.switch.indeterminate .icon {
		transform: translate(0.75em, -50%);
	}
}
