@import './rem';

@mixin kol-alert-theme {
	--kolibri-border-width: 1px;

	.default {
		border-color: var(--color-anthrazit);
	}

	.heading {
		gap: rem(8);
	}

	.default .heading-icon {
		background-color: var(--color-anthrazit);
	}

	.error {
		border-color: var(--color-rotton);
	}

	.error .heading-icon {
		background-color: var(--color-rotton);
	}

	.info {
		border-color: var(--color-petrol);
	}

	.info .heading-icon {
		background-color: var(--color-petrol);
	}

	.success {
		border-color: var(--color-gras);
	}

	.success .heading-icon {
		background-color: var(--color-gras);
	}

	.warning {
		border-color: var(--color-warn);
	}

	.warning .heading-icon {
		background-color: var(--color-warn);
	}
}
