@mixin kol-table-stateless-wc {
	@layer kol-theme-component {
		.table {
			padding: 0.5em;
		}

		.table:has(.focus-element:focus) {
			outline-color: var(--color-petrol);
			outline-offset: 2px;
			outline-style: solid;
			outline-width: 3px;
			transition: outline-offset 0.2s linear;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			border: 1px solid var(--color-petrol);
			border-width: 0 1px 1px 1px;
		}

		tr {
			border-top: 1px solid var(--color-petrol);
		}

		th,
		td {
			border-right: 1px solid var(--color-petrol);

			&:last-child {
				border-right-width: 0;
			}
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		th,
		td {
			padding: 0.25em 0.5em;
		}

		th {
			background-color: #eee;
		}

		.table-sort-button .button {
			font-weight: bold;
		}

		.input {
			// CHECKBOX
			input[type='checkbox'] {
				&:checked {
					background-color: var(--color-petrol);
					border-color: var(--color-petrol);
				}

				&:focus {
					border-color: var(--color-petrol);
					outline-color: var(--color-petrol);
					outline-style: solid;
					outline-offset: 2px;
					outline-width: 3px;
				}
			}

			.icon {
				color: var(--color-weiss);
			}

			&.indeterminate {
				input {
					background-color: var(--color-weiss);
				}

				.icon {
					color: var(--color-petrol);
				}
			}

			// RADIO
			input[type='radio'] {
				display: flex;

				&:hover {
					border-color: var(--color-achat);
				}

				&:checked {
					border-color: var(--color-anthrazit);

					&:before {
						background-color: var(--color-petrol);
					}
				}

				&:focus {
					border-color: var(--color-petrol);
					border-color: var(--color-anthrazit);
					outline-style: solid;
					outline-offset: 2px;
					outline-width: 3px;
				}
			}
		}
	}
}
