@import '../functions';

@layer kol-theme-component {
	:host {
		--border-width: 1px;
		--spacing: 0.25rem;
	}

	kol-input {
		display: grid;
		align-items: center;
		justify-items: left;
		width: 100%;

		&:not(.hide-label) {
			grid-template-columns: calc(6 * var(--spacing)) auto;
		}

		&.switch:not(.hide-label) {
			grid-template-columns: calc(13 * var(--spacing)) auto;
		}

		&:has(input:focus) {
			outline: 2px solid var(--color-blue);
			outline-offset: 2px;
		}
	}

	label {
		font-size: rem(18);
		font-weight: bold;
		opacity: 1; // Override conflicting component styles

		kol-input.disabled & {
			color: var(--color-disabled-gray);
		}
	}

	.input {
		display: inline-flex;
		order: 1;
	}

	input {
		appearance: none;
		background-color: var(--color-white);
		opacity: 1; // Override conflicting component styles
		outline: none;
		transition: none; // Override conflicting component styles
	}

	.required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	.input-label {
		order: 2;
		padding-left: calc(2 * var(--spacing));
	}

	.error {
		order: 3;
		padding-top: 0.25em;
		grid-column: span 2 / auto;
	}

	/* variant default */
	.default {
		input[type='checkbox'] {
			border-radius: 2px;
			border: var(--border-width) solid var(--color-primary);
			height: calc(6 * var(--spacing));
			min-width: calc(6 * var(--spacing));
			width: calc(6 * var(--spacing));

			&:is(:checked, :indeterminate) {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}

			&:disabled {
				border-color: var(--color-disabled-gray);
				background-color: var(--color-secondary-40);
			}

			&:enabled:hover {
				outline: 1px solid var(--color-primary); /* Increase visual border-width without shifting contents */
			}
			&:enabled:hover:is(:checked, :indeterminate) {
				background: var(--color-white);
				outline-color: var(--color-primary-60);
				border-color: var(--color-primary-60);
			}

			&:checked::before {
				left: calc(1.5 * var(--spacing) - var(--border-width));
				top: calc(2.85 * var(--spacing) - var(--border-width));
				transform: rotate(40deg) translate(-50%, -50%);
				background-color: transparent;
				border-width: 0 3px 3px 0;
				border-color: var(--color-white);
				border-style: solid;
				height: calc(3 * var(--spacing));
				width: calc(1.5 * var(--spacing));
			}
			&:checked:enabled:hover::before {
				border-color: var(--color-primary-60);
			}
			&:checked:disabled::before {
				border-color: var(--color-disabled-gray);
			}

			&:indeterminate::before {
				background-color: var(--color-white);
				height: 0.3rem;
				top: 0.5rem;
				left: 0.2rem;
				width: calc(4 * var(--spacing));
				transform: rotate(45deg);
			}
			&:indeterminate:enabled:hover::before {
				background-color: var(--color-primary-60);
			}
			&:indeterminate:disabled::before {
				background-color: var(--color-disabled-gray);
			}
		}
	}

	/* variant switch */
	.switch {
		input[type='checkbox'] {
			border-radius: 1.7em;
			border-width: 1px;
			border-color: var(--color-primary);
			transition:
				0.5s background-color,
				border-color;

			&:enabled:hover {
				border-color: var(--color-primary-60);
			}
			&:is(:checked, :indeterminate):enabled {
				background: var(--color-primary);
			}
			&:is(:checked, :indeterminate):enabled:hover {
				background: var(--color-primary-60);
			}
			&:disabled {
				border-color: var(--color-secondary);
			}
			&:is(:checked, :indeterminate):disabled {
				background: var(--color-secondary-40);
			}

			&::before {
				background: var(--color-white);
				border: 1px solid var(--color-primary);
				border-radius: 50%;
				height: 1.55em;
				width: 1.55em;
				left: 0;
				top: -1px;
				transform: translateX(-1px);
			}
			&:indeterminate::before {
				transform: translateX(calc(50% - 2px));
			}
			&:checked::before {
				transform: translateX(calc(100% - 4px));
			}
			&:enabled:hover::before {
				border-color: var(--color-primary-60);
			}
			&:disabled::before {
				background: var(--color-secondary-40);
				border-color: var(--color-secondary);
			}
		}

		.icon {
			display: none;
		}
	}
}
