@use '../functions/to-rem' as *;
@use './icon' as *;

@mixin alert {
	@include icon;

	.kol-alert {
		$root: &;

		--alert-msg-text-color: var(--alert-accent-color);
		color: var(--color-dark-blue-100);
		background: var(--alert-background-color, #fdfefe);
		position: relative;

		font-family: var(--font-family);
		line-height: 1.25;

		&--variant-card {
			box-shadow: inset to-rem(7) 0 0 var(--alert-accent-color);
			border-radius: var(--radius-l);
			gap: 0 to-rem(8);
			grid-template-areas:
				'icon heading close'
				'icon content content';
			grid-template-columns: min-content 1fr min-content;
			grid-template-rows: min-content min-content;
			max-width: to-rem(480);
			padding: to-rem(4) to-rem(4) to-rem(16) to-rem(16);
			border: var(--border-width-s) solid var(--alert-accent-color);

			&:not(:has(#{$root}__heading)) {
				grid-template-areas: 'icon content close';
				grid-template-rows: min-content;

				#{$root}__content {
					padding-top: to-rem(12);
				}
			}

			&:not(:has(#{$root}__closer)) {
				padding-right: to-rem(36);
			}

			#{$root}__heading,
			#{$root}__icon {
				padding-top: to-rem(12);
			}

			#{$root}__closer {
				font-size: to-rem(24);
			}
		}

		&--variant-msg {
			color: var(--alert-msg-text-color);
			display: block;

			&:has(#{$root}__closer) {
				padding-right: to-rem(26);
			}

			&:has(#{$root}__icon) {
				padding-left: to-rem(20);
			}

			#{$root}__closer {
				position: absolute;
				right: 0;
				width: to-rem(20);
				height: to-rem(20);

				font-size: to-rem(16);

				.kol-button {
					min-width: to-rem(20);
					min-height: to-rem(20);
				}
			}

			#{$root}__heading,
			#{$root}__content {
				display: inline;
				margin-right: to-rem(4);
			}

			#{$root}__icon {
				display: flex;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
			}

			&#{$root}--type-default {
				padding-left: 0;
			}
		}

		&__closer {
			--kol-icon-alternative: '\ea2a';
		}

		&--type-default {
			--alert-accent-color: var(--color-blue-30);
			--alert-background-color: #fcfdfe;
			--alert-msg-text-color: var(--color-dark-blue-100);
		}

		&--type-error {
			--alert-accent-color: var(--color-red-100);

			&.kol-alert--variant-msg {
				--kol-icon-alternative: '\ea3a';
			}
		}

		&--type-info {
			--alert-accent-color: var(--color-blue-100);

			&.kol-alert--variant-msg {
				--kol-icon-alternative: '\ea51';
			}
		}

		&--type-success {
			--alert-accent-color: var(--color-green-100);

			&.kol-alert--variant-msg {
				--kol-icon-alternative: '\ea19';
			}
		}

		&--type-warning {
			--alert-accent-color: var(--color-yellow-100);

			&.kol-alert--variant-msg {
				--kol-icon-alternative: '\ea03';
			}
		}

		&__heading {
			margin: 0;
		}

		&__icon {
			color: var(--alert-accent-color);

			#{$root}--variant-card & {
				font-size: to-rem(24);
			}

			#{$root}--variant-msg & {
				font-size: to-rem(16);

				&::before {
					content: var(--kol-icon-alternative);
				}
			}

			#{$root}--type-default & {
				display: none;
			}
		}
	}
}
