@use '../functions/to-rem' as *;

@mixin kol-badge {
	.kol-badge {
		--kol-badge-border-radius: 25px; // maximal rund mit und ohne smart button

		border-radius: var(--kol-badge-border-radius);
		display: inline-flex;
		align-items: center;
		justify-content: center;

		font-family: var(--font-family);
		font-size: to-rem(14.4);
		line-height: 1.25;

		&--has-smart-button {
			--a11y-min-size: #{to-rem(36)};
		}

		&__label {
			border-radius: var(--kol-badge-border-radius);
			padding: 0 to-rem(8);

			.kol-span__container {
				display: flex;
				gap: to-rem(4);
			}
		}
	}
}
