@use '../functions/to-rem' as *;
@use './button' as *;

@mixin card {
	@include button('kol-button');

	.kol-card {
		font-family: var(--font-family);
		width: 100%;
		height: 100%;
		background-color: var(--color-blue-100-06);
		border-radius: 4px;
		padding: to-rem(18) to-rem(18) to-rem(24) to-rem(32);
		gap: to-rem(16) 0;
		transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);

		&__header {
			display: flex;
			align-items: flex-start;
			font-size: to-rem(19.2);
			line-height: 1.25;
			font-weight: 700;
			color: var(--color-dark-blue-100);
			padding-top: to-rem(6);
			padding-right: to-rem(14);
			margin: 0;
		}

		&__content {
			width: 100%;
			overflow: hidden;
			font-size: to-rem(16);
			line-height: 1;
			font-weight: 400;
			color: var(--color-dark-blue-100);
			padding-right: to-rem(32);
		}

		&__close-button {
			font-size: to-rem(24);
			line-height: to-rem(16);
		}
	}
}
