@use '../functions/to-rem' as *;

@mixin kol-custom-suggestions-toggle-theme {
	.kol-custom-suggestions-toggle {
		display: grid;
		place-items: center;
		border-left: 1px solid var(--border-color);
		font-size: to-rem(24);
		color: var(--border-color);
		transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
		flex: 0 0 var(--a11y-min-size);
		min-height: to-rem(40);

		&:focus {
			outline: 0;
		}

		.kol-input-container--error &:not(:disabled) {
			color: var(--color-blue-100);
		}

		&:not(:disabled):hover {
			background: var(--color-blue-100-06);
		}
	}
}
