@use '../functions/to-rem' as *;

@mixin kol-input {
	.kol-input {
		color: var(--color-dark-blue-100);
		font-weight: 400;
		border: none;

		&--readonly {
			color: var(--color-black-70);
		}

		&:disabled {
			color: var(--color-black-60);
			opacity: 1;

			&::placeholder {
				color: var(--color-black-60);
			}
		}

		&-container {
			background: var(--color-white-100);
		}
	}
}
