@use '../functions/to-rem' as *;

@mixin kol-form-field {
	.kol-form-field {
		$root: &;

		&__label {
			color: var(--color-dark-blue-100);
			margin-bottom: to-rem(4);

			font-weight: 700;
			line-height: 1.25;

			@at-root #{$root}--read-only & {
				color: var(--color-black-70);
			}

			@at-root #{$root}--disabled & {
				opacity: 1;
				color: var(--color-black-60);
			}

			&__read-only {
				display: none;
			}
		}

		&__msg {
			margin-top: to-rem(4);
		}

		&__hint {
			color: var(--color-black-70);
			margin-top: to-rem(4);

			font-size: to-rem(14.4);
			font-weight: 400;
			line-height: 1.25;
		}

		&__counter {
			color: var(--color-black-70);
			margin-top: to-rem(4);

			font-size: to-rem(14.4);
			font-weight: 400;
			line-height: 1.25;
		}

		&--required & {
			&__label-text {
				&::after {
					padding-left: 0.125em;
				}
			}

			&__tooltip {
				.span-label::after {
					padding-left: 0.125em;
				}
			}
		}
	}
}
