@use '../breakpoints' as *;
@use './button' as *;
@use './select' as *;
@use '../functions/to-rem' as *;

@mixin pagination() {
	@include button('kol-button');
	@include select();

	.kol-pagination {
		gap: to-rem(12);

		&__navigation-list {
			gap: to-rem(4);
		}

		&__separator {
			color: var(--color-dark-blue-100);

			&::before {
				content: '...';
			}
		}

		&__page-size-select {
			@media (max-width: $breakpoint-md) {
				grid-row: 1;
			}

			@media (min-width: $breakpoint-md) {
				width: max-content;
				margin-left: auto;
				grid-column: 1;
				grid-row: 1;
			}
		}

		.kol-button {
			@include ghostButton();

			&__text {
				min-width: unset !important; // override style from button mixin
				font-weight: 400;
			}
		}

		&__button {
			&--selected .kol-button {
				--text-color: var(--color-black);
			}
		}

		.kol-form-field-select {
			gap: to-rem(8);

			.kol-input-container {
				--border-color: transparent;
				margin-top: 0;

				.kol-select {
					color: var(--color-blue-100);
				}

				&:hover {
					.kol-select {
						text-decoration: underline;
					}
				}
			}

			.kol-form-field__label {
				font-weight: 400;
			}
		}
	}
}
