@use '../@shared/input-core' as *;
@use '../functions/to-rem' as *;

@mixin select {
	.kol-select {
		color: var(--color-dark-blue-100);
		background: var(--color-white-100);

		line-height: 1.5;
		appearance: none; // hide the native "arrow icon"
		border: none;

		&[multiple][size='1'],
		&:not([multiple]) {
			padding-right: calc(var(--a11y-min-size) + #{to-rem(7)});
			padding-left: to-rem(7);
		}

		&[multiple][size='1'],
		&:not([multiple], [size]) {
			height: to-rem(34);
		}

		&:disabled {
			opacity: 1;
			color: var(--color-black-60);
		}

		&:focus {
			outline: none;
		}

		&__option {
			&:active:not(:disabled),
			&:checked:not(:disabled),
			&:focus:not(:disabled),
			&:hover:not(:disabled) {
				color: var(--color-white-100);
				background-color: var(--color-blue-100);
			}
		}

		&[multiple] &__option::before {
			margin-right: to-rem(8);
		}
	}

	.kol-input-container {
		$root: &;
		padding-top: 1px; // create space for the box-shadow
		padding-bottom: 1px;

		&:not(:has(select[multiple])) {
			padding-right: 1px;
			padding-left: 1px;
		}

		&:not(&--error):focus-within {
			--border-color: var(--color-dark-blue-100);
		}

		&__container:has(select[multiple][size='1']),
		&__container:not(:has(select[multiple])) {
			&::after {
				color: var(--color-blue-100);
				border-radius: 0 2px 2px 0;
				display: flex;
				position: absolute;
				top: -1px;
				right: -1px;
				bottom: -1px;
				width: var(--a11y-min-size);
				align-items: center;
				justify-content: center;

				content: var(--big-chevron-down);
				font-family: desy-icons;
				font-size: to-rem(24);
				pointer-events: none;
				transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);

				@at-root #{$root}:not(#{$root}--disabled):hover & {
					background: var(--color-blue-100-06);
				}

				@at-root #{$root}:not(#{$root}--disabled):focus-within & {
					background: var(--color-dark-blue-100-06);
				}

				@at-root #{$root}--disabled & {
					color: var(--color-black-60);
				}
			}
		}

		&__adornment {
			height: to-rem(34);
		}
	}
}
