@use '../functions/to-rem' as *;
@use './button' as *;
@use './focus-outline' as *;

@mixin table-settings {
	.kol-table-settings {
		right: to-rem(8);
		top: to-rem(8);

		&__content {
			padding: to-rem(24);
			@include button('kol-button');
		}

		&__error-message {
			display: block;
			margin-top: to-rem(16);
		}

		&__columns {
			padding: to-rem(8);
		}

		&__actions {
			border-top: 0.0625em solid #b7bec4;
			display: flex;
			gap: to-rem(8);
			justify-content: flex-end;
			margin-top: to-rem(16);
			padding-top: to-rem(16);
		}
	}

	.kol-button:focus {
		@include focus-outline;
	}
}
