:host

  progress,
  span
    display: block
    height: 0px
    overflow: hidden
    width: 0px

  .bar,
  .cycle
    transition: all .5s ease-in-out 0s
    transition-property: all
    transition-duration: .5s
    transition-timing-function: ease-in-out
    transition-delay: .25s

  .cycle
    transform-origin: 50% 50%
    transform: rotate(-90deg)
