@import '../@shared/mixins';
@import '../style';

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.horizontal ul {
	display: flex;
	flex-wrap: wrap;
}

nav.horizontal li {
	margin-left: rem(1.25);
	margin-right: rem(0.25);
}

nav.horizontal li:first-child {
	margin-left: 0;
}

nav.horizontal li:last-child {
	margin-right: 0;
}

nav.vertical li {
	margin-left: rem(1.75);
	margin-right: rem(0.5);
}

li.list-none {
	list-style-type: none !important;
	margin-left: 0;
}
