@use '../@shared/mixins' as *;
@use '../style' as *;

@layer kol-component {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	:is(ol, ul).horizontal {
		display: flex;
		flex-wrap: wrap;
	}

	:is(ol, ul).horizontal li {
		margin-right: to-rem(4);
		margin-left: to-rem(20);
	}

	:is(ol, ul).horizontal li:first-child {
		margin-left: 0;
	}

	:is(ol, ul).horizontal li:last-child {
		margin-right: 0;
	}

	:is(ol, ul).vertical li {
		margin-right: to-rem(8);
		margin-left: to-rem(28);
	}

	li.list-none {
		margin-left: 0;
		list-style-type: none !important;
	}
}
