@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.menu {
		position: fixed;
		display: block;
		list-style-type: none;

		& li {
			padding: rem(8);
			cursor: pointer;
		}
	}
}
