@use '../../assets/material-symbols-subset/variables' as *;

[class*=' kolicon-'] {
	$codIconToMaterial: (
		kolicon-plus: '\e926',
		kolicon-minus: $icon-remove,
		kolicon-chevron-down: $icon-arrow-down,
		kolicon-chevron-left: $icon-chevron-left,
		kolicon-chevron-right: $icon-chevron-right,
		kolicon-chevron-up: $icon-arrow-up,

		kolicon-eye-closed: $icon-visibility-off,
		kolicon-eye: $icon-visibility,
		kolicon-house: $icon-home,
		kolicon-link-external: $icon-open-in-new,
		kolicon-version: $icon-view-timeline,

		kolicon-alert-warning: $icon-warning,
		kolicon-alert-error: $icon-danger,
		kolicon-alert-success: $icon-success,
		kolicon-alert-info: $icon-info,

		kolicon-check: $icon-check,

		kolicon-cross: $icon-close,
		kolicon-chevron-double-left: $icon-keyboard-double-arrow-left,
		kolicon-chevron-double-right: $icon-keyboard-double-arrow-right,

		kolicon-cogwheel: $icon-settings,
		kolicon-settings: $icon-settings,

		kolicon-up: $icon-drive-folder-upload,
	);

	@each $class, $icon in $codIconToMaterial {
		&.#{$class} {
			font-family: material-symbols-subset;

			&::before {
				content: $icon;
			}
		}
	}
}
