@font-face {
  font-family: 'material-symbols-subset';
  src:
    url('fonts/material-symbols-subset.ttf?2xhh9z') format('truetype'),
    url('fonts/material-symbols-subset.woff?2xhh9z') format('woff'),
    url('fonts/material-symbols-subset.svg?2xhh9z#material-symbols-subset') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'material-symbols-subset' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-palette:before {
  content: "\e92b";
}
.icon-remove:before {
  content: "\e92c";
}
.icon-save:before {
  content: "\e92d";
}
.icon-settings:before {
  content: "\e92e";
}
.icon-unfold-less:before {
  content: "\e92f";
}
.icon-view-timeline:before {
  content: "\e930";
}
.icon-dark-mode:before {
  content: "\e900";
}
.icon-light-mode:before {
  content: "\e901";
}
.icon-brightness-medium:before {
  content: "\e902";
}
.icon-warning:before {
  content: "\e903";
}
.icon-visibility-off:before {
  content: "\e904";
}
.icon-visibility:before {
  content: "\e905";
}
.icon-success:before {
  content: "\e906";
}
.icon-sign-language:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-question-mark:before {
  content: "\e909";
}
.icon-open-in-new:before {
  content: "\e90a";
}
.icon-more-vert:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-logout:before {
  content: "\e90d";
}
.icon-keyboard-double-arrow-right:before {
  content: "\e90e";
}
.icon-keyboard-double-arrow-left:before {
  content: "\e90f";
}
.icon-info:before {
  content: "\e910";
}
.icon-help:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-easy-language:before {
  content: "\e914";
}
.icon-drive-folder-upload:before {
  content: "\e915";
}
.icon-draft:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-delete:before {
  content: "\e918";
}
.icon-danger:before {
  content: "\e919";
}
.icon-content-copy:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e91b";
}
.icon-chevron-right:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91d";
}
.icon-checklist:before {
  content: "\e91e";
}
.icon-check:before {
  content: "\e91f";
}
.icon-calendar-today:before {
  content: "\e920";
}
.icon-autorenew:before {
  content: "\e921";
}
.icon-arrow-back:before {
  content: "\e922";
}
.icon-arrow-forward:before {
  content: "\e923";
}
.icon-arrow-up:before {
  content: "\e924";
}
.icon-arrow-down:before {
  content: "\e925";
}
.icon-add:before {
  content: "\e926";
}
