@layer kol-theme-component {
	:host > div {
		font-family: var(--font-family);
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: grid;
		border-color: var(--kolibri-border-color);
		border-width: 1px;
		border-style: solid;
		border-radius: 0.25rem;
	}
	:host > div > kol-heading-wc {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
	:host > div > kol-heading-wc button {
		cursor: pointer;
		width: 100%;
		margin: 0;
		display: flex;
		gap: 0.5em;
		border: 0;
		align-items: center;
		overflow: hidden;
		font-size: inherit;
		line-height: 1.75em;
		background-color: transparent;
		padding: 0.5rem;
	}
	:host > div[part*='open'] > kol-heading-wc button {
		padding-bottom: 0;
	}
	:host > div[part*='open'] > kol-heading-wc button kol-icon {
		width: 1em;
	}
	:host > div div[part='header'],
	:host > div[part*='open'] div[part='content'] {
		margin: 0;
	}
	:host > div div[part='header'] {
		padding-left: 2rem;
	}
	:host > div[part*='open'] div[part='content'] {
		margin: 0;
		padding: 0 1rem 1rem 2.25rem;
	}
	:host > div > kol-heading-wc button kol-icon::part(icon) {
		color: var(--color-midnight);
	}
	button {
		cursor: pointer;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	.content {
		padding: 0.5rem;
	}
	:host > div > kol-heading-wc button kol-icon::part(close)::before {
		font-family: 'Font Awesome 6 Free';
		content: '\\f077';
	}
	:host > div > kol-heading-wc button kol-icon::part(open)::before {
		font-family: 'Font Awesome 6 Free';
		content: '\\f078';
	}
}
