@import '../mixins/rem';
@import '../mixins/typography.scss';

@layer kol-theme-component {
	:host > div {
		font-family: var(--font-family);
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		display: grid;
		border-color: var(--kolibri-border-color);
		border-width: 1px;
		border-style: solid;
		border-radius: rem(4);
	}

	:host > div > .kol-heading-wc {
		@include kol-typography-accordion;

		& button {
			cursor: pointer;
			width: 100%;
			margin: 0;
			display: flex;
			gap: 0.5em;
			border: 0;
			align-items: center;
			overflow: hidden;
			background-color: transparent;
			padding: rem(4);
		}
	}

	:host > div[part*='open'] > .kol-heading-wc button {
		padding-bottom: 0;
	}

	:host > div[part*='open'] > .kol-heading-wc button .kol-icon {
		width: 1em;
	}

	:host > div div[part='header'],
	:host > div[part*='open'] div[part='content'] {
		margin: 0;
	}

	:host > div div[part='header'] {
		padding-left: rem(32);
	}

	:host > div[part*='open'] div[part='content'] {
		margin: 0;
		padding: 0 rem(16) rem(16) rem(36);
	}

	:host > div > .kol-heading-wc button .kol-icon::part(icon) {
		color: var(--color-midnight);
	}

	button {
		cursor: pointer;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	.content {
		padding: rem(8);
	}

	:host > div > .kol-heading-wc button .kol-icon::part(close)::before {
		font-family: 'Font Awesome 6 Free';
		content: '\f077';
	}

	:host > div > .kol-heading-wc button .kol-icon::part(open)::before {
		font-family: 'Font Awesome 6 Free';
		content: '\f078';
	}
}
