@import '../mixins/button.scss';
@import '../mixins/rem';

@layer kol-theme-component {
	a,
	button {
		border-radius: rem(32) !important;
		font-family: var(--font-family-sans);
		/* text-transform: uppercase; */
	}

	a > .kol-span-wc,
	button > .kol-span-wc {
		border-radius: rem(32);
		border-style: solid;
		min-width: 44px;
		min-height: 44px;
		border-width: var(--spacing);
		font-size: inherit;
		/*line-height: 1.25em;*/
		/*padding: calc(4 * var(--spacing));*/
		padding: 0 rem(16);
	}

	@include kol-button;
}
