button {
	background-color: transparent;
}

a,
button {
	border-radius: 2rem !important;
	font-family: var(--font-family-sans);
	/* text-transform: uppercase; */
}

a > .kol-span-wc,
button > .kol-span-wc {
	border-radius: 2rem;
	border-style: solid;
	min-width: 44px;
	min-height: 44px;
	border-width: var(--spacing);
	font-size: inherit;
	/*line-height: 1.25em;*/
	/*padding: calc(4 * var(--spacing));*/
	padding: 0 1rem;
}

.button a.hide-label > .kol-span-wc,
.button button.hide-label > .kol-span-wc {
	padding: 0 0.5rem;
}

a > .kol-span-wc,
button > .kol-span-wc {
	gap: 0.25em;
	transition-delay: 0;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-property: background, color, border-color;
}

.kol-link-wc.primary > a > .kol-span-wc,
.kol-link-wc.primary > a:disabled:hover > .kol-span-wc,
button.primary > .kol-span-wc,
button.primary:disabled:hover > .kol-span-wc {
	background-color: var(--color-petrol);
	border-color: var(--color-petrol);
	color: var(--color-weiss);
}

.kol-link-wc.primary > a:hover > .kol-span-wc,
.kol-link-wc.primary > a:focus > .kol-span-wc,
button.primary:hover > .kol-span-wc,
button.primary:focus > .kol-span-wc {
	background-color: var(--color-achat);
	border-color: var(--color-achat);
}

.kol-link-wc.secondary > a > .kol-span-wc,
.kol-link-wc.secondary > a:disabled:hover > .kol-span-wc,
button.secondary > .kol-span-wc,
button.secondary:disabled:hover > .kol-span-wc {
	background-color: var(--color-weiss);
	border-color: var(--color-petrol);
	color: var(--color-petrol);
}

.kol-link-wc.secondary > a:hover > .kol-span-wc,
.kol-link-wc.secondary > a:focus > .kol-span-wc,
button.secondary:hover > .kol-span-wc,
button.secondary:focus > .kol-span-wc {
	background-color: var(--color-petrol);
	border-color: var(--color-petrol);
	color: var(--color-weiss);
}

.kol-link-wc.normal > a > .kol-span-wc,
.kol-link-wc.normal > a:disabled:hover > .kol-span-wc,
button.normal > .kol-span-wc,
button.normal:disabled:hover > .kol-span-wc {
	background-color: var(--color-weiss);
	border-color: var(--color-anthrazit);
	color: var(--color-anthrazit);
}

.kol-link-wc.normal > a:hover > .kol-span-wc,
.kol-link-wc.normal > a:focus > .kol-span-wc,
button.normal:hover > .kol-span-wc,
button.normal:focus > .kol-span-wc {
	background-color: var(--color-anthrazit);
	border-color: var(--color-anthrazit);
	color: var(--color-weiss);
}

.kol-link-wc.danger > a > .kol-span-wc,
.kol-link-wc.danger > a:disabled:hover > .kol-span-wc,
button.danger > .kol-span-wc,
button.danger:disabled:hover > .kol-span-wc {
	background-color: var(--color-weiss);
	border-color: var(--color-blut);
	color: var(--color-blut);
}

.kol-link-wc.danger > a:hover > .kol-span-wc,
.kol-link-wc.danger > a:focus > .kol-span-wc,
button.danger:hover > .kol-span-wc,
button.danger:focus > .kol-span-wc {
	background-color: var(--color-blut);
	border-color: var(--color-blut);
	color: var(--color-weiss);
}

.kol-link-wc.ghost > a > .kol-span-wc,
.kol-link-wc.ghost > a:disabled:hover > .kol-span-wc,
button.ghost > .kol-span-wc,
button.ghost:disabled:hover > .kol-span-wc {
	background-color: var(--color-ghost);
	border-color: transparent;
	color: var(--color-anthrazit);
}

.kol-link-wc.ghost > a:hover > .kol-span-wc,
.kol-link-wc.ghost > a:focus > .kol-span-wc,
button.ghost:hover > .kol-span-wc,
button.ghost:focus > .kol-span-wc {
	background-color: var(--color-ghost);
	border-color: var(--color-ghost);
	color: var(--color-anthrazit);
}
