@import '../mixins/rem';
@import '../mixins/alert-wc';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	label {
		color: var(--default-letter);
		font-size: 14px;
		line-height: 20px;
		gap: 8px;
		width: 100%;
		font-weight: bold;
	}

	.combobox {
		display: block;
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			width: 100%;
			padding: rem(4);
			color: var(--default-letter);
			border-width: 1px;
			border-style: solid;
			line-height: 24px;
			font-size: 16px;
			border-color: var(--kolibri-color-normal);
			border-radius: 0;
			background-color: #e8edf2 !important;

			.combobox:not(.combobox--disabled) &:hover {
				border-color: var(--default-border-hover);
				outline-color: var(--primary) !important;
				outline-offset: 0;
				outline-style: solid;
				outline-width: 1px;
			}
		}

		&__input {
			flex-grow: 1;
			border: none !important;
			background-color: #e8edf2 !important;
			border: none;
			width: calc(100% - rem(24));
			position: relative;

			&:focus {
				outline-offset: 0;
				outline-width: 0;
			}
		}

		&__icon {
			display: grid;
			place-items: center;
			padding-left: 1em;
			padding-right: 1em;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--kolibri-color-normal);
			background-color: #e8edf2 !important;
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
			max-height: calc($option-height * $visible-options + 2px);
		}

		&__item {
			display: flex;
			align-items: center;
			height: $option-height;
			padding: rem(10) rem(12);

			&:focus {
				background-color: var(--color-petrol);
				color: var(--color-weiss);
				outline: 0 !important;
			}
		}
	}

	label {
		color: var(--color-anthrazit);
		font-size: 14px;
		line-height: 20px;
		gap: 8px;
		width: 100%;
		font-weight: bold;
	}

	.kol-alert-wc {
		margin-top: calc(2 * var(--spacing));
		display: block;
	}

	.kol-required span::after {
		content: '*';
	}
}
