@layer kol-theme-component {
	details > summary {
		border-radius: var(--border-radius);
		font-family: var(--font-family);
	}

	details .kol-indented-text {
		margin: 0.25rem 0 0 0.65rem;
	}

	.kol-icon {
		font-size: 1.2rem;
	}
}
