@import '../mixins/typography.scss';

@layer kol-theme-component {
	.headline-h1,
	.headline-h2,
	.headline-h3,
	.headline-h4,
	.headline-h5,
	.headline-h6 {
		margin: 0;
		padding: 0;
	}

	.headline-h1 {
		@include kol-typography-h1;
	}

	.headline-h2 {
		@include kol-typography-h2;
	}

	.headline-h3 {
		@include kol-typography-h3;
	}

	.headline-h4 {
		@include kol-typography-h4;
	}

	.headline-h5 {
		@include kol-typography-h5;
	}

	.headline-h6 {
		@include kol-typography-h6;
	}
}
