@use '../@shared/label.scss';

@import '../mixins/alert-wc.scss';
@import '../mixins/rem';
@import '../mixins/typography.scss';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	label {
		font-weight: normal;
	}

	:host input:focus {
		outline-color: var(--color-achat) !important;
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 3px;
	}

	input {
		@include kol-typography-body;
		width: 100%;
		color: var(--color-anthrazit);
		border-color: var(--default-border);
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		/* padding: 10px 14px; */
	}

	input:hover {
		border-color: var(--color-achat);
	}

	.kol-alert-wc {
		display: block;
		width: 100%;
		order: 3;
	}

	.kol-required span::after {
		content: '*';
	}

	/* RADIO */
	fieldset {
		border: 0px;
		margin: 0px;
		padding: 0px;
		flex-wrap: wrap;
	}

	fieldset .hint,
	fieldset .kol-input .hint {
		@include kol-typography-hint;
	}

	fieldset .hint {
		order: 4;
	}

	fieldset .kol-input {
		display: grid;
		order: 2;
	}

	fieldset .kol-input .hint {
		order: 3;
	}

	fieldset.horizontal {
		gap: rem(16);
		align-items: flex-start;
	}

	fieldset legend {
		display: block;
		width: 100%;
		line-height: 1.5;
	}

	.radio-input-wrapper,
	.input {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		gap: 0.5em;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		align-items: center;
		position: relative;
	}

	.radio-label {
		cursor: pointer;
		display: flex;
		width: 100%;
	}

	.radio-label span {
		margin-top: 0.125em;
	}

	.radio-input-wrapper input[type='radio'] {
		appearance: none;
		transition: 0.5s;
		border-radius: 100%;
		height: calc(6 * 2 * var(--spacing));
		min-width: calc(6 * 2 * var(--spacing));
		width: calc(6 * 2 * var(--spacing));
	}

	.radio-input-wrapper input[type='radio']:checked:before {
		box-shadow: 0 0 rem(1.6) black;
		background-color: var(--color-petrol);
	}

	.radio-input-wrapper input[type='radio']:disabled {
		background-color: var(--color-input-bg-default);
		border-color: #999;
		cursor: not-allowed;
	}

	.kol-alert-wc {
		width: 100%;
	}
}
