@import '../mixins/alert-wc.scss';
@import '../mixins/rem';
@import '../mixins/typography.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.inputs-wrapper {
		gap: rem(16);
	}

	.kol-input {
		gap: rem(4);
	}

	.kol-input .error {
		order: 1;
	}

	.kol-input label {
		order: 2;
	}

	.kol-input .input {
		order: 3;
	}

	.kol-input .hint {
		@include kol-typography-hint;
		order: 4;
	}

	input::placeholder {
		color: var(--color-subtle);
	}

	.input {
		background-color: var(--color-light);
		border-color: var(--color-subtle);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: 2px;
		padding: 0 rem(8);
	}

	.input > .kol-icon {
		width: rem(16);
	}

	.input.icon-left > .kol-icon:first-child {
		margin-right: rem(8);
	}

	.input.icon-right > .kol-icon:last-child {
		margin-left: rem(8);
	}

	.input:is(.icon-left, .icon-right) {
		padding-left: rem(16);
		padding-right: rem(16);
	}

	.input:hover {
		border-color: var(--color-primary);
	}

	input:disabled {
		cursor: not-allowed;
	}

	.required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	.kol-input.error {
		border-left: 3px solid var(--color-danger);
		padding-left: rem(16);
	}

	.kol-input.error .input:focus-within {
		outline-color: var(--color-danger) !important;
	}

	.kol-input.error .kol-alert-wc.error {
		color: var(--color-danger);
		font-weight: 700;
	}

	.kol-input.disabled :is(input, label) {
		opacity: 1;
	}

	.kol-input.disabled :is(.input) {
		background-color: var(--color-mute);
		border-color: var(--color-mute-variant);
		color: var(--color-text);
	}
}
