/* INPUT */
:host input:focus {
	outline-color: var(--color-achat) !important;
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 3px;
}

label {
	color: var(--color-anthrazit);
	font-size: 14px;
	line-height: 20px;
	gap: 8px;
	width: 100%;
}

input {
	width: 100%;
	color: var(--color-anthrazit);
	border-color: var(--default-border);
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	/* padding: 10px 14px; */
	line-height: 24px;
	font-size: 16px;
}

input:hover {
	border-color: var(--color-achat);
}

kol-alert {
	display: block;
	width: 100%;
}

.kol-required span::after {
	content: '*';
}

/* RADIO */
fieldset {
	border: 0px;
	margin: 0px;
	padding: 0px;
	flex-wrap: wrap;
}

fieldset.horizontal {
	gap: 1rem;
}

fieldset legend {
	display: block;
	width: 100%;
	line-height: 1.5em;
}

fieldset div {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	align-items: center;
	position: relative;
}

fieldset div label {
	cursor: pointer;
	display: flex;
	width: 100%;
}

fieldset div label span {
	margin-top: 0.125em;
}

fieldset div input[type='radio'] {
	appearance: none;
	transition: 0.5s;
	border-radius: 100%;
	height: calc(6 * 2 * var(--spacing));
	min-width: calc(6 * 2 * var(--spacing));
	width: calc(6 * 2 * var(--spacing));
}

fieldset div input[type='radio']:checked:before {
	box-shadow: 0 0 0.1rem black;
	background-color: var(--color-petrol);
}

fieldset div input[type='radio']:disabled {
	background-color: var(--color-input-bg-default);
	border-color: #999;
	cursor: not-allowed;
}

kol-alert {
	width: 100%;
}
