@use '../mixins/rem' as *;

@layer kol-theme-component {
	:host > div > nav ul {
		background-color: var(--color-petrol);
		border-radius: var(--border-radius);
		margin: 0;
		padding: 0;
		list-style: none;
	}

	:host > div > nav ul > li {
		border-radius: var(--border-radius);
		padding: 0.125em;
	}

	:host > div > nav ul > li[part*='vertical'] + li {
		border-radius: 0;
		border-top: 0.1em dotted white;
	}

	:host > div > nav ul > li[part*='vertical selected'] {
		border-right: 0.375em solid var(--color-citrin);
	}

	:host > div > nav ul > li[part*='horizontal'] + li {
		border-radius: 0;
		border-left: 0.1em dotted white;
	}

	:host > div > nav ul > li[part*='horizontal selected'] {
		border-bottom: 0.375em solid var(--color-citrin);
	}

	:host > div > nav ul > li > div {
		height: 100%;
	}

	:host > div > nav .kol-link-wc {
		/*height: 100%;font-weight: 600;*/
		display: block;
		width: 100%;
	}

	:host > div > nav .kol-link-wc a {
		color: white;
		background-color: var(--color-petrol);
		border-radius: var(--border-radius);
		display: flex;
		height: 100%;
		padding: 0.5em;
		align-items: center;
		grid: flex;

		line-height: 2;
		text-decoration: inherit;
		border: 1px solid transparent;
		-webkit-box-align: center;
		cursor: pointer;
	}

	:host > div > nav .kol-link-wc[exportparts*='selected'] a {
		background-color: var(--color-achat);

		font-weight: 700;
	}

	:host > div > nav .kol-link-wc a .kol-icon.mr-2 {
		margin-right: calc(2 * 2 * var(--spacing));
	}

	:host > div > nav .kol-link-wc a .kol-icon.ml-2 {
		margin-left: calc(2 * 2 * var(--spacing));
	}

	:host > div > nav .kol-link-wc a:focus,
	:host > div > nav .kol-link-wc a:hover {
		color: var(--color-anthrazit);
		background-color: var(--color-fluorit);
		border: 1px solid white;
	}

	/* compact button */
	:host > div > div:last-child {
		margin-top: 0.5em;
		text-align: center;
	}

	:host > div > nav .kol-link-wc a.text-center {
		display: grid;
		align-items: center;
		justify-items: center;
	}

	/* horizontal */
	ul.flex {
		display: flex;
	}

	li > div > div.absolute {
		position: absolute;
	}

	.kol-span-wc {
		justify-items: baseline;
	}

	.toggle-button :is(a, button) > .kol-span-wc,
	.toggle-button :is(a, button):disabled:hover > .kol-span-wc {
		color: var(--color-anthrazit);
		background-color: var(--color-ghost);
		border-color: transparent;
		border-style: solid;
		border-radius: 32px;
		display: grid;
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: 0 rem(8);
		border-width: var(--spacing);
		place-items: center;
	}

	.toggle-button :is(a, button):hover > .kol-span-wc,
	.toggle-button :is(a, button):focus > .kol-span-wc {
		color: var(--color-anthrazit);
		background-color: var(--color-ghost);
		border-color: var(--color-ghost);
	}
}
