@import '../mixins/rem';

@layer kol-theme-component {
	.button {
		border-radius: rem(32);
		font-family: var(--font-family-sans);
	}
	.button-inner {
		background-color: var(--color-weiss);
		border-radius: rem(32);
		border: var(--spacing) solid var(--color-anthrazit);
		color: var(--color-anthrazit);
		font-size: inherit;
		gap: 0.25em;
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: 0 rem(16);
		transition-duration: 0.5s;
		transition-property: background, color, border-color;
		transition-timing-function: ease-in-out;
	}
	.hide-label .button-inner {
		padding: 0 rem(8);
	}
	.button:not(:disabled):hover .button-inner,
	.button:focus .button-inner {
		background-color: var(--color-anthrazit);
		border-color: var(--color-anthrazit);
		color: var(--color-weiss);
	}
	.button:disabled .button-inner {
		cursor: not-allowed;
		opacity: 0.5;
	}
	.selected .button-inner {
		background-color: var(--color-achat);
		border-color: var(--color-achat);
		color: var(--color-weiss);
		font-weight: bold;
		opacity: 1;
		text-decoration: underline;
	}
}
