@use '../mixins/button' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	@include kol-button;

	button > .kol-span-wc {
		border-style: solid;
		border-radius: rem(32);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: 0 rem(16);
		border-width: var(--spacing);
	}
}
