@use '../@shared/label.scss';
@use '../@shared/kol-alert-wc.scss';
@use '../@shared/kol-required.scss';

@import '../mixins/alert-wc.scss';
@import '../mixins/typography.scss';
@import '../mixins/input-base.scss';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.error select {
		@include kol-input-error;
	}

	select {
		@include kol-typography-body;
		@include kol-input-container-base;

		width: 100%;
	}

	option {
		min-height: 2em;
	}

	select:not([multiple]) option {
		padding: 0.5em;
	}
}
