@use '../@shared/label' as *;
@use '../@shared/kol-alert-wc' as *;
@use '../@shared/kol-required' as *;

@use '../mixins/alert-wc' as *;
@use '../mixins/rem' as *;
@use '../mixins/typography' as *;
@use '../mixins/input-base' as *;

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.single-select {
		display: block;
		position: relative;

		&__group {
			@include kol-typography-body;
			@include kol-input-container-base;

			display: inline-flex;
			width: 100%;
			min-height: var(--a11y-min-size);
			padding: rem(4);
			align-items: center;
			text-align: left;

			.single-select:not(.disabled) &:hover {
				outline-color: var(--primary);
				outline-style: solid;
				outline-width: 1px;
				border-color: var(--default-border-hover);
				outline-offset: 0;
			}
		}

		&__input {
			background-color: transparent;
			position: relative;
			width: calc(100% - rem(40));
			flex-grow: 1;
			border: none;

			&:focus {
				outline-width: 0;
				outline-offset: 0;
			}
		}

		&__button {
			display: grid;
			padding-left: 1em;
			place-items: center;
			cursor: pointer;

			&:focus {
				outline: 0;
			}
		}

		&__listbox {
			background-color: #e8edf2;
			border-color: var(--kolibri-color-normal);
			border-style: solid;
			border-radius: var(--border-radius);
			width: 100%;
			max-height: calc($option-height * $visible-options + rem(2));
			border-width: 1px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&__item {
			min-height: $option-height;
			padding: rem(10) rem(12);

			.radio-label {
				padding-left: 1em;
				align-self: center;
			}

			&[aria-selected],
			&:focus,
			&.highlighted {
				background-color: var(--color-petrol);
				outline: 0;

				.radio-label {
					color: var(--color-weiss);
				}
			}
		}
	}

	.error {
		.single-select__group {
			@include kol-input-error;
		}
	}
}
