@import '../mixins/alert-wc.scss';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	label {
		color: var(--default-letter);
		font-size: 14px;
		line-height: 20px;
		gap: 8px;
		width: 100%;
		font-weight: bold;
	}

	.single-select {
		display: block;
		margin-bottom: 1.5rem;
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			width: 100%;
			padding: 0.25rem;
			color: var(--default-letter);
			border-width: 1px;
			border-style: solid;
			line-height: 24px;
			font-size: 16px;
			border-color: var(--kolibri-color-normal);
			border-radius: 0;
			background-color: #e8edf2 !important;

			&:hover,
			&:focus {
				border-color: var(--default-border-hover);
				outline-color: var(--primary) !important;
				outline-offset: 0;
				outline-style: solid;
				outline-width: 1px;
			}
		}

		&__input {
			flex-grow: 1;
			border: none !important;
			background-color: #e8edf2 !important;
			border: none;
			width: calc(100% - 2.5rem);
			position: relative;

			&:focus {
				outline-offset: 0;
				outline-width: 0;
			}
		}

		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--kolibri-color-normal);
			max-height: 15.625rem;
			background-color: #e8edf2 !important;
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
		}

		&__item {
			height: 3em;
			padding: 0.62rem 0.75rem;
			cursor: pointer;

			.radio-label {
				align-self: center;
				padding-left: 1em;
			}

			&:hover {
				background: var(--color-petrol);

				.radio-label {
					color: var(--color-weiss);
				}
			}

			&:focus,
			&.highlighted {
				background: var(--color-petrol);
				outline: 0 !important;

				.radio-label {
					color: var(--color-weiss);
				}
			}
		}
	}

	label {
		color: var(--color-anthrazit);
		font-size: 14px;
		line-height: 20px;
		gap: 8px;
		width: 100%;
		font-weight: bold;
	}

	.kol-alert-wc {
		margin-top: calc(2 * var(--spacing));
		display: block;
	}

	.kol-required span::after {
		content: '*';
	}
}
