@use '../@shared/label.scss';
@use '../@shared/kol-alert-wc.scss';
@use '../@shared/kol-required.scss';

@import '../mixins/alert-wc';
@import '../mixins/rem';
@import '../mixins/typography.scss';
@import '../mixins/input-base.scss';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.single-select {
		display: block;
		position: relative;

		&__group {
			@include kol-typography-body;
			@include kol-input-container-base;

			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			width: 100%;
			padding: rem(4);

			.single-select:not(.disabled) &:hover {
				border-color: var(--default-border-hover);
				outline-color: var(--primary);
				outline-offset: 0;
				outline-style: solid;
				outline-width: 1px;
			}
		}

		&__input {
			flex-grow: 1;
			background-color: transparent;
			border: none;
			width: calc(100% - rem(40));
			position: relative;

			&:focus {
				outline-offset: 0;
				outline-width: 0;
			}
		}

		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;

			&:focus {
				outline: 0;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--kolibri-color-normal);
			max-height: calc($option-height * $visible-options + 2px);
			background-color: #e8edf2;
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
		}

		&__item {
			height: 1;
			padding: rem(10) rem(12);

			.radio-label {
				align-self: center;
				padding-left: 1em;
			}

			&:focus,
			&.highlighted {
				background-color: var(--color-petrol);
				outline: 0;

				.radio-label {
					color: var(--color-weiss);
				}
			}
		}
	}

	.error {
		.single-select__group {
			@include kol-input-error;
		}
	}
}
