@use '../mixins/rem' as *;

@layer kol-theme-component {
	.kol-link-wc > a > .kol-span-wc {
		color: var(--color-weiss);
		background-color: var(--color-petrol);
		border-color: var(--color-petrol);
		border-style: solid;
		border-radius: 32px;
		padding: 0 rem(16);
		gap: rem(8);

		line-height: 1;
		cursor: pointer;
	}
}
