@import '../mixins/rem';

@layer kol-theme-component {
	:host > div {
		display: block;
		width: 100%;
	}

	:host .tabs-button-group {
		display: flex;
		background-color: var(--color-petrol);
	}

	:host .tabs-button-group > div {
		display: inline-flex;
	}

	:host .tabs-button-group > div + div {
		margin-left: 0.25em;
	}

	.tabs-content {
		padding: 0.25em;
		border: 1px solid var(--border-color);
	}

	button {
		box-sizing: border-box;
		font-size: inherit;
		line-height: 1.25;
		cursor: pointer;
		border-width: 2px;
		box-shadow: 0 0 0.25em gray;
		width: inherit;
		overflow: hidden;
		border-style: solid;
		padding: calc(4 * var(--spacing));
		display: grid;
		gap: 0.25em;
		align-items: center;
		justify-content: center;
		text-align: center;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;
	}

	.kol-button-wc button.selected,
	.kol-button-wc[aria-selected='true'] button {
		background-color: white;
		border-bottom-width: 0.25em !important;
		border-bottom-style: solid;
		border-bottom-color: var(--color-citrin) !important;
	}

	button > .kol-span-wc span {
		display: flex;
		gap: 0.25em;
		align-items: center;
		justify-content: center;
	}

	button:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	button.primary,
	button.primary:disabled:hover {
		background-color: var(--kolibri-color-primary);
		border-color: var(--kolibri-color-primary);
		color: white;
	}

	button.primary:hover,
	button.primary:focus {
		color: var(--kolibri-color-primary);
	}

	button.secondary,
	button.secondary:disabled:hover {
		background-color: var(--kolibri-color-secondary);
		border-color: var(--kolibri-color-secondary);
		color: white;
	}

	button.secondary:hover,
	button.secondary:focus {
		color: var(--kolibri-color-secondary);
	}

	button.normal,
	button.normal:disabled:hover {
		background-color: var(--color-petrol);
		border-color: var(--color-petrol);
		color: white;
	}

	button.normal:hover,
	button.normal:focus {
		color: var(--color-petrol);
	}

	button.danger,
	button.danger:disabled:hover {
		background-color: var(--kolibri-color-danger);
		border-color: var(--kolibri-color-danger);
		color: white;
	}

	button.danger:hover,
	button.danger:focus {
		color: var(--kolibri-color-danger);
	}

	button.ghost,
	button.ghost:disabled:hover {
		background-color: white;
		border-color: var(--kolibri-color-ghost);
		color: var(--kolibri-color-ghost);
	}

	button.ghost:hover,
	button.ghost:focus {
		background-color: var(--kolibri-color-ghost);
		color: white;
	}

	button:hover,
	button:focus {
		background-color: white;
		box-shadow: 0 0 0.25em black;
	}

	button:active {
		outline: 0 !important;
		box-shadow: none !important;
	}

	.close-button {
		font-size: 25%;
		height: fit-content;
		width: 0;
	}

	.close-button button {
		width: rem(16);
		position: relative;
		height: rem(16);
		left: -4.25em;
		top: 0.25em;
	}

	:host > div {
		display: grid;
	}

	:host > div.tabs-align-left {
		grid-template-columns: auto 1fr;
	}

	:host > div.tabs-align-right {
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-left .tabs-button-group,
	:host > .tabs-align-top .tabs-button-group {
		order: 0;
	}

	:host > .tabs-align-bottom .tabs-button-group,
	:host > .tabs-align-right .tabs-button-group {
		order: 1;
	}

	:host > div.tabs-align-left .tabs-button-group > div,
	:host > div.tabs-align-left .tabs-button-group > div > div,
	:host > div.tabs-align-right .tabs-button-group > div,
	:host > div.tabs-align-right .tabs-button-group > div > div {
		display: grid;
	}

	:host > div.tabs-align-left .tabs-button-group > div > div .kol-button-wc,
	:host > div.tabs-align-right .tabs-button-group > div > div .kol-button-wc {
		width: 100%;
	}

	:host > div.tabs-align-bottom .tabs-button-group div,
	:host > div.tabs-align-top .tabs-button-group div {
		display: flex;
		flex-wrap: wrap;
	}
}
