@use '../@shared/label.scss';
@use '../@shared/kol-alert-wc.scss';
@use '../@shared/kol-required.scss';

@import '../mixins/alert-wc.scss';
@import '../mixins/typography.scss';
@import '../mixins/input-base.scss';

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	textarea {
		@include kol-typography-body;
		@include kol-input-base;

		width: 100%;
	}

	.error textarea {
		@include kol-input-error;
	}

	textarea:read-only {
		border-color: var(--border-default);
		background-color: var(--background-light-grey);
	}
}
