@use '../@shared/label' as *;
@use '../@shared/kol-alert-wc' as *;
@use '../@shared/kol-required' as *;

@use '../mixins/alert-wc' as *;
@use '../mixins/typography' as *;
@use '../mixins/input-base' as *;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	textarea {
		@include kol-typography-body;
		@include kol-input-base;

		width: 100%;
	}

	.error textarea {
		@include kol-input-error;
	}

	textarea:read-only {
		border-color: var(--border-default);
		background-color: var(--background-light-grey);
	}
}
