@use './alert' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	:host {
		transform: translateX(-50%);
		top: rem(16);
		left: 50%;
		width: rem(750);
		max-width: 100%;
	}

	.toast {
		background-color: #fff;
		margin-top: rem(16);

		.heading {
			width: 100%;

			.heading-content {
				flex: 1;
			}
		}
	}
}
