@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		top: rem(16);
		width: 750px;
		max-width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.toast {
		background-color: #fff;
		margin-top: rem(16);
	}
}
