@layer kol-theme-component {
	.toolbar {
		padding: 0.5rem;
		border-width: 1px;
		border-style: solid;
		border-radius: 0.25rem;
		border-color: var(--kolibri-border-color);
		background-color: var(--color-white);
	}
}
