@import '../mixins/rem';

@layer kol-theme-component {
	.toolbar {
		padding: rem(8);
		border-width: rem(1);
		border-style: solid;
		border-radius: rem(4);
		border-color: var(--kolibri-border-color);
		background-color: var(--color-white);
	}
}
