@import '../mixins/rem';

@layer kol-theme-component {
	.tree {
		padding: rem(2);
		&:focus-within {
			border-radius: rem(2);
			outline-color: var(--color-achat);
			outline-style: solid;
			outline-width: 1px;
		}
	}
}
