@import '../mixins/rem';

@layer kol-theme-component {
	.tree-item {
		ul {
			display: flex;
			flex-direction: column;
		}
	}

	.tree-link {
		display: block;
		border: 2px solid transparent;
		border-radius: 0.25rem;

		&:hover,
		&:focus-within {
			border: 2px solid var(--border-color);

			& > a {
				outline-offset: 0;
				color: var(--color-petrol);
			}
		}

		&.active {
			background: var(--color-anthrazit);

			a {
				color: var(--color-weiss) !important;
			}
		}

		a {
			display: block;
			color: var(--color-black);
			text-decoration: none;
			text-align: left;
			padding-top: rem(6.4);
			padding-bottom: rem(6.4);
			padding-left: calc(1rem * var(--level));

			.toggle-button {
				display: inline-block;
				color: var(--color-blue);
			}

			&:focus {
				color: var(--color-petrol);
			}
		}
	}
}
