@import '../mixins/rem';

@layer kol-theme-component {
	.tree {
		ul {
			display: flex;
			flex-direction: column;
			border: rem(2) solid transparent;
			border-radius: rem(4);
		}

		&:focus-within {
			outline: 0;

			ul {
				border: rem(2) solid var(--color-petrol);
			}
		}
	}
}
