@import '../@shared/mixins';
@import '../../styles/global';

@layer kol-component {
	.kol-kolibri {
		display: inline-block;
		font-size: rem(16);
		max-height: 100%;
		&__text {
			font-size: rem(90);
			letter-spacing: normal;
			word-spacing: normal;
		}
	}
}
