@use '../@shared/mixins' as *;
@use '../style' as *;

@layer kol-component {
	:host {
		display: inline-block;
		font-size: rem(16);
	}

	text {
		font-size: rem(90);
		letter-spacing: normal;
		word-spacing: normal;
	}

	svg {
		max-height: 100%;
	}
}
