@import '../input-line';

label input[type='file']::-webkit-file-upload-button {
	display: none;
}

label input[type='file']:before {
	content: 'Datei auswählen';
}

label input[multiple]:before {
	content: 'Dateien auswählen';
}

div.input {
	cursor: pointer;
}
