@import '../@shared/mixins';
@import '../input-line';
@import '../@shared/kol-alert-mixin.scss';

@include kol-alert-styles;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	label input[type='file']::-webkit-file-upload-button {
		display: none;
	}

	label input[type='file']:before {
		content: 'Datei auswählen';
	}

	label input[multiple]:before {
		content: 'Dateien auswählen';
	}

	div.input {
		cursor: pointer;
	}
}
