@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

@layer kol-component {
	.kol-input {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: calc((var(--a11y-min-size) - to-rem(16)) / 10) 0.5em;
		opacity: 0;
		cursor: pointer;
		inset: 0;

		&::-webkit-file-upload-button,
		&::file-selector-button {
			cursor: pointer;
		}

		&:disabled,
		&:disabled::-webkit-file-upload-button,
		&:disabled::file-selector-button {
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	.kol-input-container {
		$root: &;

		&__container {
			display: flex;
			align-items: center;
			height: var(--a11y-min-size);
			overflow: hidden;
		}

		&__filename {
			flex-grow: 1;
			margin-left: to-rem(4);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:has(> #{$root}__adornment--start):has(> #{$root}__adornment--end) {
			grid-template-columns: auto 1fr;
		}
	}
}
