*
	font-size: 200%

span
	width: 4rem
	text-align: center

button
	background-color: #490e8d
	cursor: pointer
	width: 4rem
	height: 4rem
	border: none
	border-radius: 10px
	background-color: seagreen
	color: white
