@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}
	:host > span {
		font: normal normal var(--font-weight) 0.875rem/1em var(--font-family);
		padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
		text-transform: uppercase;
	}
}
