@import '../mixins-eu/alert-wc.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	.kol-input .error {
		order: 1;
	}

	label {
		font-weight: var(--font-weight-bold);
		order: 2;
	}

	.kol-input .input {
		order: 3;
	}

	.combobox {
		margin-bottom: 1.5rem;
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			width: 100%;
			min-height: 44px !important;
			color: var(--color-grey);
			order: 4;
			align-items: center;
			padding: 1px 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - 2.5rem);
			position: relative;

			&::placeholder {
				color: var(--color-grey-50);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-blue);
			}
		}

		&__icon {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;
			padding-right: 1em;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-blue);
			max-height: 15.625rem;
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
		}

		&__item {
			padding: 0.62rem 0.75rem;
			margin: 1px 0;
			cursor: pointer;

			&:focus {
				background: var(--color-blue);
				color: white;
				outline: 0 !important;
			}
		}
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		border: none;
		outline: none;
	}

	input,
	select:not([multiple]) {
		height: 44px !important;
		min-height: 44px !important;
	}

	label {
		font-weight: var(--font-weight-bold);
		order: 1;
	}

	.hint {
		font-size: 0.875rem;
		order: 2;
	}

	.kol-alert-wc {
		@include kol-alert-wc(--color-red);

		order: 3;
	}

	.input {
		min-height: 44px !important;
		border: 1px solid var(--color-grey-75);
		color: var(--color-grey);
		order: 4;
		align-items: center;
		padding: 1px;
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset 1px 1px var(--color-blue),
			inset -1px -1px var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue) !important;
	}

	.error .input {
		border-color: var(--color-red);
	}
}
