@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}
	.headline-h1,
	.headline-h2,
	.headline-h3,
	.headline-h4,
	.headline-h5,
	.headline-h6 {
		font-weight: var(--font-weight-bold);
	}
	.headline-h1 {
		font-size: rem(42);
		line-height: rem(52);
	}
	.headline-h2 {
		font-size: rem(36);
		line-height: rem(44);
	}
	.headline-h3 {
		font-size: rem(32);
		line-height: rem(40);
	}
	.headline-h4 {
		font-size: rem(28);
		line-height: rem(32);
	}
	.headline-h5 {
		font-size: rem(24);
		line-height: rem(28);
	}
	.headline-h6 {
		font-size: rem(20);
		line-height: rem(28);
	}
}
