@layer kol-theme-component {
	:host {
		--kolibri-spacing: 0.25rem;
		font-family: var(--font-family);
	}
	a,
	button {
		appearance: none;
		border-radius: 4px;
		text-decoration: none;
	}
	a:focus,
	button:focus {
		outline: none;
	}
	a > kol-span-wc,
	button > kol-span-wc {
		min-height: 44px;
		min-width: 44px;
		border-radius: 4px;
		font:
			normal normal 400 1rem/1.25rem arial,
			sans-serif;
		font-weight: 400;
		margin: 0;
		padding: 0.75rem;
	}
	a:focus-visible > kol-span-wc,
	button:focus-visible > kol-span-wc {
		outline-offset: -4px;
		outline-style: solid;
		outline-width: 2px;
	}
	a:active > kol-span-wc,
	button:active > kol-span-wc,
	a:hover > kol-span-wc,
	button:hover > kol-span-wc {
		box-shadow:
			0 2px 4px rgb(9 49 142 / 8%),
			0 0 10px rgb(9 49 142 / 4%),
			0 4px 5px rgb(9 49 142 / 4%),
			0 -4px 4px rgb(9 49 142 / 4%);
	}
	.primary a > kol-span-wc,
	.primary button > kol-span-wc {
		background-color: #0e47cb;
		color: #fff;
	}
	.primary a:focus-visible > kol-span-wc,
	.primary button:focus-visible > kol-span-wc {
		outline-color: #fff;
	}
	.primary a:hover > kol-span-wc,
	.primary button:hover > kol-span-wc {
		background-color: #3e6cd5;
	}
	.secondary a > kol-span-wc,
	.secondary button > kol-span-wc {
		background-color: #fff;
		border: 2px solid #0e47cb;
		color: #0e47cb;
		padding: calc(0.75rem - 2px) calc(1rem - 2px);
	}
	.secondary a:focus-visible > kol-span-wc,
	.secondary button:focus-visible > kol-span-wc {
		box-shadow: inset 0 0 0 4px #0e47cb;
		outline-color: #fff;
	}
	.secondary a:hover > kol-span-wc,
	.secondary button:hover > kol-span-wc {
		border-color: #0e47cb;
		color: #0e47cb;
	}
	.normal a > kol-span-wc,
	.normal button > kol-span-wc {
		background-color: #fc0;
		color: #171a22;
	}
	.normal a:focus-visible > kol-span-wc,
	.normal button:focus-visible > kol-span-wc {
		outline-color: #000;
	}
	.normal a:hover > kol-span-wc,
	.normal button:hover > kol-span-wc {
		background-color: #fc0;
		border-color: #fc0;
	}
	.danger a kol-span-wc,
	.danger button kol-span-wc {
		background-color: var(--color-red);
		border-color: var(--color-red);
		color: var(--color-white);
	}
	.danger a:hover kol-span-wc,
	.danger button:hover kol-span-wc {
		background-color: var(--color-red);
		border-color: var(--color-red);
	}
	.ghost a > kol-span-wc,
	.ghost button > kol-span-wc {
		color: #0e47cb;
	}
	.ghost a:focus-visible > kol-span-wc,
	.ghost button:focus-visible > kol-span-wc {
		outline-color: #0e47cb;
	}
	.ghost a:hover > kol-span-wc,
	.ghost button:hover > kol-span-wc {
		color: #0e47cb;
	}
}
