@import '../mixins-eu/alert-wc';
@import '../mixins-eu/rem';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.single-select {
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			width: 100%;
			min-height: 44px !important;
			color: var(--color-grey);
			order: 4;
			padding: 1px 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - 2.5rem);
			position: relative;

			&::placeholder {
				color: var(--color-grey-50);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-blue);
			}
		}

		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-blue);
			max-height: calc($option-height * $visible-options + 2px);
			overflow-y: auto;
			overflow-x: hidden;
			width: 100%;
		}

		&__item {
			display: flex;
			align-items: flex-start;
			justify-items: center !important;
			padding: 0.62rem 0.75rem;
			height: $option-height;

			.radio-label {
				align-self: center;
				padding-left: 1em;
			}

			&:focus,
			&.highlighted {
				background: var(--color-blue);
				color: white;
				outline: 0 !important;
			}
		}
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		border: none;
		outline: none;
	}

	input,
	select:not([multiple]) {
		height: 44px !important;
		min-height: 44px !important;
	}

	label {
		font-weight: var(--font-weight-bold);
		order: 1;
	}

	.hint {
		font-size: 0.875rem;
		order: 2;
	}

	.kol-alert-wc {
		@include kol-alert-wc(--color-red);

		order: 3;
	}

	.input {
		min-height: 44px !important;
		border: 1px solid var(--color-grey-75);
		color: var(--color-grey);
		order: 4;
		align-items: center;
		padding: 1px;
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset 1px 1px var(--color-blue),
			inset -1px -1px var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue) !important;
	}

	.error .input {
		border-color: var(--color-red);
	}
}
