@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-link-wc > a > .kol-span-wc {
		border-radius: 4px;
		gap: 0.5rem;
		line-height: 1rem;
		padding: 0.75rem;
		background-color: #0e47cb;
		color: #fff;
		cursor: pointer;
	}
}
