.spin span:nth-child(1) {
	background-color: var(--color-blue-80);
}

.spin span:nth-child(2) {
	background-color: var(--color-blue);
}

.spin span:nth-child(3) {
	background-color: var(--color-blue-130);
}

.spin span:nth-child(4) {
	background-color: var(--color-grey-20);
}
