@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		top: rem(16);
		right: rem(16);
		width: 440px;
		max-width: 100%;
	}

	.toast {
		display: block;
		background-color: #fff;
		margin-top: rem(16);
	}

	.alert {
		display: block;
	}
}
