@import '../style.css';

:host #floating {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	box-sizing: border-box;
	display: none;
	position: absolute;
}

:host #arrow {
	background: #333;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);
	width: 10px;
	z-index: 999;
}

:host kol-badge {
	border-radius: var(--kolibri-border-radius);
	font-size: calc(4 * var(--kolibri-spacing));
	max-width: 300px;
	position: relative;
	z-index: 1000;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
