@import '../style.css';

:host #floating {
	display: none;
	position: absolute;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	box-sizing: border-box;
	box-shadow: 0 0 0.15rem rgba(255, 255, 255, 0.8);
}

:host #arrow {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #333;
	transform: rotate(45deg);
	z-index: 999;
}

:host kol-badge {
	font-size: 1rem;
	max-width: 300px;
	z-index: 1000;
	position: relative;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
