@use '../@shared/mixins' as *;
@use '../style' as *;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	cite,
	figure,
	q + figcaption {
		display: inline;
		margin: 0;
		padding: 0;
	}

	blockquote:before {
		content: open-quote;
	}

	blockquote::after {
		content: close-quote;
	}

	cite:before {
		content: '—';
	}

	.block cite:before {
		padding-right: 0.5em;
	}

	.inline cite:before {
		padding: 0.5em;
	}
}
