@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	.accordion {
		border-radius: 8px;
		box-shadow:
			0 to-rem(2) to-rem(4) rgb(9 49 142 / 8%),
			0 0 to-rem(10) rgb(9 49 142 / 4%),
			0 to-rem(4) to-rem(5) rgb(9 49 142 / 4%),
			0 to-rem(-4) to-rem(4) rgb(9 49 142 / 4%);
		margin: 0;
		overflow: clip;

		&:focus-within {
			outline: 2px solid #0e47cb;
			outline-offset: -2px;
		}

		&__heading {
			font-size: 2em;
		}

		&__heading-button {
			button {
				border-radius: 8px;
				outline-offset: -1px;
				border: 0;
				border-bottom-color: #cfdaf5;
				border-bottom-style: solid;
				border-bottom-width: 2px;
				color: #171a22;
				position: relative;
				display: block;
				font:
					normal normal 400 to-rem(18) / to-rem(28) arial,
					sans-serif;
				padding: to-rem(24);
				text-align: start;
				width: 100%;
				line-height: 1.2;

				&:focus {
					outline: none;
				}

				.button-inner > span {
					align-items: baseline;
				}

				&::before {
					background-color: #fc0;
					border-end-end-radius: to-rem(2);
					border-end-start-radius: to-rem(2);
					content: '';
					height: to-rem(4);
					position: absolute;
					left: to-rem(24);
					top: 0;
					width: 3rem (2);
				}
			}

			.kol-icon {
				margin-right: to-rem(12);

				&::part(icon)::before {
					color: #0e47cb;
					font-weight: 900;
					font-family: 'Font Awesome 6 Free';
				}
			}
		}

		&__content {
			-webkit-border-start: to-rem(4) solid #0e47cb;
			-webkit-margin-start: 0;
			border-bottom: 2px solid #cfdaf5;
			border-inline-start: to-rem(4) solid #0e47cb;
			color: #515560;
			font:
				normal normal 400 to-rem(16) / to-rem(24) arial,
				sans-serif;
			margin-inline-start: 0;
			padding: to-rem(24);
		}

		.open &__heading-button {
			button {
				border-start-end-radius: to-rem(8);
				border-start-start-radius: to-rem(8);
			}

			.kol-icon::part(icon)::before {
				content: '\f077';
			}
		}

		:not(.open) &__heading-button button .kol-icon::part(icon)::before {
			content: '\f078';
		}
	}
}
