@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	:host > div {
		display: grid;
		width: 100%;
		height: 100%;
		background-color: white;
		grid-template-rows: min-content 2fr min-content;
		box-shadow: 0 0 calc(var(--spacing-2xs) / 2) var(--color-black);
	}

	:host .kol-heading-wc {
		display: inline-flex;
		font-style: normal;
		font-weight: 700;
		font-size: 1.25em;
		line-height: 1.75;
	}

	:host div.header {
		padding: var(--spacing-m) var(--spacing-m) var(--spacing-xs) var(--spacing-m);
	}

	:host div.content {
		padding: var(--spacing-xs) var(--spacing-m) var(--spacing-m);
		overflow: hidden;
	}

	:host div.footer {
		padding: var(--spacing-xs) var(--spacing-m);
	}

	:host > div > div.content + div.footer {
		border-top: 2px solid var(--color-blue);
	}
}
