@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	.kol-card {
		background-color: white;
		box-shadow: 0 0 calc(var(--spacing-2xs) / 2) var(--color-black);
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-rows: min-content 2fr min-content;

		&__header {
			display: inline-flex;
			padding: var(--spacing-m) var(--spacing-m) var(--spacing-xs) var(--spacing-m);

			font-size: 1.25em;
			font-weight: 700;
			line-height: 1.75;
			font-style: normal;
		}

		&__content {
			padding: var(--spacing-xs) var(--spacing-m) var(--spacing-m);
			overflow: hidden;
		}
	}
}
