@import '../../mixins/rem';
@import '../mixins/alert-wc.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	.inputs-wrapper {
		gap: rem(16);
	}
}
