@use '../../mixins/rem' as *;

@layer kol-theme-component {
	.kol-nav {
		$root: &;

		font-family: var(--font-family);

		&__navigation {
			background-color: var(--color-blue);
		}

		&__list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			&--vertical {
				flex-direction: column;
			}
		}

		&__list-item {
			border-color: var(--color-blue-75);
			border-style: solid;
			border-width: 0;

			&:not(:first-child),
			#{$root}__list--nested & {
				border-top-width: rem(2);
			}
		}

		&__entry-wrapper {
			display: flex;
		}

		&__entry {
			flex-grow: 1;
		}

		&__expand-button {
			.kol-button {
				background-color: var(--color-blue-130);
				margin: auto;
				height: 100%;
			}

			&--expanded .kol-icon::part(icon)::before {
				content: '\eab4';
			}

			&:not(&--expanded) .kol-icon::part(icon)::before {
				content: '\eab6';
			}
		}

		&__toggle-button {
			.kol-button {
				$root: &;
				--kolibri-spacing: #{rem(4)};
				--text-focus-outline-color: var(--color-white);

				font-family: var(--font-family);
				appearance: none;
				border-radius: 4px;
				text-decoration: none;

				&--ghost {
					--text-color: #0e47cb;
					--text-focus-outline-color: #0e47cb;

					&:hover {
						--text-color: #0e47cb;
					}
				}

				&:focus {
					outline: none;
				}

				&__text {
					text-decoration: none !important;
					min-height: rem(44);
					min-width: rem(44);
					border-radius: 4px;
					font:
						normal normal 400 rem(16) / rem(20) arial,
						sans-serif;
					font-weight: 400;
					margin: 0;
					padding: rem(12);
					line-height: 1.2;

					background-color: var(--text-background-color);
					color: var(--text-color);

					&:active,
					&:hover {
						box-shadow:
							0 rem(2) rem(4) rgb(9 49 142 / 8%),
							0 0 rem(10) rgb(9 49 142 / 4%),
							0 rem(4) rem(5) rgb(9 49 142 / 4%),
							0 rem(-4) rem(4) rgb(9 49 142 / 4%);
					}

					@at-root #{$root}:focus-visible & {
						outline-offset: -4px;
						outline: var(--text-focus-outline-color) solid rem(2);
					}

					@at-root #{$root}--hide-label & {
						.kol-span__label {
							display: none;
						}
					}
				}
			}
		}
	}

	.kol-link {
		text-decoration: none;
	}

	.kol-span {
		border-color: transparent;
		border-style: solid;
		border-width: 2px;
		color: var(--color-white);
		font-size: rem(18);
		justify-items: start;
		padding: rem(16);
		height: 100%;

		:is(.kol-button, .kol-link):focus-within & {
			border-color: var(--color-white);
		}

		:is(.kol-button, .kol-link):focus-within &,
		:is(.kol-button, .kol-link):hover & {
			text-decoration: underline;
		}
	}
}
