@use '../../mixins/rem' as *;
@use '../mixins/alert-wc' as *;
@use '../mixins/custom-suggestions-option' as *;
@use '../mixins/custom-suggestions-options-group' as *;
@use '../mixins/custom-suggestions-toggle' as *;
@use '../@shared/input-text' as *;

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	@include kol-alert-theme;
	@include kol-custom-suggestions-option-theme($option-height);
	@include kol-custom-suggestions-options-group-theme($option-height, $visible-options);
	@include kol-custom-suggestions-toggle-theme;

	:host {
		font-family: var(--font-family);
	}

	.kol-single-select {
		&__group {
			display: inline-flex;
			align-items: center;
			width: 100%;
			min-height: var(--a11y-min-size);
			color: var(--color-grey);
			order: 4;
			padding: rem(1) 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - 2.5rem);
			position: relative;

			&::placeholder {
				color: var(--color-grey-50);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-blue);
			}

			&:focus {
				border: none;
			}
		}
	}
}
