@use '../mixins/button' as *;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-style: solid;
		border-width: 2px;
		border-color: var(--color-blue);
		border-radius: 4px;
	}

	.horizontal-line {
		border: 0;
		border-top: 1px solid var(--color-blue);
	}

	.popover {
		background-color: #fff;
	}

	@include kol-button;

	.main-button > .button > .kol-span-wc {
		border-right: none;
		border-top-left-radius: calc(var(--border-radius) - var(--border-width));
		border-bottom-left-radius: calc(var(--border-radius) - var(--border-width));
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.secondary-button > .button > .kol-span-wc {
		border-left: none;
		border-top-right-radius: calc(var(--border-radius) - var(--border-width));
		border-bottom-right-radius: calc(var(--border-radius) - var(--border-width));
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
