@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	:host {
		--kolibri-spacing: #{to-rem(4)};
	}

	.tabs-button-group {
		margin-bottom: to-rem(-1);
		border-bottom: 1px solid var(--color-grey-25);
	}

	.tabs-button-group button {
		margin-bottom: to-rem(-1);
		border: none;
	}

	.tabs-button-group button .kol-span-wc {
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: to-rem(4);
	}

	.tabs-button-group button.selected .kol-span-wc {
		color: var(--color-blue);
		box-shadow: 0 -3 px var(--color-blue);
		border-color: var(--color-grey-25);
		border-style: solid;
		border-top-color: var(--color-blue);
		border-bottom-color: white;
		border-width: 1px;

		font-weight: var(--font-weight-bold);
	}

	.tabs-button-group button:hover:not(:disabled) .kol-span-wc {
		color: var(--color-blue-130);
	}

	.tabs-button-group button:focus .kol-span-wc {
		outline-color: var(--color-blue-130);
		outline-style: solid;
		outline-width: 2px;
	}
}
