@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		--kolibri-spacing: rem(4);
	}

	.tabs-button-group {
		border-bottom: 1px solid var(--color-grey-25);
		margin-bottom: -1px;
	}

	.tabs-button-group button {
		border: none;
		margin-bottom: -1px;
	}

	.tabs-button-group button .kol-span-wc {
		padding: rem(4);
		min-height: 44px;
		min-width: 44px;
	}

	.tabs-button-group button.selected .kol-span-wc {
		border-color: var(--color-grey-25);
		border-style: solid;
		border-width: 1px;
		border-bottom-color: white;
		border-top-color: var(--color-blue);
		box-shadow: 0 -3px var(--color-blue);
		font-weight: var(--font-weight-bold);
		color: var(--color-blue);
	}

	.tabs-button-group button:hover:not(:disabled) .kol-span-wc {
		color: var(--color-blue-130);
	}

	.tabs-button-group button:focus .kol-span-wc {
		outline-color: var(--color-blue-130);
		outline-style: solid;
		outline-width: 2px;
	}
}
