@use '../../functions/to-rem' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	.toolbar {
		background-color: var(--color-white);
		box-shadow:
			0 to-rem(2) to-rem(4) rgb(9 49 142 / 8%),
			0 0 to-rem(10) rgb(9 49 142 / 4%),
			0 to-rem(4) to-rem(5) rgb(9 49 142 / 4%),
			0 to-rem(-4) to-rem(4) rgb(9 49 142 / 4%);
		border-radius: 8px;
		padding: var(--spacing-s);
	}

	@include kol-button;
}
