@import './rem';

@mixin kol-button {
	:is(a, button) {
		font-size: rem(18);
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button) > .kol-span-wc .kol-icon {
		color: inherit;
	}

	.primary :is(a, button) > .kol-span-wc,
	.primary :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-midnight);
		border-color: var(--color-midnight);
		color: var(--color-white);
	}

	.secondary :is(a, button) > .kol-span-wc,
	.secondary :is(a, button):disabled:hover > .kol-span-wc,
	.normal :is(a, button) > .kol-span-wc,
	.normal :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-white);
		border-color: var(--color-midnight);
		color: var(--color-midnight);
	}

	.danger :is(a, button) > .kol-span-wc,
	.danger :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-red);
		border-color: var(--color-red);
		color: var(--color-white);
	}

	.success :is(a, button) > .kol-span-wc,
	.success :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-green);
		border-color: var(--color-green);
		color: var(--color-white);
	}

	.success.secondary :is(a, button) > .kol-span-wc,
	.success.secondary :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-white);
		border-color: var(--color-green);
		color: var(--color-green);
	}

	.success.ghost :is(a, button) > .kol-span-wc,
	.success.ghost :is(a, button):disabled:hover > .kol-span-wc {
		border-color: var(--color-white);
		background-color: var(--color-white);
		box-shadow: none;
		color: var(--color-green);
	}

	.grey :is(a, button) > .kol-span-wc,
	.grey :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-grey);
		border-color: var(--color-grey);
		color: var(--color-white);
	}

	.grey.secondary :is(a, button) > .kol-span-wc,
	.grey.secondary :is(a, button):disabled:hover > .kol-span-wc {
		background-color: var(--color-white);
		border-color: var(--color-grey);
		color: var(--color-grey);
	}

	.grey.ghost :is(a, button) > .kol-span-wc,
	.grey.ghost :is(a, button):disabled:hover > .kol-span-wc {
		border-color: var(--color-white);
		background-color: var(--color-white);
		box-shadow: none;
		color: var(--color-grey);
	}

	.ghost :is(a, button) > .kol-span-wc,
	.ghost :is(a, button):disabled:hover > .kol-span-wc,
	.ghost.no-hover :is(a, button):hover > .kol-span-wc {
		border-color: var(--color-white);
		background-color: var(--color-white);
		box-shadow: none;
		color: var(--color-midnight);
	}

	/*-----------*/
	.primary :is(a, button):active > .kol-span-wc,
	.primary :is(a, button):hover > .kol-span-wc,
	.secondary :is(a, button):active > .kol-span-wc,
	.secondary :is(a, button):hover > .kol-span-wc,
	.normal :is(a, button):active > .kol-span-wc,
	.normal :is(a, button):hover > .kol-span-wc,
	.danger :is(a, button):active > .kol-span-wc,
	.danger :is(a, button):hover > .kol-span-wc,
	.success :is(a, button):active > .kol-span-wc,
	.success :is(a, button):hover > .kol-span-wc,
	.grey :is(a, button):active > .kol-span-wc,
	.grey :is(a, button):hover > .kol-span-wc,
	.ghost :is(a, button):active > .kol-span-wc,
	.ghost :is(a, button):hover > .kol-span-wc {
		background-color: var(--color-ocean);
		border-color: var(--color-ocean);
		color: var(--color-white);
	}

	.danger :is(a, button):active > .kol-span-wc,
	.danger :is(a, button):hover > .kol-span-wc {
		background-color: var(--color-crimson);
		border-color: var(--color-crimson);
	}

	.success :is(a, button):active > .kol-span-wc,
	.success :is(a, button):hover > .kol-span-wc {
		background-color: var(--color-jungle);
		border-color: var(--color-jungle);
	}

	.grey :is(a, button):active > .kol-span-wc,
	.grey :is(a, button):hover > .kol-span-wc {
		background-color: var(--color-grey);
		border-color: var(--color-grey);
	}

	:is(a, button):disabled:hover > .kol-span-wc,
	:is(a, button):focus:hover > .kol-span-wc {
		box-shadow: none;
	}

	.primary :is(a, button):active > .kol-span-wc,
	.secondary :is(a, button):active > .kol-span-wc,
	.normal :is(a, button):active > .kol-span-wc,
	.danger :is(a, button):active > .kol-span-wc,
	.success :is(a, button):active > .kol-span-wc,
	.grey :is(a, button):active > .kol-span-wc,
	.ghost :is(a, button):active > .kol-span-wc {
		border-color: var(--color-white);
		box-shadow: none;
		outline: none;
	}

	:is(a, button).hide-label > .kol-span-wc {
		padding: 8px;
		width: unset;
	}

	:is(a, button).hide-label > .kol-span-wc > span > span {
		display: none;
	}

	:is(a, button).loading > .kol-span-wc .kol-icon {
		animation: spin 5s infinite linear;
	}

	/** button with inline focus */
	:is(a, button).focus-inline:focus > .kol-span-wc {
		outline-offset: -2px;
	}

	/** :is(a,button) with transparent background */
	:is(a, button).transparent > .kol-span-wc > span,
	.ghost :is(a, button).transparent > .kol-span-wc > span,
	:is(a, button).transparent > .kol-span-wc {
		background-color: transparent;
		border-color: transparent;
	}

	:is(a, button).hide-label > .kol-span-wc > span > span {
		display: block;
	}
}
