@mixin focus-outline {
	cursor: pointer;
	outline-color: var(--color-ocean);
	outline-offset: rem(2);
	outline-style: solid;
	outline-width: rem(3);
	transition: outline-offset 0.2s linear;
}

@mixin switch-outline {
	outline-color: var(--color-ocean);
	outline-offset: rem(2);
	outline-style: solid;
	outline-width: rem(2);
}
