@import './rem';

@mixin kol-table-stateless-wc {
	@layer kol-theme-component {
		:host,
		.kol-table-stateless-wc {
			font-family: var(--font-family);
		}

		:host *,
		.kol-table-stateless-wc * {
			hyphens: var(--kolibri-hyphens);
			font-family: var(--kolibri-font-family);
			line-height: var(--kolibri-line-height);
			word-break: break-word;
		}

		:host > div,
		.kol-table-stateless-wc > div {
			overflow-x: auto;
			overflow-y: hidden;
		}

		.table:has(.focus-element:focus) {
			outline-color: var(--color-ocean);
			outline-style: solid;
			outline-width: 3px;
			transition: outline-offset 0.2s linear;
		}

		caption {
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border-width: 0;
		}

		table {
			width: 100%;
			border-spacing: 0;
		}

		tbody tr:last-child th,
		tr:last-child td {
			border-bottom-width: 0;
		}

		th {
			padding: 0.75em 0;
			font-weight: 700;
			color: var(--color-black);
		}

		th div {
			display: flex;
			gap: 0.5em;
			grid-template-columns: 1fr auto;
			align-items: center;
		}

		th,
		td {
			border-bottom: 1px solid var(--color-granite);
			height: rem(20);
		}

		tbody th {
			text-align: left;
		}

		tbody th,
		td {
			padding: 1em 0;
			vertical-align: top;
		}

		th .kol-button,
		td .kol-button {
			margin-top: rem(-12);
			margin-bottom: rem(-12);
		}

		.table-sort-button .button {
			font-weight: 700;
		}

		tbody td.selection-cell label {
			align-items: start;

			.icon {
				padding-top: rem(3);
			}
		}

		.input {
			input {
				&:hover {
					border-color: var(--color-midnight);
				}

				&:focus {
					border-color: var(--color-midnight);
					outline-color: var(--color-ocean);
					outline-style: solid;
					outline-offset: 2px;
					outline-width: 3px;
				}
			}

			// CHECKBOX
			input[type='checkbox'] {
				border-color: var(--color-grey);
				border-radius: 5px;

				&:checked {
					background-color: var(--color-midnight);
					border-color: var(--color-midnight);
				}
			}

			.icon {
				color: var(--color-white);
			}

			.icon::part(icon) {
				font-family: 'Material Symbols Rounded';
				font-weight: 900;
				margin-top: 1px;
			}

			&.checked .icon::part(icon)::before {
				content: 'check';
			}

			&.indeterminate {
				input {
					background-color: var(--color-midnight);
					border-color: var(--color-midnight);
				}

				.icon::part(icon)::before {
					content: 'remove';
				}
			}

			kol-icon:hover ~ input[type='checkbox'],
			input[type='checkbox']:hover {
				border-color: var(--color-midnight);
			}

			// RADIO
			input[type='radio'] {
				display: flex;
				border-color: var(--color-grey);

				&:checked {
					border-color: var(--color-midnight);

					&:before {
						background-color: var(--color-midnight);
					}
				}
			}
		}
	}
}
