@layer kol-theme-component {
	details {
		display: grid;
		width: 100%;
	}

	summary {
		margin: 0;
		padding: 0;
	}

	summary span {
		margin-left: 0.25rem;
		text-decoration: underline;
	}

	summary span:hover {
		text-decoration-thickness: 0.25em;
	}

	details > kol-indented-text {
		margin: 0.25em 0 0 0.6em;
	}
}
