@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-link-wc > a > .kol-span-wc {
		border-radius: var(--a11y-min-size);
		border-style: solid;
		border-width: var(--border-width);
		gap: calc(var(--spacing) * 2);
		line-height: 1rem;
		padding: 8px 14px;
		background-color: var(--color-primary-variant);
		border-color: var(--color-primary-variant);
		color: var(--color-light);
		cursor: pointer;
	}
}
