@layer kol-theme-component {
	.tree-item {
		ul {
			list-style: disc inside;
			border-left: 2px solid;
			padding-left: 0.4rem;
			margin-left: 2rem;
			margin-top: 0.4rem;
		}

		li {
			margin: 0.4rem 0;
		}

		.toggle-button {
			align-items: center;
			border: 1px solid var(--color-primary);
			display: inline-flex;
			height: 1.6rem;
			justify-content: center;
			margin-right: 0.4rem;
			width: 1.6rem;
		}
	}

	.tree-link {
		display: inline-block;
		padding: 0.4rem;

		&.active {
			background: var(--color-primary-variant);
			color: var(--color-light);
		}
	}
}
