@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	/* :host implicitly inherits font-size, e.g. for usage in headlines */

	:host > span {
		display: inline-flex;
		place-items: center;
		/* Visible with forced colors  */
		outline: transparent solid 1px;
	}

	:host > span > .kol-button-wc button {
		color: inherit;
	}
}
