@use '../@shared/mixins' as *;
@use '../style' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host > span {
		display: inline-flex;
		place-items: center;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);
	}

	:host > span > .kol-button-wc button {
		color: inherit;
	}
}
