.kol-span-wc > span {
	display: flex;
	place-items: baseline center;
	text-align: left;
}

:host > div > .kol-heading-wc button {
	border-radius: var(--border-radius);
	min-height: 2.2rem;
	padding: 12px 8px;
}

:host > div > .kol-heading-wc button .kol-span-wc {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 20px;
	gap: 0.5rem;
}

:host > div > .kol-heading-wc button .kol-span-wc > span {
	gap: 0.5em;
}

:host > div > .kol-heading-wc button .kol-icon {
	color: var(--color-primary);
}

:host > div {
	width: 100%;
	height: 100%;
	display: grid;
}

:host > div div[class='header'],
:host > div[class*='open'] div[class='content'] {
	margin: 0;
}

:host > div div[class='content'] {
	padding-left: 2.25em;
	padding-bottom: 12px;
	padding-right: 8px;
}

button:focus {
	outline: none;
}

:host > .accordion:focus-within {
	border-radius: var(--border-radius);
	cursor: pointer;
	outline-color: var(--color-primary-variant);
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 3px;
	transition: outline-offset 0.2s linear;
}
