@import '../mixins/rem';
@import '../mixins/focus-outline';

@layer kol-theme-component {
	:host {
		font-size: rem(16);
		font-family: var(--font-family);
	}

	.accordion {
		width: 100%;
		height: 100%;
		display: grid;

		&__content {
			margin: 0;
			padding-left: 2.25em;
			padding-bottom: 12px;
			padding-right: 8px;
		}

		&__heading {
			margin: 0;
		}

		&__heading-button {
			&:focus-within {
				@include focus-outline;
				cursor: pointer;
			}

			.kol-span-wc > span {
				display: flex;
				place-items: baseline center;
				text-align: left;

				font-weight: 700;
				font-size: rem(18);
				line-height: 1.1;
				gap: 0.5em;
			}

			button {
				border-radius: var(--border-radius);
				min-height: rem(35.2);
				padding: 12px 8px;

				:focus {
					outline: none;
				}
			}

			.kol-icon {
				color: var(--color-primary);
				font-size: rem(16);
			}
		}
	}
}
