@import '../mixins/rem';
@import '../mixins/focus-outline';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-span-wc > span {
		display: flex;
		place-items: baseline center;
		text-align: left;
	}

	:host > div > .kol-heading-wc button {
		border-radius: var(--border-radius);
		min-height: rem(35.2);
		padding: 12px 8px;
	}

	:host > div > .kol-heading-wc button .kol-span-wc {
		font-weight: 700;
		font-size: rem(18);
		line-height: 20px;
		gap: rem(8);
	}

	:host > div > .kol-heading-wc button .kol-span-wc > span {
		gap: 0.5em;
	}

	:host > div > .kol-heading-wc button .kol-icon {
		color: var(--color-primary);
		font-size: rem(16);
	}

	:host > div {
		width: 100%;
		height: 100%;
		display: grid;
	}

	:host > div div[class='header'],
	:host > div[class*='open'] div[class='content'] {
		margin: 0;
	}

	:host > div div[class='content'] {
		padding-left: 2.25em;
		padding-bottom: 12px;
		padding-right: 8px;
	}

	button:focus {
		outline: none;
	}

	:host > .accordion:focus-within {
		@include focus-outline;
		cursor: pointer;
	}
}
