@use '../functions/to-rem' as *;

@layer kol-theme-component {
	:host {
		display: inline-block;
	}

	:host > span {
		border-radius: var(--border-radius);
		display: inline-flex;
		font-style: normal;
	}

	:host > span.smart-button {
		align-items: center;
	}

	:host > span .kol-button-wc:hover > button {
		color: var(--color-light);
		background-color: var(--color-primary-variant);
	}

	:host > span .kol-button-wc > button {
		color: inherit;
		padding: to-rem(3.2);
		border-bottom-right-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
	}

	:host > span .kol-span-wc {
		padding: to-rem(4) to-rem(12);
	}

	:host > span > .kol-span-wc {
		gap: to-rem(8);
		align-items: center;
		font-style: normal;
	}

	:host > span > .kol-span-wc > span {
		display: flex;
		gap: to-rem(4);
	}
}
