@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}
	li:has(:is(kol-icon + kol-link, kol-icon + span)) kol-icon {
		font-size: 0.75rem;
		color: var(--color-subtle);
	}
	kol-link::part(icon) {
		font-size: 1.25rem;
	}
	ul li > :is(span, kol-link) {
		line-height: 1.25rem;
		height: auto;
	}
	ul li:last-child > span {
		color: var(--color-subtle);
	}
	kol-link {
		font-family: var(--font-family);
	}
}
