@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	li:has(:is(.kol-icon + .kol-link, .kol-icon + span)) .kol-icon {
		font-size: rem(12);
		color: var(--color-subtle);
	}

	.kol-link::part(icon) {
		font-size: rem(20);
	}

	ul li:last-child > span {
		color: var(--color-subtle);
	}

	.kol-link {
		font-family: var(--font-family);
	}
}
