@use '../functions/to-rem' as *;

@layer kol-theme-component {
	li:has(:is(.kol-icon + .kol-link, .kol-icon + span)) .kol-icon {
		color: var(--color-subtle);

		font-size: to-rem(12);
	}

	.kol-link::part(icon) {
		font-size: to-rem(20);
	}

	ul li:last-child > span {
		color: var(--color-subtle);
	}
}
