@import '../mixins/button.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	:is(a, button) > .kol-span-wc {
		font-weight: 700;
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: var(--border-width);
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: 8px 14px;
		text-align: center;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;
	}

	@include kol-button;
}
