@use '../mixins/badge-text-hint' as *;
@use '../mixins/rem' as *;

@layer kol-theme-component {
	:is(a, button) {
		color: var(--color-primary);
		font-style: normal;
		font-weight: 400;
		font-size: inherit;
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus .kol-span-wc {
		border-radius: var(--border-radius);
		outline: calc(var(--border-width) * 2) solid;
	}

	a:hover:not([aria-disabled]),
	button:hover:not([disabled]) {
		.kol-span-wc .span-label {
			text-decoration-thickness: 0.25em;
		}
	}

	:is(a, button):visited {
		color: var(--visited);
	}

	.skip {
		left: rem(-99999);
		overflow: hidden;
		position: absolute;
		z-index: 9999999;
	}

	.skip:focus {
		background-color: white;
		left: unset;
		position: unset;
	}

	@include badge-text-hint;
}
