@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	/* https://www.figma.com/file/56JbmrssCRpjpfxoAFeHqT/Design-System-EPLF-(in-progress)?node-id=8225%3A5945 */
	:host > div {
		display: grid;
		width: 100%;
		height: 100%;
		background-color: var(--color-light);
		grid-template-rows: min-content 2fr min-content;
		box-shadow: 0 0 rem(4.0) var(--color-subtle);
		border-radius: var(--border-radius);
	}

	:host .kol-heading-wc {
		line-height: rem(28.0);
	}

	:host div.header {
		padding: rem(16.0) rem(16.0) rem(8.0) rem(16.0);
	}

	:host div.content {
		padding: rem(8.0) rem(16.0) rem(16.0);
		overflow: hidden;
	}

	:host div.footer {
		padding: rem(8.0) rem(16.0);
	}
}
