@use '../mixins/to-rem' as *;
@use '../mixins/kol-card' as *;

@layer kol-theme-component {
	@include kol-card;

	.kol-card__close-button {
		background: transparent;
		border: none;
		color: inherit;
		cursor: pointer;

		&:focus-visible {
			@include focus-outline;
		}

		&:hover,
		&:focus {
			background-color: var(--kol-color-danger, red);
		}
	}
}
