@import '../mixins/rem';
@import '../mixins/alert-wc';
@import '../mixins/input-error';
@import '../mixins/typography';
@import '../mixins/custom-suggestions-option';
@import '../mixins/custom-suggestions-options-group';
@import '../mixins/custom-suggestions-toggle';
@import '../@shared/input-core';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	@include kol-alert-theme;
	@include kol-custom-suggestions-option-theme($option-height);
	@include kol-custom-suggestions-options-group-theme($option-height, $visible-options);
	@include kol-custom-suggestions-toggle-theme;

	:host {
		font-family: var(--font-family);
	}

	.kol-input-container__container {
		position: relative;
	}

	.kol-combobox {
		&__group {
			display: inline-flex;
			align-items: center;
			width: 100%;
		}

		&__input {
			flex-grow: 1;
			border: none;
			width: calc(100% - rem(40));
			position: relative;

			&::placeholder {
				color: var(--color-subtle);
			}
		}
	}
}
