@import '../mixins/rem';
@import '../mixins/alert-wc.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}
	.combobox {
		display: block;
		margin-bottom: 1.5rem;
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			width: 100%;

			padding: 0 rem(8);
		}

		&__input {
			flex-grow: 1;
			border: none;
			width: calc(100% - rem(2.5));
			position: relative;

			&::placeholder {
				color: var(--color-subtle);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-primary);
			}
		}

		&__icon {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: rem(8);
			padding-right: rem(8);

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--color-subtle);
			max-height: rem(15.625);
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
		}

		&__item {
			padding: rem(0.62) rem(0.75);
			cursor: pointer;

			&:hover {
				background: var(--color-primary-variant);
				color: var(--color-light);
			}

			&:focus {
				background: var(--color-primary-variant);
				color: var(--color-light);
				outline: 0 !important;
			}
		}
	}

	.kol-input {
		gap: rem(4);
	}

	.kol-input .error {
		order: 1;
	}

	.kol-input label {
		order: 2;
	}

	.kol-input .input {
		order: 3;
	}

	.kol-input .counter {
		order: 4;
	}

	.kol-input .hint {
		order: 5;
		font-size: rem(14.4);
		font-style: italic;
	}

	input::placeholder {
		color: var(--color-subtle);
	}

	.input {
		background-color: var(--color-light);
		border-color: var(--color-subtle);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: 2px;
		padding: 0 rem(8);
	}

	.input > .kol-icon {
		width: rem(16);
	}

	.input:is(.icon-left, .icon-right) {
		padding-left: rem(16);
		padding-right: rem(16);
	}

	.input:is(.icon-left, .icon-right) input {
		padding-left: rem(8);
		padding-right: rem(8);
	}

	.input > input:first-child {
		padding-left: var(--spacing);
	}

	.input > input:last-child {
		padding-right: var(--spacing);
	}

	:not(.disabled) .input:hover {
		border-color: var(--color-primary);
	}

	.required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	.kol-input.error {
		border-left: 3px solid var(--color-danger);
		padding-left: rem(16);
	}

	.kol-input.error .input:focus-within {
		outline-color: var(--color-danger) !important;
	}

	.kol-input.error .kol-alert-wc.error {
		@include kol-input-error-with-kol-alert-wc-error(--color-danger);
	}

	.input {
		position: relative;
	}

	.kol-input.disabled .input {
		background-color: var(--color-mute);
		border-color: var(--color-mute-variant);
		color: var(--color-text);
	}
}
