@import '../mixins/rem';

@layer kol-theme-component {
	details > summary {
		border-radius: var(--border-radius);
		font-family: var(--font-family);
	}

	details .kol-indented-text-wc {
		margin: rem(4) 0 0 rem(10.4);
	}

	.kol-icon {
		font-size: rem(19.2);
	}
}
