@import '../mixins/rem';

@layer kol-theme-component {
	.headline-h1,
	.headline-h2,
	.headline-h3,
	.headline-h4,
	.headline-h5,
	.headline-h6 {
		color: inherit;
		font-style: normal;
		font-family: var(--font-family);
	}
	.headline-h1,
	.headline-h2,
	.headline-h3 {
		font-weight: 700;
	}
	.headline-h1 {
		font-size: rem(24.0);
		line-height: rem(28.0);
	}
	.headline-h2 {
		font-size: rem(20.0);
		line-height: rem(28.0);
	}
	.headline-h3 {
		font-size: rem(18.0);
		line-height: rem(24.0);
	}
}
