h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-style: normal;
}

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h3 {
	font-size: 1.125rem;
	line-height: 1.5rem;
}
