@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}
	:host > div {
		background-color: var(--color-light);
		border-left: none;
		box-shadow: -2px 0px 0px var(--color-primary-variant);
		padding: 0 rem(0.5);
		width: 100%;
	}
}
