@use '../@shared/input-text' as *;
@use '../mixins/to-rem' as *;

.kol-input-color {
	&__inputs-wrapper {
		gap: to-rem(16);
	}

	&__input {
		&--text,
		&--color {
			background-color: var(--color-light);
			min-height: calc(var(--a11y-min-size) - to-rem(8));
			border: 1px solid var(--color-subtle);
		}
	}
}
