@import '../mixins/focus-outline';
@import '../mixins/alert-wc.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		@include kol-alert-theme;
	}

	:host .kol-input {
		display: grid;
		align-items: center;
		justify-items: left;
		width: 100%;
		min-height: var(--a11y-min-size);
		gap: 0.4rem;
	}

	:host .kol-input.default {
		grid-template-columns: 1.5rem auto;
	}

	:host .kol-input.switch {
		grid-template-columns: 3.5rem auto;
	}

	:host .kol-input.button {
		gap: 0.4rem 1px;
	}

	.checkbox-container {
		justify-content: flex-start;
	}

	:host .kol-input > div.input {
		display: inherit;
		min-height: var(--a11y-min-size);
		order: 2;
	}

	:host .kol-input > div.input input {
		margin: 0px;
	}

	:host .kol-input > label {
		//cursor: pointer;
		order: 3;
	}

	.disabled .input-label,
	.disabled .checkbox-container {
		cursor: not-allowed;
	}

	:host .kol-input > .kol-alert-wc.error {
		order: 1;
		padding-top: calc(var(--spacing) / 2);
		grid-column: span 2 / auto;
	}

	:host .kol-input.error {
		border-left: 3px solid var(--color-danger);
		padding-left: 1rem;
	}

	:host .kol-input.error input:focus,
	.kol-input.error select:focus,
	.kol-input.error textarea:focus {
		outline-color: var(--color-danger) !important;
	}

	:host .kol-input.error .kol-alert-wc.error {
		@include kol-input-error-with-kol-alert-wc-error(--color-danger);
	}

	:host input {
		cursor: pointer;
		order: 1;
		width: 100%;
		border-color: var(--color-subtle);
		border-width: 2px;
		border-style: solid;
		border-radius: var(--border-radius);
		line-height: 24px;
		font-size: 1rem;
	}

	:host input:hover {
		border-color: var(--color-primary);
		box-shadow: 0px 2px 8px 2px rgba(8, 35, 48, 0.24);
	}

	:host input:focus:hover {
		box-shadow: none;
	}

	:host input:active {
		box-shadow: none;
	}

	:host .kol-alert-wc {
		@include kol-alert-wc;
	}

	/* CHECKBOX */
	:host .kol-input label span {
		margin-top: 0.125rem;
	}

	:host .required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	:host .kol-input input[type='checkbox'] {
		appearance: none;
		background-color: white;
		cursor: pointer;
		transition: 0.5s;
	}

	:host .kol-input input[type='checkbox']:checked {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}

	:host .kol-input.default input[type='checkbox'] {
		border-radius: var(--border-radius);
		height: calc(6 * 0.25rem);
		min-width: calc(6 * 0.25rem);
		width: calc(6 * 0.25rem);
	}

	:host .kol-input.default input[type='checkbox']:indeterminate {
		background-color: var(--color-primary);
	}

	:host .kol-input.default .icon {
		color: var(--color-light);
		margin-left: 0.25rem;
	}

	:host .kol-input.switch input[type='checkbox'] {
		background-color: var(--color-subtle);
		border-radius: 1.25em;
		border-width: 0;
		display: block;
		height: 1.5em;
		min-width: 3.5em;
		position: relative;
		width: 3.5em;
		/* Visible with forced colors  */
		outline: transparent solid 1px;
	}

	:host .kol-input.switch input[type='checkbox']:before {
		width: 1.25em;
		height: 1.25em;
		left: calc(0.25em - 2px);
		top: calc(0.25em - 2px);
		border-radius: 1.25em;
		background-color: white;
		position: absolute;
	}

	:host .kol-input.switch input[type='checkbox']:checked {
		background-color: var(--color-primary);
	}

	:host .kol-input.switch input[type='checkbox']:checked:before {
		transform: translateX(2em);
	}

	:host .kol-input.switch input[type='checkbox']:indeterminate:before {
		transform: translateX(1em);
	}

	.switch {
		& .icon {
			width: 1.25em;
			height: 1.25em;
			left: 2px;
		}

		&.checked .icon {
			transform: translate(2em, -50%);
		}

		&.indeterminate .icon {
			transform: translate(1em, -50%);
		}
	}

	.button {
		.input {
			border-top-width: 1px;
			border-left-width: 1px;
			border-bottom-width: 1px;

			border-top-style: solid;
			border-left-style: solid;
			border-bottom-style: solid;
		}

		&.hide-label .input {
			border-right-width: 1px;
			border-right-style: solid;
		}

		.input-label {
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;

			border-top-style: solid;
			border-right-style: solid;
			border-bottom-style: solid;

			justify-self: stretch;
			align-self: stretch;
			display: flex;

			.input-label-span {
				margin: auto 0;
			}
		}

		&:focus-within {
			@include focus-outline;
		}

		.input,
		.input-label {
			border-color: var(--color-primary);
			background-color: var(--color-light);
			color: var(--color-primary);
		}

		&.indeterminate {
			.input,
			.input-label {
				border-color: var(--color-primary);
				background-color: var(--color-mute);
				color: var(--color-primary);
			}
		}

		&.checked {
			.input,
			.input-label {
				border-color: var(--color-primary);
				background-color: var(--color-primary);
				color: var(--color-light);
			}
		}

		&:is(:active, :hover):not(.disabled) {
			.input,
			.input-label {
				background-color: var(--color-primary-variant);
				border-color: var(--color-primary-variant);
				color: var(--color-light);
			}
		}

		&.disabled .input {
			opacity: 0.5;
			outline: none;
		}
	}
}
