@use '../@shared/input-core.scss';

@layer kol-theme-component {
	input[type='color'] {
		border: none;
		min-height: 40px !important;
	}

	input[type='color'] {
		background-color: transparent;
	}
}
