@use '../mixins/alert-wc' as *;
@use '../mixins/focus-outline' as *;
@use '../mixins/input-error' as *;
@use '../functions/to-rem' as *;
@use '../mixins/typography' as *;

@layer kol-theme-component {
	@include kol-alert-theme;

	.kol-input {
		display: grid;
		width: 100%;
		min-height: var(--a11y-min-size);
		gap: to-rem(6.4);
		align-items: center;
		justify-items: left;
	}

	.kol-input.default {
		grid-template-columns: to-rem(24) auto;
	}

	.kol-input.default[data-label-align='left']:not(.hide-label) {
		grid-template-columns: auto to-rem(24);
	}

	.kol-input.switch {
		grid-template-columns: to-rem(56) auto;
	}

	.kol-input.switch[data-label-align='left']:not(.hide-label) {
		grid-template-columns: auto to-rem(56);
	}

	.kol-input.button {
		gap: to-rem(6.4) to-rem(1);
	}

	.checkbox-container {
		justify-content: flex-start;
	}

	.kol-input > div.input {
		display: inherit;
		min-height: var(--a11y-min-size);
		order: 2;
	}

	.kol-input > div.input input {
		margin: 0;
	}

	kol-input > label {
		order: 3;
	}

	.disabled .input-label,
	.disabled .checkbox-container {
		cursor: not-allowed;
	}

	.kol-input > .kol-alert-wc.error {
		padding-top: calc(var(--spacing) / 2);
		order: 1;
		grid-column: span 2 / auto;
	}

	.kol-input.error:not(.hidden-error) {
		@include input-error;

		input:focus,
		select:focus,
		textarea:focus {
			outline-color: var(--color-danger);
		}
	}

	input {
		border-color: var(--color-subtle);
		border-style: solid;
		border-radius: var(--border-radius);
		width: 100%;
		border-width: 2px;
		order: 1;
		cursor: pointer;
		@include kol-typography-body;
	}

	input:hover {
		box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
		border-color: var(--color-primary);
	}

	input:focus:hover {
		box-shadow: none;
	}

	input:active {
		box-shadow: none;
	}

	.kol-alert-wc {
		@include kol-alert-wc;
	}

	/* CHECKBOX */
	.kol-input label span {
		margin-top: to-rem(2);
	}

	.required label > span::after {
		padding-left: 0.125em;

		content: '*';
	}

	.kol-input input[type='checkbox'] {
		background-color: white;
		appearance: none;
		cursor: pointer;
		transition: 0.5s;
	}

	.kol-input input[type='checkbox']:checked {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}

	.kol-input.default input[type='checkbox'] {
		border-radius: var(--border-radius);
		width: calc(6 * to-rem(4));
		min-width: calc(6 * to-rem(4));
		height: calc(6 * to-rem(4));
	}

	.kol-input.default input[type='checkbox']:indeterminate {
		background-color: var(--color-primary);
	}

	.kol-input.default .icon {
		color: var(--color-light);
		margin-left: to-rem(4);
	}

	.kol-input.switch input[type='checkbox'] {
		background-color: var(--color-subtle);
		/* Visible with forced colors  */
		outline: transparent solid to-rem(1);
		border-radius: 1.25em;
		display: block;
		position: relative;
		width: 3.5em;
		min-width: 3.5em;
		height: 1.5em;
		border-width: 0;
	}

	.kol-input.switch input[type='checkbox']:before {
		background-color: white;
		border-radius: 1.25em;
		position: absolute;
		top: calc(0.25em - to-rem(2));
		left: calc(0.25em - to-rem(2));
		width: 1.25em;
		height: 1.25em;
	}

	.kol-input.switch input[type='checkbox']:checked {
		background-color: var(--color-primary);
	}

	.kol-input.switch input[type='checkbox']:checked:before {
		transform: translateX(2em);
	}

	.kol-input.switch input[type='checkbox']:indeterminate:before {
		transform: translateX(1em);
	}

	.kol-input input[type='checkbox']:focus {
		@include switch-outline;
	}

	.switch {
		& .icon {
			left: to-rem(2);
			width: 1.25em;
			height: 1.25em;
		}

		&.checked .icon {
			transform: translate(2em, -50%);
		}

		&.indeterminate .icon {
			transform: translate(1em, -50%);
		}
	}

	.button {
		.input {
			border-top-width: 1px;
			border-bottom-width: 1px;
			border-left-width: 1px;
			border-bottom-style: solid;
			border-left-style: solid;

			border-top-style: solid;
		}

		&.hide-label .input {
			border-right-width: 1px;
			border-right-style: solid;
		}

		.input-label {
			display: flex;

			padding-right: to-rem(16);
			border-top-width: 1px;
			border-right-width: 1px;
			border-bottom-width: 1px;
			align-self: stretch;

			justify-self: stretch;
			border-bottom-style: solid;
			border-right-style: solid;

			border-top-style: solid;

			.input-label-span {
				margin: auto auto;

				font-weight: 700;
			}
		}

		&:focus-within {
			@include focus-outline;
		}

		.input,
		.input-label {
			color: var(--color-primary);
			background-color: var(--color-light);
			border-color: var(--color-primary);
		}

		&.indeterminate {
			.input,
			.input-label {
				color: var(--color-primary);
				background-color: var(--color-mute);
				border-color: var(--color-primary);
			}
		}

		&.checked {
			.input,
			.input-label {
				color: var(--color-light);
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}
		}

		&:is(:active, :hover):not(.disabled) {
			.input,
			.input-label {
				color: var(--color-light);
				background-color: var(--color-primary-variant);
				border-color: var(--color-primary-variant);
			}
		}

		&.disabled .input {
			opacity: 0.5;
			outline: none;
		}
	}

	.button[data-label-align='left']:not(.hide-label) {
		column-gap: 0;

		.input {
			border-style: solid;
			border-width: 1px 1px 1px 0;
		}

		.input-label {
			border-style: solid;
			border-width: 1px 0 1px 1px;
		}
	}
}
