label {
	cursor: pointer;
	display: grid;
	line-height: 20px;
	gap: calc(var(--spacing) * 2);
	width: 100%;
}

input {
	cursor: pointer;
	width: 100%;
	border-color: var(--color-subtle);
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	line-height: 24px;
}

input:hover {
	border-color: var(--color-primary);
	box-shadow: 0px 2px 8px 2px rgba(8, 35, 48, 0.24);
}

input:focus:hover {
	box-shadow: none;
}

input:hover {
	border-color: var(--color-primary);
}

kol-alert {
	display: block;
	width: 100%;
}

.required legend > span::after {
	content: '*';
	padding-left: 0.125em;
}

/* RADIO */
fieldset {
	border: 0px;
	margin: 0px;
	padding: 0px;
	display: grid;
	gap: 0.25em;
}

fieldset div {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin: 0;
	min-height: var(--a11y-min-size);
	position: relative;
}

fieldset div label {
	cursor: pointer;
	display: flex;
	padding-left: calc(var(--spacing) / 2);
	width: 100%;
}

fieldset div label span {
	margin-top: 0.125em;
}

fieldset div input[type='radio'] {
	appearance: none;
	transition: 0.5s;
	border-radius: 100%;
	height: calc(6 * 0.25rem);
	min-width: calc(6 * 0.25rem);
	width: calc(6 * 0.25rem);
}

fieldset div input[type='radio']:before {
	content: '';
	cursor: pointer;
	border-radius: 100%;
	display: block;
}

fieldset div input[type='radio']:checked:before {
	background-color: var(--color-primary);
}

fieldset div input[type='radio']:disabled {
	cursor: not-allowed;
	background-color: var(--color-mute-variant);
}

kol-alert.error {
	order: 1;
}

fieldset legend {
	order: 2;
	display: contents;
}

fieldset kol-input {
	order: 3;
}

fieldset.error {
	padding-left: 1rem;
	border-left: 3px solid var(--color-danger);
}

kol-alert.error {
	color: var(--color-danger);
	font-weight: 700;
}

fieldset.error input:focus,
fieldset.error select:focus,
fieldset.error textarea:focus {
	outline-color: var(--color-danger) !important;
}

fieldset.error kol-alert.error {
	margin-left: -0.25em;
	color: var(--color-danger);
	font-weight: 700;
}

.disabled {
	opacity: 0.33;
}

fieldset.horizontal {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing) calc(var(--spacing) * 2);
}

fieldset.horizontal legend {
	display: inline-block;
	margin-bottom: calc(var(--spacing) / 2);
}

fieldset .input-slot {
	gap: var(--spacing);
}

fieldset div label {
	padding-left: 0;
}
