@use '../@shared/input-core' as *;
@use '../mixins/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	.kol-input-color {
		&__inputs-wrapper {
			height: 100%;
		}

		&__input {
			&--text,
			&--color {
				background-color: var(--color-light);
				min-height: calc(var(--a11y-min-size) - to-rem(8));
				border: 1px solid var(--color-subtle);
			}
		}
	}
}
