@layer kol-theme-component {
	:is(a, button) {
		color: var(--color-primary);
		font-style: normal;
		font-weight: 400;
		.kol-span-wc .span-label {
			text-decoration-thickness: 0.2em;
		}
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus kol-span-wc {
		border-radius: var(--border-radius);
		outline: var(--border-width) solid;
	}

	a:hover:not([aria-disabled]),
	button:hover:not([disabled]) {
		text-decoration-thickness: 0.25em;
	}

	:is(a, button):visited {
		color: var(--visited);
	}

	.skip {
		left: -99999px;
		overflow: hidden;
		position: absolute;
		z-index: 9999999;
		line-height: 1em;
	}

	.skip:focus {
		background: white;
		left: unset;
		position: unset;
	}
}
