@layer kol-theme-component {
	nav {
		background-color: var(--color-mute);
	}
	ul {
		list-style: none;
	}
	kol-link-wc {
		display: flex;
	}
	a {
		align-items: center;
		border-left: 2px solid transparent;
		color: var(--color-primary);
		display: flex;
		gap: 0.5rem;
		min-height: var(--a11y-min-size);
		padding-left: 0.5rem;
		text-decoration: none;

		.active & {
			border-left-color: var(--color-primary);
		}
		&:hover {
			text-decoration: underline;
		}
	}

	// nested lists
	.list .list {
		padding-left: 1rem;
	}

	.active a {
		font-weight: bold;
	}
	.active .list a {
		font-weight: normal;
		border-left-color: transparent;
	}

	.expand-button {
		.button-inner {
			justify-content: center;
		}
	}

	/** Compact mode */
	//.entry.compact :is(kol-button-wc, kol-link-wc, kol-span-wc):first-child {
	//	place-items: center;
	//}
	//.entry.compact > kol-span-wc > span {
	//	flex-direction: column;
	//}
	//.entry.compact > kol-span-wc > span,
	//.entry.compact :is(a, button) {
	//	padding-left: 0;
	//}
}
