@use '../functions/to-rem' as *;

@layer kol-theme-component {
	svg line:first-child,
	svg circle:first-child {
		fill: transparent;
		stroke: var(--color-mute-variant);
	}

	svg line:last-child,
	svg circle:last-child {
		fill: transparent;
		stroke: var(--color-primary);
	}

	.bar .progress {
		fill: var(--color-primary-variant);
	}

	.cycle .progress {
		stroke: var(--color-primary-variant);
	}
}
