@use '../@shared/input-core.scss';
@import '../mixins/rem.scss';

@layer kol-theme-component {
	.input > .kol-icon {
		width: rem(32);
	}

	select {
		border: none;

		&[multiple] {
			overflow: auto;
		}

		option {
			margin: 1px 0;
			border-radius: var(--border-radius);
			cursor: pointer;

			&:disabled {
				cursor: not-allowed;
			}

			&:active:not(:disabled),
			&:checked:not(:disabled),
			&:focus:not(:disabled),
			&:hover:not(:disabled) {
				background-color: var(--color-primary-variant);
				color: var(--color-light);
			}
		}

		&:not([multiple]) option {
			padding: 0.5em;
		}
	}
}
