@import '../mixins/kol-table-stateless-wc';

@layer kol-theme-component {
	:host * {
		hyphens: var(--hyphens);
		font-family: var(--font-family);
		line-height: var(--line-height);
		word-break: break-word;
	}

	@media (min-width: 1024px) {
		div.pagination .kol-pagination {
			display: flex;
			align-items: center;
		}
	}
}

@include kol-table-stateless-wc;
