@use '../mixins/kol-table-stateless-wc' as *;

@layer kol-theme-component {
	:host * {
		font-family: var(--font-family);
		line-height: var(--line-height);
		word-break: break-word;
	}

	@media (min-width: 1024px) {
		div.pagination .kol-pagination {
			display: flex;
			align-items: center;
		}
	}
}

@include kol-table-stateless-wc;
