@layer kol-theme-component {
	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	:host kol-button-group-wc {
		display: inline-flex;
		gap: 2rem;
		flex-wrap: wrap;
	}

	button {
		box-sizing: border-box;
		background-color: transparent;
		border: 0;
		border-radius: var(--border-radius);
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		color: var(--color-subtle);
		padding: 0;
	}

	button:hover {
		color: var(--color-primary);
	}

	button.primary,
	button.selected {
		color: var(--color-primary);
	}

	button:not(.selected) kol-span-wc > span {
		border-bottom: 0.25em solid transparent;
	}

	button.selected kol-span-wc > span {
		border-bottom: 0.25em solid;
	}

	button kol-span-wc > span {
		gap: 0.5rem;
	}

	:host > div > div {
		padding: 0.25em 0;
	}

	div[role='tabpanel'] {
		height: 100%;
	}

	div.grid {
		height: 100%;
	}

	:host > .tabs-align-right {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-right kol-button-group-wc {
		display: grid;
		order: 2;
	}

	:host > .tabs-align-left {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	:host > .tabs-align-left kol-button-group-wc {
		display: grid;
		order: 0;
	}

	:host > .tabs-align-bottom {
		display: grid;
		grid-template-rows: 1fr auto;
	}

	:host > .tabs-align-bottom kol-button-group-wc {
		order: 2;
	}

	:host > .tabs-align-bottom kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-bottom > kol-button-group-wc > div > div:first-child {
		margin: 0px 1rem 0px 0px;
	}

	:host > .tabs-align-bottom > kol-button-group-wc > div > div {
		margin: 0px 1rem;
	}

	:host > .tabs-align-top {
		display: grid;
		grid-template-rows: auto 1fr;
	}

	:host > .tabs-align-top kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-top kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-top > kol-button-group-wc > div > div:first-child {
		margin: 0px 1rem 0px 0px;
	}

	:host > .tabs-align-top > kol-button-group-wc > div > div {
		margin: 0px 1rem;
	}

	:host > div {
		display: grid;
	}

	:host > div.tabs-align-left {
		grid-template-columns: auto 1fr;
	}

	:host > div.tabs-align-right {
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-left kol-button-group-wc,
	:host > .tabs-align-top kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-bottom kol-button-group-wc,
	:host > .tabs-align-right kol-button-group-wc {
		order: 1;
	}

	:host > .tabs-align-left kol-button-group-wc,
	:host > .tabs-align-right kol-button-group-wc {
		gap: inherit;
	}

	:host > div.tabs-align-left kol-button-group-wc > div,
	:host > div.tabs-align-left kol-button-group-wc > div > div,
	:host > div.tabs-align-right kol-button-group-wc > div,
	:host > div.tabs-align-right kol-button-group-wc > div > div {
		display: grid;
	}

	:host > div.tabs-align-left kol-button-group-wc > div > div kol-button-wc,
	:host > div.tabs-align-right kol-button-group-wc > div > div kol-button-wc {
		width: 100%;
	}

	:host > div.tabs-align-bottom kol-button-group-wc div,
	:host > div.tabs-align-top kol-button-group-wc div {
		display: flex;
		flex-wrap: wrap;
	}

	:host kol-button-group-wc button {
		border: none;
	}
}
