@use '../mixins/to-rem' as *;
@use '../mixins/icon' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	@include kol-button('kol-button');

	.kol-tabs {
		display: grid;
		grid-template-columns: var(--grid-template-columns);
		grid-template-rows: var(--grid-template-rows);

		&__button-group {
			gap: to-rem(32);
		}

		.kol-button {
			--text-color: var(--color-subtle);
			--text-background-color: transparent;
			--border-width: 0;

			border-radius: var(--border-radius);
			min-width: var(--a11y-min-size);
			min-height: var(--a11y-min-size);
			padding: 0;

			&__button {
				font-size: to-rem(18);
				font-weight: 700;
				line-height: 1.2;
				font-style: normal;
			}

			&:hover {
				--text-color: var(--color-primary);
				--text-background-color: transparent;
				--kol-focus-outline-width: 0;
			}

			&.primary,
			&.selected {
				--text-color: var(--color-primary);
			}

			&:not(&.selected) {
				.kol-span__container {
					padding-bottom: 0.25em;
				}
			}

			&.selected {
				.kol-span__container {
					border-bottom: 0.25em solid;
				}
			}

			.kol-span__container {
				gap: to-rem(8);
			}

			&__text {
				padding: 0;
			}
		}

		&__content {
			padding: 0.25em 0;
		}

		&__panel {
			height: 100%;
		}
	}
}
