@use '../@shared/input-text' as *;
@use '../mixins/form-field-order.textarea' as *;

@layer kol-theme-component {
	@include kol-form-field-order-textarea-theme;

	.kol-textarea {
		display: block;
		overflow: auto;
		border: none;
		padding: 0 to-rem(8);
		height: 100%;

		&::placeholder {
			color: var(--color-subtle);
		}
	}
}
