@use '../mixins/button' as *;
@use '../mixins/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	@include kol-button('kol-button');
	@include kol-button('kol-link');

	.kol-toolbar {
		background-color: var(--color-light);
		border-radius: var(--border-radius);

		.kol-link__text,
		.kol-button__text {
			border-radius: var(--toolbar-border-radius, 0);
			border-right-width: var(--toolbar-border-right-width, var(--border-width));
			border-bottom-width: var(--toolbar-border-bottom-width, var(--border-width));
		}

		&--orientation-horizontal {
			--toolbar-border-right-width: 0;

			.kol-toolbar__item:first-child {
				--toolbar-border-radius: var(--border-radius) 0 0 var(--border-radius);
			}

			.kol-toolbar__item:last-child {
				--toolbar-border-radius: 0 var(--border-radius) var(--border-radius) 0;
				--toolbar-border-right-width: : var(--border-width);
			}
		}

		&--orientation-vertical {
			--toolbar-border-bottom-width: 0;

			.kol-span--hide-label {
				padding: 0 0 0 to-rem(14);
				align-items: flex-start;
			}

			.kol-toolbar__item:first-child {
				--toolbar-border-radius: var(--border-radius) var(--border-radius) 0 0;
			}

			.kol-toolbar__item:last-child {
				--toolbar-border-radius: 0 0 var(--border-radius) var(--border-radius);
				--toolbar-border-bottom-width: : var(--border-width);
			}
		}
	}
}
