@import '../mixins/rem';

@layer kol-theme-component {
	.tree-item {
		ul {
			list-style: disc inside;
			border-left: 2px solid;
			padding-left: rem(0.4);
			margin-left: rem(2);
			margin-top: rem(0.4);
		}

		li {
			margin: rem(0.4) 0;
		}

		.toggle-button {
			align-items: center;
			border: 1px solid var(--color-primary);
			display: inline-flex;
			height: rem(1.6);
			justify-content: center;
			margin-right: rem(0.4);
			width: rem(1.6);
		}
	}

	.tree-link {
		display: inline-block;
		padding: rem(0.4);

		&.active {
			background: var(--color-primary-variant);
			color: var(--color-light);
		}
	}
}
