@import '../mixins/rem';

@layer kol-theme-component {
	.tree {
		ul {
			border: 2px solid transparent;
			border-radius: var(--border-radius);
		}

		&:focus-within {
			outline: 0;

			ul {
				border: 2px solid var(--color-primary);
			}
		}
	}
}
