@import '../mixins/rem';

@layer kol-theme-component {
	.tree-link {
		display: block;
		border: rem(1) solid transparent;

		&:hover,
		&:focus-within {
			border: rem(1) solid var(--color-primary);
			background-color: var(--color-primary-variant);

			& > a {
				outline-offset: 0;
			}

			& > a,
			.toggle-button {
				color: var(--color-light);
			}
		}

		&.active {
			background-color: var(--color-primary);

			a,
			.toggle-button {
				color: var(--color-light);
			}
		}

		a {
			display: block;
			color: var(--color-text);
			text-decoration: none;
			text-align: left;

			.toggle-button {
				display: inline-block;

				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}
