@use '../@shared/mixins' as *;
@use '../style' as *;

@layer kol-component {
	ul {
		display: grid;
		list-style: none;
		place-items: center;
	}

	ul li {
		height: 0;
	}

	.kol-link-wc a {
		left: rem(-99999);
		overflow: hidden;
		position: absolute;
		z-index: 9999999;
		line-height: 1;
	}

	.kol-link-wc a:focus {
		background-color: #fff;
		left: unset;
		position: unset;
	}
}
