@import '../style.css';

:host > div {
	overflow-x: auto;
	overflow-y: hidden;
}

table {
	width: 100%;
}

th > div {
	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;
	gap: 0.25em;
}

div.pagination {
	padding: 0.5em;
}

div.pagination,
div.pagination > div:last-child {
	display: grid;
	place-items: center;
	gap: 0.5em;
}

@media (min-width: 1024px) {
	div.pagination,
	div.pagination > div:last-child {
		grid-auto-flow: column;
	}

	div.pagination kol-pagination {
		display: flex;
		gap: 1rem;
	}
}
