/* windicss-touch: 1639175625181 */
@import ../style

:host
  @apply overflow-hidden

  & > div
    overflow-x: auto
    border-radius: var(--kolibri-border-radius)
    border-style: solid
    border-width: 1px
    @apply border-default

    table
      border: 0
      width: 100%

      tr
        border-top-style: solid
        border-top-width: 1px
        @apply py-1 px-2 border-t-1 border-default

        th,
        td
          border-right-style: solid
          border-right-width: 1px
          @apply py-1 px-2 border-default

          &:last-child
            border: 0

        th,
        .th
          @apply bg-gray-200

        &:nth-child(even)
          @apply bg-gray-100

        &:nth-child(odd)
          @apply white

  & > div.pagination
    @apply border-none w-full grid grid-flow-col content-center items-center pt-2 px-1 gap-2

    & > div::last-child
      @apply flex justify-self-end items-center gap-2
