@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@include kol-alert;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

.kol-input-color {
	&__input--color {
		cursor: pointer;
	}

	&__inputs-wrapper {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		gap: rem(6) !important;
	}
}
