@use '../../functions/to-rem' as *;
@use '../mixins/alert-wc' as *;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		outline: none;
		margin: to-rem(1);
		border: none;
	}

	input,
	select:not([multiple]) {
		min-height: var(--a11y-min-size);
	}

	input:not([type='range']):focus,
	select:focus,
	textarea:focus {
		border-bottom: 1px solid var(--color-blue);
		border-top: 1px solid var(--color-blue);
	}

	label {
		order: 1;

		font-weight: var(--font-weight-bold);
	}

	.hint {
		order: 2;

		font-size: to-rem(14);
	}

	.kol-alert-wc {
		@include kol-alert-wc(--color-red);
		order: 3;
	}

	.input {
		color: var(--color-grey);
		min-height: var(--a11y-min-size);
		padding: to-rem(1) 0.5em;
		order: 4;
		align-items: center;
		border: 1px solid var(--color-grey-75);
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset to-rem(1) to-rem(1) var(--color-blue),
			inset to-rem(-1) to-rem(-1) var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue);
	}

	.error .input {
		border-color: var(--color-red);
	}
}
