@import '../@shared/mixins';
@import '../input-line';
@import '../@shared/kol-alert-mixin.scss';

@include kol-alert-styles;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.password-toggle-button {
		position: absolute;
		transform: translateX(-100%);
	}

	.kol-tooltip-wc {
		--kol-tooltip-width: 10rem;
	}
}
