@import '../@shared/mixins';
@import '../input-line';
@import '../@shared/kol-alert-mixin.scss';

@include kol-alert-styles;

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.kol-button-wc {
		position: absolute;
		transform: translateX(-100%);
	}
}
