@use '../style' as *;
@use '../input-line' as *;

@layer kol-component {
	[slot='input'] {
		display: grid;
		grid-template-columns: 1fr auto;

		.kol-button,
		.kol-button-wc {
			button {
				min-height: 40px; // --a11y-min-size - 4px (Border)
			}
		}
	}
}
