@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.toolbar {
		display: flex;
		align-items: center;

		&:focus-within {
			outline: 1px solid;
			outline-offset: 2px;
		}
	}
}
