@import './style.css';

:host {
	display: inline-block;
}
:host > kol-button-wc,
:host > kol-link-wc {
	width: inherit;
}
:host > kol-button-wc a,
:host > kol-button-wc button,
:host > kol-link-wc a,
:host > kol-link-wc button {
	cursor: pointer;
	display: inline-block;
	min-height: 44px;
	min-width: 44px;
	padding: 0;
	text-align: center;
	transition-duration: 0.5s;
	transition-property: background-color, color, border-color;
	width: inherit;
}
:host > kol-button-wc a:active,
:host > kol-button-wc button:active,
:host > kol-link-wc a:active,
:host > kol-link-wc button:active {
	outline: 0 !important;
	box-shadow: none !important;
}
:host > kol-button-wc a:disabled,
:host > kol-button-wc button:disabled,
:host > kol-link-wc a:disabled,
:host > kol-link-wc button:disabled {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}
