@import './label.css';

.kol-disabled {
	opacity: 0.5;
}

.kol-cursor-not-allowed,
.kol-cursor-not-allowed * {
	cursor: not-allowed;
}

input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='file'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
textarea {
	background-color: white;
	display: block;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0 0.75em;
}

input[type='color'] {
	height: 2.5em;
	padding: 0.25em 0.5em;
}

textarea {
	padding: 0.5em;
}

input,
select,
textarea {
	border-color: var(--kolibri-border-color);
	border-style: solid;
	border-width: 1px;
}
input input.error,
input select.error,
input textarea.error,
select input.error,
select select.error,
select textarea.error,
textarea input.error,
textarea select.error,
textarea textarea.error {
	border-color: var(--kolibri-border-error);
}
input input:focus,
input input:hover,
input select:focus,
input select:hover,
input textarea:focus,
input textarea:hover,
select input:focus,
select input:hover,
select select:focus,
select select:hover,
select textarea:focus,
select textarea:hover,
textarea input:focus,
textarea input:hover,
textarea select:focus,
textarea select:hover,
textarea textarea:focus,
textarea textarea:hover {
	border-color: #999;
}

input:not([type='checkbox']),
option,
select,
textarea {
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
