/* windicss-touch: 1635046268941 */
@import ./label

input,
select,
textarea
  border-color: var(--kolibri-border-color)
  border-style: solid
  border-width: 1px
  // box-shadow: 0px 0px 0.05rem var(--kolibri-shadow-color), inset 0px 0px 0.05rem var(--kolibri-shadow-color)

  &.error
    border-color: var(--kolibri-border-error)
    // box-shadow: 0px 0px 0.05rem var(--kolibri-shadow-color), inset 0px 0px 0.05rem var(--kolibri-color-error)

  &:focus,
  &:hover
    border-color: #999
    // box-shadow: 0px 0px 0.15rem var(--kolibri-shadow-color), inset 0px 0px 0.05rem var(--kolibri-shadow-color)

input:not([type="checkbox"]),
option,
select,
textarea
  font-size: inherit
  letter-spacing: inherit
  word-spacing: inherit
