@import './input.css';

:host .kol-disabled {
	opacity: 0.5;
}

:host .kol-cursor-not-allowed,
:host .kol-cursor-not-allowed * {
	cursor: not-allowed;
}

:host input[type='color'],
:host input[type='date'],
:host input[type='datetime-local'],
:host input[type='email'],
:host input[type='file'],
:host input[type='month'],
:host input[type='number'],
:host input[type='password'],
:host input[type='search'],
:host input[type='tel'],
:host input[type='text'],
:host input[type='time'],
:host input[type='url'],
:host input[type='week'],
:host select,
:host textarea {
	background-color: white;
	display: block;
	line-height: 1em;
	padding: 0.5em;
}

:host input[type='color'] {
	height: 2.5em;
	padding: 0.25em 0.5em;
}

:host textarea {
	padding: 0.5em;
}
