@import './label.css';

input,
select,
textarea {
	border-color: var(--kolibri-border-color);
	border-style: solid;
	border-width: 1px;
}
input input.error,
input select.error,
input textarea.error,
select input.error,
select select.error,
select textarea.error,
textarea input.error,
textarea select.error,
textarea textarea.error {
	border-color: var(--kolibri-border-error);
}
input input:focus,
input input:hover,
input select:focus,
input select:hover,
input textarea:focus,
input textarea:hover,
select input:focus,
select input:hover,
select select:focus,
select select:hover,
select textarea:focus,
select textarea:hover,
textarea input:focus,
textarea input:hover,
textarea select:focus,
textarea select:hover,
textarea textarea:focus,
textarea textarea:hover {
	border-color: #999;
}

input:not([type='checkbox']),
option,
select,
textarea {
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
