@import './label.css';

:host input,
:host select,
:host textarea {
	border-color: var(--kolibri-border-color);
	border-style: solid;
	border-width: 1px;
}
:host input input.error,
:host input select.error,
:host input textarea.error,
:host select input.error,
:host select select.error,
:host select textarea.error,
:host textarea input.error,
:host textarea select.error,
:host textarea textarea.error {
	border-color: var(--kolibri-border-error);
}
:host input input:focus,
:host input input:hover,
:host input select:focus,
:host input select:hover,
:host input textarea:focus,
:host input textarea:hover,
:host select input:focus,
:host select input:hover,
:host select select:focus,
:host select select:hover,
:host select textarea:focus,
:host select textarea:hover,
:host textarea input:focus,
:host textarea input:hover,
:host textarea select:focus,
:host textarea select:hover,
:host textarea textarea:focus,
:host textarea textarea:hover {
	border-color: #999;
}

:host input:not([type='checkbox']),
:host option,
:host select,
:host textarea {
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}
