@import './style.css';

:host kol-link-wc,
:host kol-link-button-wc {
	display: inline-block;
}

:host kol-link-wc a,
:host kol-button-wc button {
	background-color: transparent;
	display: inline-flex;
	font-size: inherit;
	gap: var(--kolibri-spacing);
	place-items: center;
	text-decoration-line: underline;
}

:host a:focus,
:host a:hover,
:host button:focus,
:host button:hover {
	text-decoration-thickness: 0.2em;
}

:host kol-icon {
	padding: 0 var(--kolibri-spacing);
	display: inline-block;
}

:host .hidden {
	display: none;
	visibility: hidden;
}

:host .skip {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	line-height: 1em;
}
:host .skip:focus {
	background-color: white;
	box-shadow: 0 0 calc(2 * var(--kolibri-spacing)) calc(2 * var(--kolibri-spacing)) white;
	left: unset;
	position: unset;
}
