@import './style.css';
kol-link-wc,
kol-link-button-wc {
	display: inline-block;
}

kol-link-wc a,
kol-button-wc button {
	background-color: transparent;
	display: inline-flex;
	font-size: inherit;
	gap: var(--kolibri-spacing);
	place-items: center;
	text-decoration-line: underline;
}

a:focus,
a:hover,
button:focus,
button:hover {
	text-decoration-thickness: 0.2em;
}
kol-icon {
	padding: 0 var(--kolibri-spacing);
	display: inline-block;
}
.hidden {
	display: none;
	visibility: hidden;
}
.skip {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	line-height: 1em;
}
.skip:focus {
	background-color: white;
	box-shadow: 0 0 calc(2 * var(--kolibri-spacing)) calc(2 * var(--kolibri-spacing)) white;
	left: unset;
	position: unset;
}
