@import './tokens.css';
@import './a11y.css';

* {
	box-sizing: border-box;
	font-family: var(--kolibri-font-family);
}

kol-icon {
	color: inherit;
}

kol-span-wc {
	display: grid;
	place-items: center;
	width: 100%;
}
kol-span-wc > span {
	display: flex;
	gap: var(--kolibri-spacing);
	place-items: center;
}

button {
	min-height: 44px;
	min-width: 44px;
	padding: 0;
	margin: 0;
}

a,
button,
input,
select,
textarea {
	cursor: pointer;
	font-family: inherit;
}

a.icon-only > kol-span-wc > span > span,
button.icon-only > kol-span-wc > span > span {
	display: none;
}

a {
	display: inline-flex;
	place-items: baseline;
}

button {
	background-color: transparent;
	border-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1rem;
	margin: 0;
}
