*
	box-sizing: border-box
	font-size: inherit
	hyphens: auto
	letter-spacing: inherit
	word-break: break-word
	word-spacing: inherit

kol-heading-wc
	font-weight: bold

kol-icon
	color: inherit

kol-span-wc
	display: grid
	place-items: center
	width: 100%

	> span
		display: flex
		gap: 0.25rem
		place-items: center

a,
button,
input,
select,
textarea
	cursor: pointer

a,
button
	&.icon-only

		> kol-span-wc

			> span

				> span
					display: none

a
	display: inline-flex
	place-items: baseline

button
	background-color: transparent
	border-width: 0
