@windicss

*
	--border-radius: 0.125rem
	--gap: 0.25rem
	box-sizing: border-box
	font-size: inherit
	hyphens: auto
	letter-spacing: inherit
	word-break: break-word
	word-spacing: inherit

a,
button
	align-items: center
	border-radius: var(--border-radius)
	cursor: pointer
	display: inline-flex !important
	gap: var(--gap)
	justify-items: center
	overflow: hidden

kol-heading-wc
	font-weight: 700

kol-icon
	color: inherit

kol-span-wc
	display: grid
	align-items: center
	gap: var(--gap)
	justify-items: center
	width: 100%

	> span
		align-items: center
		display: flex
		gap: var(--gap)
		justify-items: center
