@import './tokens.css';
@import './a11y.css';

:host {
	/**
	 * For design systems it is important to have a basis font-family.
	 */
	font-family: var(--kolibri-font-family);
	/**
	 * This rule enables the font-size to be inherited from outside for easy scaling.
	 */
	font-size: inherit;
}

* {
	/**
	 * We prefer to box-sizing: border-box for all elements.
	 */
	box-sizing: border-box;
}

kol-icon {
	color: inherit;
}

kol-span-wc {
	display: grid;
	place-items: center;
	width: 100%;
}
kol-span-wc > span {
	display: flex;
	gap: var(--kolibri-spacing);
	place-items: center;
}

a {
	display: inline-flex;
	place-items: baseline;
}

button {
	background-color: transparent;
	border-width: 0;
	margin: 0;
	min-height: 44px;
	min-width: 44px;
	padding: 0;
}

a,
button,
input,
select,
textarea {
	cursor: pointer;
}

a.icon-only > kol-span-wc > span > span,
:host button.icon-only > kol-span-wc > span > span {
	display: none;
}
