@import '../style.css';

kol-tooltip #floating {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	box-sizing: border-box;
	display: none;
	position: absolute;
	visibility: hidden;
}

kol-tooltip #arrow {
	background: #333;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);
	width: 10px;
	z-index: 999;
}

kol-tooltip kol-badge {
	max-width: 300px;
	position: relative;
	z-index: 1000;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
