@use '../@shared/mixins' as *;

@layer kol-component {
	.kol-tooltip {
		display: contents;

		&__floating {
			animation-delay: var(--kolibri-tooltip-animation-delay, 250ms);
			animation-duration: var(--kolibri-tooltip-animation-duration, 250ms);
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
			animation-name: fadeOpacity;
			animation-timing-function: ease-out;
			display: none;
			opacity: 0;
			position: fixed;
			/* Avoid layout interference - see https://floating-ui.com/docs/computePosition */
			top: 0;
			left: 0;
			max-width: 90vw;
			max-height: 90vh;
			/* Can be used to specify the tooltip-width from the outside. Unset by default.  */
			width: var(--kolibri-tooltip-width);
		}

		&__arrow {
			background-color: #fff;
			color: #000;
			height: rem(10);
			position: absolute;
			transform: rotate(45deg);
			width: rem(10);
			z-index: 999;
		}

		&__content {
			background-color: #fff;
			color: #000;
			position: relative;
			z-index: 1000;
		}
	}

	@keyframes fadeOpacity {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
