@use '../@shared/mixins' as *;

@layer kol-component {
	.kol-tooltip-wc {
		display: contents;
	}

	.kol-tooltip-wc {
		.tooltip-floating {
			opacity: 0;
			display: none;
			position: fixed;

			/* Avoid layout interference - see https://floating-ui.com/docs/computePosition */
			top: 0;
			left: 0;
			/* Can be used to specify the tooltip-width from the outside. Unset by default. */
			width: var(--kol-tooltip-width, unset);
			max-width: 90vw;
			max-height: 90vh;
			animation-direction: normal;
			/* Can be used to specify the animation duration from the outside. 250ms by default. */
			animation-duration: var(--kolibri-tooltip-animation-duration, 250ms);
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;

			&.hide {
				animation-name: hideTooltip;
			}

			&.show {
				animation-name: showTooltip;
			}
		}
	}

	/* Shared between content and arrow */
	.kol-tooltip-wc .tooltip-area {
		color: #000;
		background-color: #fff;
	}

	.kol-tooltip-wc .tooltip-arrow {
		transform: rotate(45deg);
		position: absolute;
		z-index: 999;
		width: to-rem(10);
		height: to-rem(10);
	}

	.kol-tooltip-wc .tooltip-content {
		position: relative;
		z-index: 1000;
	}

	@keyframes hideTooltip {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			display: none;
		}
	}

	@keyframes showTooltip {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
