@use '../../components/@shared/mixins' as *;

/* For animation technique see https://css-tricks.com/css-grid-can-do-auto-height-transitions/ */

@layer kol-component {
	.collapsible {
		margin: 0;
		@media (prefers-reduced-motion) {
			&__wrapper-animation,
			&__wrapper {
				transition-duration: 0s;
			}
		}

		/* @see https://github.com/public-ui/kolibri/issues/5952 */
		@media print {
			:not(.collapsible--open) &__wrapper-animation {
				display: none;
			}
		}
		&__wrapper {
			/* Forces the element into its own GPU compositing layer (via 3D transform). Helps prevent rendering/layout bugs (e.g. #7511) and may improve animation performance. */
			transform: translateZ(0);
			display: grid;
			/**
			 * The `overflow: hidden` ensures that the content is not visible during the animated
			 * opening and closing. This should also cut off overlays containing content, but it
			 *does not.
			 */
			overflow: hidden;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.3s;
		}

		&__wrapper-animation {
			min-height: 0;
			/* This property is important to keep in sync with the visual transition (template-rows). Without it interactive elements within the accordion would stay focusable. */
			visibility: hidden;
			transition: visibility 0.3s;
		}

		.collapsible--open &__wrapper {
			grid-template-rows: 1fr;
		}

		.collapsible--open &__wrapper-animation {
			visibility: visible;
		}

		&__heading-button {
			color: inherit;
			background: none;
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
			border: 0;
			cursor: pointer;
			list-style: none;
			text-align: inherit;

			&::-webkit-details-marker {
				display: none;
			}
		}

		&__heading {
			margin: 0;
		}

		&__heading-content {
			display: inline-flex;
			width: 100%;
			gap: 0.5rem;
			align-items: center;
		}

		&__icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		&__label {
			display: inline-flex;
			align-items: center;
			text-align: start;
		}

		&--disabled &__heading-button {
			cursor: default;
			pointer-events: none;
		}
	}
}
