@import '../mixins/rem';
@import '../mixins/typography.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-span-wc > span {
		display: flex;
		align-items: center;
		text-align: left;
	}

	:host > div > .kol-heading-wc button {
		border-radius: var(--border-radius);
		min-height: 24px;
		padding: 10px 8px;
	}

	:host > div > .kol-heading-wc button .kol-span-wc {
		@include kol-typography-accordion;
		gap: rem(8);
	}

	:host > div > .kol-heading-wc button .kol-span-wc > span {
		gap: rem(4);
	}

	:host > div > .kol-heading-wc button .kol-icon {
		font-size: rem(24);
	}

	:host > div > .kol-heading-wc button .kol-icon::part(icon) {
		font-family: 'Material Symbols Rounded';
		font-weight: 400;
		color: var(--color-midnight);
	}

	.kol-icon::part(icon)::before {
		content: 'arrow_forward_ios';
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	:host > div.open > .kol-heading-wc button .kol-icon::part(icon)::before {
		transform: rotate(90deg);
	}

	:host > div {
		width: 100%;
		height: 100%;
		display: grid;
	}

	:host > div div[class='header'],
	:host > div[class*='open'] div[class='content'] {
		margin: 0;
	}

	:host > div div[class='content'] {
		padding-left: 2.25em;
		padding-bottom: 12px;
		padding-right: 8px;
	}

	button:focus {
		outline: none;
	}

	:host > .accordion:hover > kol-heading-wc {
		background-color: var(--color-smoke);
	}

	:host > .accordion:focus-within > kol-heading-wc {
		border-radius: var(--border-radius);
		cursor: pointer;
		outline-color: var(--color-ocean);
		outline-offset: -3px;
		outline-style: solid;
		outline-width: 3px;
		transition: outline 0.2s linear;
	}
}
