@import '../mixins/rem';
@import '../mixins/typography.scss';
@import '../mixins/focus-outline.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		font-size: rem(16);
	}

	.accordion {
		width: 100%;
		height: 100%;
		display: grid;

		.open &__heading {
			margin: 0;
		}

		&__wrapper {
			margin-top: 3px;
		}

		&__content {
			padding-left: 2.25em;
			padding-bottom: 12px;
			padding-right: 8px;
		}

		&__heading-button {
			button {
				&:focus {
					outline: none;
				}

				border-radius: var(--border-radius);
				min-height: 24px;
				padding: 10px 8px;

				@include kol-typography-accordion;
				gap: rem(8);

				.kol-span-wc > span {
					display: flex;
					align-items: center;
					text-align: left;
					gap: rem(4);
				}

				.kol-icon {
					font-size: rem(24);
				}

				.kol-icon::part(icon) {
					font-family: 'Material Symbols Rounded';
					font-weight: 400;
					color: var(--color-midnight);

					&::before {
						content: 'arrow_forward_ios';
						transition-property: transform;
						transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
						transition-duration: 150ms;
					}
				}
			}
		}

		.open &__heading-button {
			.kol-icon::part(icon) {
				transform: rotate(90deg);
			}
		}

		&:hover > &__heading {
			background-color: var(--color-smoke);
		}

		&:focus-within &__heading-button button {
			@include focus-outline;
			outline-offset: 0;
		}
	}
}
