@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		display: inline-block;
		font-family: var(--font-family);
	}

	:host > span {
		border-radius: rem(5);
		display: inline-flex;
		font-style: normal;
	}

	:host > span.smart-button {
		align-items: center;
	}

	:host > span .kol-button-wc:hover > button {
		background-color: var(--color-ocean);
		color: var(--color-white);
	}

	:host > span .kol-button-wc > button {
		color: inherit;
		font-size: rem(16);
		border-top-right-radius: rem(5);
		border-bottom-right-radius: rem(5);
		padding: 2px;
	}

	:host > span .kol-span-wc {
		padding: rem(4) rem(12);
	}

	:host > span > .kol-span-wc {
		align-items: center;
		font-style: normal;
		gap: rem(8);
	}

	:host > span > .kol-span-wc > span {
		display: flex;
		gap: rem(4);
	}
}
