@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	/* https://www.figma.com/file/56JbmrssCRpjpfxoAFeHqT/Design-System-EPLF-(in-progress)?node-id=8225%3A5945 */
	:host > div {
		display: grid;
		width: 100%;
		height: 100%;
		background-color: white;
		grid-template-rows: min-content 2fr min-content;
		box-shadow: 0 0 rem(4) var(--color-grey);
		border-radius: rem(4);
	}

	:host .kol-heading-wc {
		line-height: 1.75rem;
	}

	:host div.header {
		padding: rem(16) rem(16) rem(8) rem(16);
	}

	:host div.content {
		padding: rem(8) rem(16) rem(16);
		overflow: hidden;
	}

	:host div.footer {
		padding: rem(8) rem(16);
	}

	:host > div > div.content + div.footer {
		border-top: 2px solid var(--color-ice);
	}
}
