@import '../mixins/rem';
@import '../mixins/input';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.combobox {
		display: block;
		position: relative;

		&__group {
			flex: 0 0 auto;
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			width: 100%;
			padding: 0 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - rem(24));
			position: relative;

			&::placeholder {
				color: var(--color-grey);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}
		}

		&__icon {
			display: grid;
			place-items: center;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--color-grey);
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
			max-height: calc($option-height * $visible-options + 2px);
		}

		&__item {
			display: flex;
			align-items: center;
			height: $option-height;
			padding: rem(10) rem(12);
			border-radius: 0.25em;
			color: var(--color-black);

			&:focus {
				background: var(--color-ocean);
				color: white;
				outline: 0 !important;
			}
		}
	}

	@include input;
}
