@import '../mixins/indented-text';

@layer kol-theme-component {
	details {
		> summary {
			min-height: 2.75rem;
			display: flex;
			border-radius: var(--border-radius);
			font-family: var(--font-family);
			color: var(--color-midnight);
			gap: 0.25rem;

			> span {
				border: none;

				&:hover {
					box-shadow: 0 3px var(--color-ocean);
				}
			}
		}

		.kol-indented-text {
			margin: 0.25em 0 0 0.65em;
		}

		.kol-icon {
			font-size: 1rem;

			&::part(icon) {
				font-family: 'Material Symbols Rounded';
				font-weight: 400;
				color: var(--color-midnight);

				&:before {
					content: 'chevron_right';
				}
			}
		}
	}

	@include kol-indented-theme;
}
