@import '../mixins/indented-text';
@import '../mixins/rem';

@layer kol-theme-component {
	details {
		> summary {
			min-height: rem(44);
			display: flex;
			border-radius: var(--border-radius);
			font-family: var(--font-family);
			color: var(--color-midnight);
			gap: rem(4);

			> span {
				border: none;

				&:hover {
					box-shadow: 0 rem(3) var(--color-ocean);
				}
			}
		}

		.indented-text {
			margin: 0.25em 0 0 0.65em;
			@include indented-text;
		}

		.kol-icon {
			font-size: rem(16);

			&::part(icon) {
				font-family: 'Material Symbols Rounded';
				font-weight: 400;
				color: var(--color-midnight);

				&:before {
					content: 'chevron_right';
				}
			}
		}
	}
}
