@import '../mixins/rem';

@layer kol-theme-component {
	.headline-h1,
	.headline-h2,
	.headline-h3,
	.headline-h4,
	.headline-h5,
	.headline-h6 {
		color: inherit;
		font-style: normal;
		margin: 0;
		padding: 0;
	}

	.headline-h1,
	.headline-h2,
	.headline-h3 {
		font-weight: 700;
	}

	.headline-h1 {
		font-size: rem(24);
		line-height: rem(28);
	}

	.headline-h2 {
		font-size: rem(20);
		line-height: rem(28);
	}

	.headline-h3 {
		font-size: rem(18);
		line-height: rem(24);
	}
}
