@import '../mixins/input.scss';

@layer kol-theme-component {
	.inputs-wrapper {
		gap: 1em;
	}

	input {
		&:disabled {
			cursor: not-allowed;
		}

		&::placeholder {
			color: var(--color-grey);
		}
	}

	.input {
		padding: 0 1em;

		&.icon-left > .kol-icon:first-child {
			margin-right: 0.5em;
		}

		&.icon-right > .kol-icon:last-child {
			margin-left: 0.5em;
		}
	}

	@include input;
}
