@import '../mixins/input-messages.scss';
@import '../mixins/rem';
@import '../mixins/typography.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.kol-input {
		display: grid;

		&.disabled {
			.input {
				opacity: 0.5;
			}

			input,
			label {
				opacity: 1;
			}
		}
	}

	label {
		cursor: pointer;
		display: grid;
		line-height: 1;
		gap: 8px;
		width: 100%;
	}

	.hint {
		@include kol-typography-hint;
		order: 4;
	}

	input {
		cursor: pointer;

		border-color: var(--color-grey);
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		/* padding: 10px 14px; */
		//line-height: 24px;
		font-size: 16px;
		//width: 100%;

		&:hover {
			border-color: var(--color-midnight);
		}

		&:focus:hover {
			box-shadow: none;
		}
	}

	.required legend > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	fieldset {
		border: 0px;
		margin: 0px;
		padding: 0px;
		gap: 0.25em;
		color: var(--color-black);
		display: grid;

		&.horizontal {
			display: flex;
			flex-wrap: wrap;
			gap: rem(4) rem(24);
			align-items: flex-start;

			legend span {
				width: 100%;
			}
		}

		.kol-alert-wc {
			order: 3;
			padding-bottom: 0.25em;
		}

		legend {
			order: 2;
			display: contents;
			padding-bottom: 0.25em;

			* {
				order: 2;
			}
		}

		.kol-input {
			order: 2;
		}

		.input-slot {
			gap: rem(8);
		}

		.kol-input .hint {
			@include kol-typography-hint;
			order: 3;
		}

		&.error {
			border-left: 3px solid var(--color-red);
			padding-left: 1em;

			input:focus,
			select:focus,
			textarea:focus {
				outline-color: var(--color-red);
			}

			.kol-alert-wc.error {
				margin-left: -0.25em;
				color: var(--color-red);
				font-weight: 700;
			}

			label,
			legend {
				color: initial;
			}
		}
	}

	.radio-input-wrapper {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		min-height: 44px;
		margin: 0;
		gap: rem(8);

		label {
			cursor: pointer;
			display: flex;
			padding-left: 0;
			width: 100%;

			span {
				margin-top: 0.125em;
			}
		}

		input[type='radio'] {
			appearance: none;
			transition: 0.5s;
			border-radius: 100%;
			height: 1.5; // calc(6 * var(--spacing));
			min-width: 1.5; // calc(6 * var(--spacing));
			width: 1.5; // calc(6 * var(--spacing));

			&:before {
				content: '';
				cursor: pointer;
				border-radius: 100%;
				display: block;
			}

			&:checked {
				border-color: var(--color-midnight);

				&:before {
					background-color: var(--color-midnight);
				}
			}
		}

		:is(input[type='radio']:disabled, .radio-label) {
			cursor: not-allowed;
		}
	}

	@include inputMessages;
}
