@import '../mixins/input.scss';

@layer kol-theme-component {
	input {
		border: none;

		&::placeholder {
			color: var(--color-grey);
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	.input {
		padding: 0 1em;

		> input:first-child {
			padding-left: 0.375em;
		}

		> input:last-child {
			padding-right: 0.375em;
		}
	}

	@include input;
}
