@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	/* INPUT */
	:host .kol-input {
		display: grid;
		align-items: center;
		justify-items: left;
		width: 100%;
		min-height: 44px;
	}

	:host .kol-input.default:not(.hide-label) {
		grid-template-columns: 1.5rem auto;
		gap: 0.4em;
	}

	:host .kol-input.switch:not(.hide-label) {
		grid-template-columns: 3.5rem auto;
		gap: 0.4em;
	}

	:host .kol-input > div.input {
		display: inherit;
		min-height: 44px;
		order: 2;
	}

	:host .kol-input > div.input input {
		margin: 0px;
	}

	:host .kol-input:not(.disabled) :is(.input, label) {
		cursor: pointer;
	}

	:host .kol-input.disabled .input {
		cursor: not-allowed;
	}

	:host .kol-input > label {
		order: 3;
	}

	:host .kol-input > .kol-alert-wc.error {
		order: 1;
		padding-top: 0.25em;
		grid-column: span 2 / auto;
	}

	:host .kol-input.error:not(.hidden-error) {
		border-left: 3px solid var(--color-red);
		padding-left: 1em;
	}

	:host .kol-input.error input:focus,
	.kol-input.error select:focus,
	.kol-input.error textarea:focus {
		outline-color: var(--color-red) !important;
	}

	:host .kol-input.error .kol-alert-wc.error {
		color: var(--color-red);
		font-weight: 700;
	}

	:host input {
		order: 1;
		width: 100%;
		border-color: var(--color-grey);
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		line-height: 24px;
		font-size: 1rem;
	}

	:host input:hover {
		border-color: var(--color-midnight);
		box-shadow: 0px 2px 8px 2px rgba(8, 35, 48, 0.24);
	}

	:host input:focus:hover {
		box-shadow: none;
	}

	:host input:active {
		box-shadow: none;
	}

	:host .kol-alert-wc {
		display: block;
		width: 100%;
	}

	/* CHECKBOX */
	:host .kol-input:not(.button) label span {
		margin-top: 0.125rem;
	}

	:host .required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	:host .kol-input input[type='checkbox'] {
		appearance: none;
		background-color: white;
		transition: 0.5s;
	}

	:host .kol-input input[type='checkbox']:before {
		content: '';
	}

	:host .kol-input input[type='checkbox']:checked {
		background-color: var(--color-midnight);
		border-color: var(--color-midnight);
	}

	:host .kol-input.default .checkbox-container {
		justify-content: flex-start;
	}

	:host .kol-input.default input[type='checkbox']:indeterminate {
		background-color: var(--color-midnight);
		border-color: var(--color-midnight);
	}

	:host .kol-input.default .icon {
		color: var(--color-white);
		margin: -0.125rem 0 0 0.25rem;
		/* visually align */
	}

	:host .kol-input.default input[type='checkbox'] {
		border-radius: var(--border-radius);
		height: calc(6 * var(--spacing));
		min-width: calc(6 * var(--spacing));
		width: calc(6 * var(--spacing));
	}

	.default {
		.icon::part(icon) {
			font-family: 'Material Symbols Rounded';
			font-weight: 900;
			margin-top: 1px;
		}

		&.checked .icon::part(icon)::before {
			content: 'check';
		}

		&.indeterminate .icon::part(icon)::before {
			content: 'remove';
		}
	}

	:host .kol-input.switch input[type='checkbox'] {
		min-width: 3.5em;
		width: 3.5em;
		background-color: var(--color-grey);
		border-width: 0;
		height: 1.5em;
		border-radius: 1.25em;
		position: relative;
		/* Visible with forced colors  */
		outline: transparent solid 1px;
	}

	:host .kol-input.switch input[type='checkbox']:before {
		transition: 0.5;
		width: 1.25em;
		height: 1.25em;
		left: calc(0.25em - 2px);
		top: calc(0.25em - 2px);
		border-radius: 1.25em;
		background-color: white;
		position: absolute;
	}

	:host .kol-input.switch input[type='checkbox']:checked {
		background-color: var(--color-midnight);
	}

	:host .kol-input.switch input[type='checkbox']:checked:before {
		transform: translateX(2em);
		--tw-bg-opacity: 1;
	}

	:host .kol-input.switch input[type='checkbox']:indeterminate {
		--tw-bg-opacity: 1;
	}

	:host .kol-input.switch input[type='checkbox']:indeterminate:before {
		transform: translateX(1em);
	}

	.switch {
		& .checkbox-input-element {
			display: block;
		}

		& .icon {
			width: 1.25em;
			height: 1.25em;
			left: 2px;
			color: #000;

			&::part(icon) {
				font-family: 'Material Symbols Rounded';
				font-weight: 900;
			}

			&::part(icon)::before {
				content: 'add';
			}
		}

		&.checked .icon {
			transform: translate(2em, -50%);

			&::part(icon)::before {
				content: 'check';
			}
		}

		&.indeterminate .icon {
			transform: translate(1em, -50%);

			&::part(icon)::before {
				content: 'remove';
			}
		}
	}

	.kol-input.button {
		row-gap: 0.5rem;

		/* Outer, clickable, container for the checkbox */
		.checkbox-container {
			align-items: center;
			display: flex;
			min-height: 44px;
			position: relative;
		}

		/* Inner, visual, element for the checkbox */
		.icon {
			background-color: var(--color-silver);
			border-bottom-left-radius: var(--border-radius);
			border-top-left-radius: var(--border-radius);
			height: auto;
			min-height: 32px;
			min-width: 32px;

			/* Stable position when paddings are changing */
			&::part(icon) {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			@at-root .hide-label#{&} {
				border-top-right-radius: var(--border-radius);
				border-bottom-right-radius: var(--border-radius);
			}
		}

		/* Outer, clickable, container for the label */
		.input-label {
			align-items: center;
			display: flex;
			min-height: 44px;
			width: 100%;
		}

		/* Inner, visual, element for the label */
		.input-label-span {
			align-items: center;
			background-color: var(--color-silver);
			border-bottom-right-radius: var(--border-radius);
			border-top-right-radius: var(--border-radius);
			display: flex;
			min-height: 32px;
			padding-right: 12px;
			width: 100%;
		}

		/* States */
		&.checked .icon,
		&.checked .input-label-span {
			background-color: var(--color-ice);
		}

		&:not(.disabled):hover .icon,
		&:not(.disabled):hover .input-label-span {
			background-color: var(--color-midnight);
			color: var(--color-silver);
		}

		&:focus-within {
			outline: none;

			.icon,
			.input-label-span {
				min-height: 34px;
				border: 3px solid var(--color-ocean);
				background-clip: content-box; // emulate outline with offset
				padding: 2px;
			}


			.icon {
				border-right: none;
				padding-right: 0;
			}

			.input-label-span {
				border-left: none;
				padding-left: 0;
			}
		}
	}

	.msg {
		border-width: 0 !important;
	}

	.kol-alert-wc {
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		display: flex;
		width: 100%;
		overflow: unset;
		border-color: transparent;
		background-color: white;
	}

	.kol-alert-wc > .heading {
		display: flex;
		gap: 0.5em;
		place-items: center;
	}

	.kol-alert-wc > .heading > div {
		display: grid;
		gap: var(--kolibri-spacing);
	}

	.msg {
		background-color: transparent;
	}

	.msg > .heading {
		place-items: flex-start;
	}

	.msg > .heading > .kol-icon {
		place-self: baseline;
	}

	.kol-alert-wc > .heading > div {
		display: grid;
		gap: var(--spacing);
	}

	.kol-alert-wc > .heading > .kol-button-wc.close {
		place-self: center;
	}

	.msg {
		align-items: start;
	}

	.default {
		border-color: var(--color-grey);
	}

	.default.msg .heading-icon {
		color: var(--color-grey);
	}

	.error {
		border-color: var(--color-red);
	}

	.error.msg .heading-icon {
		color: var(--color-red);
	}

	.info {
		border-color: var(--color-midnight);
	}

	.info.msg .heading-icon {
		color: var(--color-midnight);
	}

	.success {
		border-color: var(--color-green);
	}

	.success.msg .heading-icon {
		color: var(--color-green);
	}

	.warning {
		border-color: var(--color-orange);
	}

	.warning.msg .heading-icon {
		color: var(--color-orange);
	}

	.heading-icon {
		color: white;
	}

	.kol-alert-wc .heading .heading-icon {
		padding: 0;
	}

	.msg > .heading > .heading-icon {
		padding-top: 0;
		place-items: baseline;
	}

	.msg > .heading > .heading-icon::part(icon) {
		line-height: 1.375rem;
	}

	.msg > .heading > div > .kol-heading-wc {
		line-height: 20px;
		padding-top: 0.125rem;
	}

	.msg.default .heading > div > .kol-heading-wc {
		color: var(--color-grey);
	}

	.msg.error .heading > div > .kol-heading-wc {
		color: var(--color-red);
	}

	.msg.info .heading > div > .kol-heading-wc {
		color: var(--color-midnight);
	}

	.msg.success .heading > div > .kol-heading-wc {
		color: var(--color-green);
	}

	.msg.warning .heading > div > .kol-heading-wc {
		color: var(--color-orange);
	}

	/*.msg > .heading > div {display: grid;grid-template-columns: 1fr auto;}.msg > .heading > div > .content {grid-row: 2;grid-column: 1;}.msg > div > .close {display: flex;}*/
	.msg.default .close .icon {
		color: var(--color-grey);
	}

	.msg.error .close .icon {
		color: var(--color-red);
	}

	.msg.info .close .icon {
		color: var(--color-midnight);
	}

	.msg.success .close .icon {
		color: var(--color-green);
	}

	.msg.warning .close .icon {
		color: var(--color-orange);
	}

	.card {
		border-width: 2px;
		border-style: solid;
		filter: drop-shadow(0px 2px 4px rgba(8, 35, 48, 0.24));
		flex-direction: column;
	}

	.card > .heading {
		padding: 0.5rem 1rem;
	}

	.card.hasCloser > .heading {
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
	}

	.card > .heading > div {
		width: 100%;
		min-height: 1.25rem;
	}

	.card > .heading .heading-icon {
		justify-self: right;
		margin-top: -4px;
	}

	.card > .heading .kol-heading-wc {
		width: 100%;
		color: white;
		display: flex;
		font-size: 1.25rem;
		line-height: 1.25rem;
	}

	.card > .heading .kol-heading-wc > * {
		margin: auto 0;
	}

	.card > .heading .kol-button-wc button:focus {
		outline-color: var(--color-white);
		outline-offset: -3px;
		outline-style: solid;
		outline-width: 3px;
		transition: outline 0.1s linear;
	}

	.card > .heading .kol-button-wc button:hover {
		background-color: rgba(32, 32, 32, 0.2);
	}

	.card > .heading .kol-button-wc button:active {
		background-color: rgba(32, 32, 32, 0.4);
	}

	.card > .heading .kol-button-wc button:hover:focus {
		background-color: rgba(32, 32, 32, 0.1);
	}

	.card > .content {
		padding: 1rem;
		max-height: 9.5rem;
		overflow-y: auto;
	}

	.card.default > .heading {
		background-color: var(--color-grey);
		border-bottom: 2px solid var(--color-grey);
	}

	.card.error > .heading {
		background-color: var(--color-red);
		border-bottom: 2px solid var(--color-red);
	}

	.card.info > .heading {
		background-color: var(--color-midnight);
		border-bottom: 2px solid var(--color-midnight);
	}

	.card.success > .heading {
		background-color: var(--color-green);
		border-bottom: 2px solid var(--color-green);
	}

	.card.warning > .heading {
		background-color: var(--color-orange);
		border-bottom: 2px solid var(--color-orange);
	}

	:is(.error, .info, .success, .warning) .heading-icon::part(icon) {
		font-family: 'Material Symbols Rounded';
		font-weight: 900;
		font-variation-settings: 'FILL' 1;
		height: 1.25rem;
		width: 1.25rem;
	}

	:is(.error, .info, .success, .warning) .heading-icon {
		font-size: 1.25rem !important;
	}

	.error .heading-icon::part(icon)::before {
		content: 'error';
	}

	.info .heading-icon::part(icon)::before {
		content: 'info';
	}

	.success .heading-icon::part(icon)::before {
		content: 'check_circle';
	}

	.warning .heading-icon::part(icon)::before {
		content: 'warning';
	}

	.card > div > .content {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	.card.default .close {
		background-color: var(--color-grey);
	}

	.card.error .close {
		background-color: var(--color-red);
	}

	.card.info .close {
		background-color: var(--color-midnight);
	}

	.card.success .close {
		background-color: var(--color-green);
	}

	.card.warning .close {
		background-color: var(--color-orange);
	}

	.close > button {
		min-width: 44px;
		color: var(--color-white);
		min-height: 44px;
		display: grid;
		gap: 0.25em;
		line-height: 1.5rem;
		font-family: var(--font-family);
		font-weight: 700;
		cursor: pointer;
		border-radius: 1.5em;
		border-style: solid;
		border-width: 2px;
		font-size: 1rem;
		align-items: center;
		padding: 8px 14px;
		justify-content: center;
		font-style: normal;
		text-align: center;
		width: inherit;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;
		background-color: rgba(0, 0, 0, 0);
		border-color: rgba(0, 0, 0, 0);
	}

	.close > button {
		padding: 8px;
	}

	.close > button .kol-icon {
		display: flex;
		width: 1em;
		height: 1em;
		font-size: 1rem;
	}

	.close > button .kol-icon::part(icon) {
		font-family: 'Material Symbols Rounded';
		font-weight: 900;
	}

	.close > button .kol-icon::part(icon)::before {
		content: 'close';
	}

	.close > button:active {
		box-shadow: none;
		outline: none;
	}
}
