@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	kol-input {
		gap: 0.25em;
	}

	kol-input .error {
		order: 1;
	}

	kol-input label {
		order: 2;
	}

	kol-input .input {
		order: 3;
	}

	kol-input .hint {
		order: 4;
		font-size: 0.875em;
		font-style: italic;
	}

	.inputs-wrapper {
		gap: 1em;
	}

	input::placeholder {
		color: var(--color-grey);
	}

	.input {
		background-color: var(--color-white);
		border-color: var(--color-grey);
		border-radius: var(--border-radius);
		border-style: solid;
		border-width: 2px;
		padding: 0 1em;
	}

	.input > kol-icon {
		width: 1em;
	}

	.input.icon-left > kol-icon:first-child {
		margin-right: 0.5em;
	}

	.input.icon-right > kol-icon:last-child {
		margin-left: 0.5em;
	}

	.input:is(.icon-left, .icon-right) {
		padding-left: 1em;
		padding-right: 1em;
	}

	.input:hover {
		border-color: var(--color-midnight);
	}

	input:disabled {
		cursor: not-allowed;
	}

	.required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	kol-input.error .input {
		border-color: var(--color-red);
		border-width: 3px;
	}

	kol-input.error:not(.hidden-error) {
		border-left: 3px solid var(--color-red);
		padding-left: 1em;
	}

	kol-input.error kol-alert.error {
		color: var(--color-red);
		font-weight: 700;
	}

	kol-input.disabled .input {
		background-color: var(--color-smoke);
		border-color: var(--color-granite);
		color: var(--color-black);
	}
}
