@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	/* INPUT */
	:host kol-input {
		display: grid;
		align-items: center;
		justify-items: left;
		width: 100%;
		min-height: 44px;
	}

	:host kol-input.default:not(.hide-label) {
		grid-template-columns: 1.5rem auto;
		gap: 0.4em;
	}

	:host kol-input.switch:not(.hide-label) {
		grid-template-columns: 3.5rem auto;
		gap: 0.4em;
	}

	:host kol-input > div.input {
		display: inherit;
		min-height: 44px;
		order: 2;
	}

	:host kol-input > div.input input {
		margin: 0px;
	}

	:host kol-input:not(.disabled) :is(.input, label) {
		cursor: pointer;
	}

	:host kol-input.disabled .input {
		cursor: not-allowed;
	}

	:host kol-input > label {
		order: 3;
	}

	:host kol-input > kol-alert.error {
		order: 1;
		padding-top: 0.25em;
		grid-column: span 2 / auto;
	}

	:host kol-input.error:not(.hidden-error) {
		border-left: 3px solid var(--color-red);
		padding-left: 1em;
	}

	:host kol-input.error input:focus,
	kol-input.error select:focus,
	kol-input.error textarea:focus {
		outline-color: var(--color-red) !important;
	}

	:host kol-input.error kol-alert.error {
		color: var(--color-red);
		font-weight: 700;
	}

	:host input {
		order: 1;
		width: 100%;
		border-color: var(--color-grey);
		border-width: 2px;
		border-style: solid;
		border-radius: 5px;
		line-height: 24px;
		font-size: 1rem;
	}

	:host input:hover {
		border-color: var(--color-midnight);
		box-shadow: 0px 2px 8px 2px rgba(8, 35, 48, 0.24);
	}

	:host input:focus:hover {
		box-shadow: none;
	}

	:host input:active {
		box-shadow: none;
	}

	:host kol-alert {
		display: block;
		width: 100%;
	}

	/* CHECKBOX */
	:host kol-input label span {
		margin-top: 0.125rem;
	}

	:host .required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	:host kol-input input[type='checkbox'] {
		appearance: none;
		background-color: white;
		transition: 0.5s;
	}

	:host kol-input input[type='checkbox']:before {
		content: '';
	}

	:host kol-input input[type='checkbox']:checked {
		background-color: var(--color-midnight);
		border-color: var(--color-midnight);
	}

	:host kol-input.default .checkbox-container {
		justify-content: flex-start;
	}

	:host kol-input.default input[type='checkbox']:indeterminate {
		background-color: var(--color-midnight);
		border-color: var(--color-midnight);
	}

	:host kol-input.default .icon {
		color: var(--color-white);
		margin: -0.125rem 0 0 0.25rem;
		/* visually align */
	}

	:host kol-input.default input[type='checkbox'] {
		border-radius: var(--border-radius);
		height: calc(6 * var(--spacing));
		min-width: calc(6 * var(--spacing));
		width: calc(6 * var(--spacing));
	}

	.default {
		.icon::part(icon) {
			font-family: 'Material Symbols Rounded';
			font-weight: 900;
			margin-top: 1px;
		}

		&.checked .icon::part(icon)::before {
			content: 'check';
		}

		&.indeterminate .icon::part(icon)::before {
			content: 'remove';
		}
	}

	:host kol-input.switch input[type='checkbox'] {
		min-width: 3.5em;
		width: 3.5em;
		background-color: var(--color-grey);
		border-width: 0;
		height: 1.5em;
		border-radius: 1.25em;
		position: relative;
		/* Visible with forced colors  */
		outline: transparent solid 1px;
	}

	:host kol-input.switch input[type='checkbox']:before {
		transition: 0.5;
		width: 1.25em;
		height: 1.25em;
		left: calc(0.25em - 2px);
		top: calc(0.25em - 2px);
		border-radius: 1.25em;
		background-color: white;
		position: absolute;
	}

	:host kol-input.switch input[type='checkbox']:checked {
		background-color: var(--color-midnight);
	}

	:host kol-input.switch input[type='checkbox']:checked:before {
		transform: translateX(2em);
		--tw-bg-opacity: 1;
	}

	:host kol-input.switch input[type='checkbox']:indeterminate {
		--tw-bg-opacity: 1;
	}

	:host kol-input.switch input[type='checkbox']:indeterminate:before {
		transform: translateX(1em);
	}

	.switch {
		& .checkbox-input-element {
			display: block;
		}

		& .icon {
			width: 1.25em;
			height: 1.25em;
			left: 2px;
			color: #000;

			&::part(icon) {
				font-family: 'Material Symbols Rounded';
				font-weight: 900;
			}

			&::part(icon)::before {
				content: 'add';
			}
		}

		&.checked .icon {
			transform: translate(2em, -50%);

			&::part(icon)::before {
				content: 'check';
			}
		}

		&.indeterminate .icon {
			transform: translate(1em, -50%);

			&::part(icon)::before {
				content: 'remove';
			}
		}
	}

	:host kol-input.button {
		row-gap: 0.5rem;
	}

	:host kol-input.button.checked > .input,
	:host kol-input.button.checked > label {
		background-color: var(--color-ice);
	}

	:host kol-input.button > label {
		background-color: var(--color-silver);
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		min-height: 32px;
		align-items: center;
		display: flex;
		padding-right: 12px;
		width: 100%;
	}

	:host kol-input.button > .input {
		background-color: var(--color-silver);
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
		min-height: 32px;
		min-width: 32px;
		place-content: center;
	}

	:host kol-input.button.hide-label > .input {
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}

	:host kol-input.button > .input > div {
		display: flex;
	}

	:host kol-input.button .icon {
		height: auto;
	}

	.button:focus-within {
		border-radius: var(--a11y-min-size);
		outline-color: var(--color-ocean);
		outline-offset: 2px;
		outline-style: solid;
		outline-width: 3px;
	}
}
