@import '../mixins/rem';

$option-height: rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.navigation-list {
		gap: 0.25em;
	}

	.icon {
		font-size: 18px;

		&::part(icon) {
			font-family: 'Material Symbols Rounded';
			font-weight: 400;
		}
	}

	.first .icon::part(icon)::before {
		content: 'keyboard_double_arrow_left';
		color: var(--color-midnight);
	}

	.previous .icon::part(icon)::before {
		content: 'chevron_left';
		color: var(--color-midnight);
	}

	.next .icon::part(icon)::before {
		content: 'chevron_right';
		color: var(--color-midnight);
	}

	.last .icon::part(icon)::before {
		content: 'keyboard_double_arrow_right';
		color: var(--color-midnight);
	}

	.separator:before {
		content: '...';
		color: var(--color-midnight);
	}

	.button {
		&:focus {
			outline: none;

			.button-inner {
				outline-offset: 2px;
				outline: 3px solid var(--color-ocean);
				transition: outline-offset 0.2s linear;
			}
		}

		&:active,
		&:hover {
			&:not(:disabled) .button-inner {
				background-color: var(--color-ocean);
				border-color: var(--color-ocean);
				color: var(--color-white);
			}

			&:not(:disabled) .icon::part(icon)::before {
				color: var(--color-white);
			}
		}

		&:active .button-inner {
			border-color: var(--color-white);
			outline: none;
		}

		.button-inner {
			background-color: transparent;
			border-radius: var(--a11y-min-size);
			border: 2px solid transparent;
			color: var(--color-midnight);
			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			padding: 8px;
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;
		}
	}

	.selected button {
		&:disabled {
			opacity: 1;
		}

		.button-inner {
			background-color: var(--color-ice);
			border-color: var(--color-ice);
			font-weight: 700;
		}
	}

	.menu {
		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--color-grey);
			max-height: calc($option-height * $visible-options + 2px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		&__item {
			height: $option-height;
			padding: rem(10) rem(12);

			.radio-label {
				align-self: center;
				padding-left: rem(1);
			}

			&:focus,
			&.highlighted {
				background: var(--color-ocean);
				color: white;
				outline: 0 !important;
			}
		}
	}
}
