@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.navigation-list {
		gap: 0.25em;
	}

	.icon {
		font-size: 18px;

		&::part(icon) {
			font-family: 'Material Symbols Rounded';
			font-weight: 400;
		}
	}

	.first .icon::part(icon)::before {
		content: 'keyboard_double_arrow_left';
	}

	.previous .icon::part(icon)::before {
		content: 'chevron_left';
	}

	.next .icon::part(icon)::before {
		content: 'chevron_right';
	}

	.last .icon::part(icon)::before {
		content: 'keyboard_double_arrow_right';
	}

	.button {
		&:focus {
			outline: none;

			.button-inner {
				outline-offset: 2px;
				outline: 3px solid var(--color-ocean);
				transition: outline-offset 0.2s linear;
			}
		}
		&:active,
		&:hover {
			&:not(:disabled) .button-inner {
				background-color: var(--color-ocean);
				border-color: var(--color-ocean);
				box-shadow: 0 2px 8px 2px rgba(8, 35, 48, 0.24);
				color: var(--color-white);
			}
		}
		&:active .button-inner {
			border-color: var(--color-white);
			outline: none;
		}

		.button-inner {
			background-color: transparent;
			border-radius: var(--a11y-min-size);
			border: 2px solid transparent;
			color: var(--color-midnight);
			min-height: var(--a11y-min-size);
			min-width: var(--a11y-min-size);
			padding: 8px;
			text-align: center;
			transition-duration: 0.5s;
			transition-property: background-color, color, border-color;
		}
	}

	.selected .button-inner {
		background-color: var(--color-ice);
		border-color: var(--color-ice);
		font-weight: 700;
	}
}
