@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.bar > div {
		flex-direction: column;
		gap: rem(8);
		width: rem(100);
	}

	.bar > div text {
		color: var(--color-black);
		align-self: flex-end;
	}

	.bar svg {
		height: rem(16);
	}

	.bar .background {
		fill: var(--color-ice);
		stroke: var(--color-ice);
		stroke-width: rem(1);
		height: rem(8);
	}

	.bar .progress {
		fill: var(--color-midnight);
		stroke: var(--color-midnight);
	}

	.bar .border {
		display: none;
	}

	.cycle {
		overflow: visible;
	}

	.cycle .whitespace,
	.cycle .border {
		stroke: transparent;
	}

	.cycle .background {
		stroke: var(--color-ice);
		stroke-width: rem(16);
	}

	.cycle .progress {
		stroke: var(--color-midnight);
		stroke-width: rem(16);
	}

	.cycle text:first-of-type {
		color: var(--color-grey);
		line-height: 1;
		alignment-baseline: after-edge;
	}

	.cycle text:last-of-type {
		color: var(--color-black);
		font-size: rem(28);
		font-weight: 700;
		line-height: 1;
		alignment-baseline: central;
	}
}
