@import '../mixins/input.scss';

@layer kol-theme-component {
	select {
		border: none;

		&::placeholder {
			color: var(--color-grey);
		}

		&:disabled {
			cursor: not-allowed;
		}

		&[multiple] {
			overflow: auto;
		}

		option {
			margin: 1px 0;
			border-radius: 0.25em;
			cursor: pointer;

			&:disabled {
				cursor: not-allowed;
			}

			&:active:not(:disabled),
			&:checked:not(:disabled),
			&:focus:not(:disabled),
			&:hover:not(:disabled) {
				background: var(--color-ocean);
				color: white;
			}
		}

		&:not([multiple]) option {
			padding: 0.5em;
		}
	}

	.input {
		padding: 0 1em;

		&.icon-left .kol-icon:first-child {
			margin-right: 0.5em;
		}

		&.icon-right .kol-icon:last-child {
			margin-left: 0.5em;
		}

		> input:first-child {
			padding-left: 0.375em;
		}

		> input:last-child {
			padding-right: 0.375em;
		}
	}

	@include input;
}
