@import '../mixins/input.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	.single-select {
		display: block;
		position: relative;

		&__group {
			flex: 0 0 auto;
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			width: 100%;
			padding: 0 0.5em;
		}

		&__input {
			border: none;
			flex-grow: 1;
			width: calc(100% - 2.5rem);
			position: relative;

			&::placeholder {
				color: var(--color-grey);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-primary);
			}
		}

		&__button {
			display: grid;
			place-items: center;
			cursor: pointer;
			padding-left: 1em;

			&:focus {
				outline: 0 !important;
			}
		}

		&__listbox {
			border-style: solid;
			border-width: 1px;
			border-radius: var(--border-radius);
			border-color: var(--color-grey);
			max-height: 15.625rem;
			overflow-y: auto;
			overflow-x: hidden;
			box-sizing: border-box;
			width: 100%;
		}

		&__item {
			padding: 0.62rem 0.75rem;
			margin: 1px 0;
			border-radius: 0.25em;
			cursor: pointer;
			color: var(--color-black);

			.radio-label {
				align-self: center;
				padding-left: 1em;
			}

			&:focus,
			&.highlighted {
				background: var(--color-ocean);
				outline: 0 !important;

				.radio-label {
					color: white !important;
				}
			}
		}
	}

	@include input;
}
