@import '../mixins/rem';

@layer kol-theme-component {
	.kol-link-wc > a > .kol-span-wc {
		border-radius: var(--a11y-min-size);
		border-style: solid;
		border-width: 2px;
		gap: rem(8);
		line-height: 1;
		padding: 8px 14px;
		background-color: var(--color-ocean);
		border-color: var(--color-ocean);
		color: var(--color-white);
		cursor: pointer;
	}
}
