@import '../mixins/button.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-radius: var(--a11y-min-size);
		border-style: solid;
		border-width: rem(2);
		border-color: var(--color-midnight);
	}

	.popover {
		background-color: #fff;
	}

	.horizontal-line {
		background-color: var(--color-midnight);
		border-radius: rem(2);
		width: rem(1);
	}

	.secondary-button button {
		height: 100%;
	}

	.secondary-button :active > .kol-span-wc {
		border-top-right-radius: var(--a11y-min-size);
		border-bottom-right-radius: var(--a11y-min-size);
	}

	.secondary-button :focus .kol-span-wc {
		border-top-right-radius: var(--a11y-min-size);
		border-bottom-right-radius: var(--a11y-min-size);
		border-top-left-radius: rem(0);
		border-bottom-left-radius: rem(0);
		outline-offset: 0;
	}

	:is(a, button):focus .kol-span-wc {
		outline-color: var(--color-ocean);
		outline-style: solid;
		outline-width: rem(3);
		outline-offset: rem(2);
		transition: outline-offset 0.2s linear;
	}

	:is(a, button) > .kol-span-wc {
		font-weight: 700;
		border-top-left-radius: var(--a11y-min-size);
		border-bottom-left-radius: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		min-width: var(--a11y-min-size);
		padding: rem(8) rem(14);
		text-align: center;
		transition-duration: 0.5s;
		transition-property: background-color, color, border-color;
	}

	@include kol-button;
}
