@import '../mixins/input.scss';

@layer kol-theme-component {
	textarea {
		border: none;
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		overflow: auto;

		&::placeholder {
			color: var(--color-grey);
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 1;
		}
	}

	.input {
		padding: 0 0 0 1em;
		position: relative;

		textarea ~ span {
			position: absolute;
			top: -1.5rem;
			right: 0;
			color: var(--color-grey);
		}
	}

	@include input;
}
