@import '../mixins/rem';

@layer kol-theme-component {
	:host {
		top: rem(80);
		right: rem(32);
		width: 440px;
		max-width: 100%;
	}

	.toast {
		margin-top: rem(16);

		&:first-child {
			margin-top: 0;
		}
	}
}
