@import '../mixins/rem';

@layer kol-theme-component {
	.tree-link {
		display: block;
		border: 2px solid transparent;

		&:hover,
		&:focus-within {
			background: var(--color-ocean);
			border: 2px solid var(--color-midnight);

			& > a {
				outline-offset: 0;
			}

			& > a,
			.toggle-button-icon {
				color: var(--color-white);
			}
		}

		&.active {
			background: var(--color-yellow);

			a {
				font-weight: 700;
			}

			a,
			.toggle-button-icon {
				color: var(--color-midnight);
			}
		}

		a {
			display: block;
			color: var(--color-text);
			text-decoration: none;
			text-align: left;

			.toggle-button {
				display: inline-block;

				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}
