@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	.accordion {
		background-color: var(--color-grey-5);
		border-color: var(--color-grey-25);
		border-style: solid;
		border-width: 1px;

		&:focus-within {
			outline: 2px solid var(--color-blue);
			outline-offset: -2px;
		}

		&__heading-button {
			button {
				display: flex;
				width: 100%;
				padding: 0 var(--spacing-m);
				place-items: center;

				line-height: 1.2;
				text-align: left;

				span {
					color: var(--color-grey);
					width: 100%;
					padding: to-rem(12) 0;

					font-weight: var(--font-weight-bold);
					border: none;
				}

				&:focus,
				&:hover {
					background-color: var(--color-grey-25);
				}

				&:focus {
					outline: none;
				}
			}

			.kol-icon {
				margin-top: to-rem(12);
				margin-bottom: to-rem(12);
				margin-inline-end: to-rem(16);
				margin-inline-start: 0;
			}
		}

		&__content {
			padding: var(--spacing-s) var(--spacing-m);
		}
	}
}
