@import '../../mixins/rem';

@layer kol-theme-component {
	:host > span {
		font: normal normal var(--font-weight) 1em var(--font-family);
		padding: calc(rem(8) - 1px) calc(rem(12) - 1px);
		text-transform: uppercase;
	}
}
