@use '../../mixins/to-rem' as *;
@use '../mixins/link' as *;

@layer kol-theme-component {
	@include link('kol-link');

	.kol-breadcrumb {
		&__separator {
			color: var(--ecl-color-primary);
			margin-inline-end: var(--ecl-spacing-m);
			margin-inline-start: var(--ecl-spacing-m);
		}
	}
}
