@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	:is(a, button) {
		color: var(--color-primary);

		font-weight: 400;
		font-style: normal;
		text-decoration-line: underline;
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus .kol-span-wc {
		outline: calc(var(--border-width) * 2) solid;
		border-radius: var(--border-radius);
	}

	:is(a, button):hover {
		.kol-span-wc .span-label {
			text-decoration-thickness: 0.25em;
		}
	}

	:is(a, button):visited {
		color: var(--visited);
	}

	.skip {
		position: absolute;
		left: to-rem(-99999);
		z-index: 9999999;
	}

	.skip:focus {
		background-color: white;
		position: unset;
		left: unset;
	}

	.badge-text-hint {
		color: var(--color-text);
		background-color: var(--color-mute-variant);
		border-radius: 3px;
		padding: 0 0.3em;
	}
}
