@use '../../mixins/to-rem' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	@include button('kol-button');
	.kol-details {
		--detail-icon-rotate: rotate(180deg);

		&__heading-button {
			.kol-button {
				width: max-content;

				@include ghost-button;

				.kol-span__container {
					flex-direction: row-reverse;
				}

				.kol-span__icon--left {
					transform: var(--detail-icon-rotate);
					transition: transform 0.3s ease-in-out;
				}
			}
		}

		&.collapsible--open {
			--detail-icon-rotate: rotate(0);
		}

		&__content {
			margin-top: var(--ecl-spacing-s);
			padding-inline-start: var(--ecl-spacing-m);
		}
	}
}
