@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}
	.headline-h1 {
		font-size: rem(32);
		line-height: 1.25;
	}
	.headline-h2 {
		font-size: rem(28);
		line-height: 1.143;
	}
	.headline-h3 {
		font-size: rem(24);
		line-height: 1.1667;
	}
	.headline-h4 {
		font-size: rem(20);
		line-height: 1.4;
	}
	.headline-h5 {
		font-size: rem(16);
		line-height: 1.5;
	}
	.headline-h6 {
		color: rgb(234, 0, 255);
	}
}
