@use '../mixins/input-container' as *;
@use '../mixins/button' as *;
@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	@include button('kol-button');
	@include input-container;

	.kol-button {
		&__text {
			white-space: nowrap;
		}
	}

	.kol-input-container {
		padding-left: to-rem(8);
		column-gap: to-rem(8);

		&--is-dragover {
			border-color: var(--ecl-color-primary);
		}
	}
}
