@use '../mixins/input-container' as *;
@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	@include input-container;

	.kol-input-color {
		&__input--color {
			background-color: var(--ecl-color-white);
			min-height: calc(var(--a11y-min-size) - to-rem(8));
			border: 0;

			&:focus {
				outline: none;
			}
		}
	}
}
