@use '../mixins/input-container' as *;
@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	@include input-container;

	.kol-input-color {
		&__inputs-wrapper {
			height: 100%;
			gap: to-rem(4);
		}

		&__input {
			&--text,
			&--color {
				background-color: var(--ecl-color-white);
				min-height: calc(var(--a11y-min-size) - to-rem(8));
				border: 0;
			}
		}
	}
}
