@use '../../mixins/to-rem' as *;
@use '../mixins/alert' as *;
@use '../mixins/typography' as *;
@use '../mixins/radio' as *;

@layer kol-theme-component {
	@include alert;
	@include radio('kol-field-control');

	.kol-form-field {
		--kol-radio-color: var(--ecl-color-primary);
		gap: to-rem(8);
		flex-wrap: wrap;
		align-items: flex-start;
		border: 0;
		margin: 0;
		padding: 0;

		&__label {
			order: 1;
		}

		&__input {
			order: 3;
			gap: to-rem(8);
			align-items: flex-start;
		}

		&__msg {
			order: 4;
		}

		&__hint {
			order: 2;
			@include kol-typography-hint;
		}
	}

	.kol-field-control {
		gap: to-rem(8);
	}

	.kol-input--error {
		--kol-radio-color: var(--ecl-color-error);
	}
}
