@use '../mixins/input-container' as *;
@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	@include input-container;

	.kol-input-container {
		border-width: 0;

		&:has(.kol-input:focus) {
			outline-width: 0;

			::-webkit-slider-thumb {
				outline: 8px solid var(--ecl-color-primary-20);
				outline-offset: 0;
			}
		}
	}

	.kol-input-range {
		&__inputs-wrapper {
			flex-direction: column;
			align-items: stretch;
		}

		&__input--number {
			font-weight: bold;
			border: 0;
			text-align: left;
		}

		&__input--range {
			background-color: var(--ecl-color-neutral);
			width: 100%;
			height: to-rem(4);
			margin: to-rem(20) 0 to-rem(10);
			padding: 0;
			border-width: 0;

			&::-webkit-slider-thumb {
				background-color: var(--ecl-color-primary);
				width: to-rem(16);
				height: to-rem(16);

				&:hover {
					outline: 4px solid var(--ecl-color-primary);
					outline-offset: -1px;
				}
			}
		}
	}
}
