@use '../../mixins/to-rem' as *;
@use '../mixins/alert' as *;
@use '../mixins/checkbox' as *;

@layer kol-theme-component {
	@include alert;

	.kol-form-field {
		--kol-checkbox-color: var(--ecl-color-primary);

		&__input {
			order: 2;
		}

		&__hint {
			order: 1;

			font-size: to-rem(14);
		}

		&__msg {
			order: 3;
		}
	}

	.kol-input-checkbox__field-control--variant-default {
		@include checkbox('kol-checkbox');
	}

	.kol-field-control {
		&--label-align-left &__label {
			padding-right: to-rem(8);
		}

		&--label-align-right &__label {
			padding-left: to-rem(8);
		}

		&--error {
			--kol-checkbox-color: var(--ecl-color-error);
		}
	}

	.kol-checkbox--variant-switch {
		.kol-input {
			border-color: var(--kol-checkbox-color);
			border-radius: 16px;

			&::before {
				background-color: var(--ecl-color-white);
				border-radius: 50%;
			}
		}

		.kol-icon {
			color: var(--kol-checkbox-color);
		}

		&.kol-checkbox--checked {
			.kol-input::before {
				background-color: var(--kol-checkbox-color);
			}
			.kol-icon {
				color: var(--ecl-color-white);
			}
		}

		&:hover {
			.kol-input:not(:disabled) {
				outline: var(--ecl-color-primary-20) 8px solid;
			}
		}
	}

	.kol-input-checkbox--variant-button {
		gap: var(--spacing-xs) 0;

		&:focus-within {
			outline-color: var(--ecl-color-primary-130);
			outline-style: solid;
			outline-width: 2px;
		}
	}
}
