@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	:host {
		display: grid;
	}

	.button {
		background-color: none;
		outline: none;

		text-decoration: none;
		appearance: none;
	}

	.button-inner {
		color: var(--color-black);
		background-color: var(--color-yellow);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: 0.25em 0.75em;

		font-weight: var(--font-weight-bold);
		border: 2px solid var(--color-yellow);
	}

	.button:not(:disabled):hover .button-inner {
		background-color: var(--color-yellow-120);
		border-color: var(--color-yellow-120);
	}

	.button:focus .button-inner {
		outline: 2px solid var(--color-black);
		outline-offset: -4px;
	}

	.button:disabled .button-inner {
		opacity: 0.5;
		cursor: not-allowed;
	}

	.selected .button-inner {
		opacity: 1;
		color: var(--color-white);
		background-color: var(--color-blue);
		border-color: var(--color-blue);

		text-decoration: underline;
	}
}
