@use '../mixins/button' as *;
@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	@include kol-button;

	button .kol-span-wc {
		border-style: solid;
		border-radius: 0;
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		margin: 0;
		padding: 0.25em 0.75em;
		border-width: to-rem(2);

		font-weight: var(--font-weight-bold);
		line-height: 1.2;
	}
}
