@use '../../functions/to-rem' as *;

@layer kol-theme-component {
	:host progress,
	:host span {
		display: block;
		width: 0;
		height: 0;
	}

	svg line:first-child,
	svg circle:first-child {
		fill: transparent;
		stroke: var(--color-grey-25);
	}

	svg line:last-child,
	svg circle:last-child {
		fill: transparent;
		stroke: var(--color-blue-130);
	}

	progress {
		display: none;
	}
}
