@use '../../functions/to-rem' as *;
@use '../mixins/alert-wc' as *;

$option-height: to-rem(40);
$visible-options: 5;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}

	.single-select {
		display: block;
		position: relative;

		&__group {
			color: var(--color-grey);
			display: inline-flex;
			width: 100%;
			min-height: var(--a11y-min-size);
			padding: to-rem(1) 0.5em;
			order: 4;
			align-items: center;
			text-align: left;
		}

		&__input {
			position: relative;
			width: calc(100% - to-rem(40));
			flex-grow: 1;
			border: none;

			&::placeholder {
				color: var(--color-grey-50);
			}

			&:first-child {
				padding-left: var(--spacing);
			}

			&:last-child {
				padding-right: var(--spacing);
			}

			&:not(.disabled) &:hover {
				border-color: var(--color-blue);
			}
		}

		&__button {
			display: grid;
			padding-left: 1em;
			place-items: center;
			cursor: pointer;

			&:focus {
				outline: 0;
			}
		}

		&__listbox {
			border-color: var(--color-blue);
			border-style: solid;
			width: 100%;
			max-height: calc($option-height * $visible-options + to-rem(1));
			border-width: 1px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&__item {
			min-height: $option-height;
			padding: to-rem(10) to-rem(12);

			line-height: 1.2;

			.radio-label {
				padding-left: 1em;
				align-self: center;
			}

			&[aria-selected],
			&:focus,
			&.highlighted {
				color: white;
				background-color: var(--color-blue);
				outline: 0;
			}
		}
	}

	.kol-input {
		color: var(--color-grey);
		gap: var(--spacing-xs);
	}

	input,
	select,
	textarea {
		outline: none;
		border: none;
	}

	input:not([type='range']):focus,
	select:focus,
	textarea:focus {
		border-bottom: 1px solid var(--color-blue);
		border-top: 1px solid var(--color-blue);
	}

	label {
		order: 1;

		font-weight: var(--font-weight-bold);
	}

	.hint {
		order: 2;

		font-size: to-rem(14);
	}

	.kol-alert-wc {
		@include kol-alert-wc(--color-red);
		order: 3;
	}

	.input {
		color: var(--color-grey);
		padding: to-rem(1);
		order: 4;
		align-items: center;
		border: 1px solid var(--color-grey-75);
	}

	input::placeholder,
	textarea::placeholder {
		color: var(--color-grey-50);
	}

	.input:focus-within {
		box-shadow:
			inset to-rem(1) to-rem(1) var(--color-blue),
			inset to-rem(-1) to-rem(-1) var(--color-blue);
		outline: none;
	}

	.input:focus-within,
	.input:hover {
		border-color: var(--color-blue);
	}

	.error .input {
		border-color: var(--color-red);
	}
}
