@import '../mixins/button.scss';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
		border-radius: 0;
		border-style: solid;
		border-width: 2px;
		border-color: var(--color-blue);
	}

	.popover {
		background-color: #fff;
	}

	.horizontal-line {
		border: 0;
		border-top: 1px solid var(--color-blue);
	}

	a .kol-span-wc,
	button .kol-span-wc {
		font-weight: var(--font-weight-bold);
		margin: 0;
		min-height: 44px;
		min-width: 44px;
		padding: 0.25em 0.75em;
	}

	@include kol-button;
}
