@use '../../mixins/to-rem' as *;
@use '../mixins/alert.mixin' as *;

@layer kol-theme-component {
	:host {
		top: to-rem(16);
		right: to-rem(16);
		width: to-rem(440);
		max-width: 100%;
	}

	.kol-toast-item {
		@include kol-alert-theme;
		background-color: #fff;
		display: block;
		margin-top: to-rem(16);

		&__alert {
			display: block;
		}
	}
}
