@use '../../mixins/to-rem' as *;
@use '../mixins/alert' as *;

@layer kol-theme-component {
	:host {
		top: to-rem(16);
		right: to-rem(16);
		width: to-rem(440);
		max-width: 100%;
	}

	.kol-toast-item {
		@include alert;
		background-color: #fff;
		display: block;
		margin-top: to-rem(16);
	}
}
