@use '../../functions/to-rem' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	.toolbar {
		background-color: var(--color-grey-5);
		border-color: var(--color-grey-25);
		border-style: solid;
		padding: var(--spacing-s);
		border-width: 1px;
	}

	@include kol-button;
}
