@import '../../mixins/rem';

@layer kol-theme-component {
	.kol-toolbar {
		padding: var(--spacing-s);
		border-color: var(--color-grey-25);
		border-style: solid;
		border-width: rem(1);
		background-color: var(--color-grey-5);
	}
}
