@use '../../mixins/to-rem' as *;

@layer kol-theme-component {
	.kol-tree-item {
		--indentation: #{to-rem(16)};

		&__children {
			display: flex;
			flex-direction: column;
		}

		&__link {
			display: block;
			position: relative;

			&:hover,
			&:focus-within {
				background-color: var(--ecl-color-neutral-60);
			}

			&--active::before {
				background-color: var(--ecl-color-primary);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: to-rem(4);

				content: '';
			}

			.kol-link {
				padding-right: to-rem(8);
				padding-left: max(calc(var(--indentation) * var(--level)));
			}
		}

		&__text {
			text-decoration: none;
		}
	}
}
