@mixin indented-text {
		font-family: var(--font-family);
		border-end-start-radius: 0;
		border-inline-start: 10px solid var(--color-yellow);
		border-start-start-radius: 0;
		padding-bottom: 1rem;
		padding-inline-start: 1.5rem;
		padding-top: 1rem;
		margin: 0;
}
