@import '../mixins-ec/indented-text';
@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		font-family: var(--font-family);
	}

	details .indented-text {
		@include indented-text;
	}
}