@import '../../mixins/rem';

@layer kol-theme-component {
	:host {
		--kolibri-spacing: rem(4);
	}
	a,
	button {
		appearance: none;
		color: var(--color-blue);
		text-decoration: underline;
	}
	a:hover,
	button:hover {
		color: var(--color-blue-130);
	}
}
