@import '../mixins-ec/rem';

@layer kol-theme-component {
	.tree-item {
		ul {
			display: flex;
			flex-direction: column;
		}
	}

	.tree-link {
		display: block;
		border: 2px solid transparent;

		&:hover,
		&:focus-within {
			background: var(--color-sky);
			border: 2px solid var(--color-yellow-120);

			& > a {
				color: var(--color-black);
			}
		}

		&.active {
			font-weight: 700;
			background: var(--color-yellow);

			a {
				color: var(--color-black);
			}
		}

		a {
			display: block;
			color: var(--color-black);
			text-decoration: none;
			text-align: left;

			.toggle-button {
				display: inline-block;

				&:hover {
					transform: scale(1.3);
				}
			}

			&:focus {
				color: var(--color-black);
			}
		}
	}
}
