@import '../style';

:host {
	display: flex;
	position: relative;
}

.main-button {
	flex-grow: 1;
	text-align: left;
}

.main-button kol-span-wc {
	place-items: start;
}

.secondary-button button {
	height: 100%;
}

.horizontal-line {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	height: 70%;
	margin-block: auto;
	width: 1px;
}

/* popover */
.popover {
	height: 0;
	left: 0;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 100%;
	transition: height 0.3s ease-in-out;
}

.popover-content {
	inset: 0 0 auto 0;
	min-width: 100%;
	position: absolute;
}
