@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		display: flex;
		font-size: rem(16);
		position: relative;
	}

	.main-button {
		flex-grow: 1;
		text-align: left;
	}

	/* popover */
	.popover {
		position: fixed;
	}
}
