@use '../@shared/mixins' as *;
@use '../style' as *;
@use '../popover/style.scss' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host {
		display: flex;
		position: relative;
	}

	.split-button-root {
		display: flex;
		position: relative;
	}

	.main-button {
		flex-grow: 1;
		text-align: left;
	}

	.kol-popover {
		.popover {
			margin-top: rem(2);
		}

		.arrow {
			display: none;
		}
	}
}
