:host {
	--border-radius: var(--kolibri-border-radius, 5px);
	--font-family: var(--kolibri-font-family, BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif);
	--font-size: var(--kolibri-font-size, 16px);
	--spacing: var(--kolibri-spacing, 0.25rem);
	--border-width: var(--kolibri-border-width, 1px);
	--color-primary: var(--kolibri-color-primary, #004b76);
	--color-primary-variant: var(--kolibri-color-primary-variant, #0077b6);
	--color-danger: var(--kolibri-color-danger, #c0003c);
	--color-warning: var(--kolibri-color-warning, #c44931);
	--color-success: var(--kolibri-color-success, #005c45);
	--color-subtle: var(--kolibri-color-subtle, #576164);
	--color-light: var(--kolibri-color-light, #ffffff);
	--color-text: var(--kolibri-color-text, #202020);
	--color-mute: var(--kolibri-color-mute, #f2f3f4);
	--color-mute-variant: var(--kolibri-color-mute-variant, #bec5c9);
}

:host {
	background-color: transparent;
	/* Reset global background-color defined by components */
	font-family: var(--font-family);
	font-size: var(--font-size);
}

* {
	box-sizing: border-box;
}

*:not(i) {
	font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*[tabindex]:focus,
kol-input:not(.checkbox, .radio) .input:focus-within,
kol-input:is(.checkbox, .radio) input:focus,
summary:focus {
	cursor: pointer;
	outline-color: var(--color-primary-variant);
	outline-offset: 2px;
	outline-style: solid;
	outline-width: 3px;
	transition: outline-offset 0.2s linear;
}

kol-heading-wc {
	font-weight: 700;
}

kol-tooltip-wc .tooltip-floating {
	border: var(--border-width) solid var(--color-subtle);
	border-radius: var(--border-radius);
}

kol-tooltip-wc .tooltip-arrow {
	border: var(--border-width) solid var(--color-subtle);
}

kol-tooltip-wc .tooltip-area {
	background-color: var(--color-light);
}

kol-tooltip-wc .tooltip-content {
	border-radius: var(--border-radius);
	line-height: 1.5;
	padding: 0.5rem 0.75rem;
}

kol-span-wc,
kol-span-wc > span {
	gap: 0.5rem;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
