@mixin kol-form-field-order-theme {
	.kol-form-field__msg {
		order: 1;
	}

	.kol-form-field__label {
		order: 2;
	}

	.kol-form-field__input {
		order: 3;
	}

	.kol-form-field__hint {
		order: 4;
	}
}
