@use './to-rem' as *;
@use './button' as *;

@mixin kol-alert {
	display: block;
	width: 100%;
}

@mixin kol-input-error-with-kol-alert-error($color: null) {
	color: var($color);

	font-weight: 700;
}

@mixin kol-alert-theme {
	.kol-alert {
		@include kol-button('kol-button');

		background-color: var(--color-light);

		width: 100%;
		overflow: unset;
	}

	.kol-alert--variant-msg {
		gap: to-rem(4) to-rem(8);
		align-items: start;
	}

	.kol-alert--variant-card {
		background-color: var(--alert-accent-color);
		filter: drop-shadow(0 to-rem(2) to-rem(4) rgb(8, 35, 48, 0.24));
		border-radius: var(--border-radius);
		gap: 0 to-rem(8);
		flex-direction: column;
		grid-template-areas:
			'icon heading close'
			'content content content';
		grid-template-columns: min-content 1fr min-content;
		grid-template-rows: min-content min-content;
		border: var(--border-width) solid var(--alert-accent-color);
	}

	.kol-alert--type-default {
		--alert-accent-color: var(--color-subtle);
	}

	.kol-alert--type-error {
		--alert-accent-color: var(--color-danger);
	}

	.kol-alert--type-info {
		--alert-accent-color: var(--color-primary);
	}

	.kol-alert--type-success {
		--alert-accent-color: var(--color-success);
	}

	.kol-alert--type-warning {
		--alert-accent-color: var(--color-warning);
	}

	.kol-alert__closer {
		.kol-alert--variant-msg & .kol-button {
			--text-color: var(--alert-accent-color);
		}

		.kol-alert--variant-card & {
			padding-right: to-rem(16);
			padding-block: to-rem(8);

			.kol-button {
				--text-color: var(--color-light);
			}
		}
	}

	.kol-alert__heading {
		.kol-alert--variant-msg & {
			color: var(--alert-accent-color);
			padding-top: calc(--var-spacing / 2);
		}

		.kol-alert--variant-card & {
			color: var(--color-light);
			display: flex;
			align-items: center;

			font-size: to-rem(20);
			line-height: 1;
		}
	}

	.kol-alert__icon {
		color: var(--color-light);
		padding: 0;

		.kol-alert--variant-msg & {
			color: var(--alert-accent-color);
			align-self: center;
		}

		.kol-alert--variant-card & {
			display: flex;
			padding-left: to-rem(16);
			align-items: center;

			font-size: to-rem(20);
			padding-block: to-rem(8);
		}
	}

	.kol-alert__content {
		.kol-alert--variant-card & {
			background-color: var(--color-light);
			border-radius: 0 0 var(--inner-border-radius) var(--inner-border-radius);
			padding: to-rem(16);
		}
	}
}
