@mixin slideIn($direction, $duration: .4s) {
    @keyframes slideIn {
      @if $direction == left {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
      @else if $direction == right {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
      }
      @else if $direction == top {
        from {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
      @else if $direction == bottom {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }
    }
  
    animation: slideIn #{$duration} forwards;
  }