@use '../mixins/to-rem' as *;

@mixin focus-outline {
	outline: var(--kol-focus-outline-color, var(--color-primary-variant)) solid var(--kol-focus-outline-width, 3px);
	border-radius: var(--border-radius);
	outline-offset: var(--kol-focus-outline-offset, 2px);
	transition: 200ms outline-offset linear;
}

@mixin switch-outline {
	outline-color: var(--color-primary);
	outline-style: solid;
	outline-width: 2px;
	outline-offset: var(--kol-focus-outline-offset, 2px);
}
