@mixin kol-form-field-order-theme {
	.kol-form-field {
		grid-template-areas: 'msg' 'label' 'input' 'counter' 'hint';

		&--left {
			grid-template-areas: 'label msg' 'label input' 'label counter' 'label hint';
			grid-template-columns: 200px 1fr;
		}
	}
}
