@use '../mixins/to-rem' as *;
@use './alert' as *;
@use './typography' as *;

@mixin kol-form-field-theme {
	.kol-form-field {
		--form-field-grid-column-1: 1;
		--form-field-grid-column-2: 1;

		gap: to-rem(4);

		&__msg {
			order: 1;
			grid-column: var(--form-field-grid-column-2);
		}

		&__label {
			display: flex;
			order: 2;
			grid-column: var(--form-field-grid-column-1);

			&--legend {
				// legends are strange and need float to actually behave in a grid like everyone else
				float: left;
			}

			&-text {
				gap: 0;
			}
		}

		&__input {
			order: 3;
			grid-column: var(--form-field-grid-column-2);
		}

		&__counter {
			order: 4;
			grid-column: var(--form-field-grid-column-2);

			&--exceeded {
				color: var(--color-danger);
			}
		}

		&__hint {
			order: 5;
			grid-column: var(--form-field-grid-column-2);

			@include kol-typography-hint;
		}

		&--error:not(&--hide-msg) {
			padding-left: to-rem(16);
			border-left: 3px solid var(--color-danger);

			.kol-form-field__msg {
				&.kol-alert--type-error {
					@include kol-input-error-with-kol-alert-error(--color-danger);
				}
			}
		}

		&--required & {
			&__label-text {
				&::after {
					padding-left: 0.125em;
				}
			}

			&__tooltip {
				.span-label::after {
					padding-left: 0.125em;
				}
			}
		}

		&--disabled & {
			&__label,
			&__hint {
				opacity: 0.5;
			}
		}

		&--left {
			--form-field-grid-column-2: 2;
			grid-template-columns: minmax(max-content, 200px) minmax(200px, 1fr);
		}

		&--left &__label {
			align-items: center;
		}
	}
}
