@import '../mixins/rem';

@mixin kol-indented-theme {
	:host {
		font-family: var(--font-family);
	}

	.kol-indented-text-wc > div {
		background-color: var(--color-light);
		border-left: none;
		box-shadow: -2px 0px 0px var(--color-primary-variant);
		padding: 0 rem(8);
		width: 100%;
	}
}
