@use '../mixins/to-rem' as *;
@use './focus-outline' as *;

@mixin kol-input-theme {
	.kol-input-container {
		$root: &;

		background-color: var(--color-light);
		border-color: var(--color-subtle);
		border-style: solid;
		border-radius: var(--border-radius);
		padding: 0 to-rem(8);
		border-width: 2px;
		gap: to-rem(6);
		align-items: stretch;

		&__adornment {
			min-width: to-rem(8);

			&--start {
				> .kol-icon {
					margin-left: to-rem(8);
				}
			}

			&--end {
				> .kol-icon {
					margin-right: to-rem(8);
				}
			}
		}

		&--disabled {
			color: var(--color-text);
			background-color: var(--color-mute);
			border-color: var(--color-mute-variant);
			cursor: not-allowed;
		}

		&:not(&--disabled) {
			&:hover {
				border-color: var(--color-primary);
			}
		}

		&:has(.kol-input:focus, .kol-select:focus, .kol-textarea:focus) {
			@include focus-outline;
		}

		&:has(.kol-input--readonly) {
			border-color: var(--color-mute-variant);
			border-radius: 0 0 0 var(--border-radius);
			border-right-width: 0;
			border-top-width: 0;

			&:hover {
				border-color: var(--color-mute-variant);
			}

			&:has(.kol-input:focus, .kol-select:focus, .kol-textarea:focus) {
				outline-color: var(--color-mute-variant);
			}
		}

		&__smart-button {
			position: relative;
			z-index: 2;
			.kol-button:focus {
				@include focus-outline;
			}
		}

		&--error {
			&:has(.kol-input:focus, .kol-select:focus, .kol-textarea:focus) {
				outline-color: var(--color-danger);
			}
		}
	}
}
