@import '../mixins/rem';
@import '../mixins/alert-wc.scss';

@mixin input-error {
	border-left: rem(3) solid var(--color-danger);
	padding-left: rem(16);

	.input:focus-within {
		outline-color: var(--color-danger);
	}

	.kol-alert-wc.error {
		@include kol-input-error-with-kol-alert-wc-error(--color-danger);
	}
}
