@use './to-rem' as *;
@use './button' as *;

@mixin kol-card($border-radius: var(--border-radius)) {
	.kol-card {
		@include kol-button('kol-button');

		background-color: var(--color-light);
		box-shadow: 0 0 4px color-mix(in srgb, black 80%, var(--color-subtle)); // darken by 80% to maintain contrast of 3:1
		border-radius: $border-radius;
		width: 100%;
		height: 100%;

		&__header {
			display: block;
			padding: to-rem(16) to-rem(16) to-rem(8) to-rem(16);

			line-height: 1.75;
		}

		&__content {
			padding: 0 to-rem(16) to-rem(16);

			& ::slotted(p:first-child) {
				margin-top: 0;
			}

			& ::slotted(p:last-child) {
				margin-bottom: 0;
			}
		}
	}
}
