@use '../mixins/to-rem' as *;
@use './kol-table-settings-wc' as *;
@use './alert-wc' as *;
@use './pagination-mixin' as *;

@mixin kol-table-stateless-theme {
	@include kol-table-settings-theme;
	@include kol-alert-theme;
	@include kol-pagination-styles;

	:host {
		display: flex;
		gap: to-rem(8);
		flex-direction: column;
	}

	.kol-table {
		$root: &;

		padding: to-rem(8);

		&__table,
		&__caption {
			border-color: var(--color-primary-variant);
			border-style: solid;
			border-width: 0;
			border-bottom-width: calc(var(--border-width) * 2);
		}

		&__head {
			position: sticky;
			top: 0;
		}

		&__table {
			width: 100%;
			border-spacing: 0;
		}

		&__caption {
			min-height: calc(var(--a11y-min-size) + 2px); // leave some extra space so the settings button doesn't overlap the table borders
			padding: to-rem(8) var(--a11y-min-size) to-rem(8) to-rem(8);
		}

		&__scroll-container {
			max-height: 80vh;
			overflow: auto;

			@at-root #{$root}:has(#{$root}__focus-element:focus) & {
				outline-color: var(--color-primary-variant);
				outline-style: solid;
				outline-width: 3px;
				outline-offset: 2px;
				transition: outline-offset 0.2s linear;
			}
		}

		&__focus-element {
			outline: none; // override global styles
		}

		&__cell {
			padding: to-rem(8);

			&--header {
				color: var(--color-primary);
				background-color: var(--color-light);

				font-weight: normal;
			}

			&--ascending,
			&--descending {
				font-weight: 700;

				.kol-button {
					font-weight: 700;
				}
			}
		}

		&__selection {
			display: flex;
			gap: to-rem(8);
			align-items: center;
			grid-template-columns: 1fr auto;
		}

		&__spacer {
			display: table-row;
			height: to-rem(24);
		}

		&__spacer-line {
			border-color: var(--color-primary-variant);
			border-style: solid;
			border-width: 0;

			&--foot {
				border-bottom-width: calc(var(--border-width) * 2);
			}

			&--head {
				border-top-width: calc(var(--border-width) * 2);
			}
		}

		&__row {
			&--body {
				&:nth-child(even) {
					background-color: var(--color-mute);
				}
			}
		}

		&__selection-input {
			&:not(:disabled):hover {
				box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
				border-color: var(--color-primary);
			}

			&:focus {
				outline-color: var(--color-primary-variant);
				outline-style: solid;
				outline-width: 3px;
				border-color: var(--color-primary);
				outline-offset: 2px;
			}

			&:focus:hover {
				box-shadow: none;
			}

			// CHECKBOX
			&--checkbox {
				border-color: var(--color-subtle);
				border-radius: 5px;

				&:checked {
					background-color: var(--color-primary);
					border-color: var(--color-primary);
				}
			}

			// RADIO
			&--radio {
				border-color: var(--color-subtle);
				display: flex;

				&:checked {
					border-color: var(--color-primary);

					&:before {
						background-color: var(--color-primary);
					}
				}
			}

			@at-root #{$root}__selection--indeterminate & {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}
		}

		&__selection-icon {
			color: var(--color-light);
		}

		.kol-icon:hover ~ &__selection-input--checkbox:not(:disabled),
		&__selection-input--checkbox:not(:disabled):hover {
			border-color: var(--color-primary);
		}
	}
}
