@use '../functions/to-rem' as *;

@mixin kol-table-stateless-wc {
	:host {
		display: flex;
		gap: to-rem(8);
		flex-direction: column;
	}

	@layer kol-theme-component {
		caption {
			padding: to-rem(8);
		}

		tr.foot-spacer,
		tr.head-spacer {
			display: none;
		}

		.table {
			padding: to-rem(8);

			&:has(.focus-element:focus) {
				outline-color: var(--color-primary-variant);
				outline-style: solid;
				outline-width: 3px;
				outline-offset: 2px;
				transition: outline-offset 0.2s linear;
			}
		}

		table {
			border-color: var(--color-primary-variant);
			border-style: solid;

			width: 100%;
			border-width: 0;
			border-spacing: 0.075rem;
		}

		th,
		thead td {
			color: var(--color-light);

			background-color: var(--color-primary);
			border-color: var(--color-primary);
			border-style: solid;
			border-width: 0;
			border-bottom-width: calc(var(--border-width) * 2);

			font-weight: normal;
		}

		th[aria-sort='ascending'] .button,
		th[aria-sort='descending'] .button {
			font-weight: 700;
		}

		th div {
			display: flex;
			gap: to-rem(8);
			align-items: center;
			grid-template-columns: 1fr auto;
		}

		th,
		td {
			padding: to-rem(8);
		}

		th[aria-sort='ascending'],
		th[aria-sort='descending'] {
			font-weight: 700;
		}

		tbody td {
			border-color: var(--color-primary);
			border-style: solid;
			border-width: 0;
			border-bottom-width: calc(var(--border-width) * 2);
		}

		.input {
			input {
				&:hover {
					box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
					border-color: var(--color-primary);
				}

				&:focus {
					outline-color: var(--color-primary-variant);
					outline-style: solid;
					outline-width: 3px;

					border-color: var(--color-primary);

					outline-offset: 2px;
				}

				&:focus:hover {
					box-shadow: none;
				}
			}

			// CHECKBOX
			input[type='checkbox'] {
				border-color: var(--color-subtle);
				border-radius: 5px;

				&:checked {
					background-color: var(--color-primary);
					border-color: var(--color-primary);
				}
			}

			.icon {
				color: var(--color-light);
			}

			&.indeterminate {
				input {
					background-color: var(--color-primary);
					border-color: var(--color-primary);
				}
			}

			kol-icon:hover ~ input[type='checkbox'],
			input[type='checkbox']:hover {
				border-color: var(--color-primary);
			}

			// RADIO
			input[type='radio'] {
				border-color: var(--color-subtle);
				display: flex;

				&:checked {
					border-color: var(--color-primary);

					&:before {
						background-color: var(--color-primary);
					}
				}
			}
		}

		th .input {
			input {
				&:hover {
					box-shadow: 0 2px 8px 2px rgb(255, 255, 255, 0.24);
					border-color: var(--color-light);
				}

				&:focus {
					outline-color: var(--color-mute-variant);
					outline-style: solid;
					outline-width: 3px;

					border-color: var(--color-light);

					outline-offset: 2px;
				}

				&:focus:hover {
					box-shadow: none;
				}
			}

			// CHECKBOX
			input[type='checkbox'] {
				background-color: var(--color-primary);
				border-color: var(--color-mute);
				border-radius: 5px;

				&:checked {
					background-color: var(--color-light);
					border-color: var(--color-light);
				}
			}

			.icon {
				color: var(--color-primary);
			}

			&.indeterminate {
				input {
					background-color: var(--color-light);
					border-color: var(--color-light);
				}
			}

			kol-icon:hover ~ input[type='checkbox'],
			input[type='checkbox']:hover {
				border-color: var(--color-light);
			}
		}
	}
}
