@use '../mixins/to-rem' as *;

@mixin kol-link($block-classname) {
	.#{$block-classname} {
		$root: &;

		color: var(--color-primary);

		font-weight: 400;
		font-style: normal;

		&:focus {
			outline: none;
		}

		&:visited {
			color: var(--visited);
		}

		&__text {
			@at-root #{$root}:focus & {
				outline: var(--border-width) solid;
				border-radius: var(--border-radius);
				position: relative; // make sure focus outline is visible and not covered by adjacent element
			}

			.kol-span__label {
				@at-root #{$root}:is(:focus, :hover):not([aria-disabled], [disabled]) & {
					text-decoration-thickness: 0.25em;
				}
			}
		}
	}
}
