@use '../functions/to-rem' as *;

@mixin kol-link {
	:is(a, button) {
		color: var(--color-primary);

		font-weight: 400;
		line-height: 1;
		font-style: normal;
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus kol-span-wc {
		outline: var(--border-width) solid;
		border-radius: var(--border-radius);
	}

	a:is(:focus, :hover):not([aria-disabled]),
	button:is(:focus, :hover):not([disabled]) {
		.kol-span-wc .span-label {
			text-decoration-thickness: 0.25em;
		}
	}

	:is(a, button):visited {
		color: var(--visited);
	}

	.skip {
		position: absolute;
		left: to-rem(-99999);
		z-index: 9999999;

		line-height: 1;
	}

	.skip:focus {
		background-color: white;
		position: unset;
		left: unset;
	}
}
