@import './rem';

@mixin kol-typography-body {
	font-size: rem(16);
	line-height: 1.5;
}

@mixin kol-typography-h1 {
	font-size: rem(24);
	line-height: 1.6667;
}

@mixin kol-typography-h2 {
	font-size: rem(20);
	line-height: 1.4;
}

@mixin kol-typography-h3 {
	font-size: rem(18);
	line-height: 1.333;
}

@mixin kol-typography-accordion {
	font-weight: 700;
	font-size: rem(18);
	line-height: 1.1;
}

@mixin kol-typography-hint {
	font-size: rem(14.4);
	font-style: italic;
}
