@import '../@shared/mixins';
@import '../../styles/global';

@layer kol-component {
	.kol-tree {
		font-size: rem(16);

		&__treeview-navigation {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&:focus-within {
			outline: rem(1) solid;
			outline-offset: rem(2);
		}
	}
}
