:host * {
	/**
	 * This rule enables the word dividing for all texts. That is important for high zoom levels.
	 */
	hyphens: auto;
	/**
	 * Letter spacing is required for all texts.
	 */
	letter-spacing: inherit;
	/**
	 * This rule enables the word dividing for all texts. That is important for high zoom levels.
	 */
	word-break: break-word;
	/**
	 * Word spacing is required for all texts.
	 */
	word-spacing: inherit;
}
