:host {
	display: inline-flex;
}

/**
 * Dieses CSS stellt sicher, dass der Standard-Style
 * von A und Button resettet werden.
 */
a,
button {
	background-color: transparent;
	border: none;
	font-size: inherit;
	margin: 0;
	padding: 0;
	transition-duration: 0.5s;
	transition-property: background-color, color, border-color;
	width: 100%;
}

kol-icon.external-link-icon {
	display: inline-flex;
}
