@import './style.css';
@import './button-and-link.css';

:host {
	display: inline-block;
}

:is(a, button) {
	width: 100%;
}

a {
	text-decoration-line: none;
}

:is(a, button) {
	text-align: center;
}

:is(a, button):disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
