@import './style.css';

a {
	text-decoration-line: none;
}

a,
button {
	display: inline-block;
}

a,
button {
	min-height: 44px;
	min-width: 44px;
	width: 100%;
}

a:active,
button:active,
a:active,
button:active {
	outline: 0;
	box-shadow: none;
}

a:disabled,
button:disabled,
a:disabled,
button:disabled {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.5;
}
