:host {
	display: inline-block;
}

a,
button {
	background-color: transparent;
	border: none;
	font-size: inherit;
	margin: 0;
	padding: 0;
	transition-duration: 0.5s;
	transition-property: background-color, color, border-color;
}
