@use './input' as *;
@use './@shared/kol-alert-mixin' as *;

@include kol-alert-styles;

@layer kol-component {
	.kol-input {
		display: grid;
	}

	.kol-input .input-slot {
		flex-grow: 1;
	}

	input:focus,
	option:focus,
	select:focus,
	textarea:focus {
		outline: 0;
	}

	.input {
		background-color: white;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	button:not([role='link']) {
		min-height: auto;
	}

	.input > .kol-icon {
		display: grid;
		place-items: center;
	}

	.kol-input.required .input-tooltip .span-label::after {
		content: '*';
	}
}
