@import '@shared/mixins';
@import 'label';
@import 'host-display-block';

input,
textarea {
	cursor: text;
}

input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='radio'],
input[type='range'],
label,
option,
select {
	cursor: pointer;
}

/* input[type='checkbox'], */
/* input[type='radio'], */
/* input[type='range'], */
input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='file'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select,
select[multiple] option,
textarea {
	font-size: rem(16);
	width: 100%;
}

/* needed hack for vertical alignment */
input[type='file'] {
	padding: calc((var(--a11y-min-size) - rem(16)) / 10) 0.5em;
}

/* needed hack for vertical alignment */
select[multiple] option {
	padding: calc((var(--a11y-min-size) - rem(16)) / 2) 0.5em;
}

.kol-input-wc.disabled :is(button, input, option, select, textarea, .input-label) {
	cursor: not-allowed;
	opacity: 0.5;
}
