@import url(input.css);
kol-input {
	display: grid;
}
input:not([type='checkbox'], [type='radio']),
option,
select,
div[slot='input'] {
	/* display: block;
	line-height: 2.5em; */
	flex-grow: 1;
}
input:not([type='checkbox'], [type='radio']),
select:not([multiple]) {
	height: 2.75em;
}
input:focus,
option:focus,
select:focus,
textarea:focus {
	outline: 0;
}
.input {
	display: flex;
	align-items: center;
}
.input > kol-icon {
	display: grid;
	height: var(--a11y-min-size);
	place-items: center;
}
