@import './input.css';

kol-input {
	display: grid;
}

input:not([type='radio']),
option,
select,
textarea {
	display: block;
	line-height: 2.5em;
	flex-grow: 1;
}

input:not([type='radio']),
select:not([multiple]) {
	height: 2.75em;
}

.input {
	display: flex;
	align-items: baseline;
}
.input > kol-icon {
	display: grid;
	height: var(--a11y-min-size);
	place-items: center;
	width: 2.5em;
}
