@import '@shared/mixins';
@import 'style';

@layer kol-component {
	:host {
		display: inline-block;
		font-size: rem(16);
	}

	:is(a, button) {
		align-items: baseline;
		display: inline-flex;
		place-items: center;
		text-align: left;
		text-decoration-line: none;

		.kol-span-wc .span-label {
			text-decoration-line: underline;
		}
	}

	a:is(:focus, :hover):not([aria-disabled]),
	button:is(:focus, :hover):not([disabled]) {
		text-decoration-thickness: 0.2em;
	}

	.skip {
		left: -99999px;
		overflow: hidden;
		position: absolute;
		z-index: 9999999;
		line-height: 1em;
	}

	.skip:focus {
		background-color: #fff;
		left: unset;
		padding: 1em;
		position: unset;
	}

	.kol-icon.external-link-icon {
		display: inline-flex;
	}
}
