@use './@shared/mixins' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host {
		display: inline-block;
	}

	:is(a, button) {
		display: inline-flex;
		max-width: fit-content;
		align-items: baseline;
		place-items: center;
		text-align: left;
		text-decoration-line: none;

		.kol-span-wc .span-label {
			text-decoration-line: underline;
		}
	}

	a:is(:focus, :hover):not([aria-disabled]),
	button:is(:focus, :hover):not([disabled]) {
		.kol-span-wc .span-label {
			text-decoration-thickness: 0.2em;
		}
	}

	.skip {
		position: absolute;
		left: to-rem(-99999);
		z-index: 9999999;

		line-height: 1;
	}

	.skip:focus {
		background-color: #fff;
		position: unset;
		left: unset;
		padding: 1em;
	}

	.kol-icon.external-link-icon {
		display: inline-flex;
		margin-left: to-rem(8);
	}
}
