@import './style.css';

a,
button {
	text-align: left;
	text-decoration-line: underline;
}

a {
	display: inline-flex;
}

:is(a, button):is(:focus, :hover) {
	text-decoration-thickness: 0.2em;
}

.hidden {
	display: none;
	visibility: hidden;
}

.skip {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	line-height: 1em;
}
.skip:focus {
	background-color: white;
	box-shadow: 0 0 calc(2 * var(--kolibri-spacing)) calc(2 * var(--kolibri-spacing)) white;
	left: unset;
	position: unset;
}
