@import 'style';

:host {
	display: inline-block;
}

:is(a, button) {
	align-items: baseline;
	display: inline-flex;
	place-items: center;
	text-align: left;
	text-decoration-line: underline;
}

:is(a, button):is(:focus, :hover) {
	text-decoration-thickness: 0.2em;
}

.skip {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	line-height: 1em;
}

.skip:focus {
	background-color: #fff;
	left: unset;
	padding: 1em;
	position: unset;
}

.kol-icon.external-link-icon {
	display: inline-flex;
}
