@import './style.css';

:host {
	display: inline-flex;
}

:is(a, button) {
	align-items: baseline;
	text-align: left;
	text-decoration-line: underline;
}

a {
	display: inline-flex;
	place-items: center;
}

:is(a, button):is(:focus, :hover) {
	text-decoration-thickness: 0.2em;
}

.hidden {
	display: none;
	visibility: hidden;
}

.skip {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	z-index: 9999999;
	line-height: 1em;
}
.skip:focus {
	background-color: white;
	left: unset;
	padding: 0.75em 1em;
	position: unset;
}

kol-icon.external-link-icon {
	display: inline-flex;
}
