@layer kol-global {
	/*
	 * Dieses CSS stellt sicher, dass der Standard-Style
	 * von A und Button resettet werden.
	 */
	:is(a, button) {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
		width: 100%; /* 100% needed for custom width from outside */
	}

	/*
	 * Ensure elements with hidden attribute to be actually not visible
	 * @see https://meowni.ca/hidden.is.a.lie.html
	 */
	[hidden] {
		display: none !important;
	}
}
