@import url(a11y.css);
@import url(preset.css);
:host {
	/*
	 * The max-width is needed to prevent the table from overflowing the
	 * parent node, if the table is wider than the parent node.
	 */
	max-width: 100%;
}
* {
	/*
	 * We prefer to box-sizing: border-box for all elements.
	 */
	box-sizing: border-box;
}
/* KolSpan is a layout component with icons in all directions and a label text in the middle. */
kol-span-wc {
	display: grid;
	place-items: center;
}
/* What is this targeting? */
/* The sub span in KolSpan is the horizontal span with icon left and right and the label text in the middle. */
kol-span-wc > span {
	display: flex;
	place-items: center;
}
a,
button {
	cursor: pointer;
}
/* font-family is NOT inherited all HTML elements. We should set it hard. */
a,
button,
input,
option,
select,
textarea {
	font-family: inherit;
}
/* That is the icon only (hide label) case, where the label text is hide. */
.icon-only > kol-span-wc > span > span {
	display: none;
}
