@import 'a11y';
@import 'preset';

@layer kol-global {
	:host {
		/*
		 * The max-width is needed to prevent the table from overflowing the
		 * parent node, if the table is wider than the parent node.
		 */
		max-width: 100%;
	}

	* {
		/*
		 * We prefer to box-sizing: border-box for all elements.
		 */
		box-sizing: border-box;
	}

	/* KolSpan is a layout component with icons in all directions and a label text in the middle. */
	.kol-span-wc {
		display: grid;
		place-items: center;
	}

	/* The sub span in KolSpan is the horizontal span with icon left and right and the label text in the middle. */
	.kol-span-wc > span {
		display: flex;
		place-items: center;
	}

	a,
	button {
		cursor: pointer;
	}

	.hidden {
		display: none;
		visibility: hidden;
	}

	/* This is the text label. */
	.hide-label > .kol-span-wc > span > span {
		display: none;
	}

	/* Reset browser agent style. */
	button:disabled {
		color: unset;
	}

	.disabled label,
	.disabled:focus-within label,
	[aria-disabled='true'],
	[aria-disabled='true']:focus,
	[disabled],
	[disabled]:focus {
		cursor: not-allowed !important;
		opacity: 0.5 !important;
		outline: none !important;
	}

	[aria-disabled='true']:focus .kol-span-wc,
	[disabled]:focus .kol-span-wc {
		outline: none !important;
	}
}
