@import './tokens.css';
@import './a11y.css';
@import './button-and-link.css';

:host {
	font-family: var(--kolibri-font-family);
	font-size: var(--kolibri-font-size);
}

* {
	/**
	 * We prefer to box-sizing: border-box for all elements.
	 */
	box-sizing: border-box;
}

kol-span-wc {
	display: grid;
	gap: var(--kolibri-spacing);
	place-items: center;
}
kol-span-wc > span {
	display: flex;
	gap: var(--kolibri-spacing);
	place-items: center;
}
kol-span-wc kol-icon {
	display: contents;
	padding: 0 var(--kolibri-spacing);
}

a,
button,
input,
select,
textarea {
	appearance: none;
	cursor: pointer;
	font-family: var(--kolibri-font-family);
}

.icon-only > kol-span-wc > span > span {
	display: none;
}
