/**
 * Design Tokens
 */
:host {
	/**
	 * @prop --kolibri-border-color: Default color of the border.
	 */
	--kolibri-border-color: #666;

	/**
	 * @prop --kolibri-border-radius: Default radius of the border.
	 */
	--kolibri-border-radius: 0.125rem;

	/**
	 * @prop --kolibri-border-width: Default width of the border.
	 */
	--kolibri-border-width: 1px;

	/**
	 * @prop --kolibri-color-error: Default color of the error.
	 */
	--kolibri-color-error: #f44336;

	/**
	 * @prop --kolibri-color-info: Default color of the info.
	 */
	--kolibri-color-info: #2196f3;

	/**
	 * @prop --kolibri-color-success: Default color of the success.
	 */
	--kolibri-color-success: #4caf50;

	/**
	 * @prop --kolibri-color-warning: Default color of the warning.
	 */
	--kolibri-color-warning: #ff9800;

	/**
	 * @prop --kolibri-color-primary: Default color of the primary.
	 */
	--kolibri-color-primary: #3f51b5;

	/**
	 * @prop --kolibri-color-secondary: Default color of the secondary.
	 */
	--kolibri-color-secondary: #ff4081;

	/**
	 * @prop --kolibri-color-normal: Default color of the normal.
	 */
	--kolibri-color-normal: #9e9e9e;

	/**
	 * @prop --kolibri-color-danger: Default color of the danger.
	 */
	--kolibri-color-danger: #f44336;

	/**
	 * @prop --kolibri-color-ghost: Default color of the ghost.
	 */
	--kolibri-color-ghost: #f5f5f5;

	/**
	 * @prop --kolibri-color-disabled: Default color of the disabled.
	 */
	--kolibri-color-disabled: #bdbdbd;

	/**
	 * @prop --kolibri-color-text: Default color of the text.
	 */
	--kolibri-color-text: #222222;

	/**
	 * @prop --kolibri-color-visited: Default color of the visited.
	 */
	--kolibri-color-visited: #9c27b0;

	/**
	 * @prop --kolibri-font-family: Default font family.
	 */
	--kolibri-font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;

	/**
	 * @prop --kolibri-font-size: Default font size.
	 */
	--kolibri-font-size: 16px;

	/**
	 * @prop --kolibri-border-color: Default color of the border.
	 */
	--kolibri-spacing: 0.25rem;
}
