@use '../@shared/mixins' as *;
@use '../style' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host > div.card {
		height: 100%;
		position: relative;
		/* Visible with forced colors  */
		outline: transparent solid rem(1);
	}

	.close {
		position: absolute;
		top: 0;
		right: 0;
	}
}
