@import '../style';

@layer kol-component {
	:host > div.card {
		height: 100%;
		position: relative;
		outline: transparent solid 1px;
		/* Visible with forced colors  */
	}

	.close {
		position: absolute;
		top: 0;
		right: 0;
	}
}
