$icomoon-font-family: "material-symbols-subset" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e926";
$icon-arrow-back: "\e922";
$icon-arrow-down: "\e925";
$icon-arrow-forward: "\e923";
$icon-arrow-up: "\e924";
$icon-autorenew: "\e921";
$icon-brightness-medium: "\e902";
$icon-calendar-today: "\e920";
$icon-check: "\e91f";
$icon-checklist: "\e91e";
$icon-chevron-left: "\e91d";
$icon-chevron-right: "\e91c";
$icon-close: "\e91b";
$icon-content-copy: "\e91a";
$icon-danger: "\e919";
$icon-dark-mode: "\e900";
$icon-delete: "\e918";
$icon-download: "\e917";
$icon-draft: "\e916";
$icon-drive-folder-upload: "\e915";
$icon-easy-language: "\e914";
$icon-edit: "\e913";
$icon-help: "\e911";
$icon-home: "\e912";
$icon-info: "\e910";
$icon-keyboard-double-arrow-left: "\e90f";
$icon-keyboard-double-arrow-right: "\e90e";
$icon-light-mode: "\e901";
$icon-logout: "\e90d";
$icon-mail: "\e90c";
$icon-more-vert: "\e90b";
$icon-open-in-new: "\e90a";
$icon-palette: "\e92b";
$icon-question-mark: "\e909";
$icon-remove: "\e92c";
$icon-save: "\e92d";
$icon-search: "\e908";
$icon-settings: "\e92e";
$icon-sign-language: "\e907";
$icon-success: "\e906";
$icon-unfold-less: "\e92f";
$icon-view-timeline: "\e930";
$icon-visibility-off: "\e904";
$icon-visibility: "\e905";
$icon-warning: "\e903";

