@use '../../mixins/to-rem' as *;

@mixin kol-custom-suggestions-option-theme($option-height) {
	.kol-custom-suggestions-option {
		display: flex;
		min-height: $option-height;
		padding: to-rem(10) to-rem(12);
		align-items: center;

		line-height: 1.2;

		&[aria-selected] {
			color: var(--color-blue);
		}

		&:focus {
			color: white;
			background-color: var(--color-blue);
			outline: 0;
		}
	}
}
