@use '../../mixins/to-rem' as *;

@mixin kol-input-text-theme {
	.kol-input,
	.kol-select,
	.kol-textarea {
		outline: none;
		margin: to-rem(1);
		border: none;
	}

	.kol-input,
	.kol-select:not([multiple]) {
		height: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
	}

	.kol-input,
	.kol-select,
	.kol-textarea {
		&:focus {
			border-bottom: 1px solid var(--color-blue);
			border-top: 1px solid var(--color-blue);
		}
	}

	.kol-input,
	.kol-textarea {
		&::placeholder {
			color: var(--color-grey-50);
		}
	}
}
