@use '../../functions/to-rem' as *;

@mixin kol-button {
	a,
	button {
		border-radius: 4px;

		text-decoration: none;
		appearance: none;
	}

	a:focus,
	button:focus {
		outline: none;
	}

	a > .kol-span-wc,
	button > .kol-span-wc {
		border-radius: 4px;
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		margin: 0;
		padding: to-rem(12);

		font:
			normal normal 400 to-rem(16) / to-rem(20) arial,
			sans-serif;
		font-weight: 400;
		line-height: 1.2;
	}

	a:focus-visible > .kol-span-wc,
	button:focus-visible > .kol-span-wc {
		outline-style: solid;
		outline-width: 2px;
		outline-offset: -4px;
	}

	a:active > .kol-span-wc,
	button:active > .kol-span-wc,
	a:hover > .kol-span-wc,
	button:hover > .kol-span-wc {
		box-shadow:
			0 to-rem(2) to-rem(4) rgb(9 49 142 / 8%),
			0 0 to-rem(10) rgb(9 49 142 / 4%),
			0 to-rem(4) to-rem(5) rgb(9 49 142 / 4%),
			0 to-rem(-4) to-rem(4) rgb(9 49 142 / 4%);
	}

	a.primary > .kol-span-wc,
	button.primary > .kol-span-wc {
		color: #fff;
		background-color: #0e47cb;
	}

	a.primary:focus-visible > .kol-span-wc,
	button.primary:focus-visible > .kol-span-wc {
		outline-color: #fff;
	}

	a.primary:hover > .kol-span-wc,
	button.primary:hover > .kol-span-wc {
		background-color: #3e6cd5;
	}

	a.secondary > .kol-span-wc,
	button.secondary > .kol-span-wc {
		color: #0e47cb;
		background-color: #fff;
		padding: calc(to-rem(12) - to-rem(2)) calc(to-rem(16) - to-rem(2));
		border: 2px solid #0e47cb;
	}

	a.secondary:focus-visible > .kol-span-wc,
	button.secondary:focus-visible > .kol-span-wc {
		box-shadow: inset 0 0 0 4px #0e47cb;
		outline-color: #fff;
	}

	a.secondary:hover > .kol-span-wc,
	button.secondary:hover > .kol-span-wc {
		color: #0e47cb;
		border-color: #0e47cb;
	}

	a.normal > .kol-span-wc,
	button.normal > .kol-span-wc {
		color: #171a22;
		background-color: #fc0;
	}

	a.normal:focus-visible > .kol-span-wc,
	button.normal:focus-visible > .kol-span-wc {
		outline-color: #000;
	}

	a.normal:hover > .kol-span-wc,
	button.normal:hover > .kol-span-wc {
		background-color: #fc0;
		border-color: #fc0;
	}

	a.danger .kol-span-wc,
	button.danger .kol-span-wc {
		color: var(--color-white);
		background-color: var(--color-red);
		border-color: var(--color-red);
	}

	a.danger:hover .kol-span-wc,
	button.danger:hover .kol-span-wc {
		background-color: var(--color-red);
		border-color: var(--color-red);
	}

	a.ghost > .kol-span-wc,
	button.ghost > .kol-span-wc {
		color: #0e47cb;
	}

	a.ghost:focus-visible > .kol-span-wc,
	button.ghost:focus-visible > .kol-span-wc {
		outline-color: #0e47cb;
	}

	a.ghost:hover > .kol-span-wc,
	button.ghost:hover > .kol-span-wc {
		color: #0e47cb;
	}
}
