@use '../../mixins/to-rem' as *;

@mixin kol-input-container-theme {
	.kol-input-container {
		color: var(--color-grey);
		min-height: var(--a11y-min-size);
		padding: to-rem(1) 0.5em;
		order: 4;
		align-items: center;
		border: 1px solid var(--color-grey-75);

		&:focus-within {
			box-shadow:
				inset to-rem(1) to-rem(1) var(--color-blue),
				inset to-rem(-1) to-rem(-1) var(--color-blue);
			outline: none;
		}

		&:focus-within,
		&:not(&--disabled):hover {
			border-color: var(--color-blue);
		}

		&--disabled {
			cursor: not-allowed;
		}

		&#{&}--error {
			border-color: var(--color-red);
		}
	}
}
