@mixin kol-link($block-classname) {
	.#{$block-classname} {
		&__anchor {
			color: var(--color-blue);

			line-height: 1.2;
			appearance: none;

			&:hover {
				color: var(--color-blue-130);
			}
		}
	}
}
