@use '../../mixins/to-rem' as *;

@mixin kol-pagination-styles {
	.kol-table-stateful {
		&__pagination,
		&__pagination-wrapper {
			@media (min-width: 1024px) {
				gap: to-rem(16);
			}
		}
	}

	.kol-pagination {
		.kol-button {
			--kolibri-spacing: #{to-rem(4)};
			border-radius: 4px;

			&:focus {
				outline: none;
			}

			&:focus-visible .kol-button__text {
				outline-offset: -4px;
				outline: 2px solid var(--color-black);
			}

			&:not(:disabled):active .kol-button__text,
			&:not(:disabled):hover .kol-button__text {
				background-color: #fc0;
				border-color: #fc0;
				box-shadow:
					0 to-rem(2) to-rem(4) rgb(9 49 142 / 8%),
					0 0 to-rem(10) rgb(9 49 142 / 4%),
					0 to-rem(4) to-rem(5) rgb(9 49 142 / 4%),
					0 to-rem(-4) to-rem(4) rgb(9 49 142 / 4%);
			}

			&:disabled .kol-button__text {
				opacity: 0.5;
				cursor: not-allowed;
			}

			&__text {
				min-height: var(--a11y-min-size);
				min-width: var(--a11y-min-size);
				border-radius: 4px;
				font:
					normal normal 400 to-rem(16) / to-rem(20) Arial,
					sans-serif;
				padding: to-rem(12);
				background-color: #fc0;
				color: #171a22;
			}
		}

		&__button--selected .kol-button {
			&__text {
				background-color: var(--color-blue);
				border-color: var(--color-blue);
				color: var(--color-white);
				font-weight: bold;
				text-decoration: underline;
				opacity: 1;
			}
		}
	}
}
