@import '../style.css';

:host {
	height: 0;
	position: absolute;
}

.popover {
	background-color: white;
	box-sizing: border-box;
	opacity: 0;
	position: absolute;
}
.hidden {
	display: none;
}
.show {
	animation: fadeInOpacity 300ms ease-in forwards;
}
.disappear {
	animation: fadeInOpacity 300ms ease-in backwards;
}

.arrow {
	background-color: inherit;
	height: var(--font-size);
	position: absolute;
	rotate: 0.125turn;
	width: var(--font-size);
	z-index: -1;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
