@use '../@shared/mixins' as *;

@layer kol-component {
	@keyframes fadeInOpacity {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	.kol-popover {
		position: absolute;
		height: 0;

		&__content {
			position: absolute;
			min-width: max-content;
			min-height: max-content;
			background-color: #fff;
			opacity: 0;

			&--visible {
				animation: 0.3s ease-in forwards fadeInOpacity;
			}

			&--disappear {
				animation: 0.3s ease-in backwards fadeInOpacity;
			}
		}

		&__arrow {
			position: absolute;
			z-index: -1;
			width: var(--font-size);
			height: var(--font-size);
			background-color: inherit;
			rotate: 0.125turn;
		}
	}
}
