@import '../style.css';

:host {
	height: 0;
}

.popover {
	background-color: var(--kolibri-tooltip-background-color);
	box-sizing: border-box;
	opacity: 0;
	position: absolute;
}
.hidden {
	display: none;
}
.show {
	animation: fadeInOpacity 300ms ease-in forwards;
}

.arrow {
	border: calc(var(--font-size) / 2) solid transparent;
	height: 0;
	position: absolute;
	width: 0;
	z-index: -1;
}
:where(.arrow).top {
	border-top-color: var(--kolibri-tooltip-background-color);
}
:where(.arrow).right {
	border-right-color: var(--kolibri-tooltip-background-color);
}
:where(.arrow).bottom {
	border-bottom-color: var(--kolibri-tooltip-background-color);
}
:where(.arrow).left {
	border-left-color: var(--kolibri-tooltip-background-color);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
