@import '../@shared/mixins';
@import '../input-line';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.single-select {
		position: relative;

		&.disabled,
		&.disabled * {
			cursor: not-allowed !important;
		}

		&.disabled {
			opacity: 0.5;
			outline: none;
		}

		&__group {
			display: inline-flex;
			align-items: center;
			cursor: pointer;
		}

		&__input {
			flex-grow: 1;
		}

		&__item {
			&.highlighted {
				background-color: #f0f0f0;
			}
		}

		&.no-results {
			padding: 8px;
			text-align: center !important;
		}

		&__listbox {
			display: block;
			position: absolute;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 2;
			background-color: white;
			max-height: rem(250);
		}
	}
}
