@import '../../styles/global';
@import '../../styles/kol-alert-mixin';
@import '../../styles/kol-custom-suggestions-option';
@import '../../styles/kol-custom-suggestions-options-group';
@import '../../styles/kol-custom-suggestions-toggle';
@import '../../styles/kol-form-field-mixin';
@import '../../styles/kol-input-container-mixin';
@import '../../styles/kol-input-mixin';
@import '../@shared/mixins';

@include kol-alert;
@include kol-custom-suggestions-option;
@include kol-custom-suggestions-options-group;
@include kol-custom-suggestions-toggle;
@include kol-form-field;
@include kol-input-container;
@include kol-input;

@layer kol-component {
	.kol-single-select {
		&__no-results-message {
			cursor: default;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: rem(50);
		}
	}
}
