@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-custom-suggestions-option' as *;
@use '../../styles/kol-custom-suggestions-options-group' as *;
@use '../../styles/kol-custom-suggestions-toggle' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@layer kol-component {
	@include kol-alert;
	@include kol-custom-suggestions-option;
	@include kol-custom-suggestions-options-group;
	@include kol-custom-suggestions-toggle;
	@include kol-form-field;
	@include kol-input-container;
	@include kol-input;

	$option-height: to-rem(40);
	$visible-options: var(--visible-options, 5);

	.kol-multi-select {
		&__container {
			display: flex;
			width: 100%;
			flex-direction: column;
		}

		&__content {
			display: flex;
			gap: to-rem(8);
			flex-wrap: wrap;
			align-items: center;

			&--disabled {
				background: var(--color-background-disabled);
				cursor: not-allowed;
			}
		}

		&__badges {
			display: contents;
		}

		&__badge-wrapper {
			display: inline-flex;
			align-items: center;

			kol-badge {
				margin: 0;
			}
		}

		&__input-wrapper {
			display: flex;
			flex: 1 1 auto;
			align-items: center;
		}

		&__input {
			min-width: 0;
			flex: 1;

			&:disabled {
				cursor: not-allowed;
			}
		}

		&__group {
			position: relative;
			width: 100%;
		}

		&__delete {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&--disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}
}
