@use '../../assets/kolicons/style' as *;
@use '../../styles/global' as *;
@use '../../styles/kol-alert-mixin' as *;
@use '../../styles/kol-form-field-mixin' as *;
@use '../../styles/kol-input-container-mixin' as *;
@use '../../styles/kol-input-mixin' as *;
@use '../@shared/mixins' as *;

@layer kol-component {
	@include kol-alert;
	@include kol-form-field;
	@include kol-input-container;
	@include kol-input;

	.kol-input-number {
		input {
			appearance: textfield;
			text-align: right;

			&::-webkit-inner-spin-button {
				display: none;
			}
		}
	}
}
