:root {
	font-size: 100px;
}

body {
	margin: 0;
	font-family: Verdana;
}

dl,
hr {
	margin: 0;
}

.w-4rem {
	width: 4rem;
}

.w-8rem {
	width: 8rem;
}

.w-12rem {
	width: 12rem;
}

.grid-cols-2 {
	grid-template-columns: auto auto;
}

@media (min-width: 1024px) {
	.app-container {
		display: grid;
		grid-template-columns: 360px auto;
		min-height: 100vh;
		height: 100%;
	}

	.app-sidebar {
		border-right: 1px solid gray;
		position: relative;

		& .scrollable-container-wrapper {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: 330px;
			margin: 1rem;
			flex-direction: column;
			display: flex;

			& .scrollable-container {
				flex: 1 auto;
				overflow: auto;
			}
		} 
	}
}

@media print {

	.no-print,
	.no-print * {
		display: none !important;
	}
}
