:root {
	--kolibri-root-font-size: 100;
	font-size: 625%;
}

body {
	margin: 0;
	font-family: Verdana;
}

dl,
hr {
	margin: 0;
}

.grid-cols-2 {
	grid-template-columns: auto auto;
}

p, .text-sm, .text-center {
	font-size: 16px;
	line-height: 18px;
}


@media (min-width: 1024px) {
	.app-container {
		display: grid;
		grid-template-columns: 360px calc(100% - 360px);
		min-height: 100vh;
		height: 100%;
	}

	.app-sidebar {
		border-right: 1px solid gray;
		position: relative;

		& .scrollable-container-wrapper {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: 330px;
			margin: 16px; // 1rem;
			flex-direction: column;
			display: flex;

			& .scrollable-container {
				flex: 1 auto;
				overflow: auto;
			}
		} 
	}
}

@media print {

	.no-print,
	.no-print * {
		display: none !important;
	}
}
