@layer kol-theme-component {
	button {
		background-color: transparent;
		border: 0;
		cursor: pointer;
	}

	kol-link-button-wc {
		display: inline-block;
	}

	button {
		color: var(--textFontColorblau);
		font-style: normal;
		font-weight: 400;
		display: inline-flex;
		line-height: 1.5em;
		text-decoration-line: none !important;
		outline: none !important;
	}

	button:focus-within,
	button:hover {
		box-shadow: inset 0 -1px 0 0 currentColor;
	}

	kol-icon {
		padding: 0 0.25em;
		display: inline-block;
	}
}
