@layer kol-theme-component {
	kol-input {
		display: grid;
		padding: 0;
		margin: 0;
	}

	input:focus,
	input:hover,
	select:focus,
	select:hover,
	textarea:focus,
	textarea:hover {
		border-color: black;
	}

	kol-input > label {
		order: 1;
		margin-bottom: 0.25em;
	}

	kol-input > label > span {
		color: black;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}

	kol-input > div.input {
		background-color: white;
		display: block;
		order: 2;
	}

	kol-input > kol-alert.error {
		margin-top: 0.25em;
		order: 3;
	}

	input,
	select,
	textarea {
		font-family: var(--font-family);
		background-color: transparent;
		box-sizing: border-box;
		font-size: 1rem;
		display: inline-flex;
		line-height: 1.5em;
		color: black;
		border-color: var(--color-grau-dunkel);
		border-width: 1px;
		border-style: solid;
		padding: 0.5em 0.75em;
		overflow: hidden;
		width: 100%;
	}

	input:not([type='range']),
	select:not([multiple]) {
		height: 2.75em;
	}

	textarea {
		display: inherit;
	}

	input::placeholder {
		color: var(--color-grau-dunkel);
	}

	input:not([type="color"]):read-only, input:disabled, /* select:read-only, */
	select:disabled, textarea:read-only, textarea:disabled {
		cursor: not-allowed;
	}

	.required label > span::after {
		content: '*';
		padding-left: 0.125em;
	}

	.icons {
		display: flex;
		justify-content: space-between;
		height: 0;
	}

	.icons > * {
		margin: 0.75em;
	}

	.icon-left input,
	.icon-left select {
		padding-left: 2em;
	}

	.icon-right input,
	.icon-right select {
		padding-right: 2em;
	}

	kol-button-wc {
		position: relative;
		float: right;
		z-index: 1000;
		margin-top: -33px;
	}

	kol-button-wc button {
		border: 1px solid var(--color-grau-dunkel);
		box-sizing: border-box;
		background-color: transparent;
		cursor: pointer;
	}

	.icon-right kol-button-wc {
		margin-right: 2.5em;
	}

	.disabled {
		opacity: 0.33;
	}

	select[multiple],
	textarea {
		overflow: auto;
	}

	textarea {
		display: block;
	}

	select option {
		margin: 1px 0;
		padding: 0.5em;
		cursor: pointer;
	}

	select option:disabled {
		cursor: not-allowed;
	}

	option:active:not(:disabled),
	option:checked:not(:disabled),
	option:focus:not(:disabled),
	option:hover:not(:disabled) {
		color: white;
	}
}
