@layer kol-theme-component {
	/* https://www.cssportal.com/style-input-range/ */
	kol-input {
		display: grid;
	}

	kol-input label {
		display: grid;
		order: 2;
		margin-bottom: 0.4em;
	}

	kol-input div.input {
		box-sizing: border-box;
		order: 3;
		background-color: white;
		border-radius: 0.3125rem;
	}

	kol-input kol-alert.error {
		margin-bottom: 0.4em;
		order: 1;
	}

	input,
	select,
	textarea {
		font-family: var(--font-family);
		background-color: transparent;
		box-sizing: border-box;
		font-size: 1rem;
		display: inline-flex;
		line-height: 1.5em;
		border-color: var(--color-grey);
		border-width: 2px;
		border-style: solid;
		padding: 0.625em 0.875em;
		border-radius: 0.3125rem;
		overflow: hidden;
		width: calc(100% - 4em);
	}

	input,
	select:not([multiple]) {
		height: 2.75em;
	}

	input::placeholder {
		color: var(--color-grey);
	}

	input:hover {
		border-color: var(--color-midnight);
	}

	input:not([type="color"]):read-only, input:disabled, /* select:read-only, */
	select:disabled, textarea:read-only, textarea:disabled {
		cursor: not-allowed;
		border-color: var(--border-default);
	}

	.required #label::after {
		content: '*';
		padding-left: 0.125em;
	}

	.icons {
		display: flex;
		justify-content: space-between;
		height: 0;
	}

	.icons > * {
		margin: 0.725em 0.875em;
		box-sizing: border-box;
		border-color: transparent;
		border-width: 2px;
		border-style: solid;
	}

	.icon-left input,
	.icon-left select {
		padding-left: calc(0.875em + 1em + 0.5em);
	}

	.icon-right input,
	.icon-right select {
		padding-right: calc(0.875em + 1em + 0.5em);
	}

	kol-input.error {
		border-left: 3px solid var(--color-red);
		padding-left: 1em;
	}

	kol-input.error input:focus,
	kol-input.error select:focus,
	kol-input.error textarea:focus {
		outline-color: var(--color-red) !important;
	}

	kol-input.error kol-alert.error {
		color: var(--color-red);
		font-weight: 700;
	}

	kol-button-wc {
		position: relative;
		float: right;
		z-index: 1000;
		margin-top: -33px;
	}

	kol-button-wc button {
		border: 1px solid var(--color-grey);
		border-radius: 0.25rem;
		box-sizing: border-box;
		background-color: transparent;
		cursor: pointer;
	}

	.icon-right kol-button-wc {
		margin-right: 2.5em;
	}

	.disabled {
		opacity: 0.33;
	}

	.icon-left input,
	.icon-left select {
		margin-left: 2em;
	}

	.icon-right input,
	.icon-right select {
		margin-right: 2em;
	}

	input[type='range'] {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	input[type='range'] {
		overflow: visible;
		background-color: var(--color-ice);
		border: 0;
		height: 0.5rem;
		padding: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	input[type='range']::-webkit-slider-thumb {
		box-sizing: border-box;
		background-color: var(--color-midnight);
		height: 20px;
		width: 20px;
		border-radius: 20px;
		cursor: pointer;
		-webkit-appearance: none;
	}
}
