@font-face {
  font-family: "bpa-icons";
  src: url('bpa-icons.eot?t=1679001673948'); /* IE9*/
  src: url('bpa-icons.eot?t=1679001673948#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("bpa-icons.woff2?t=1679001673948") format("woff2"),
  url("bpa-icons.woff?t=1679001673948") format("woff"),
  url('bpa-icons.ttf?t=1679001673948') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('bpa-icons.svg?t=1679001673948#bpa-icons') format('svg'); /* iOS 4.1- */
}

[class^="bpa-"], [class*=" bpa-"] {
  font-family: 'bpa-icons' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bpa-icon-add-event:before { content: "\ea01"; }
.bpa-icon-add-podcast:before { content: "\ea02"; }
.bpa-icon-alert:before { content: "\ea03"; }
.bpa-icon-arrow-left:before { content: "\ea04"; }
.bpa-icon-arrow-right:before { content: "\ea05"; }
.bpa-icon-audio-description:before { content: "\ea06"; }
.bpa-icon-backward:before { content: "\ea07"; }
.bpa-icon-bpa-eagle:before { content: "\ea08"; }
.bpa-icon-bpa-flag:before { content: "\ea09"; }
.bpa-icon-bpa-logo-small:before { content: "\ea0a"; }
.bpa-icon-bpa-logo:before { content: "\ea0b"; }
.bpa-icon-bpa-type-en:before { content: "\ea0c"; }
.bpa-icon-bpa-type-fr:before { content: "\ea0d"; }
.bpa-icon-bpa-type:before { content: "\ea0e"; }
.bpa-icon-bubble:before { content: "\ea0f"; }
.bpa-icon-calendar:before { content: "\ea10"; }
.bpa-icon-close-round:before { content: "\ea11"; }
.bpa-icon-close:before { content: "\ea12"; }
.bpa-icon-connect:before { content: "\ea13"; }
.bpa-icon-corona-virus:before { content: "\ea14"; }
.bpa-icon-correct:before { content: "\ea15"; }
.bpa-icon-desktop:before { content: "\ea16"; }
.bpa-icon-dmid-accomplished:before { content: "\ea17"; }
.bpa-icon-dmid-arrow-right:before { content: "\ea18"; }
.bpa-icon-dmid-back:before { content: "\ea19"; }
.bpa-icon-dmid-bookmark:before { content: "\ea1a"; }
.bpa-icon-dmid-check:before { content: "\ea1b"; }
.bpa-icon-dmid-close-filter:before { content: "\ea1c"; }
.bpa-icon-dmid-close-l:before { content: "\ea1d"; }
.bpa-icon-dmid-close-m:before { content: "\ea1e"; }
.bpa-icon-dmid-email:before { content: "\ea1f"; }
.bpa-icon-dmid-external-link:before { content: "\ea20"; }
.bpa-icon-dmid-minus:before { content: "\ea21"; }
.bpa-icon-dmid-more-vertical:before { content: "\ea22"; }
.bpa-icon-dmid-on-going:before { content: "\ea23"; }
.bpa-icon-dmid-open-datenschutz-bold:before { content: "\ea24"; }
.bpa-icon-dmid-open-filter:before { content: "\ea25"; }
.bpa-icon-dmid-pdf:before { content: "\ea26"; }
.bpa-icon-dmid-scroll-down:before { content: "\ea27"; }
.bpa-icon-dmid-search:before { content: "\ea28"; }
.bpa-icon-dmid-top:before { content: "\ea29"; }
.bpa-icon-dmid-zoom:before { content: "\ea2a"; }
.bpa-icon-download:before { content: "\ea2b"; }
.bpa-icon-dropdown:before { content: "\ea2c"; }
.bpa-icon-easy-speech:before { content: "\ea2d"; }
.bpa-icon-email-alt:before { content: "\ea2e"; }
.bpa-icon-email-outline:before { content: "\ea2f"; }
.bpa-icon-email:before { content: "\ea30"; }
.bpa-icon-erase-tag:before { content: "\ea31"; }
.bpa-icon-facebook:before { content: "\ea32"; }
.bpa-icon-filter-close:before { content: "\ea33"; }
.bpa-icon-filter:before { content: "\ea34"; }
.bpa-icon-financial-support:before { content: "\ea35"; }
.bpa-icon-folder:before { content: "\ea36"; }
.bpa-icon-frequent-questions:before { content: "\ea37"; }
.bpa-icon-gallery-overview:before { content: "\ea38"; }
.bpa-icon-gallery:before { content: "\ea39"; }
.bpa-icon-glossar-outline:before { content: "\ea3a"; }
.bpa-icon-glossar:before { content: "\ea3b"; }
.bpa-icon-go-down:before { content: "\ea3c"; }
.bpa-icon-high-definition:before { content: "\ea3d"; }
.bpa-icon-information:before { content: "\ea3e"; }
.bpa-icon-instagram:before { content: "\ea3f"; }
.bpa-icon-interaction:before { content: "\ea40"; }
.bpa-icon-link-external-right:before { content: "\ea41"; }
.bpa-icon-link-external:before { content: "\ea42"; }
.bpa-icon-linkedin:before { content: "\ea43"; }
.bpa-icon-livestream:before { content: "\ea44"; }
.bpa-icon-location:before { content: "\ea45"; }
.bpa-icon-maximize:before { content: "\ea46"; }
.bpa-icon-menu:before { content: "\ea47"; }
.bpa-icon-minimi:before { content: "\ea48"; }
.bpa-icon-minimize:before { content: "\ea49"; }
.bpa-icon-monitor-climate:before { content: "\ea4a"; }
.bpa-icon-monitor-democracy:before { content: "\ea4b"; }
.bpa-icon-monitor-education:before { content: "\ea4c"; }
.bpa-icon-monitor-finance:before { content: "\ea4d"; }
.bpa-icon-monitor-innovation:before { content: "\ea4e"; }
.bpa-icon-monitor-work:before { content: "\ea4f"; }
.bpa-icon-monitor-world:before { content: "\ea50"; }
.bpa-icon-more:before { content: "\ea51"; }
.bpa-icon-napi-logo:before { content: "\ea52"; }
.bpa-icon-napi-typo:before { content: "\ea53"; }
.bpa-icon-notification:before { content: "\ea54"; }
.bpa-icon-number-i:before { content: "\ea55"; }
.bpa-icon-number-ii:before { content: "\ea56"; }
.bpa-icon-number-iii:before { content: "\ea57"; }
.bpa-icon-number-iv:before { content: "\ea58"; }
.bpa-icon-number-v:before { content: "\ea59"; }
.bpa-icon-pen:before { content: "\ea5a"; }
.bpa-icon-photo:before { content: "\ea5b"; }
.bpa-icon-pictures:before { content: "\ea5c"; }
.bpa-icon-play-empty:before { content: "\ea5d"; }
.bpa-icon-play-v1:before { content: "\ea5e"; }
.bpa-icon-play-v2:before { content: "\ea5f"; }
.bpa-icon-play:before { content: "\ea60"; }
.bpa-icon-player-download:before { content: "\ea61"; }
.bpa-icon-player-maximize:before { content: "\ea62"; }
.bpa-icon-player-minimize:before { content: "\ea63"; }
.bpa-icon-player-pause:before { content: "\ea64"; }
.bpa-icon-player-play:before { content: "\ea65"; }
.bpa-icon-player-share:before { content: "\ea66"; }
.bpa-icon-player-sound:before { content: "\ea67"; }
.bpa-icon-player-subtitle:before { content: "\ea68"; }
.bpa-icon-playlist:before { content: "\ea69"; }
.bpa-icon-plus-round:before { content: "\ea6a"; }
.bpa-icon-plus:before { content: "\ea6b"; }
.bpa-icon-podcast:before { content: "\ea6c"; }
.bpa-icon-print:before { content: "\ea6d"; }
.bpa-icon-publication-deluxe:before { content: "\ea6e"; }
.bpa-icon-publication-outline:before { content: "\ea6f"; }
.bpa-icon-publication:before { content: "\ea70"; }
.bpa-icon-quote:before { content: "\ea71"; }
.bpa-icon-restart:before { content: "\ea72"; }
.bpa-icon-search:before { content: "\ea73"; }
.bpa-icon-share-link:before { content: "\ea74"; }
.bpa-icon-share:before { content: "\ea75"; }
.bpa-icon-sign-language:before { content: "\ea76"; }
.bpa-icon-slide-left:before { content: "\ea77"; }
.bpa-icon-slide-right:before { content: "\ea78"; }
.bpa-icon-sound-off:before { content: "\ea79"; }
.bpa-icon-sound-on:before { content: "\ea7a"; }
.bpa-icon-speech:before { content: "\ea7b"; }
.bpa-icon-subtitle:before { content: "\ea7c"; }
.bpa-icon-tag-plus:before { content: "\ea7d"; }
.bpa-icon-tag:before { content: "\ea7e"; }
.bpa-icon-tags-active:before { content: "\ea7f"; }
.bpa-icon-tags-disable:before { content: "\ea80"; }
.bpa-icon-text:before { content: "\ea81"; }
.bpa-icon-textversion:before { content: "\ea82"; }
.bpa-icon-threema:before { content: "\ea83"; }
.bpa-icon-time:before { content: "\ea84"; }
.bpa-icon-to-top:before { content: "\ea85"; }
.bpa-icon-trash-can:before { content: "\ea86"; }
.bpa-icon-twitter:before { content: "\ea87"; }
.bpa-icon-up:before { content: "\ea88"; }
.bpa-icon-video:before { content: "\ea89"; }
.bpa-icon-world-new:before { content: "\ea8a"; }
.bpa-icon-world:before { content: "\ea8b"; }
.bpa-icon-zahnrad:before { content: "\ea8c"; }
