@use '../@shared/input-core' as *;
@use '../functions/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include icon;
	.kol-input-color {
		&__inputs-wrapper {
			height: 100%;
			gap: to-rem(4);
		}

		&__input {
			&--text,
			&--color {
				background-color: var(--color-light);
				min-height: to-rem(36);
				border: to-rem(1) solid var(--color-subtle);
			}
		}
	}
}
