@use '../@shared/input-core' as *;
@use '../functions/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include icon;

	.kol-input {
		opacity: 0 !important;
	}

	.kol-input-container {
		position: relative;
		padding: 0;
		gap: 0;
		grid-template-columns: auto max-content min-content;

		&__adornment {
			position: absolute;

			.kol-icon {
				font-size: to-rem(24);
			}

			&--start {
				left: 0;

				.kol-input-container__smart-button > .kol-icon {
					border-right: 1px solid var(--border-color);
				}

				> .kol-icon {
					margin-left: to-rem(17);
					color: var(--color-blue-100);
				}
			}

			&--end {
				right: 0;

				.kol-input-container__smart-button > .kol-icon {
					border-left: 1px solid var(--border-color);
				}

				> .kol-icon {
					margin-right: to-rem(7);
				}
			}
		}

		&:has(&__adornment--start:not(:empty)) .kol-button {
			padding-left: to-rem(48);
		}

		&:has(&__adornment--end:not(:empty)) .kol-input {
			padding-right: to-rem(38);
		}

		&:has(&__adornment--end &__icon + &__smart-button) .kol-input,
		&:has(&__adornment--end &__smart-button + &__icon) .kol-input {
			padding-right: to-rem(80);
		}

		&__adornment--end &__smart-button + &__icon {
			border-left: 1px solid var(--border-color);
			padding-left: to-rem(7);
		}

		&__container {
			position: relative;
			z-index: 1;
			gap: 0 to-rem(8);
		}

		.kol-button {
			border-right: 1px solid var(--border-color);
			padding-right: to-rem(17);
			padding-left: to-rem(17);
			min-height: to-rem(38);
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-blue-100);
			font-weight: 700;

			&__text {
				display: flex;
				place-items: center;

				.kol-span__label {
					display: inline-flex;
				}
			}
		}

		&__container {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			overflow: hidden;
			white-space: nowrap;
			transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
		}

		&__filename {
			color: var(--color-dark-blue-100);
		}

		&--is-dragover:not(&--disabled) .kol-button,
		&:not(&--disabled):hover .kol-button {
			background-color: var(--color-blue-100-06);
		}

		&--disabled &__filename {
			color: var(--color-black-60);
		}

		&--disabled .kol-button {
			opacity: 1;
			color: var(--color-black-60);
		}
	}
}
