@use '../functions/to-rem' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	@include button('kol-button');
	@include button('kol-link');

	.kol-toolbar {
		background-color: var(--color-white-100);
		border-radius: 3px;
		padding: to-rem(4) 0;
		border: 1px solid var(--color-blue-100);

		.kol-link,
		.kol-button {
			min-height: var(--a11y-min-size);

			&__text {
				border: 0;
			}
		}

		hr {
			border: 1px solid var(--color-blue-100);
		}

		&:focus-within {
			outline-color: var(--color-blue-100);
			outline-offset: 0;
		}

		&--orientation-vertical {
			gap: to-rem(4);
			padding: to-rem(4) 0;
		}

		&--orientation-horizontal {
			gap: to-rem(16);
			padding: 0;
		}
	}
}
