@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.kol-modal {
		border: 0;
		padding: 0;

		&::backdrop {
			background-color: rgba(0, 0, 0, 0.33);
		}
	}
}
