@import '../@shared/mixins';
@import '../style';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.overlay {
		background-color: rgba(0, 0, 0, 0.33);
		display: flex;
		height: 100%;
		inset: 0;
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	.modal {
		margin: auto;
		max-height: 100%;
		max-width: 100%;
	}
}
