@import '../@shared/mixins';
@import '../../styles/global';

@layer kol-component {
	.kol-modal {
		border: 0;
		padding: 0;
		font-size: rem(16);

		&::backdrop {
			background-color: rgba(0, 0, 0, 0.33);
		}
	}
}
