@layer kol-theme-component {
	/* https://www.figma.com/file/56JbmrssCRpjpfxoAFeHqT/Design-System-EPLF-(in-progress)?node-id=8225%3A5945 */
	:host > div {
		display: grid;
		width: 100%;
		height: 100%;
		background-color: var(--color-light);
		grid-template-rows: min-content 2fr min-content;
		box-shadow: 0 0 0.25rem var(--color-subtle);
		border-radius: var(--border-radius);
	}

	:host .kol-heading-wc {
		line-height: 1.75rem;
	}

	:host div.header {
		padding: 1rem 1rem 0.5rem 1rem;
	}

	:host div.content {
		padding: 0.5rem 1rem 1rem;
		overflow: hidden;
	}

	:host div.footer {
		padding: 0.5rem 1rem;
	}
}
