@import '../style';

@layer kol-component {
	:host > div {
		display: grid;
		place-items: center;
	}

	:not(.is-compact) nav {
		width: 100%;
	}

	.list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.list.vertical {
		flex-direction: column;
	}

	.entry {
		display: flex;
	}

	.entry-item {
		flex-grow: 1;
	}
}
