@use '../style' as *;
@use '../tooltip/style.scss' as *;

@layer kol-component {
	:host > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		place-items: center;
	}

	.list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.list.vertical {
		flex-direction: column;
	}

	.list.horizontal {
		flex-wrap: wrap;
	}

	.entry {
		display: flex;
	}

	.entry-item {
		flex-grow: 1;
	}

	.entry {
		.kol-span-wc {
			place-items: start;
		}

		.button {
			text-align: left;
		}
	}
}
