@import ../input-line

label
  &.kol-required
    span
      &::after
        content: '*'

  input[type="file"]
    &::-webkit-file-upload-button
      display: none

    &::before
      content: 'Datei auswählen'
      @apply mr-2

  input[multiple]
    &::before
      content: 'Dateien auswählen'
