/* windicss-touch: 1648259771586 */
@import ./input

.kol-disabled
  opacity: 0.5

.kol-cursor-not-allowed,
.kol-cursor-not-allowed *
  cursor: not-allowed

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea
  background-color: white
  display: block
  line-height: 1em
  padding: .5em

input[type="color"]
  height: 2.5em
  padding: .25em 0.5em

textarea
  padding: .5em
