/* windicss-touch: 1667445761019 */
@windicss

:host

  *
    -ms-hyphens: var(--kolibri-hyphens)
    -webkit-hyphens: var(--kolibri-hyphens)
    hyphens: var(--kolibri-hyphens)
    font-family: var(--kolibri-font-family)
    line-height: var(--kolibri-line-height)
    word-break: break-word

//     &:focus
//       // outline-color: var(--kolibri-color-primary) !important
//       outline-color: var(--kolibri-color-outline) !important
//       outline-offset: 3px !important
//       outline-style: solid !important // macht eckige Ecken
//       outline-width: 2px !important
//       // position: relative !important // führt zu Fehler beim Modal
//       // z-index: 9999 !important // führt zu Fehler im Storybook

//     &::selection
//       background-color: var(--kolibri-color-primary)
//       font-weight: 600
//       color: white
