@import '../../assets/codicons/codicon.css';
/* @import '../../assets/fontawesome-free/css/all.css'; */
/* @import '../../assets/icofont/icofont.css'; */

:host {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

:host > i {
	height: 1em;
	display: contents;
	overflow: hidden;
	width: 1em;
}

.codicon[class*='codicon-'] {
	font-size: inherit;
}
