@import '../../assets/codicons/codicon.css';

:host {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

:host > i {
	height: 1em;
	width: 1em;
}

:host > i.codicon[class*='codicon-'] {
	display: contents;
	font-size: inherit;
}
