@import '../../assets/codicons/codicon.css';

:host {
	color: inherit;
	display: contents;
	font-size: inherit;
	line-height: inherit;
}

:host > i {
	font-size: inherit;
	height: 1em;
	width: 1em;
}
