@import '../../assets/codicons/codicon.css';

:host {
	color: inherit;
	display: contents;
	line-height: inherit;
}

/**
 * The <code>:important</code> is important, because we should always override the font icon style.
 */
:host,
:host > i,
:host > i::before {
	font-size: inherit !important;
}
