@use '../rem' as *;

@mixin indented-text {
	background-color: var(--color-light);
	border-left: none;
	box-shadow: rem(-2) rem(0) rem(0) var(--color-primary-variant);
	padding: 0 rem(calc(0.5 * 16));
	width: 100%;
}
