@use '../rem' as *;

@mixin kol-alert-table-stateless {
	:host {
		display: flex;
		gap: rem(8);
		flex-direction: column;
	}

	:host > div {
		overflow-x: auto;
		overflow-y: hidden;
	}

	caption {
		padding: rem(8);

		font-weight: bold;
	}

	th {
		color: var(--color-primary);

		font-weight: normal;
	}

	:host table thead tr:first-child th,
	:host table thead tr:first-child td {
		border-color: var(--color-primary-variant);
		border-style: solid;
		border-width: 0;
		border-top-width: calc(var(--border-width) * 2);
	}

	table {
		border-color: var(--color-primary-variant);
		border-style: solid;
		border-width: 0;
		border-bottom-width: calc(var(--border-width) * 2);
	}

	.head-spacer {
		display: table-row;

		td {
			border-color: var(--color-primary-variant);
			border-style: solid;
			padding: 0;
			border-width: 0;
			border-bottom-width: calc(var(--border-width) * 2);
		}
	}

	.table {
		padding: rem(8);

		&:has(.focus-element:focus) {
			outline-color: var(--color-primary-variant);
			outline-style: solid;
			outline-width: 3px;
			outline-offset: 2px;
			transition: outline-offset 0.2s linear;
		}
	}

	table {
		width: 100%;
		border-spacing: 0;
	}

	th {
		background-color: var(--color-light);
	}

	tr:nth-child(even) {
		background-color: var(--color-mute);
	}

	th,
	td {
		padding: rem(8);
	}

	th[aria-sort='ascending'],
	th[aria-sort='descending'] {
		font-weight: 700;
	}

	.input {
		input {
			&:hover {
				box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
				border-color: var(--color-primary);
			}

			&:focus {
				outline-color: var(--color-primary-variant);
				outline-style: solid;
				outline-width: 3px;
				border-color: var(--color-primary);
				outline-offset: 2px;
			}

			&:focus:hover {
				box-shadow: none;
			}
		}

		// CHECKBOX
		input[type='checkbox'] {
			border-color: var(--color-subtle);
			border-radius: 5px;

			&:checked {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}
		}

		.icon {
			color: var(--color-light);
			width: rem(16);
			height: rem(16);
		}

		&.indeterminate {
			input {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
			}
		}

		kol-icon:hover ~ input[type='checkbox'],
		input[type='checkbox']:hover {
			border-color: var(--color-primary);
		}

		// RADIO
		input[type='radio'] {
			border-color: var(--color-subtle);
			display: flex;

			&:checked {
				border-color: var(--color-primary);

				&:before {
					background-color: var(--color-primary);
				}
			}
		}
	}
}
