@use '../rem' as *;
@use './focus-outline' as *;

@mixin kol-button {
	:is(a, button) > .kol-span-wc {
		border-style: solid;
		border-radius: var(--border-radius);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: rem(8) rem(14);
		border-width: var(--border-width);

		font-weight: 400;
		text-align: center;
		transition-duration: 0.2s;
		transition-property: background-color, color, border-color;
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus .kol-span-wc {
		@include focus-outline;
	}

	:is(a, button).primary > .kol-span-wc,
	:is(a, button).primary:disabled:hover > .kol-span-wc {
		color: var(--color-light);
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}

	:is(a, button).secondary > .kol-span-wc,
	:is(a, button).secondary:disabled:hover > .kol-span-wc,
	:is(a, button).normal > .kol-span-wc,
	:is(a, button).normal:disabled:hover > .kol-span-wc {
		color: var(--color-primary);
		background-color: var(--color-light);
		border-color: var(--color-primary);
	}

	:is(a, button).danger > .kol-span-wc,
	:is(a, button).danger:disabled:hover > .kol-span-wc {
		color: var(--color-light);
		background-color: var(--color-danger);
		border-color: var(--color-danger);
	}

	:is(a, button).ghost > .kol-span-wc,
	:is(a, button).ghost:disabled:hover > .kol-span-wc {
		color: var(--color-primary);
		background-color: var(--color-light);
		box-shadow: none;
		border-color: var(--color-light);
	}

	/*-----------*/
	:is(a, button).primary:active > .kol-span-wc,
	:is(a, button).primary:hover > .kol-span-wc,
	:is(a, button).secondary:active > .kol-span-wc,
	:is(a, button).secondary:hover > .kol-span-wc,
	:is(a, button).normal:active > .kol-span-wc,
	:is(a, button).normal:hover > .kol-span-wc,
	:is(a, button).danger:active > .kol-span-wc,
	:is(a, button).danger:hover > .kol-span-wc,
	:is(a, button).ghost:active > .kol-span-wc,
	:is(a, button).ghost:hover > .kol-span-wc {
		color: var(--color-light);
		background-color: var(--color-primary-variant);
		box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
		border-color: var(--color-primary-variant);
	}

	:is(a, button).danger:active > .kol-span-wc,
	:is(a, button).danger:hover > .kol-span-wc {
		background-color: var(--color-danger);
		border-color: var(--color-danger);
	}

	:is(a, button):disabled:hover > .kol-span-wc,
	:is(a, button):focus:hover > .kol-span-wc {
		box-shadow: none;
	}

	:is(a, button).primary:active > .kol-span-wc,
	:is(a, button).secondary:active > .kol-span-wc,
	:is(a, button).normal:active > .kol-span-wc,
	:is(a, button).danger:active > .kol-span-wc,
	:is(a, button).ghost:active > .kol-span-wc {
		box-shadow: none;
		outline: none;
		border-color: var(--color-light);
	}

	:is(a, button).hide-label > .kol-span-wc {
		width: unset;
		padding: rem(calc(0.8 * 16));
	}

	:is(a, button).hide-label > .kol-span-wc > span > span {
		display: none;
	}

	:is(a, button).loading > .kol-span-wc .kol-icon {
		animation: spin 5s infinite linear;
	}

	/** small ghost button */
	:is(a, button).ghost.small > .kol-span-wc {
		background-color: transparent;
		box-shadow: none;
		border: none;
	}

	:is(a, button).ghost.small > .kol-span-wc > span {
		background-color: var(--color-light);
		border-color: var(--color-light);
		border-style: solid;
		border-radius: 1.5em;
		border-width: var(--border-width);
	}

	:is(a, button).ghost.small:active > .kol-span-wc > span,
	:is(a, button).ghost.small:hover > .kol-span-wc > span,
	:is(a, button).ghost.small.transparent:active > .kol-span-wc > span,
	:is(a, button).ghost.small.transparent:hover > .kol-span-wc > span {
		color: var(--color-light);
		background-color: var(--color-primary-variant);
		box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
		border-color: var(--color-primary-variant);
	}

	/** :is(a,button) with transparent background */
	:is(a, button).transparent > .kol-span-wc > span,
	:is(a, button).ghost.small.transparent > .kol-span-wc > span,
	:is(a, button).transparent > .kol-span-wc {
		background-color: transparent;
		border-color: transparent;
	}
}
