@use '../mixins/to-rem' as *;
@use './popover-button' as *;

@mixin kol-field-control-theme {
	.kol-field-control {
		&__label {
			@include popover-button;

			display: flex;
			margin-bottom: to-rem(2);
			gap: to-rem(4);
		}

		&--required & {
			&__label-text {
				&::after {
					padding-left: 0.125em;
				}
			}

			&__tooltip {
				.span-label::after {
					padding-left: 0.125em;
				}
			}
		}
		.kol-span.kol-field-control__label-text {
			flex-flow: row;

			font-weight: normal;
		}

		&--disabled & {
			&__label {
				opacity: 0.5;
			}
		}
	}

	/**{
    font-weight: normal;
  }*/
}
