@mixin kol-form-field-order-textarea-theme {
	.kol-form-field {
		&__msg {
			order: 1;
		}

		&__label {
			order: 2;
		}

		&__input {
			order: 3;
		}

		&__counter {
			order: 4;
		}

		&__hint {
			order: 5;
		}
	}
}
