@use '../mixins/to-rem' as *;
@use './alert' as *;
@use './popover-button' as *;
@use './typography' as *;

@mixin kol-form-field-theme {
	.kol-form-field {
		$root: &;

		gap: to-rem(4);

		&--error:not(&--hide-msg) {
			padding-left: to-rem(16);
			border-left: 3px solid var(--color-danger);

			.kol-form-field__msg {
				&.kol-alert--type-error {
					@include kol-input-error-with-kol-alert-error(--color-danger);
				}
				.kol-alert__content {
					font-size: to-rem(14);
				}
			}
		}

		&--required .kol-span__label::after {
			padding-left: 0.125em;
		}

		&--disabled & {
			&__label,
			&__hint {
				opacity: 0.5;
			}
		}

		&__hint {
			@include kol-typography-hint;

			order: 4;
		}

		&__counter {
			&--exceeded {
				color: var(--color-danger);
			}
		}

		&__label {
			@include popover-button;

			display: flex;
			margin-bottom: to-rem(2);
			gap: to-rem(4);
			order: 2;
			grid-column: var(--form-field-grid-column-1);

			font-size: to-rem(14);
			font-weight: bold;

			&--legend {
				// legends are strange and need float to actually behave in a grid like everyone else
				float: left;
			}

			&-text {
				gap: 0;
			}
		}

		&__msg {
			order: 1;
		}

		&__input {
			order: 3;
		}

		&__label[hidden] ~ &__msg {
			margin-bottom: to-rem(2);
		}
	}
}
