@use '../mixins/to-rem' as *;
@use './alert' as *;
@use './typography' as *;

@mixin kol-form-field-theme {
	.kol-form-field {
		$root: &;

		gap: to-rem(4);

		&--error:not(&--hide-msg) {
			padding-left: to-rem(16);
			border-left: 3px solid var(--color-danger);

			.kol-form-field__msg {
				&.kol-alert--type-error {
					@include kol-input-error-with-kol-alert-error(--color-danger);
				}
				.kol-alert__content {
					font-size: to-rem(14);
				}
			}
		}

		&--required & {
			&__label-text {
				&::after {
					padding-left: 0.125em;
				}
			}

			&__tooltip {
				.span-label::after {
					padding-left: 0.125em;
				}
			}
		}

		&__hint {
			@include kol-typography-hint;
		}

		&__counter {
			&--exceeded {
				color: var(--color-danger);
			}
		}
		.kol-form-field__label {
			font-size: to-rem(14);
			font-weight: bold;
		}
	}
}
