@use './to-rem' as *;
@use './kol-table-settings-wc' as *;
@use './alert' as *;
@use './pagination-mixin' as *;
@use './button' as *;
@use './link' as *;

@mixin kol-table-stateless-theme {
	@include kol-table-settings-theme;
	@include kol-alert-theme;
	@include kol-pagination-styles;

	:host {
		display: flex;
		gap: to-rem(8);
		flex-direction: column;
	}

	.kol-table {
		$root: &;
		$selection-width: to-rem(68);
		--kol-table-selection-col-width: #{$selection-width};

		padding: to-rem(8);

		&__table {
			width: 100%;
			border-spacing: 0;
		}

		&__head {
			position: sticky;
			top: 0;
			z-index: 10;
		}

		&__caption {
			min-height: calc(var(--a11y-min-size) + 2px); // leave some extra space so the settings button doesn't overlap the table borders
			padding: to-rem(8) var(--a11y-min-size) to-rem(8) 0;
		}

		&__scroll-container {
			max-height: 80vh;
			overflow: auto;

			@at-root #{$root}:has(#{$root}__focus-element:focus) & {
				outline-color: var(--color-primary-variant);
				outline-style: solid;
				outline-width: 3px;
				outline-offset: 2px;
				transition: outline-offset 0.2s linear;
			}
		}

		&__focus-element {
			outline: none; // override global styles
		}

		&__cell {
			border-color: var(--color-primary);
			border-style: solid;
			position: relative;
			padding: to-rem(8);
			border-width: 0;
			border-bottom-width: var(--border-width);

			/*			&::before {
				background-color: white;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				height: to-rem(8);

				content: '';
			}*/

			&::after {
				background-color: white;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: -2px;
				width: to-rem(2);

				content: '';
			}

			&--header {
				color: var(--color-text);
				background-color: var(--color-light);

				font-weight: bold;

				.kol-button:focus {
					outline-color: var(--color-mute-variant);
				}
				.kol-button__text {
					font-weight: bold;
				}
			}

			&--ascending,
			&--descending {
				font-weight: 700;

				.kol-button {
					font-weight: 700;
				}
			}

			&--selection {
				width: #{$selection-width}; //padding + a11y-min-size
			}

			&--sticky-left:nth-last-child(1 of .kol-table__cell--sticky-left) {
				border-right: 2px solid black;
			}

			&--sticky-right:nth-child(1 of .kol-table__cell--sticky-right) {
				border-left: 2px solid black;
			}
		}

		&__head-row:nth-child(1 of .kol-table__head-row) {
			.kol-table__cell {
				padding-top: to-rem(8);
				&::before {
					display: none;
				}
			}
		}

		&__cell-actions {
			gap: to-rem(4);
			@include kol-button('kol-button');
			@include kol-link('kol-link');
		}

		&__spacer {
			display: none;
		}

		&__selection {
			display: flex;
			gap: to-rem(8);
			align-items: center;
			grid-template-columns: 1fr auto;

			--kol-selection-input-main-color: var(--color-primary);
			--kol-selection-input-off-color: var(--color-subtle);
			--kol-selection-input-focus-color: var(--color-primary-variant);
			--kol-selection-input-hover-color: rgb(8, 35, 48, 0.24);
			--kol-selection-input-icon-color: var(--color-light);

			&-input {
				&:not(:disabled):hover {
					box-shadow: 0 2px 8px 2px var(--kol-selection-input-hover-color);
					border-color: var(--kol-selection-input-main-color);
				}

				&:focus {
					outline-color: var(--kol-selection-input-focus-color);
					outline-style: solid;
					outline-width: 3px;
					border-color: var(--kol-selection-input-main-color);
					outline-offset: 2px;
				}

				&:focus:hover {
					box-shadow: none;
				}

				// CHECKBOX
				&--checkbox {
					border-color: var(--kol-selection-input-off-color);
					border-radius: 5px;

					&:checked {
						background-color: var(--kol-selection-input-main-color);
						border-color: var(--kol-selection-input-main-color);
					}
				}

				// RADIO
				&--radio {
					border-color: var(--kol-selection-input-off-color);
					display: flex;

					&:checked {
						border-color: var(--kol-selection-input-main-color);

						&:before {
							background-color: var(--kol-selection-input-main-color);
						}
					}
				}
			}

			// icon in the checkbox
			&-icon {
				color: var(--kol-selection-input-icon-color);
			}

			//switch the colors in the table header
			@at-root #{$root}__head-row & {
				--kol-selection-input-main-color: var(--color-light);
				--kol-selection-input-off-color: var(--color-mute);
				--kol-selection-input-focus-color: var(--color-mute-variant);
				--kol-selection-input-hover-color: rgb(255, 255, 255, 0.24);
				--kol-selection-input-icon-color: var(--color-primary);
			}
		}

		&__sort {
			display: inline-flex;
			gap: to-rem(4);
			align-items: center;
		}

		&__sort-order {
			color: var(--color-primary);
			background-color: var(--color-light);
			border-radius: to-rem(12);

			min-width: to-rem(20);
			height: to-rem(20);
			padding-right: to-rem(4);
			padding-left: to-rem(4);

			font-size: to-rem(11);
			line-height: 1;
		}

		tbody tr:nth-child(2n) {
			background-color: var(--color-mute);
		}

		tbody tr:nth-child(2n) th {
			background-color: var(--color-light);
		}
	}
}
