@import '../@shared/mixins';
@import '../input-line';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.combobox {
		position: relative;
		&.disabled {
			cursor: not-allowed;
			opacity: 0.5;
			outline: none;
		}
		&__group {
			display: inline-flex;
			align-items: center;
			text-align: left;
			cursor: pointer;
		}

		&__input {
			flex-grow: 1;
		}

		&__listbox {
			display: block;
			position: absolute;
			top: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 2;
			background-color: white;
			max-height: 15.625rem;
		}
	}
}
