@import '../@shared/mixins';
@import '../input-line';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	//Block: .combobox
	.combobox {
		display: block;
		position: relative;

		&__group {
			display: inline-flex;
			align-items: center;
			min-height: var(--a11y-min-size);
			text-align: left;
			cursor: pointer;
		}

		&__input {
			flex-grow: 1;
			cursor: text;
		}

		&__listbox {
			display: block;
			position: absolute;
			top: 100%;
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;

			&--hidden {
				display: none;
			}
		}
	}
}
