@import '../@shared/mixins';
@import '../input-line';

@layer kol-component {
	:host {
		font-size: rem(16);
	}

	.combobox {
		position: relative;

		&--disabled,
		&--disabled * {
			cursor: not-allowed !important;
		}
		&--disabled {
			opacity: 0.5;
			outline: none;
		}
		&__group {
			display: inline-flex;
			align-items: center;
			cursor: pointer;
		}

		&__input {
			flex-grow: 1;
		}

		&__icon {
			align-items: center;
			cursor: pointer;
			display: flex;
			height: var(--a11y-min-size);
			width: var(--a11y-min-size);
		}

		&__listbox {
			display: block;
			position: absolute;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 2;
			background-color: white;
			max-height: rem(250);
		}

		&__item {
			cursor: pointer;

			.combobox__listbox--cursor-hidden & {
				cursor: none !important;
			}
		}
	}
}
