@use '@public-ui/components/to-rem' as *;
@use '../mixins/focus-outline' as *;

@layer kol-theme-component {
	.accordion__content {
		padding-left: to-rem(36);
		padding-bottom: to-rem(12);
		padding-right: to-rem(8);
	}

	.kol-span-wc > span {
		display: flex;
		place-items: baseline center;
	}

	:host > div > .kol-heading-wc button {
		border-radius: var(--border-radius);
		min-height: to-rem(calc(2.2 * 16));
		padding: to-rem(12) to-rem(8);
	}

	:host > div > .kol-heading-wc button .kol-span-wc {
		font-weight: 700;
		font-size: to-rem(calc(1.125 * 16));
		line-height: to-rem(16);
		gap: to-rem(8);
	}

	:host > div > .kol-heading-wc button .kol-span-wc > span {
		gap: 0.5em;
	}

	button:focus {
		outline: none;
	}

	:host > .accordion:focus-within {
		@include focus-outline;
	}

	.icon {
		color: var(--color-primary);
	}
}
