@use '../rem' as *;

@layer kol-theme-component {
	:is(a, button) {
		color: var(--color-primary);

		font-weight: 400;
		font-style: normal;
		text-decoration-line: underline;
	}

	:is(a, button):focus {
		outline: none;
	}

	:is(a, button):focus .kol-span-wc {
		outline: var(--border-width) solid;
		border-radius: calc(var(--border-radius) / 2);
		outline-offset: calc(rem(16) / 8);
	}

	:is(a, button):visited {
		color: var(--visited);
	}

	.hidden {
		display: none;

		visibility: hidden;
	}

	.skip {
		position: absolute;
		left: rem(-99999);
		z-index: 9999999;
	}

	.skip:focus {
		background: white;
		position: unset;
		left: unset;
	}
}
