@use '../rem' as *;
@use '../mixins/indented-text' as *;
@use '../mixins/focus-outline' as *;

@layer kol-theme-component {
	.details {
		font-family: var(--font-family);

		&__heading {
			border-radius: calc(var(--border-radius) / 2);
		}

		&__heading-button {
			.kol-span-wc > span {
				gap: 0;
			}
		}

		&__heading-button .span-label {
			border-bottom-color: var(--color-subtle);
		}

		&__heading-button .button:not(:disabled):is(:hover, :focus) .span-label,
		&.open &__heading-button .span-label {
			border-bottom-color: var(--color-primary);
		}

		.button:not(:disabled):focus {
			@include focus-outline;
			outline-width: rem(2);
			border-radius: calc(var(--border-radius) / 2);
		}

		&__content {
			@include indented-text;
			width: unset;
			margin: rem(8) rem(4) rem(4) rem(14.4);
		}
	}

	.kol-icon {
		font-size: rem(calc(1.2 * 16));
	}
}
