@use '../mixins/to-rem' as *;
@use '../mixins/indented-text' as *;
@use '../mixins/focus-outline' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	.kol-details {
		display: grid;
		width: 100%;
		height: 100%;

		&__content {
			&.indented-text {
				width: 100%;
				margin: to-rem(4) 0 0 to-rem(10.4);
				padding: 0 to-rem(18) 0 to-rem(8);
				//margin-left: to-rem(-2);
			}
		}

		&__heading {
			margin: 0;
		}

		&__heading-button {
			.kol-icon {
				font-size: to-rem(19.2);
			}

			.kol-span {
				&__container {
					display: flex;
					gap: 0;
					text-align: left;
				}

				&__label {
					border-bottom-width: 0;
				}

				.kol-icon {
					color: var(--color-primary);
				}
			}

			.kol-button:focus-visible {
				outline: none;
			}
		}
		&:has(:focus-visible) {
			@include focus-outline;
		}

		.collapsible__heading {
			border-top: 1px solid var(--color-mute-variant);
			padding-block: to-rem(4);
		}

		.collapsible__wrapper {
			border-bottom: 1px solid var(--color-mute-variant);
			padding-block: to-rem(4);
		}
	}
}
