@use '../rem' as *;
@use '../mixins/alert-wc' as *;

@layer kol-theme-component {
	:host {
		@include kol-alert-theme;
	}
	label {
		display: grid;
		width: 100%;
		gap: calc(var(--spacing) * 2);

		line-height: rem(20);
		cursor: pointer;
	}

	input {
		border-color: var(--color-subtle);
		border-style: solid;
		border-radius: 5px;
		width: 100%;
		border-width: 2px;

		line-height: rem(24);
		cursor: pointer;
	}

	input:hover {
		box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
		border-color: var(--color-primary);
	}

	input:focus:hover {
		box-shadow: none;
	}

	input:hover {
		border-color: var(--color-primary);
	}

	.kol-alert-wc {
		@include kol-alert-wc;
	}

	.required legend > span::after {
		padding-left: 0.125em;

		content: '*';
	}

	/* RADIO */
	fieldset {
		display: grid;
		margin: rem(0);
		padding: rem(0);
		gap: 0.25em;
		border: 0;
	}

	.radio-input-wrapper {
		display: flex;
		position: relative;
		min-height: var(--a11y-min-size);
		margin: 0;
		gap: rem(8);
		flex-direction: row;
		align-items: center;
		cursor: pointer;
	}

	.radio-input-wrapper label {
		display: flex;
		width: 100%;
		padding-left: calc(var(--spacing) / 2);
		cursor: pointer;
	}

	.radio-input-wrapper label span {
		margin-top: 0.125em;
	}

	.radio-input-wrapper input[type='radio'] {
		border-radius: 100%;
		width: calc(6 * rem(4));
		min-width: calc(6 * rem(4));
		height: calc(6 * rem(4));
		appearance: none;
		transition: 0.5s;
	}

	.radio-input-wrapper input[type='radio']:before {
		border-radius: 100%;
		display: block;

		content: '';
		cursor: pointer;
	}

	.radio-input-wrapper input[type='radio']:checked:before {
		background-color: var(--color-primary);
	}

	.radio-input-wrapper input[type='radio']:disabled {
		background-color: var(--color-mute-variant);
		cursor: not-allowed;
	}

	.kol-alert-wc.error {
		order: 1;
	}

	fieldset legend {
		display: contents;
		order: 2;

		font-size: rem(calc(0.9 * 16));
		font-weight: 700;
	}

	fieldset .kol-input {
		order: 3;
	}

	fieldset.error {
		color: var(--color-danger);
		padding-left: rem(16);

		font-weight: 700;
		border-left: 3px solid var(--color-danger);
	}

	fieldset.error input:focus,
	fieldset.error select:focus,
	fieldset.error textarea:focus {
		outline-color: var(--color-danger) !important;
	}

	fieldset.error .kol-alert-wc.error {
		margin-left: -0.25em;
		@include kol-input-error-with-kol-alert-wc-error(--color-danger);
	}

	fieldset.horizontal {
		display: flex;
		gap: var(--spacing) calc(var(--spacing) * 2);
		flex-wrap: wrap;
	}

	fieldset.horizontal legend {
		display: inline-block;
		margin-bottom: calc(var(--spacing) / 2);
	}

	fieldset .input-slot {
		gap: var(--spacing);
	}

	.radio-input-wrapper label {
		padding-left: 0;
	}
}
