@use '../mixins/to-rem' as *;
@use '../mixins/focus-outline' as *;
@use '../mixins/icon' as *;
@use '../mixins/button' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	:host {
		background-color: var(--color-mute);
	}

	.kol-nav {
		--kol-nav-item-padding-left: 0;
		--kol-nav-item-padding-right: 16;

		$root: &;

		&__list {
			list-style: none;
			// with this two properties we build a dynamic padding where each nested list has 8 + 8 = 16px more padding at its links/buttons
			--kol-nav-nested-padding-left: calc(var(--kol-nav-item-padding-left) + 8);

			&-item {
				--kol-nav-item-padding-left: calc(var(--kol-nav-nested-padding-left) + 8);
			}
		}

		&__entry {
			.kol-link__anchor,
			.kol-button__button {
				color: var(--color-primary);
				display: flex;
				min-height: var(--a11y-min-size);
				padding-right: to-rem(var(--kol-nav-item-padding-right));
				padding-left: to-rem(8);
				gap: to-rem(8);
				align-items: center;
				text-align: left;

				text-decoration: none;

				&:focus-visible {
					@include focus-outline;
				}

				#{$root}__list & {
					padding-left: to-rem(var(--kol-nav-item-padding-left));
					border-left: 2px solid transparent;
				}

				#{$root}__list-item--active > #{$root}__entry-wrapper & {
					border-left-color: var(--color-primary);
				}

				#{$root}__list-item--active > #{$root}__entry-wrapper & {
					font-weight: bold;
				}

				&:hover .kol-span__label {
					text-decoration: underline;
				}
			}
		}

		&__compact {
			padding-bottom: to-rem(5);

			@include kol-button('kol-button');
			.kol-button {
				@include kol-button-ghost();
				--text-background-color: var(--color-light);
			}
		}
	}
}
