@use '../rem' as *;
@use '../mixins/focus-outline' as *;

@layer kol-theme-component {
	.button:focus {
		outline: none;
	}

	.button-inner {
		color: var(--color-primary);
		background-color: var(--color-light);
		border-radius: var(--border-radius);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: rem(8);

		font-weight: 700;
		border: 1px solid var(--color-primary);
		text-align: center;
		transition-duration: 0.2s;
		transition-property: background-color, color, border-color;
	}

	.button:focus .button-inner {
		@include focus-outline;
	}

	.button:is(:active, :hover):not(:disabled) .button-inner {
		color: var(--color-light);
		background-color: var(--color-primary-variant);
		box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
		border-color: var(--color-primary-variant);
	}

	.button:active .button-inner {
		color: var(--color-light);
		outline: none;
	}

	.selected .button-inner {
		background-color: var(--color-mute-variant);
		border-radius: var(--a11y-min-size);
		border: 0;
	}
}
