@use '../mixins/button' as *;
@use '../rem' as *;

@layer kol-theme-component {
	@include kol-button;

	:is(a, button) > .kol-span-wc {
		border-style: solid;
		border-radius: var(--border-radius);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: rem(8) rem(14);
		border-width: var(--border-width);

		font-weight: 400;
		text-align: center;
		transition-duration: 0.2s;
		transition-property: background-color, color, border-color;
	}
}
