@use '../rem' as *;

@layer kol-theme-component {
	:host .kol-button-group-wc {
		display: inline-flex;
		gap: rem(8);
		flex-wrap: wrap;
	}

	button {
		color: var(--color-subtle);
		background-color: transparent;
		border-radius: var(--border-radius);
		min-width: var(--a11y-min-size);
		min-height: var(--a11y-min-size);
		padding: 0;

		font-weight: 400;
		line-height: rem(calc(1.2 * 16));
		border: 0;
		font-style: normal;
		transition: all 0.2s linear;

		&.selected,
		.primary {
			color: var(--color-primary);
		}

		&.selected {
			&:hover {
				color: var(--color-light);
			}
		}

		&:hover {
			color: var(--color-light);
			background-color: var(--color-primary-variant);
			box-shadow: 0 2px 8px 2px rgb(8, 35, 48, 0.24);
			border-color: var(--color-primary-variant);
		}
	}

	*[tabindex]:is(.kol-button-group-wc button) {
		box-shadow: none;
		border-radius: var(--border-radius);
		position: relative;
		top: var(--border-width);
		width: 100%;
		padding: 0 rem(4);
		border-bottom-width: var(--border-width);
		border: var(--border-width) solid transparent;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	*[tabindex]:is(.kol-button-group-wc button.selected) {
		border-color: var(--color-primary);
		border-bottom-color: var(--page-bg);

		&:hover {
			border-bottom-color: var(--color-primary);
		}

		&:before {
			background-color: var(--color-primary);
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: calc(rem(16) / 4);

			content: '';
			border-top-left-radius: calc(rem(16) / 8);
			border-top-right-radius: calc(rem(16) / 8);
		}

		&:after {
			background-color: var(--page-bg);
			position: absolute;
			bottom: rem(-7);
			left: rem(-5);
			width: calc(100% + rem(10));
			height: rem(6);

			content: ' ';
		}
	}

	button .kol-span-wc > span {
		gap: rem(8);
	}

	.tabs-content {
		padding: 0.25em 0;
	}

	div[role='tabpanel'] {
		height: 100%;
	}

	div.grid {
		height: 100%;
	}

	:host > .tabs-align-right {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-right .kol-button-group-wc {
		display: grid;
		order: 2;
	}

	:host > .tabs-align-left {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	:host > .tabs-align-left .kol-button-group-wc {
		display: grid;
		order: 0;
	}

	:host > .tabs-align-bottom {
		display: grid;
		grid-template-rows: 1fr auto;
	}

	:host > .tabs-align-bottom .kol-button-group-wc {
		order: 2;
	}

	:host > .tabs-align-bottom .kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-bottom > .kol-button-group-wc > div > div:first-child {
		margin: 0 rem(16) 0 0;
	}

	:host > .tabs-align-bottom > .kol-button-group-wc > div > div {
		margin: 0 rem(16);
	}

	:host > .tabs-align-top {
		display: grid;
		grid-template-rows: auto 1fr;
	}

	:host > .tabs-align-top .kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-top .kol-button-group-wc > div {
		display: flex;
	}

	:host > .tabs-align-top > .kol-button-group-wc > div > div:first-child {
		margin: 0 rem(16) 0 0;
	}

	:host > .tabs-align-top > .kol-button-group-wc > div > div {
		margin: 0 rem(16);
	}

	:host > div {
		display: grid;
	}

	:host > div.tabs-align-left {
		grid-template-columns: auto 1fr;
	}

	:host > div.tabs-align-right {
		grid-template-columns: 1fr auto;
	}

	:host > .tabs-align-left .kol-button-group-wc,
	:host > .tabs-align-top .kol-button-group-wc {
		order: 0;
	}

	:host > .tabs-align-bottom .kol-button-group-wc,
	:host > .tabs-align-right .kol-button-group-wc {
		order: 1;
	}

	:host > .tabs-align-left .kol-button-group-wc,
	:host > .tabs-align-right .kol-button-group-wc {
		gap: inherit;
	}

	:host > div.tabs-align-left .kol-button-group-wc > div,
	:host > div.tabs-align-left .kol-button-group-wc > div > div,
	:host > div.tabs-align-right .kol-button-group-wc > div,
	:host > div.tabs-align-right .kol-button-group-wc > div > div {
		display: grid;
	}

	:host > div.tabs-align-left .kol-button-group-wc > div > div .kol-button-wc,
	:host > div.tabs-align-right .kol-button-group-wc > div > div .kol-button-wc {
		width: 100%;
	}

	:host > div.tabs-align-bottom .kol-button-group-wc div,
	:host > div.tabs-align-top .kol-button-group-wc div {
		display: flex;
		flex-wrap: wrap;
	}

	:host .kol-button-group-wc {
		border-bottom: 1px solid var(--color-primary);
	}
}
