@use '../mixins/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	.kol-tabs {
		display: grid;
		grid-template-columns: var(--grid-template-columns);
		grid-template-rows: var(--grid-template-rows);

		&--align-right {
			--display: grid;
			--grid-template-columns: 1fr auto;

			--button-group-display: grid;
			--button-group-order: 1;
		}

		&--align-left {
			--display: grid;
			--grid-template-columns: auto 1fr;

			--button-group-order: 0;
		}

		&--align-bottom {
			--display: flex;
			--grid-template-rows: 1fr auto;

			--button-group-gap: #{to-rem(32)};
			--button-group-order: 1;
		}

		&--align-top {
			--display: flex;
			--grid-template-rows: auto 1fr;

			--button-group-gap: #{to-rem(16)};
			--button-group-order: 0;
		}

		&__button-group {
			display: var(--display);

			gap: var(--button-group-gap);
			order: var(--button-group-order);
			flex-wrap: wrap;
			border-bottom: to-rem(1) solid var(--color-primary);
		}

		.kol-button {
			color: var(--color-subtle);
			background-color: transparent;
			border-radius: var(--border-radius);
			position: relative;
			top: 1px;
			min-width: var(--a11y-min-size);
			min-height: var(--a11y-min-size);
			padding: 0 to-rem(4);

			font-size: to-rem(16);
			font-weight: normal;
			line-height: 1.2;
			border: to-rem(1) solid transparent;
			/*border: none;*/
			font-style: normal;

			&:hover {
				color: var(--color-primary);
			}

			&.primary,
			&.selected {
				color: var(--color-primary);
			}

			&:not(&.selected) {
				.kol-span__container {
					padding-bottom: 0.25em;
				}
			}

			&.selected {
				border-color: var(--color-primary);
				border-radius: to-rem(4) to-rem(4) 0 0;
				border-bottom-color: var(--color-light);
				position: relative;

				.kol-span__container {
					//border-top: 0.25em solid;
				}
				&:before {
					background-color: var(--color-primary);
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: to-rem(4);

					content: '';
					border-top-left-radius: to-rem(4);
					border-top-right-radius: to-rem(4);
				}
				&:after {
					background-color: var(--color-light);
					position: absolute;
					bottom: to-rem(-7);
					left: to-rem(-6);
					width: calc(100% + to-rem(12));
					height: to-rem(6);

					content: ' ';
				}
			}

			.kol-span__container {
				gap: to-rem(8);
			}
		}

		&__content {
			padding: 0.25em 0;
		}

		&__panel {
			height: 100%;
		}

		.kol-button-wc {
			width: 100%;
		}

		*[tabindex][role='tabpanel']:focus {
			outline-width: 0;
			outline-offset: 0;
		}

		*[tabindex][role='tabpanel']:focus-visible {
			outline-color: var(--color-primary);
			outline-style: solid;
			outline-width: calc(2 * 1rem / var(--kolibri-root-font-size, 16));
			outline-offset: 0;
		}
	}
}
