@use '../mixins/button' as *;
@use '../mixins/to-rem' as *;
@use '../mixins/icon' as *;

@layer kol-theme-component {
	@include kol-icon-theme;
	@include kol-button('kol-button');
	@include kol-button('kol-link');

	.kol-toolbar {
		background-color: var(--color-light);
		border-radius: var(--border-radius);
	}

	.kol-link__text,
	.kol-button__text {
		border-radius: 0;

		.kol-toolbar--orientation-horizontal & {
			border-right: 0;
		}

		.kol-toolbar--orientation-vertical & {
			border-bottom: 0;
		}

		.kol-toolbar--orientation-vertical .kol-toolbar__item:first-child & {
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		.kol-toolbar--orientation-horizontal .kol-toolbar__item:first-child & {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}

		.kol-toolbar--orientation-vertical .kol-toolbar__item:last-child & {
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			border-bottom: var(--border-width) solid var(--text-border-color);
		}

		.kol-toolbar--orientation-horizontal .kol-toolbar__item:last-child & {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			border-right: var(--border-width) solid var(--text-border-color);
		}
	}
}
