@use '../rem' as *;

@layer kol-theme-component {
	.tree {
		ul {
			border-radius: var(--border-radius);
			border: 2px solid transparent;
		}

		&:focus-within {
			outline: 0;

			ul {
				border: 2px solid var(--color-primary);
			}
		}
	}
}
