@import '../style.css';

:host > div {
	border-left-color: var(--kolibri-border-color);
	border-left-style: solid;
	border-left-width: var(--kolibri-spacing);
	padding: calc(--kolibri-spacing / 2) var(--kolibri-spacing);
	width: 100%;
}
