@import ../input-line

:host
  fieldset
    margin: 0

  div
    cursor: pointer
    display: flex
    flex-direction: row
    @apply gap-2 relative

    &.kol-disabled,
    &.kol-disabled *
      @apply cursor-not-allowed

    label
      cursor: pointer

      span
        @apply mt-0.5

    input[type="radio"]
      appearance: none
      transition: .5s
      @apply min-w-6 w-6 h-6 rounded-full

      &.kol-disabled
        &:before
          @apply cursor-not-allowed

      &:before
        content: ""
        cursor: pointer
        left: calc( 1.5 * var(--kolibri-spacing) - 1px )
        top: calc( 1.5 * var(--kolibri-spacing) - 1px )
        position: relative
        @apply block relative w-3 h-3 rounded-full

      &:checked
        &:before
          box-shadow: 0 0 0.1rem var(--kolibri-shadow-color)
          @apply bg-primary
