# This is a basic workflow to help you get started with Actions

name: CI-Pipeline

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Check quality gates
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          cache: pnpm
          node-version: 16
      - name: Cache pnpm modules
        uses: actions/cache@v3
        env:
          cache-name: cache-pnpm-modules
        with:
          # pnpm cache files are stored in `~/.pnpm-store` on Linux/macOS
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}
          restore-keys: |
            {{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}
      - name: Install
        run: pnpm i
      - name: Unused
        run: npx lerna exec --stream -- ts-prune src -e
      - name: Format
        if: always()
        run: |
          npx lerna run format
      - name: Lint
        run: |
          npx lerna run lint
      - name: Test
        run: |
          npx lerna run test
        working-directory: packages/library
      # - name: 'Pack'
      #   run: |
      #     npx lerna exec --stream -- pnpm pack
