name: Publish Page

env:
  access: public
  github-registry: https://npm.pkg.github.com
  github-token: ${{ secrets.GITHUB_TOKEN }}
  npmjs-registry: https://registry.npmjs.org
  scope: '@public-ui'

on:
  workflow_call:
  workflow_dispatch:

jobs:
  publish:
    if: github.repository == 'public-ui/kolibri'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: '${{env.npmjs-registry}}'
          scope: '${{env.scope}}'
      - name: Build designer
        run: npm i --legacy-peer-deps
        working-directory: packages/designer
      - name: Build slidev
        run: npm i --legacy-peer-deps
        working-directory: packages/slidev
      - name: Build storybook
        run: npm i --legacy-peer-deps
        working-directory: packages/storybook
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: '${{env.github-registry}}'
          scope: '${{env.scope}}'
      - name: Publish designer
        run: npm publish --access restricted || true
        working-directory: packages/designer
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
       - name: Publish sample react
        run: npm publish --access restricted || true
        working-directory: packages/samples/react
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish slidev
        run: npm publish --access restricted || true
        working-directory: packages/slidev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish storybook
        run: npm publish --access restricted || true
        working-directory: packages/storybook
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
