@use '../@shared/mixins' as *;
@use '../../styles/global' as *;
@use '../host-display-block' as *;
@use '../../functional-components/Collapsible/collapsible' as *;

@layer kol-component {
	.kol-details {
		&__heading-button {
			display: flex;
			gap: 0.5rem;
			align-items: center;
		}

		&__label {
			border-bottom-color: grey;
			border-bottom-style: solid;
		}

		.collapsible--open &__icon::part(icon) {
			transform: rotate(90deg);
		}
	}
}
