@import url(../style.css);
@import url(../host-display-block.css);
details {
	display: grid;
}
details > summary {
	cursor: pointer;
	display: flex;
	place-items: center;
}
details > summary > span {
	border-bottom-color: grey;
	border-bottom-style: solid;
}
details > summary:focus > span,
details > summary:hover > span,
details[open] > summary > span {
	border-bottom-color: #000;
}
details > kol-indented-text {
	margin: 0.25em 0 0 0.5em;
}
@keyframes details-show {
	to {
		opacity: 1;
		scale: 1;
	}
}
.content {
	opacity: 0;
	scale: 1 0;
	transform-origin: top;
}
details[open] > .content {
	animation: 250ms ease-in-out forwards details-show;
}
