@import '../style.css';
@import '../host-display-block.css';

details {
	display: grid;
}
details > summary {
	cursor: pointer;
	display: flex;
	place-items: center;
}
details > summary > span {
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
details[open] > summary > span,
details > summary:focus > span,
details > summary:hover > span {
	border-bottom-color: black;
}
details > kol-indented-text {
	margin: 0.25em 0px 0px 0.5em;
}
