@import '../style.css';
@import '../host-display-block.css';

details {
	display: grid;
	width: 100%;
}
details > summary {
	border-radius: var(--kolibri-spacing);
	cursor: pointer;
	display: flex;
	gap: var(--kolibri-spacing);
	place-items: center;
}
details > summary > span {
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: calc(var(--kolibri-spacing) / 2);
}
details[open] > summary > span,
details > summary:focus > span,
details > summary:hover > span {
	border-bottom-color: black;
}
details > kol-indented-text {
	margin: 0.25em 0px 0px 0.35em;
}
