@import '../style';
@import '../host-display-block';

@layer kol-component {
	details {
		display: grid;
	}

	details > summary {
		cursor: pointer;
		display: flex;
		place-items: center;
	}

	details > summary > span {
		border-bottom-color: grey;
		border-bottom-style: solid;
	}

	details > summary:focus > span,
	details > summary:hover > span,
	details[open] > summary > span {
		border-bottom-color: #000;
	}

	.content {
		overflow: hidden;
	}

	details > kol-indented-text {
		margin: 0.25em 0 0 0.5em;
	}

	.icon.is-open::part(icon) {
		transform: rotate(90deg);
	}
}
